ul.search-autocomplete-list
  li(ng-repeat="(index, item) in autocompletion.items"
      ng-class="{selected: item.value === selectedAutocompletion.value}"
      ng-click="selectAutocompletion(item, $event)")
    span.item-value {{item.value}}
    span.item-description {{item.description}}
