.search-field__input
  input.form-control(type="search" ng-model="inner.term" placeholder="{{placeholder}}")
  cf-inline-loader(is-shown="isSearching")
.search-field__button.btn-secondary-action(ng-click="updateFromButton()" tabindex="0")
  i.fa.fa-search.fa-flip-horizontal
