.snapshot-comparator__presenter
  div(ng-if="!hasValue")
    p no value (<code>{{ noValueType }}</code>)

  div(
    ng-if="hasValue"
    ng-switch="type")

    div(ng-switch-when="Symbol")
      | {{ value }}

    div(ng-switch-when="Integer")
      | {{ value }}

    div(ng-switch-when="Number")
      | {{ value }}

    div(ng-switch-when="Text")
      cf-snapshot-presenter-markdown

    div(ng-switch-when="Boolean")
      span(ng-if="value === true") {{ widget.settings.trueLabel || 'Yes' }}
      span(ng-if="value === false") {{ widget.settings.falseLabel || 'No' }}

    div(ng-switch-when="Date")
      cf-snapshot-presenter-date

    div(ng-switch-when="Array<Symbol>")
      ul.symbol-array-preview
        li(ng-repeat="item in value") {{ item }}

    div(ng-switch-when="Reference")
      cf-snapshot-presenter-link

    div(ng-switch-when="Location")
      cf-snapshot-presenter-location

    div(ng-switch-default)
      pre {{ value | json }}
