.snapshot-comparator__presenter(
  ng-class="{ 'x--dir-rtl': methods.shouldDisplayRtl(locale.code) }")
  div(ng-if="hasValue && extensionProps")
    <react-component name="widgets/ExtensionIFrameRenderer.es6" props="extensionProps" />

  div(
    ng-if="hasValue && !extensionProps"
    ng-switch="type")

    div.x--directed(ng-switch-when="Symbol")
      | {{ value }}

    div(ng-switch-when="Integer")
      | {{ value }}

    div(ng-switch-when="Number")
      | {{ value }}

    div.x--directed(ng-switch-when="Text")
      cf-snapshot-presenter-markdown

    div.x--directed(ng-switch-when="RichText")
      <react-component name="app/widgets/rich_text/ReadOnlyRichTextEditor.es6" props="{value, entry: entity}"" />

    div(ng-switch-when="Boolean")
      span(ng-if="value === true") {{ widget.settings.trueLabel || 'Yes' }}
      span(ng-if="value === false") {{ widget.settings.falseLabel || 'No' }}

    div(ng-switch-when="Date")
      cf-snapshot-presenter-date

    div.x--directed(ng-switch-when="Array<Symbol>")
      ul.symbol-array-preview
        li(ng-repeat="item in value track by $index") {{ item }}

    div(ng-switch-when="Location")
      p <strong>Longitude:</strong> {{ value.lon }}
      p <strong>Latitude:</strong> {{ value.lat }}

    div(ng-switch-when="Reference")
      cf-snapshot-presenter-link

    div(ng-switch-default)
      pre {{ value | json }}
