include ./snapshot.mixin.jade

.snapshot-list
  table(ng-if="!isLoading && snapshots.length > 0")
    tr.snapshot(ng-repeat="snapshot in snapshots track by snapshot.sys.id")
      td
        | {{ snapshot.sys.snapshotType }}
      td
        +snapshot-dt
      td
        +snapshot-author
      td
        a(href="" ng-click="setSnapshot(snapshot)") View

  button.btn-action.x--block(
    ng-if="!isLoading && shouldShowSelector"
    ng-click="openSelector()")
    | All snapshots

  .loading(ng-if="isLoading")
