.modal-background
  .modal-dialog
    header.modal-dialog__header
      h1 You have some pending changes
      button.modal-dialog__close(ui-command="actions.cancel")
    .modal-dialog__content
      p
        | It seems that you have restored a few fields. Please save or discard
        | those pending changes before closing the comparison between these versions.
    .modal-dialog__controls
      button.btn-primary-action(ui-command="actions.save")
        | Save changes
      button.btn-secondary-action(ui-command="actions.discard")
        | Discard changes
      button.btn-secondary-action(ui-command="actions.cancel")
        | Back to comparison
