mixin snapshot-author
  .snapshot-author(cf-user link="snapshot.sys.createdBy" as="snapshotAuthor")
    img(ng-src="{{ snapshotAuthor.data.avatarUrl }}")
    span {{ snapshotAuthor.getName() }}

mixin snapshot-dt
  time(datetime="{{ snapshot.sys.createdAt }}" cf-relative-datetime)

mixin snapshot-overlays(version)
  - var attrs = {};
  - attrs["ng-class"] = "{'x--selected': selected === '" + version + "'}";
  - attrs["ng-click"] = "select('" + version + "')";
  .snapshot-comparator__overlay-different(ng-if="canRestore")&attributes(attrs)
    span Field will be restored to this version
  .snapshot-comparator__overlay-identical(ng-if="!canRestore")

mixin snapshot-value(doc, version)
  .snapshot-comparator__cell(
    ng-if="showOnlyDifferences ? isDifferent : true"
    ng-controller="FieldLocaleController as fieldLocale"
    document-property!=doc)
      .snapshot-comparator__cell__radio
        input(type="radio" ng-model="selected" value!=version)
      .snapshot-comparator__cell__presenter
        .snapshot-comparator__field-title
          div
            | {{ field.name }}
            span(ng-if="locales.length > 1") &#32;&ndash; {{locale.name}}
          .entity-editor__no-permission-info(ng-if="field.disabled")
            cf-icon(name="lock")
            | This field is disabled
        cf-snapshot-presenter
        +snapshot-overlays(version)
