.modal-background
  .modal-dialog.user-persona-dialog(ng-controller="UserPersonaDialogController as dialogController")
    header.user-persona-dialog__header
      button.user-persona-dialog__close.modal-dialog__close(ng-click="dialogController.skipSelection()")
    .user-persona-dialog__content.modal-dialog__content
      .user-persona-dialog__welcome
        .user-persona-dialog__avatar(ng-style="{'background-image': 'url(' + dialogController.csm.avatar + ')'}")
        .user-persona-dialog__line
          cf-icon(name="visual-line")
        .user-persona-dialog__message
          | I'm {{ dialogController.csm.name }}, Customer Success Manager
        h2.user-persona-dialog__greeting
          | Hey there, <em>{{ userName }}</em>!
        p.user-persona-dialog__question
          | In order to provide you with the best possible experience, can you tell me your area of expertise?
      .user-persona-dialog__options
        .user-persona-option(ng-repeat="(id, opt) in dialogController.personaOptions")
          a.user-persona-option__icon(role="button" ng-click="dialogController.selectOption(id)")
            cf-icon(name="{{ opt.svg }}")
          .user-persona-option__title
            | {{ opt.title }}
          .user-persona-option__description
            | {{ opt.description }}
      form.user-persona-other.ng-hide(
        ng-submit="dialogController.makeCustomSelection(dialogController.otherValue)"
        ng-show="dialogController.showOtherText")
        .user-persona-other__label
          span.user-persona-other__label-question Do you mind telling me your role?
          span &nbsp;
          span.user-persona-other__label-hint (optional)
        .user-persona-other__form
          input(type="text" ng-model="dialogController.otherValue" cf-focus-watched-expression="dialogController.showOtherText.visible").cfnext-form__input
          button.cfnext-btn-primary-action
            | OK
          button.cfnext-btn-secondary-action(type="button"
            ng-click="dialogController.showOtherText = false")
            | Back
