body
  overflow: visible

#kss-node .kss-section
  max-width: 70em

.kss-box
  max-width: 600px
  font-size: 1.2em

#kss-nav,
.overview p
 font-size: 1.2em

.kss-title,
.overview h1
  margin-bottom: 2em

.styleguide-opaque-box1
  border: 1px dashed lightblue
.styleguide-opaque-box2
  border: 1px dashed indigo
.styleguide-opaque-box3
  border: 1px dashed deepskyblue
.styleguide-opaque-box4
  border: 1px dashed chocolate

.styleguide-filled-box1
  background-color: indianred
.styleguide-filled-box2
  background-color: khaki
.styleguide-filled-box3
  background-color: lavender
.styleguide-filled-box4
  background-color: lightsalmon



