.cfnext-form__field
  label Number Widget
  input.cfnext-form__input--full-size(
    type="text"
    ng-disabled="isDisabled")
  .cfnext-form__field-error(
    ng-hide="!parseWarning.length")
    | {{parseWarning}}
