.tab-header(ng-hide="tab.params.fullscreen")
  .tab-header__title
    h1 {{tab.title}}

.iframe-container(ng-class="{'tab-main': !tab.params.fullscreen, fullscreen: tab.params.fullscreen}")
  iframe(ng-src="{{iframeSrc}}" width="100%" height="100%")
  .iframe-spinner(ng-hide="hasLoaded")

.tab-actions(ng-hide="tab.params.fullscreen")
