<div class="workbench sticky-parent">
  <react-component
    name="app/entity_editor/bulk_editor/BulkEditorHeader"
    props="{fieldName: referenceContext.field.name, linkCount: data.linkCount, onClose: newCloseWithReason('bulk_editor_close'), onBack: newCloseWithReason('arrow_back')}"
  ></react-component>
  <div class="workbench-main">
    <div class="workbench-main__content" ng-show="!data.loaded" style="padding-top: 0;">
      <react-component
        ng-if="entityContexts.length > 0"
        name="ui/Loader"
        props="{isShown: true, message: 'Loading entries...'}"
      ></react-component>
      <div class="empty-state" ng-if="entityContexts.length === 0">
        <div class="empty-state__description">There are no entries linked yet.</div>
      </div>
    </div>
    <div class="workbench-main__content" ng-show="data.loaded" style="padding-top: 0;">
      <!-- Safari and Edge need a relative container for dropdowns to work: -->
      <div
        style="position: relative;"
        ng-repeat="ctx in entityContexts track by ctx.key"
        data-entity-id="{{ctx.id}}"
      >
        <cf-bulk-entity-editor
          entity-context="ctx"
          bulk-editor-context="editorContext"
          locale-data="localeData"
        ></cf-bulk-entity-editor>
      </div>
    </div>
    <div class="workbench-main__sidebar f36-padding--m">
      <react-component
        name="app/entity_editor/bulk_editor/BulkEditorSidebar"
        props="{ linkCount: data.linkCount, field, addLinks, track, getCurrentSize }"
      ></react-component>
    </div>
  </div>
</div>
