<div class="div" ng-if="loading" ng-class="loading-box--full-screen" style="height: 5rem;">
  <div class="loading-box__spinner"></div>
  <div class="loading-box__message">Loading entry</div>
</div>
<div ng-if="data.hasEditor">
  <div class="bulk-editor-entry__header" ng-class="!data.expanded &amp;&amp; 'x--collapsed'">
    <div
      data-test-id="entity-saving"
      style="display: none;"
      role="progressbar"
      aria-busy="{{data.isSaving}}"
    ></div>
    <div class="bulk-editor-entry__header-main" ng-click="actions.toggleExpansion()">
      <react-component
        name="app/entity_editor/bulk_editor/BulkEditorTitle"
        props="{title, isCollapsed: !data.expanded, entityInfo}"
      ></react-component>
    </div>
    <react-component
      name="app/entity_editor/bulk_editor/BulkEntityEditorActionsDropdown"
      props="{ openInEntryEditor, stateRef: data.stateRef, unlink }"
    ></react-component>
    <react-component
      name="app/entity_editor/bulk_editor/BulkEntityEditorStatusDropdown"
      props="{ inProgress: state.inProgress, state: state.current, stateLabel:
      state.currentLabel, allActions: state.allActions }"
    ></react-component>
  </div>
  <div ng-if="data.expanded">
    <react-component
      ng-if="editorData.editorExtension"
      name="app/entry_editor/CustomEditorExtensionRenderer"
      props="customExtensionProps"
    ></react-component>
    <div
      class="bulk-editor-entry__fields cf-workbench-content cf-workbench-content-type__text"
      ng-if="!editorData.editorExtension"
    >
      <cf-entity-field ng-repeat="widget in widgets track by widget.fieldId"></cf-entity-field>
    </div>
  </div>
</div>
