mixin no-search-results(condition)
  .advice.advice--row-aligned(ng-show=condition)&attributes(attributes)
    i.fa.fa-search.fa-flip-horizontal.advice__icon.advice__icon--normal.advice__icon--margin-right.advice__icon--margin-bottom
    .advice__frame.advice__frame--no-margin.advice__frame--align-left
      header.advice__title.advice__title--normal Sadly, we didn't find anything matching your search.
      p.advice__subtext
        | Have you tried a different search term or filter? Here's&#32;
        a(href="https://www.contentful.com/r/knowledgebase/content-search/" target="_blank") how search works
        | .
