/*
Buttons

Styleguide 4.0
*/
.transparent-button-layer
  background-color: transparent
  position: absolute
  $layer('buttonOverlay')
  margin: 0 !important

@import './buttons-deprecated.styl'

/*
New Buttons

Styleguide 4.1
*/
$cfnext-button($color = false, $border-color = false)
  display: flex
  align-items: center
  position: relative
  font-size: 0.9rem
  font-weight: bold
  color: white
  padding: 0.6rem 1.5rem
  background-color: $color
  border-radius: 2px
  cursor: pointer
  if $border-color
    border-color: $border-color
    border-width: 1px
    border-style: solid
  else
    border: none
  &:disabled,
  &[aria-disabled=true],
  &[disabled]
    opacity: 0.4
  &:active
    padding-top: 0.7rem
    padding-bottom: 0.5rem
  cf-icon
    margin-right: 0.5em
    position: relative
    top: 0.1em

$cfnext-button-large()
  font-size: 1.15rem
  padding: 1rem 2.5rem
  &:active
    padding-top: 1.1rem
    padding-bottom: 0.95rem

/*
Action Button

This button should be used for actions which are important, but not necessarily
the most important action in the current view

Markup:
p
  button(class="cfnext-btn-action{{modifier_class}}") Action
p
  button(class="cfnext-btn-action{{modifier_class}}" disabled) Action

--large - Large variation
--large-with-icon - Large with an icon on the left

Styleguide 4.1.1
*/
.cfnext-btn-action
  $cfnext-button($cfnext-blue)

.cfnext-btn-action--large
  $cfnext-button($cfnext-blue)
  $cfnext-button-large()

.cfnext-btn-action--large-with-icon
  $cfnext-button($cfnext-blue)
  $cfnext-button-large()
  padding-left: 4.5rem
  cf-icon
    position: absolute
    left: 0.5rem
    top: -0.5rem

/*
Primary Action Button

Used for the most important action in a given context

Markup:
p
  button(class="cfnext-btn-primary-action{{modifier_class}}") Action
p
  button(class="cfnext-btn-primary-action{{modifier_class}}" disabled) Action

--large - Large variation

Styleguide 4.1.2
*/
.cfnext-btn-primary-action
  $cfnext-button($cfnext-green)

.cfnext-btn-primary-action--large
  $cfnext-button($cfnext-green)
  $cfnext-button-large()

/*
Secondary Action Button

Used for actions that should complement primary actions or visually less
important actions

Markup:
p
  button(class="cfnext-btn-secondary-action{{modifier_class}}") Action
p
  button(class="cfnext-btn-secondary-action{{modifier_class}}" disabled) Action

--large - Large variation

Styleguide 4.1.3
*/
.cfnext-btn-secondary-action
  $cfnext-button(white, $border-color: $cfnext-blue)
  color: $cfnext-blue

.cfnext-btn-secondary-action--large
  $cfnext-button(white, $border-color: $cfnext-blue)
  $cfnext-button-large()
  color: $cfnext-blue

/**
 * Caution button
 *
 * Markup:
 * button.cfnext-btn-caution
 *   | Be Careful!
 * button.cfnext-btn-caution(disabled)
 *   | Be Careful!
 *
 * Styleguide 4.1.4
 */
.cfnext-btn-caution
  $cfnext-button($color: $cfnext-red)


/**
 * Plain Action Button
 *
 * Use inline
 *
 * Markup:
 * p
 *   | Click here
 *   button.cfnext-btn-plain Action Button 
 *   | More text
 *   a.cfnext-btn-plain Action link 
 * p
 *   button.cfnext-btn-primary-action
 *     | One
 *   button.cfnext-btn-plain-block
 *     | Two
 *   button.cfnext-btn-action
 *     | Three
 *
 * Styleguide 4.1.5
 */
 $cfnext-btn-plain()
  font-size: inherit
  display: inline-block;
  vertical-align: baseline
  padding: 0.1em 0.3em
  margin: 0
  border: 0
  background: none
  cursor: pointer
  color: $cfnext-blue
  font-weight: bold

.cfnext-btn-plain
  $cfnext-btn-plain()
  a&
    padding: 0
  a&:hover
    color: $cfnext-blue

.cfnext-btn-plain-block
  $cfnext-button(transparent)
  color: $cfnext-blue;
