.copy-to-clipboard
  color: $colors.text-mid
  a
    cursor: pointer
    text-decoration: underline
    color: $colors.text-mid
  .fa-check
    color: $colors.green-dark
    opacity: 0
    transition opacity .2s ease-in-out, margin-left .2s ease-in-out
    &.x--is-visible
      opacity: 1
      margin-left: 5px

  &.x--input-suffix
    background-color: $colors.element-light
    border: 1px solid $colors.element-dark
    border-radius: 0 3px 3px 0
    &:hover, &:active
      background-color: $colors.element-mid

  // Simplified CSS only tooltip for React copy to clipboard component
  .copy-tooltip
    $sans-font()
    font-weight: bold
    bottom: 36px
    right: 0
    opacity: 0.8
    display: none
    .tooltip-arrow
      left: auto
      right: 16px
  &:hover
    .copy-tooltip
      display: block
