@require './context_menu'

/**
Delete confirmation

Markup:
.context-menu--arrow-up.delete-confirm.styleguide-noabsolute
  h2 Warning
  p You are about to delete something
  button.cfnext-btn-caution Delete
  button.cfnext-btn-secondary-action Don't Delete
.context-menu--arrow-up.delete-confirm.styleguide-noabsolute
  p You are about to delete something
  button.cfnext-btn-caution Delete
  button.cfnext-btn-secondary-action Don't Delete

Styleguide 11.3
*/
.delete-confirm
  $context-menu-base()
  width: 350px

  padding: 1.3rem
  text-align: center
  > h2,
  > p
    margin-bottom: 20px

  > button:first-of-type
    margin-right: 1ex
