@import './context_menu'

/**
Delete confirmation

Markup:
.delete-confirm.styleguide-noabsolute
  cf-icon.context-menu__arrow(name="arrow-up")
    img(src="/app/svg/arrow-up.svg")
  h2 Warning
  p You are about to delete something
  button.cfnext-btn-caution Delete
  button.cfnext-btn-secondary-action Don't Delete
.delete-confirm.styleguide-noabsolute
  cf-icon.context-menu__arrow(name="arrow-up")
    img(src="/app/svg/arrow-up.svg")
  p You are about to delete something
  button.cfnext-btn-caution Delete
  button.cfnext-btn-secondary-action Don't Delete

Styleguide 11.3
*/
.delete-confirm
  $context-menu-base()
  max-width: 400px
  min-width: 300px

  padding: 1.3rem
  text-align: center
  > h2,
  > p
    margin-bottom: 20px

