$field-dialog__content-padding()
  padding-left: 2em;
  padding-right: 2em;


.field-dialog.modal-dialog
  padding: 0
  width: 60em
  border-radius: 0
  border: 0


.field-dialog__header.modal-dialog__header
  padding-top: 0
  border-bottom: 1px solid $cfnext-light-gray

  > h1
    line-height: ($rhythm(3) / 1.2em)

  > cf-icon
    margin-right: 1em

.field-dialog__field-type
  margin-left: 0.6em
  font-weight: normal
  color: $gray

.field-dialog__tab-list
  align-self: flex-end
  margin-left: auto
  $tab-list()

  [role=tab]
    .field-dialog__tab-invalid
      display: none
      width: 0
      padding-left: 0.3em

    &[aria-invalid=true] .field-dialog__tab-invalid
      display: inline-block


.field-dialog__content.modal-dialog__content
  padding-top: $rhythm(2)
  padding-bottom: $rhythm(2)
  min-height: 30em
