.knowledge-base-link
  display: inline-block
  position: relative
  &:hover
    color: $blue-dark-link
  .fa-question-circle
    display: inline-block
    margin-left: 4px
  .tooltip-inner
    width: 200px
  &.x--no-text
    color: $gray
    &:hover
      color: $gray-darkest
  &.x--inline
    display: inline
    > i.fa-question-circle
      display: none
