.knowledge-base-link
  display: block
  &:visited
    color: $blue-link
  &:hover
    color: $blue-dark-link
  .fa-question-circle
    display: inline-block
    vertical-align: middle
    margin-left: 4px

.knowledge-base-icon
  color: $gray
  display: inline-block
  position: relative
  &:link,
  &:visited
    color: $gray
  &:hover
    color: $gray-darkest
  .tooltip-inner
    width: 200px



