/*
Loading boxes

Styleguide 17.0
*/

/*
Loading Box

Markup:
.loading-box(style="height: 10em")
  .loading-box__spinner
  .loading-box__message
    | Your content is being loaded

Styleguide 17.1
*/
$loading-box()
  display: flex
  align-items: center
  justify-content: center

.loading-box
  $loading-box()
  border: 1px dashed $colors.element-darkest

.loading-box__spinner
  margin-right: 0.6em
  $spinner-base()
  +$spinner-active(black, 26px)
    display: block

.loading-box__message
  color: $colors.text-light

/*
Full screen loading box

Markup:
div(style="display: flex;height:140px;")
  .loading-box--full-screen
    .loading-box__spinner
    .loading-box__message
      | Your content is being loaded

Styleguide 17.2
*/

.loading-box--full-screen
  $loading-box()
  width: 100%
