@require "../mixins/spinner"

/*
Loaders for the application

Styles used by the loader directives

Markup:
div(style="width: 50%; height: 200px; position: relative;")
  .loader
    .loader__container
      .loader__spinner
      .loader_message Loading...
  .loader.loader--inline
    span.loader__spinner--inline

Styleguide app-loaders
*/

$loader-base()
  display: flex
  align-items: center
  justify-content: center
  background: rgba(255,255,255, 0.7)

.loader
  $loader-base()
  height: 100%
  width: 100%
  position: absolute
  top: 0
  left: 0
  $layer('buttonOverlay')

.loader__container
  $loader-base()
  padding: 10px
  border-radius: 5em

.loader--inline
  position: static
  width: inherit
  background: transparent

.loader__spinner--inline
  $spinner-base()
  +$spinner-active()
    display: inline-block

.spinner--text-inline
  $spinner-base()
  +$spinner-active()
    display: inline-block
    width: .5em
    height: .5em
