/*
Note box

Show highlighted notes

Markup:
.note-box.note-box--info
  h3 Information
  p Here is some information.
.note-box.note-box--success
  h3 Success
  p Well done, you did a thing.
.note-box.note-box--warning
  h3 Critical note
  p Something bad might happen.

Styleguide 21.0
*/


$note-box()
  clear: both
  overflow: hidden
  position: relative
  margin: $rhythm(1)
  padding: $rhythm(1)
  padding-left: 46px
  color: $colors.text-mid
  > *:first-child
    padding-top: 0
    margin-top: 0
  > p:last-of-type
    margin-bottom: 0
    padding-bottom: 0
  h3
    font-size: 14px
    line-height: 18px
    text-transform: none
    margin-bottom: $rhythm(0.4)
  a
    text-decoration: underline
    cursor: pointer
  &:before
    position: absolute
    content: ''
    background-repeat: no-repeat
    height: 18px
    width: 18px
    left: $rhythm(1)

.note-box
  $note-box()

$note-box--success()
  background-color: $colors.mint-mid
  border: 1px solid $colors.mint-dark
  a
    color: $colors.green-dark
  &:before
    background-image: url("/app/svg/note-success.svg")

$note-box--info()
  background-color: $colors.ice-mid
  border: 1px solid $colors.ice-dark
  &:before
    background-image: url("/app/svg/note-info.svg")

$note-box--warning()
  background-color: $colors.coral-mid
  border: 1px solid $colors.coral-dark
  a
    color: $colors.red-dark
  &:before
    background-image: url("/app/svg/note-warning.svg")

.note-box--info
  $note-box--info()

.note-box--success
  $note-box--success()

.note-box--warning
  $note-box--warning()
  h3
    color: $colors.red-dark

