/*
Pills

Markup:
ul.pill-list(style="width: 36em")
  li.pill-item
    button.pill-item__remove
      cf-icon(name="close")
    | can be used
  li.pill-item
    | without close
  li.pill-item
    button.pill-item__remove
      cf-icon(name="close")
    | for tagging
  li.pill-item
    button.pill-item__remove
      cf-icon(name="close")
    | truncates very long, long, super long texts
    | really well with some dots

Styleguide: pills
*/

.pill-list
  display: flex
  flex-wrap: wrap

.pill-item
  padding: 0 2ex
  line-height: 2rem

  margin-bottom: $rhythm(0.5)
  margin-right: 1rem

  border-radius: 2px
  color: $colors.text-mid
  background: $colors.element-lightest

.pill-item__remove
  $button-reset()
  float: right
  height: 2rem
  padding: 0 0.7rem
  // Bleed into .pill-item padding
  margin-right: -2ex
  outline: 0

  svg
    height: $base-font-size
  path
    fill: $colors.text-lightest
  &:hover path
    fill: $colors.text-mid
