/**
Text links pattern

Text links are used to display actions that have a lower priority compared to actions that are accessible via a button.

Markup:
a.text-link--destructive(aria-label="delete") Delete asset
span.text-link--neutral Show
span.text-link--neutral-emphasis-mid(aria-label="unpublish") Unpublish
i.text-link--neutral-emphasis-low Click
a.text-link--constructive(aria-label="save") Save
span.text-link--constructive(aria-label="publish") Publish

Styleguide text-links-pattern
*/

.text-link--standard
.text-link--neutral
.text-link--constructive
.text-link--destructive
.text-link--neutral-emphasis-mid
.text-link--neutral-emphasis-low
  text-decoration: underline
  cursor: pointer
  &:hover
    color: $colors.text-dark

.text-link--standard
.text-link--neutral
  color: $colors.blue-darkest
.text-link--constructive
  color: $colors.green-darkest
.text-link--destructive
  color: $colors.red-darkest
.text-link--neutral-emphasis-mid
  color: $colors.text-mid
.text-link--neutral-emphasis-low
  color: $colors.text-light
