.text-link--standard
.text-link--neutral
.text-link--constructive
.text-link--destructive
.text-link--neutral-emphasis-mid
.text-link--neutral-emphasis-low
  text-decoration: underline
  cursor: pointer
  &:hover
    color: $colors.text-dark

.text-link--standard
.text-link--neutral
  color: $colors.blue-darkest
.text-link--constructive
  color: $colors.green-darkest
.text-link--destructive
  color: $colors.red-darkest
.text-link--neutral-emphasis-mid
  color: $colors.text-mid
.text-link--neutral-emphasis-low
  color: $colors.text-light
