/*
Typography helpers

Styleguide 2.1
*/


/*
Section titles

Markup: h2(class="section-title") This is a title

Styleguide 2.1.1
*/
.section-title
  // Overide h styles
  margin: 0 0 18px 0
  font-weight: bold
  line-height: 1

  display: flex
  font-size: 18px

  &:after
    margin-left: 10px
    content: ""
    height: 1px
    margin-top: 10px
    background-color: $colors.element-light
    flex-grow: 1


/*
Underlined emphasis

Markup:
| This <em class="x--underline">text</em> is underlined

Styleguide 2.1.2
*/
em.x--underline
  font-style: normal
  text-decoration: underline

/*
Dimmed Text

Markup:
p
  | This is normal text
p.text-dimmed
  | This is dimmed text

Styleguide 2.1.4
*/
$text-dimmed = hsl(0, 0%, 50%)
.text-dimmed
  color: $text-dimmed

/*
Separated links

Markup:
.separated-links
  a
    First link
  a.pseudo-class-last-child
    Second link

Styleguide 2.1.5
*/
.separated-links
  > *:not(:last-child):after
    content: "|"
    color: $colors.element-mid
    margin: 0 8px

