/*
Typography helpers

Styleguide 2.1
*/


/*
Section titles

Markup: h2(class="section-title") This is a title

Styleguide 2.1.1
*/
.section-title
  color: $metallic-gray-blueish
  text-transform: uppercase
  letter-spacing: 2px
  font-weight: normal
  padding-bottom: 10px
  border-bottom: 1px solid $metallic-gray-blueish

/*
Uppercase

Markup: h2(class="uppercase") This is a title

Styleguide 2.1.2
*/
.uppercase
  text-transform: uppercase
  letter-spacing: 1px

/*
Centered

Markup: h2(class="centered") This is a title

Styleguide 2.1.3
*/
.centered
  text-align: center


/*
Dimmed Text

Markup:
p
  | This is normal text
p.text-dimmed
  | This is dimmed text

Styleguide 2.1.4
*/
$text-dimmed = hsl(0, 0%, 50%)
.text-dimmed
  color: $text-dimmed
