/*
Utilities

Styleguide 3.0
*/

/*
Invisible separator

Markup:
h2(class="u-separator") This is a title
h2(class="u-separator--small") This is a title
h2(class="u-separator--large") This is a title

Styleguide 3.1
*/
.u-separator
  margin-top: 40px
.u-separator--small
  margin-top: 20px
.u-separator--large
  margin-top: 80px



/*
Truncater

Markup:
h2(class="u-truncate" style="width: 50px") This is a title

Styleguide 3.2
*/
$text-truncate()
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

.u-truncate
  $text-truncate()


/*
Locked action

Markup:
a(href="#" class="u-locked-action") This action is locked

Styleguide 3.3
*/
.u-locked-action,
.u-locked-action:link,
.u-locked-action i
  color: $colors.red-dark

/*
Block custom element

Markup:
custom-element(class="u-bce")

Styleguide 3.4
*/
.u-bce
  display: block

/*
Inline custom element

Markup:
custom-element(class="u-ice")

Styleguide 3.5
*/
.u-ice
  display: inline

/*
Standard list layout

Markup
ul.u-list

Styleguide 3.6
*/
.u-list
  margin: 24px 0 24px 17px

.u-pull-right
  float: right

.u-flex-pull-right
  margin-left: auto

.u-word-break
  white-space: pre-wrap
  overflow-wrap: break-word
  word-wrap: break-word
  -ms-word-break: break-all
  word-break: break-all
  -ms-hyphens: auto
  -moz-hyphens: auto
  -webkit-hyphens: auto
  hyphens: auto


.vertical-form-field-rythm-dense
  margin-bottom: 28px;

.vertical-form-field-rythm-default
  margin-bottom: 40px;

