# By default, everything is owned by the frontend chapter
docs/ @contentful/chapter-frontend

# Team Extensibility
src/javascripts/features/page-widgets/          @contentful/team-extensibility
src/javascripts/features/apps/                  @contentful/team-extensibility
src/javascripts/features/apps-core/             @contentful/team-extensibility
src/javascripts/features/extensions-management/ @contentful/team-extensibility
src/javascripts/features/webhooks/              @contentful/team-extensibility

# Team Dev Workflows
src/javascripts/features/environments-settings/   @contentful/team-dev-workflows
src/javascripts/features/api-keys-management/     @contentful/team-dev-workflows

# Team Ahoy
src/javascripts/features/organization-subscription/  @contentful/team-ahoy
src/javascripts/features/organization-billing/       @contentful/team-ahoy
src/javascripts/features/space-purchase/             @contentful/team-ahoy
src/javascripts/features/user-profile/               @contentful/team-ahoy
src/javascripts/features/pricing-entities/           @contentful/team-ahoy

# Team Growth
src/javascripts/features/onboarding/                 @contentful/team-growth

# Team Hejo
src/javascripts/features/settings-space-users/          @contentful/team-hejo
src/javascripts/features/space-teams/                   @contentful/team-hejo
src/javascripts/features/space-memberships/             @contentful/team-hejo
src/javascripts/features/space-plan-assignment/         @contentful/team-hejo
src/javascripts/features/space-management/              @contentful/team-hejo
src/javascripts/features/space-creation/                @contentful/team-hejo
src/javascripts/features/teams/                         @contentful/team-hejo
src/javascripts/features/high-value-modal/              @contentful/team-hejo
src/javascripts/features/user-invitations/              @contentful/team-hejo
src/javascripts/features/roles-permissions-management/  @contentful/team-hejo
src/javascripts/features/sso/                            @contentful/team-hejo
src/javascripts/features/news-slider/                    @contentful/team-hejo

# Team Moi
src/javascripts/features/organization-subscription/  @contentful/team-moi
src/javascripts/features/organization-usage/         @contentful/team-moi
src/javascripts/features/trials/                     @contentful/team-moi
src/javascripts/features/space-usage/                @contentful/team-moi
src/javascripts/features/space-home/                 @contentful/team-moi
src/javascripts/features/home/                       @contentful/team-moi
src/javascripts/features/space-settings/             @contentful/team-moi
src/javascripts/features/organization-spaces/        @contentful/team-moi

# Shared by CO Group
src/javascripts/features/contentful-apps/     @contentful/team-shelley @contentful/team-sparks

# Team Shelley
src/javascripts/features/assembly-types/      @contentful/team-shelley

# Team Sparks
src/javascripts/features/scheduled-actions/   @contentful/team-sparks
src/javascripts/features/content-preview/     @contentful/team-sparks
src/javascripts/features/releases/            @contentful/team-sparks

# Team Homer
src/javascripts/features/tasks/             @contentful/team-homer
src/javascripts/features/entity-search/     @contentful/team-homer
src/javascripts/features/entity-views/      @contentful/team-homer

# Team Dante
src/javascripts/features/locales-management/      @contentful/team-dante
src/javascripts/features/content-model-editor/    @contentful/team-dante
# to facilitate knowledge exchange, we will keep both teams for some time
src/javascripts/features/content-tags/            @contentful/team-dante @contentful/team-dev-workflows

# Team Dev Velocity
src/javascripts/features/embargoed-assets/  @team-dev-velocity

# Team React Migration
src/javascripts/features/quick-navigation/      @team-react
src/javascripts/features/loading-state/         @team-react
src/javascripts/features/space-hibernation/     @team-react
