
<div ng-show="!isReady &amp;&amp; !hasCrashed">
  <div class="loading-box" style="height: 300px">
    <div class="loading-box__spinner"></div>
    <div class="loading-box__message">Initializing Markdown editor</div>
  </div>
</div>
<div ng-if="hasCrashed">Markdown editor has crashed, please refresh the page&nbsp;<i class="fa fa-warning"></i></div>
<div class="markdown" ng-show="isReady &amp;&amp; !hasCrashed">
  <div class="markdown-tabs"><a href ng-click="setMode('preview')" ng-class="{'inactive': !inMode('preview')}" data-test-id="markdown-tab-preview">Preview</a><a href ng-click="setMode('md')" ng-show="!isDisabled" ng-class="{'inactive': !inMode('md')}" data-test-id="markdown-tab-md">Editor</a></div>
  <div class="markdown-toolbar">
    <div class="markdown-actions">
      <react-component name="markdown_editor/components/HeadingContextMenu" props="{actions: actions, isDisabled: !canEdit()}"></react-component>
      <react-component name="markdown_editor/components/ActionComponent" props="{actions: actions, name: 'bold', isZenMode: false, isDisabled: !canEdit()}"></react-component>
      <react-component name="markdown_editor/components/ActionComponent" props="{actions: actions, name: 'italic', isZenMode: false, isDisabled: !canEdit()}"></react-component>
      <react-component name="markdown_editor/components/ActionComponent" props="{actions: actions, name: 'quote', isZenMode: false, isDisabled: !canEdit()}"></react-component>
      <react-component name="markdown_editor/components/ActionComponent" props="{actions: actions, name: 'ul', isZenMode: false, isDisabled: !canEdit()}"></react-component>
      <react-component name="markdown_editor/components/ActionComponent" props="{actions: actions, name: 'ol', isZenMode: false, isDisabled: !canEdit()}"></react-component>
      <react-component name="markdown_editor/components/ActionComponent" props="{actions: actions, name: 'link', isZenMode: false, isDisabled: !canEdit()}"></react-component>
      <!-- $scope.tooltipComponent won't be available immediately, so we have to wait until it-->
      <!-- is before initially rendering it-->
      <react-component ng-if="tooltipComponent" component="tooltipComponent" props="{isDisabled: !canEdit(), isActive: minorActionsShown}"></react-component>
      <button class="toolbar-button markdown-side-action" ng-click="zenApi.toggle()" tabindex="-1" ng-disabled="isDisabled"><i class="fa fa-arrows-alt"></i></button>
      <div class="markdown-toolbar-insert-media">
        <react-component name="markdown_editor/components/InsertMediaComponent" props="{actions: actions}"></react-component>
      </div>
    </div>
    <div class="markdown-minor-actions" ng-show="minorActionsShown">
      <react-component name="markdown_editor/components/ActionComponent" props="{actions: actions, name: 'strike', isZenMode: false, isDisabled: !canEdit()}"></react-component>
      <react-component name="markdown_editor/components/ActionComponent" props="{actions: actions, name: 'code', isZenMode: false, isDisabled: !canEdit()}"></react-component>
      <react-component name="markdown_editor/components/ActionComponent" props="{actions: actions, name: 'hr', isZenMode: false, isDisabled: !canEdit()}"></react-component>
      <react-component name="markdown_editor/components/ActionComponent" props="{actions: actions, name: 'indent', isZenMode: false, isDisabled: !canEdit()}"></react-component>
      <react-component name="markdown_editor/components/ActionComponent" props="{actions: actions, name: 'dedent', isZenMode: false, isDisabled: !canEdit()}"></react-component>
      <react-component name="markdown_editor/components/ActionComponent" props="{actions: actions, name: 'embed', isZenMode: false, isDisabled: !canEdit()}"></react-component>
      <react-component name="markdown_editor/components/ActionComponent" props="{actions: actions, name: 'table', isZenMode: false, isDisabled: !canEdit()}"></react-component>
      <react-component name="markdown_editor/components/ActionComponent" props="{actions: actions, name: 'special', isZenMode: false, isDisabled: !canEdit()}"></react-component>
      <react-component name="markdown_editor/components/ActionComponent" props="{actions: actions, name: 'organizeLinks', isZenMode: false, isDisabled: !canEdit()}"></react-component>
      <react-component name="markdown_editor/components/ActionComponent" props="{actions: actions, name: 'undo', isZenMode: false, isDisabled: !canEdit() || !history.hasUndo()}"></react-component>
      <react-component name="markdown_editor/components/ActionComponent" props="{actions: actions, name: 'redo', isZenMode: false, isDisabled: !canEdit() || !history.hasRedo()}"></react-component>
    </div>
  </div>
  <div class="markdown-areas">
    <div class="markdown-editing-area" tabindex="0" ng-show="inMode('md')">
      <textarea></textarea>
    </div>
    <div class="markdown-preview" ng-show="inMode('preview')">
      <cf-markdown-preview preview="preview" is-disabled="zen || inMode('md')"></cf-markdown-preview>
    </div>
  </div>
  <div class="markdown-help">
    <cf-icon name="markdown"></cf-icon>Format your text like a pro with the&nbsp;<a href ng-click="actions.openHelp()">markdown cheatsheet</a>.
  </div>
  <cf-editor-character-info constraints="constraints" word-count="preview.info.words" char-count="preview.info.chars"></cf-editor-character-info>
  <cf-zenmode ng-if="zen" zen-api="zenApi" preview="preview" direction="direction"></cf-zenmode>
</div>