.modal-background
  .modal-dialog.markdown-help-dialog
    header.modal-dialog__header
      h1 Markdown formatting help
      button.modal-dialog__close(ng-click="dialog.cancel()")

    .modal-dialog__content
      .markdown-help-columns
        .markdown-help-column
          .markdown-help-item
            .markdown-help__preview H1
            .markdown-help__markup # heading
          .markdown-help-item
            .markdown-help__preview H2
            .markdown-help__markup ## heading
          .markdown-help-item
            .markdown-help__preview H3
            .markdown-help__markup ### heading
          .markdown-help-item
            strong.markdown-help__preview bold
            .markdown-help__markup __text__
          .markdown-help-item
            em.markdown-help__preview italic
            .markdown-help__markup *text*
          .markdown-help-item
            strike.markdown-help__preview strikethrough
            .markdown-help__markup ~~text~~
          .markdown-help-item
            a.markdown-help__preview Link
            .markdown-help__markup [text](url)

        .markdown-help-column
          .markdown-help-item
            .markdown-help__preview Image
            .markdown-help__markup ![alt-text](url)
          .markdown-help-item
            .markdown-help__preview Unordered list<br>&nbsp;
            .markdown-help__markup * list item<br>* list item
          .markdown-help-item
            .markdown-help__preview Ordered list<br>&nbsp;
            .markdown-help__markup 1. list item<br>2. list item
          .markdown-help-item
            .markdown-help__preview Blockquote
            .markdown-help__markup &gt; quote
          .markdown-help-item
            code.markdown-help__preview code span
            .markdown-help__markup `code here`
          .markdown-help-item
            code.markdown-help__preview code block
            .markdown-help__markup ```code here```

      .markdown-help-link
        a(href="https://help.github.com/articles/markdown-basics/" target="_blank" rel="noopener noreferrer")
          | View the full GitHub-flavored Markdown syntax help (opens in a new window)
