%nav.account
  .dropdown-btn.user
    %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
      %img(src="app/avatar.png")
      %i.ss-dropdown
  .dropdown-btn.project
    %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
      %i.ss-dropdown        
      %span.project-name Project
    -#.dropdown-menu
      %ul
        %li Project Number 2
        %li Project Number 3
        %li Project Number 4