.bucket
  %nav.nav-bar
    .logo
      %img(src="assets/logo.png")
    %ul
      %li
        %i.ss-layout
      %li.active
        %i.ss-layers
      %li
        %i.ss-picture
      %li
        %i.ss-cell
  %nav.tab-list
    %ul
      %li.tab(style="width:17.5%")
        %span.tab-title New Recipe
        %em.fade
        %i.ss-delete
      %li.tab.active(style="width:17.5%")
        %span.tab-title Old Recipe Title
        %em.fade
        %i.ss-delete
      %li.tablist-button
        .dropdown-btn
          %a.add.button.dropdown-toggle
            %i.ss-plus
            %span Add
          -#.dropdown-menu.top-caret.left-aligned
            %ul
              %li Categories
              %li Features
              %li Media
              %li Projects
              %li Promos
              %li Schedules
              %li Shows
            .separator
            %ul
              %li Entry Type
  .tab-content.entry-editor
    .entry-list
      = render 'entry-editor'
  .notification-wrapper
    .notification.red-notification
      %span New entry created
