.entry-editor
  .tab-header.editor-configuration
    %h1
      Old Recipe Title
    .editor-top-left
      .dropdown-btn
        %a.btn.dropdown-toggle
          %i.ss-dropdown
          %span Default-Interface
        .dropdown-menu(style="display:none")
          …
          …
          …
      .dropdown-btn
        %a.dropdown-toggle
          %i.ss-dropdown
          %span Language
        .dropdown-menu(style="display:none")
          …
          …
          …
    .editor-top-right<
      .dropdown-btn>
        %a.btn.active
          %span Meta
      .dropdown-btn>
        %a.btn
          %span Apps
      .dropdown-btn>
        %a.btn
          %span Events

  .aux-panel
    .meta
      %header
        %span Meta
        %i.ss-delete
      %article
        %table
          %tr
            %th Last Save
            %td 5 seconds ago
          %tr
            %th Published Version #
            %td 14
          %tr
            %th Current #
            %td 15
        %div

  .tab-main
    %form.form-horizontal(name="entryForm")
      // We might need two columns of fields next to each other (for translators)
      .field(data-field-type="string" data-field-widget="textField")
        %label Stringfield
        .editor
          %input(type="text")
          .hint.tip
            Hint to the user about the meaning of the field
            .arrow-left
            .arrow-left-border
      .field(data-field-type="text" data-field-widget="textArea")
        %label Textfield
        .editor
          %textarea.error-input
          .hint.tip
            Hint to the user about the meaning of the field
            .arrow-left
            .arrow-left-border
          .error
            Error on the field entry
      .field(data-field-type="boolean" data-field-widget="checkBox")
        %label Boolean
        .editor
          %label
            %input(type="radio")
            %span.yes Yes
          %label
            %input(type="radio")
            %span.no No
          .hint.tip
            Hint to the user about the meaning of the field
            .arrow-left
            .arrow-left-border
      .field(data-field-type="date" data-field-widget="datePicker")
        %label Date
        .editor
          %input.date(type="text")
          %i.ss-calendar
          .hint.tip
            Hint to the user about the meaning of the field
            .arrow-left
            .arrow-left-border
      .field(data-field-type="date" data-field-widget="timePicker")
        %label DateTime
        .editor
          %input.date(type="text")
          %i.ss-calendar
          %input.time(value="14:33")
          %i.ss-clock
          .hint.tip
            Hint to the user about the meaning of the field
            .arrow-left
            .arrow-left-border
        :javascript
          $('.datepicker').datepicker()
      .field(data-field-type="array" data-field-widget="textField")
        %label Array Field
        .editor
          %input(type="text")
          / Another simple text field, the magic happens in javascript,
          / splitting the values at the comma
      .field(data-field-type="array" data-field-widget="checkBoxes")
        %label Array Boxes
        .editor
          %label
            %input(type="checkbox")
            %span Labeltext
          %label
            %input(type="checkbox")
            %span Labeltext
          %label
            %input(type="checkbox")
            %span Labeltext
          %label
            %input(type="checkbox")
            %span Labeltext
          %label
            %input(type="checkbox")
            %span Labeltext
      .field(data-field-type="location" data-field-widget="googlemap")
        %label Location Picker
        .editor
          %iframe(width="425" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.de/maps?f=q&source=s_q&hl=en&geocode=&q=Berlin&aq=&sll=51.175806,10.454119&sspn=8.654702,23.269043&ie=UTF8&hq=&hnear=Berlin&t=m&ll=52.519146,13.406067&spn=0.026114,0.072956&z=13&iwloc=A&output=embed")
          .sub-fields
            .search-field
              %input(type="search" placeholder="Search Address")
              .dropdown-btn.search-options
                .dropdown-toggle
                  %i.ss-search
                  %i.ss-dropdown
                -#.dropdown-menu
                  %ul
                    %li
            %label.location-picker
              %input(type="text")
              %span Latitude
            %label.location-picker
              %input(type="text")
              %span Longitude
            %button.remove-location Remove
      .field(data-field-type="number" data-field-widget="textField")
        %label Number
        .editor.number.fit-two
          %input(type="number")
      .field(data-field-type="link" data-field-widget="autocomplete")
        %label Link
        .editor
          .div(cf-autocomplete="123")
            %ul.links
              %li(ng-click="visitLink()")
                A linked item
                %i.ss-delete(ng-click="removeLink()" ng-show="linkedEntry")
              %li(ng-click="visitLink()")
                Another linked item
                %i.ss-delete(ng-click="removeLink()" ng-show="linkedEntry")
            .controls
              // This button will create and immediately link a new entry so that it shows up in the ul above:
              // Clicking the button CAN open a dropdown menu like the add button in the tab-bar but it doesn't always
              .dropdown-btn.add-new
                %button.dropdown-toggle(ng-click="addNew()")
                  %i.ss-plus
                  New
                -#%a.dropdown-menu
                  %ul
                    %li Link Type A
                    %li Link Type B
                    %li Link Type C
              .search-field.btn-right-on
                %input(type="search" placeholder="Search for entries")
                .dropdown-btn.search-options
                  .dropdown-toggle
                    %i.ss-search
                    %i.ss-dropdown
                  -#.dropdown-menu
                    %ul
                      %li
            // This is a presentation of the results that will pop up while typing
            // User navigates with arrow keys, hitting enter adds results to the list of links above
            .results.btn-right-on.search-options-on(ng-show="entries.length > 0")
              %table.result-list
                %thead
                  %tr
                    %th.cell-type Content Type
                    %th.cell-name Name
                    %th.cell-by By
              .endless-container(style="overflow-y: auto" at-bottom="loadMore()" num-elements="paginator.page")
                // The overflow will later be controlled by javascript:
                %table.result-list
                  %tbody
                    - 10.times do |i|
                      %tr{:class => i == 3 ? 'selected' : ''}
                        %td.cell-type
                          %span EntryType #{i}
                        %td.cell-name
                          %span Entry name #{i}
                        %td.cell-by
                          %span Peter Pan
      .div(style="margin-bottom: 300px")
        // Maintain distance to bottom, otherwise the result list will float out of the form

  .tab-actions
    .button-set
      %button.delete Delete
      %button.archive Archive
      %button.unpublish Unpublish
      %button.publish Publish
    .save-status.green
      %i.ss-check
      %span All changes saved successfully
    .other-users
      %span 3 others online
      %ul
        %li.avatar
          %img(src="assets/avatar-2.jpg")
          .tip-container
            .tip
              Jan
              .arrow-down
              .arrow-down-border
        %li.avatar
          %img(src="assets/avatar-3.jpg")
          .tip-container
            .tip
              Stephan
              .arrow-down
              .arrow-down-border
        %li.avatar
          %img(src="assets/avatar-4.jpg")
          .tip-container
            .tip
              Chris
              .arrow-down
              .arrow-down-border




