.editor-configuration
  .editor-top-left
    %h1
      Old Recipe Title
    .dropdown-btn
      %a.btn.dropdown-toggle
        %i.ss-dropdown
        %span Default-Interface
      .dropdown-menu(style="display:none")
        …
        …
        …
    .dropdown-btn
      %a.dropdown-toggle
        %i.ss-dropdown
        %span Language
      .dropdown-menu(style="display:none")
        …
        …
        …
  .editor-top-right
    .dropdown-btn
      %a.btn.dropdown-toggle
        %i.ss-dropdown
        %span Meta
      .dropdown-menu(style="display:none")
        …
        …
        …
      %a.btn
        %span Apps
      %a.btn
        %span Events

.aux-panel
  .meta
    %table
      %tr
        %th Published at
        %td 5 hours ago
      %tr
        %th Published Version
        %td {{publishedVersion()}}
      %tr
        %th Current
        %td {{doc.version}}
    %div
      %p Not published yet

%form.form-horizontal(name="entryForm")
  // We might need two columns of fields next to each other (for translators)
  .field(data-field-type="string" data-field-widget="textField")
    %label Stringfield
    .editor
      %input(type="text")
      .hint.tip
        Hint to the user about the meaning of the field
        .arrow-left
        .arrow-left-border
  .field(data-field-type="text" data-field-widget="textArea")
    %label Textfield
    .editor
      %textarea
      .error.tip
        Error on the field entry
        .arrow-left
        .arrow-left-border
  .field(data-field-type="boolean" data-field-widget="checkBox")
    %label Boolean
    .editor.boolean
      %label
        %input(type="radio")
        %span.yes Yes
      %label
        %input(type="radio")
        %span.no No
      .hint.tip
        Hint to the user about the meaning of the field
        .arrow-left
        .arrow-left-border
  .field(data-field-type="date" data-field-widget="datePicker")
    %label Date
    .editor
      / Idea for a fitting widget?
      / We used jQuery-UI/Native Datepickers(not well supported) before
      / Maybe the Date Directive from http://angular-ui.github.com/ will
      / also do.
  .field(data-field-type="date" data-field-widget="timePicker")
    %label DateTime
    .editor
      / Date with time
  .field(data-field-type="array" data-field-widget="textField")
    %label Array Field
    .editor
      %input(type="text")
      / Another simple text field, the magic happens in javascript,
      / splitting the values at the comma
  .field(data-field-type="array" data-field-widget="checkBoxes")
    %label Array Boxes
    .editor.array
      %label
        %input(type="checkbox")
        %span Labeltext
      %label
        %input(type="checkbox")
        %span Labeltext
      %label
        %input(type="checkbox")
        %span Labeltext
      %label
        %input(type="checkbox")
        %span Labeltext
      %label
        %input(type="checkbox")
        %span Labeltext
  .field(data-field-type="location" data-field-widget="googlemap")
    %label Location Picker
    .editor
      %iframe(width="425" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.de/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Berlin&amp;aq=&amp;sll=51.175806,10.454119&amp;sspn=8.654702,23.269043&amp;ie=UTF8&amp;hq=&amp;hnear=Berlin&amp;t=m&amp;ll=52.519146,13.406067&amp;spn=0.026114,0.072956&amp;z=13&amp;iwloc=A&amp;output=embed")
      %input.coordinates(type="text")
      %button.remove-location Remove
  .field(data-field-type="number" data-field-widget="textField")
    %label Number
    .editor

.action-bar
  .button-set
    %button.publish
    %button.unpublish
    %button.delete
    %button.archive
  .save-status.green
    %i.ss-check
    %span All changes saved successfully
  .other-users
    Adam
    Editordude
    Bertram
