.entry-type-editor
  .tab-header.editor-configuration
    %h1
      Entry Type
    .editor-top-right
      .dropdown-btn
        %a.btn.active
          %span Meta
      .dropdown-btn
        %a.btn
          %span Apps
      .dropdown-btn
        %a.btn
          %span Events

  .aux-panel
    .meta
      %header
        %span Meta
        %i.ss-delete
      %article
        %table
          %tr
            %th Last Save
            %td 5 seconds ago
          %tr
            %th Published Version #
            %td 14
          %tr
            %th Current #
            %td 15
        %div

  .tab-main
    %form.form-horizontal(name="entryTypeForm")
      // The .form-row corresponds to the .field in the entry editor, but since we're using
      // the .field class for the actual list  of fields, these here have to be named differently
      .form-row.field
        %label Name
        .editor
          %input(type="text")
      .form-row.field
        %label Description
        .editor
          %textarea
      .form-row.field.select-field
        %label Display Field
        .editor
          %select
            %option Name
            %option Title
      .form-row.field
        %label Fields
        .editor
          .main-results-wrapper
            %table.result-list.main-results
              %thead
                %tr
                  %th.cell.drag-handle 
                  %th.cell.name Name
                  %th.cell.identifier Identifier
                  %th.cell.type Type
                  %th.cell.localized Localized
                  %th.cell.required Required
                  %th.cell.validations Validations
                  %th.cell.actions
              %tbody
                - 4.times do
                  %tr.field
                    %td.drag-handle
                      %i.ss-rows
                    %td.name
                      %input(value="FooBar")
                    %td.identifier foo_bar
                    %td.type Text
                    %td.localized
                      %i.ss-flag
                    %td.required
                      %i.ss-check
                    %td.validations
                      %i.ss-settings
                    %td.actions
                      %i.activate.ss-write
                      %i.deactivate.ss-writingdisabled
                      %i.delete.ss-trash
                %tr.field.open
                  %td.drag-handle
                    %i.ss-rows
                  %td.name
                    %input(value="FooBar")
                  %td.identifier foo_bar
                  %td.type Text
                  %td.localized
                    %i.ss-flag
                  %td.required
                    %i.ss-check
                  %td.validations
                    %i.ss-settings
                  %td.actions
                    %i.activate.ss-write
                    %i.deactivate.ss-writingdisabled
                    %i.delete.ss-trash
                %tr.validations-open
                  %th
                    Validations
                  %td
                    .name Inclusion
                    .options
                      %input apple, orange, banana
                    .action
                      %i.remove.ss-delete
                  %td
                    .name Between
                    .options
                      %input.lower
                      \-
                      %input.upper
                    .action
                      %i.remove.ss-delete
                %table.fields.new-field
                  %tr.field
                    %td.drag-handle
                    %td.name
                      %input(value="FooBar")
                    %td.identifier
                      %input(value="foo_bar")
                    %td.type
                      %select
                        %option Text
                        %option Location
                        %option …
                    %td.localized
                      %i.ss-flag
                    %td.required
                      %i.ss-check
                    %td.validations
                      %i.ss-settings
                    %td.actions
                      %i.delete.ss-plus


  .tab-actions
    // No need to touch these in the entry type editor
    .button-set
      %button.delete Delete
      %button.archive Archive
      %button.unpublish Unpublish
      %button.publish Publish
    .save-status.green
      %i.ss-check
      %span All changes saved successfully
    .other-users
      %span 3 others online
      %ul
        %li.avatar
          %img(src="assets/avatar-2.jpg")
          .tip-container
            .tip
              Jan
              .arrow-down
              .arrow-down-border
        %li.avatar
          %img(src="assets/avatar-3.jpg")
          .tip-container
            .tip
              Stephan
              .arrow-down
              .arrow-down-border
        %li.avatar
          %img(src="assets/avatar-4.jpg")
          .tip-container
            .tip
              Chris
              .arrow-down
              .arrow-down-border




