%aside.left-nav
  %header Entries
  %ul.left-nav-list
    %li.active
      %span All
    %li 
      %span Drafts
      %small (3)
    %li 
      %span Pending
      %small (4)
    %li
      %span Published
    %li
      %span Archived
    %li
      %span Starred
    %li
      %span Created by me
  %header Saved searches
  %ul.left-nav-filters
    %li
      %i.ss-search
      %span Updated by me
    %li
      %i.ss-search
      %span Large rooms
  %footer.left-nav-bottom
    %span Import
    %span Export
%article.main.left-nav-active
  .search-area
    %form.search-field.with-filters
      %ul.search-filters
        %li
          %span.search-filter-title US State:
          %span.search-filter-value Florida
          %i.ss-delete
        %li
          %span.search-filter-title US City:
          %span.search-filter-value Miami
          %i.ss-delete
      %input(type="text" placeholder="Add to search")
      .dropdown-btn.search-options
        .dropdown-toggle
          %i.ss-search
          %i.ss-dropdown
        -#.dropdown-menu
          %ul
            %li
    .dropdown-btn.search-view-options
      .dropdown-toggle
        %i.ss-columns
        %i.ss-dropdown
      -#.dropdown-menu
        %ul
          %li
    .loading
      %img(src="assets/ajax-loader.gif")
    .search-results-position
      .track
      .fill
      .tip
        %span.search-results-active 20
        %span.search-results-total /67
        .arrow-right
        .arrow-right-border
  %table.main-header
    %thead
      %tr
        %th.cell-select
          %input(type="checkbox")
        %th.cell-favorite
          %i.ss-star
        %th.cell-type
          %label Content Type
        %th.cell-name
          %label Name
        %th.cell-by
          %label By
        %th.cell-created
          %label Created
        %th.cell-status
          %label Status
  .main-results-wrapper
    %table.main-results
      %tbody
        - 5.times do
          %tr
            %td.cell-select
              %input(type="checkbox")
            %td.cell-favorite
              %i.ss-star
            %td.cell-type
              %span Room
            %td.cell-name
              %span Large Conference Room
            %td.cell-by
              %span Peter Pan
            %td.cell-created
              %span 5 min ago
            %td.cell-status.draft
              .draft-wrapper
                %span Draft
                .main-results-bar
          %tr
            %td.cell-select
              %input(type="checkbox")
            %td.cell-favorite
              %i.ss-star
            %td.cell-type
              %span Room
            %td.cell-name
              %span Seminar Room
            %td.cell-by
              %span Mickey Mouse
            %td.cell-created
              %span 3 hours ago
            %td.cell-status.published
              .draft-wrapper
                %span Published
                .main-results-bar
          %tr
            %td.cell-select
              %input(type="checkbox")
            %td.cell-favorite
              %i.ss-star
            %td.cell-type
              %span Room
            %td.cell-name
              %span Large Conference Room
            %td.cell-by
              %span Peter Pan
            %td.cell-created
              %span 5 min ago
            %td.cell-status.draft
              .draft-wrapper
                %span Draft
                .main-results-bar
          %tr
            %td.cell-select
              %input(type="checkbox")
            %td.cell-favorite
            %td.cell-type
              %span Speaker
            %td.cell-name
              %span Tim Berners Lee
            %td.cell-by
              %span Captain Jack
            %td.cell-created
              %span 8 hours ago
            %td.cell-status.archived
              .draft-wrapper
                %span Archived
                .main-results-bar
          %tr
            %td.cell-select
              %input(type="checkbox")
            %td.cell-favorite
              %i.ss-star
            %td.cell-type
              %span Event
            %td.cell-name
              %span Mobile World Conference 2012
            %td.cell-by
              %span Dr. Evil
            %td.cell-created
              %span 2 days ago
            %td.cell-status.published
              .draft-wrapper
                %span Published
                .main-results-bar  
