.entry-editor
  .tab-header.editor-configuration
    %h1
      Old Recipe Title
    .editor-top-right
      .dropdown-btn
        %a.btn.active
          %span Meta
      .dropdown-btn
        %a.btn
          %span Apps
      .dropdown-btn
        %a.btn
          %span Events

  .aux-panel
    .meta
      %header
        %span Meta
        %i.ss-delete
      %article
        %table
          %tr
            %th Last Save
            %td 5 seconds ago
          %tr
            %th Published Version #
            %td 14
          %tr
            %th Current #
            %td 15
        %div

  .tab-main
    .copy
      %h1 
        Content Title
        %small.help-text Help tip for the content
      %p Donec sed odio dui. Nullam quis <em>risus eget</em> urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Praesent <strong>commodo cursus magna</strong>, vel scelerisque nisl consectetur et. Maecenas sed diam eget risus varius blandit sit <a href="#2">amet non magna</a>. Curabitur blandit tempus porttitor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed consectetur.
      %h2 Content Subtitle
      %p Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
      %h3 Internal Subtitle
      %p Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
      %ul
        %li Bullet information Maecenas sed diam eget risus varius blandit sit amet non magna.
        %li Maecenas sed diam eget risus varius blandit sit amet non magna.
      %ol
        %li Bullet information Maecenas sed diam eget risus varius blandit sit amet non magna.
        %li Maecenas sed diam eget risus varius blandit sit amet non magna.

  .tab-actions
    .button-set
      %button.delete Delete
      %button.archive Archive
      %button.unpublish Unpublish
      %button.publish Publish
    .save-status.green
      %i.ss-check
      %span All changes saved successfully
    .other-users
      %span 3 others online
      %ul
        %li.avatar
          %img(src="assets/avatar-2.jpg")
          .tip-container
            .tip
              Jan
              .arrow-down
              .arrow-down-border
        %li.avatar
          %img(src="assets/avatar-3.jpg")
          .tip-container
            .tip
              Stephan
              .arrow-down
              .arrow-down-border
        %li.avatar
          %img(src="assets/avatar-4.jpg")
          .tip-container
            .tip
              Chris
              .arrow-down
              .arrow-down-border




