# Ignore all files by default and only selectively check files that
# have been migrated.

test/unit/app/widgets/cf_video_player_directive_spec.js
test/unit/components/forms/cf_field_alert_directive_spec.js
test/unit/components/shared/data_size_scale_controller_spec.js
test/unit/components/shared/cf_validation_error_display_spec.js
test/unit/forms/cf_null_empty_input_spec.js
test/unit/forms/cf_validate_form_spec.js
test/unit/forms/cf_validate_model_spec.js
test/unit/forms/field_errors_spec.js
test/unit/forms/form_directives_spec.js
test/unit/forms/ng_model_spec.js
test/unit/forms/ng_no_form_spec.js
test/unit/services/contentful_client_spec.js
test/unit/services/exception_handler_spec.js
test/unit/services/field_factory_spec.js
test/unit/services/intercom_spec.js
test/unit/services/kaltura_search_spec.js
test/unit/services/validation_views_spec.js
test/unit/services/authorization_spec.js
test/unit/services/editing_interfaces_helpers_spec.js
test/unit/services/features_spec.js
test/unit/services/promised_loader_spec.js
test/unit/services/reload_notification_spec.js
test/unit/data/content_types_spec.js
test/unit/data/editing_interfaces/transformer_spec.js
test/unit/markdown_editor/link_organizer_spec.js
test/unit/ui/command_spec.js
test/unit/ui/command_directive_spec.js
test/unit/utils/overriding_request_queue_spec.js
test/unit/utils/signal_spec.js
test/unit/access_control/policy_builder_default_rule_spec.js
test/unit/access_control/policy_builder_external_spec.js
test/unit/access_control/policy_builder_internal_spec.js
test/unit/access_control/remove_outdated_rules_spec.js
test/unit/access_control/response_cache_spec.js
test/unit/webhooks/webhook_call_status_directive_spec.js
test/unit/webhooks/webhook_editor_directive_spec.js
test/unit/webhooks/webhook_health_directive_spec.js
test/unit/webhooks/webhook_repository_spec.js
test/helpers/deep_diff.js
test/integration/field_validation_dialog_spec.js
src/javascripts/components/shared/validation_error_display/cf_error_list_directive.js
src/javascripts/components/shared/validation_error_display/cf_error_messages_directive.js
src/javascripts/components/shared/validation_error_display/cf_error_path_directive.js
src/javascripts/components/shared/validation_error_display/error_path_controller.js
src/javascripts/components/shared/cf_dropdown_toggle_directive.js
src/javascripts/components/shared/data_size_scale_controller.js
src/javascripts/components/shared/endless_container_directive.js
src/javascripts/components/shared/view_state_controller.js
src/javascripts/components/shared/cf_selection_directive.js
src/javascripts/components/shared/cf_user_directive.js
src/javascripts/components/tabs/asset_list/asset_list_directive.js
src/javascripts/components/tabs/asset_list/asset_list_actions_controller.js
src/javascripts/components/app_container/cf_app_container_directive.js
src/javascripts/components/field_dialog/cf_position_relative_to_widget_list_directive.js
src/javascripts/components/field_dialog/cf_validation_date_select_directive.js
src/javascripts/components/field_dialog/cf_validation_settings_directive.js
src/javascripts/components/field_dialog/image_dimensions_validation_controller.js
src/javascripts/components/field_dialog/validation_asset_types_controller.js
src/javascripts/components/forms/field_alert/cf_field_alert_directive.js
src/javascripts/app/widgets/kaltura/cf_kaltura_editor_directive.js
src/javascripts/app/widgets/kaltura/cf_kaltura_player_directive.js
src/javascripts/app/widgets/video/cf_video_editor_controller.js
src/javascripts/app/widgets/video/cf_video_input_directive.js
src/javascripts/app/widgets/video/cf_video_input_controller.js
src/javascripts/app/widgets/video/cf_video_player_controller.js
src/javascripts/app/widgets/video/cf_video_player_directive.js
src/javascripts/app/widgets/video/cf_video_search_controller.js
src/javascripts/app/widgets/video/cf_video_search_directive.js
src/javascripts/app/widgets/video/cf_video_search_result_controller.js
src/javascripts/app/widgets/video/cf_video_search_result_directive.js
src/javascripts/components/notifications/cf_notifications_directive.js
src/javascripts/components/notifications/index.js
src/javascripts/classes/kaltura_error_messages.js
src/javascripts/classes/kaltura_search.js
src/javascripts/classes/url_utils.js
src/javascripts/classes/kaltura_client_wrapper.js
src/javascripts/classes/entity_list_cache.js
src/javascripts/classes/kaltura_controller_mixin.js
src/javascripts/directives/cf_click_outside_directive.js
src/javascripts/directives/cf_focus_on_render_directive.js
src/javascripts/directives/cf_focus_watched_expression_directive.js
src/javascripts/directives/cf_relative_datetime.js
src/javascripts/directives/cf_select_all_input.js
src/javascripts/directives/tooltip_directive.js
src/javascripts/directives/cf_when_disabled.js
src/javascripts/services/field_factory.js
src/javascripts/services/kaltura_widget_loader.js
src/javascripts/services/lodash_timing.js
src/javascripts/services/q_decorator.js
src/javascripts/services/validation_dialog_error_messages.js
src/javascripts/services/validation_views.js
src/javascripts/services/moment.js
src/javascripts/services/editing_interfaces_helpers.js
src/javascripts/services/features.js
src/javascripts/services/hints.js
src/javascripts/services/promised_loader.js
src/javascripts/services/user_agent.js
src/javascripts/services/zone_offsets.js
src/javascripts/forms/errors.js
src/javascripts/forms/validation.js
src/javascripts/navigation/confirm_leave_editor.js
src/javascripts/ui/cf_ui_tab.js
src/javascripts/data/content_types.js
src/javascripts/data/editing_interfaces/transformer.js
src/javascripts/markdown_editor/cf_markdown_action_directive.js
src/javascripts/markdown_editor/link_organizer.js
src/javascripts/markdown_editor/markdown_special_characters.js
src/javascripts/utils/encoder.js
src/javascripts/utils/memoize.js
src/javascripts/utils/overriding_request_queue.js
src/javascripts/access_control/cf_rule_list.js
src/javascripts/access_control/policy_builder.js
src/javascripts/access_control/remove_outdated_rules.js
src/javascripts/access_control/role_repository.js
src/javascripts/webhooks/webhook_call_status_directive.js
src/javascripts/webhooks/webhook_editor_directive.js
src/javascripts/webhooks/webhook_headers_directive.js
src/javascripts/webhooks/webhook_health_directive.js
src/javascripts/webhooks/webhook_list_directive.js
src/javascripts/webhooks/webhook_repository.js
src/javascripts/webhooks/webhook_segmentation.js
