[submodule "vendor/ui-extensions-sdk"]
	path = vendor/ui-extensions-sdk
	url = git@github.com:contentful/ui-extensions-sdk.git
  branch = master
  update = rebase
[submodule "vendor/sharejs"]
	path = vendor/sharejs
	url = git@github.com:contentful/sharejs.git
  branch = v1.3.0
  update = rebase
[submodule "vendor/extensions"]
	path = vendor/extensions
	url = git@github.com:contentful/extensions.git
  branch = master
  update = rebase
