.DS_Store
chromedriver.log
libpeerconnection.log
.tern-port
sauce_connect.log*
Vagrantfile
vagrant_bootstrap.sh
.vagrant
run_vagrant_build.sh
karma-specs.json


# Install artifacts
npm-debug.log
node_modules
bower_components
vendor/slimerjs



# Build artifacts
gh-pages/
build/
public/*
