<%/* Deployment html template rendered with tools/lib/index-page.js. See
https://contentful.atlassian.net/wiki/spaces/PROD/pages/2381611597 for more info */%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ID=edge" />
    <%/* `externalConfig: { uiVersion, config }` for the current env. See config/*.json. */%>
    <meta name="external-config" content="<%- JSON.stringify(externalConfig) %>" />

    <title>Contentful</title>

    <%/* `manifest` from webpack build, containing output filenames */%>
    <link href="<%= manifest['styles.css'] %>" type="text/css" rel="stylesheet" media="all" />
    <link href="<%= manifest['assets/favicon32x32.png'] %>" rel="shortcut icon" type="image/png" />
    <link
      href="<%= manifest['assets/apple_icon57x57.png'] %>"
      rel="apple-touch-icon"
      type="image/png"
    />
    <link
      href="<%= manifest['assets/apple_icon72x72.png'] %>"
      rel="apple-touch-icon"
      type="image/png"
    />
    <link
      href="<%= manifest['assets/apple_icon114x114.png'] %>"
      rel="apple-touch-icon"
      type="image/png"
    />
  </head>

  <%/* body HTML is shared by the development and production templates */%> <%= bodyHtml %>

  <script src="<%= manifest['vendors~app.js'] %>" type="text/javascript"></script>
  <script src="<%= manifest['app.js'] %>" type="text/javascript"></script>
</html>
