.modal-background.x--flex
  .message-dialog
    .message-dialog__title
      | There are unsaved changes
    .message-dialog__message
      | What would you like to do with them?
    .message-dialog__controls
      button.cfnext-btn-primary-action(ui-command="actions.save")
        | Save changes
      button.cfnext-btn-secondary-action(ui-command="actions.discard")
        | Discard changes
      button.cfnext-btn-secondary-action(ui-command="actions.cancel")
        | Back to editing
