.modal-background
  .modal-dialog
    header.modal-dialog__header
      h1 There are unsaved changes
      button.modal-dialog__close(ui-command="actions.cancel")
    .modal-dialog__content
      p What would you like to do with them?
    .modal-dialog__controls
      button.btn-primary-action(ui-command="actions.save")
        | Save changes
      button.btn-secondary-action(ui-command="actions.discard")
        | Discard changes
      button.btn-secondary-action(ui-command="actions.cancel")
        | Back to editing
