.modal-background
  .create-new-space-dialog.modal-dialog
    .modal-dialog__header.create-new-space-dialog__header
      button.create-new-space-dialog__close.modal-dialog__close(
        ng-click="dialog.cancel()")
    cf-create-new-space
