// Layout fixes for iframe
.tab-content.tab-iframe
  top: 0
  bottom: 0
  left: 0
  right: 0
  border: 0

  // Styling of the headline
  .tab-header a.page-header-link
    color: $dark-gray
    &:hover
      color: $light-gray
  .header-separator
    color: $lightest-gray

.spaces .settings-panel
  margin-top: 0
  padding-top: $tab-main-margin-top
  padding-left: 25px
  background-color: #fdfcfc
  border-right: 1px solid $light-rule
  a
    color: #8d8c8c
  .active a
    color: #434343
    font-weight: bold
  ul
    margin-top: 0
  li
    font-size: 14px
    line-height: 25px

.account .settings-panel
  padding: 0
  color: black
  font-weight: 600
  border-right: 1px solid $lightest-gray
  ul
    $plain-list()
    padding: 10px 0
    border-bottom: 1px solid $lightest-gray
  a
    color: black
    &:hover
      color: $blue
  h3,
  li
    padding-left: 40px
  li
    padding-top: 8px
    padding-bottom: 8px
  li.active a
    color: $blue
  h3
    font-size: 16px
    font-weight: 600
    $gradient(lighten($gray-background, 4%), $gray-background)
    line-height: 40px
    position: relative
    border-bottom: 1px solid $lightest-gray
    margin: 0
  img
    height: 15px
    position: absolute
    top: 13px
    left: 15px
  .ss-users
    position: absolute
    left: 15px
    font-size: 14px

// Adjust base font size // YOLO
.account
  .tab-iframe
    font-size: 14px

// Adjust content padding
.tab-iframe
  .left-nav
    position: fixed
    top: $tab-header-height
  .with-left-nav
    @extend .tab-workbench
    $tab-padding()

    /*
  // Make buttons look like buttons
  input[type="submit"]
    @extend .default-button
    */

  .button_to
    display: inline
    position: relative
    top: -($tab-actions-height)
    height: $tab-actions-height
    @extend $tab-actions-padding
    div
      display: inline

  // Add-Button

  button,
  a.default-button
    &.new-resource
      margin-top: 34px //result list tr-height
      @extend .primary-button
    .ss-plus
      @extend .button-icon

  // Main tables
  .result-list
    @extend $result-list-border-bottom
    border-left: none
    border-right: none
    border-top: none
    thead
      text-transform: uppercase
    .clickable
      tr
        @extend $tr-clickable
  .result-list-thumbnail
    vertical-align: middle

