$form-table-width = $calcPercentages('+', $form-labelwidth, $formtastic-fieldwidth)
.subscription-progress-bar
  width: 100%
  line-height: 40px
  margin: 0 0 20px 0
  padding: 0 20px
  border-bottom: 1px solid $dark-rule
  text-transform: uppercase
  font-size: 14px
  $pie-clearfix()
  li
    display: block
    width: 25%
    float: left
    text-align: center
    margin: 0
  .ss-check
    color: $green
    padding-right: .5em
    position: relative
    top: 2px
  .active
    color: $dark-gray
    font-weight: bold
    background-color: lighten($gray-background, 2%)

.tab-iframe .formtastic .input.yellow-highlight,
.formtastic .input.yellow-highlight,
.formtastic .yellow-highlight
  background-color: $subscription-yellow
  padding: 10px 0
  $scalefactor = $calcPercentages('/', 100%, $calcPercentages('+', $form-table-width, 3%))
  label
    width: $calcPercentages('*', $form-labelwidth, $scalefactor)
  input
    width: $calcPercentages('*', $formtastic-fieldwidth, $scalefactor)
  .inline-hints
    width: $calcPercentages('*', $formtastic-fieldwidth, $scalefactor)
    margin-left: $calcPercentages('*', $form-labelwidth, $scalefactor)
  p, ul
    margin: 10px 20px
  ul
    margin-left: 40px

.credit-card-secure
  color: $medium-gray

.form-table
  width: $form-table-width
  tr
    line-height: 35px
    height: 35px
  // scalefactor to make th width relative to total form
  th
    $scalefactor = $calcPercentages('/', 100%, $form-table-width)
    width: $calcPercentages('*', $form-labelwidth, $scalefactor)
    text-align: right
    padding-right: 12px
    font-weight: normal
  td
    font-weight: 600
    font-size: 115%
    padding-left: 12px

.formtastic.with-sidebar
  position: relative
.formtastic-sidebar
  position: absolute
  right: 0
  margin-top: 20px
  width: $calcPercentages('*', $calcPercentages('-', 100%, $calcPercentages('-', $form-labelwidth, $formtastic-fieldwidth)), 0.8)
.billing-sidebar
  background-color: $subscription-yellow
  padding: 0 15px
  .sidebar-section
    padding: 15px 0
  .sidebar-separator
    border-top: 1px solid $dark-rule
  a
    font-size: smaller

#sidebar-coupon-link
  position: absolute
  bottom: -3em
.redeem-button
  margin-top: 10px
  text-align: right
  
.annual-savings
  color: white
  background-color: red
  font-size: 85%
  border-radius: 3px
  padding: 2px 15px
div.annual-savings
  display: inline-block
  margin: 0.5em 0
.table-edit-button
  text-align: right
  width: $formtastic-fieldwidth
  margin-left: $form-labelwidth
  margin-top: -32px
