.api-key-editor
  @extend %entity-editor
  .field-editor
    position: relative
  .curl-example
    margin-top: 10px
    input[type="text"]
      padding-right: 40px
    .cf-copy-paste
      top: 28px
