.api-key-editor
  @extend %entity-editor
  .field-editor
    position: relative
  .curl-example
    margin-top: 10px
    input[type="text"]
      padding-right: 40px
    .cf-copy-paste
      top: 28px
  .note-box,
  .authentication-code
    margin-left: 15%
    margin-right: 20%
    margin-bottom: 5%
    max-width: 1200px
    h1,
    .select-box
      margin-bottom: 1.5rem
    .select-box
      width: 150px
    .code-example,
    .tools
      position: relative
      width: 55%
    .code-example
      height: 150px
    .cf-copy-paste
      position: absolute
      right: 0
      top: 1.5rem
    textarea
      width: 100%
      height: 100%

