.asset-list
  .result-list
    .cell-select
      width: 5%
    .cell-preview
      width: 7%
      .icon
        font-size: 24px
    .cell-name
      width: 35%
    .cell-type
      width: 13%
      .extension
        color: $light-gray
        margin-left: 4px
    .cell-updated
      width: 12%
    .cell-by
      width: 13%
    .cell-status
      width: 10%
