.asset-editor
  @extend %entity-editor

.cf-file-editor
  +clearfix
  margin-bottom: 10px
.file-upload,
.file-info
  width: $form-controlwidth-inner

.file-info
  position: relative
  height: 250px
  *[cf-thumbnail]
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0

.file-preview,
.file-metadata,
.cf-file-drop
  border: 1px solid $light-gray
  +border-radius(3px)
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 200px

.file-preview
  text-align: center
  .icon
    font-size: 100px
    line-height: 250px
.file-metadata
  background-color: rgba(255, 255, 255, 0.8)
  padding: 10px

.drag-me,
.drop-me
  text-align: center
  line-height: 250px

.download-file
  position: absolute
  bottom: 10px
  right: 210px
  &:active
    top: auto
    bottom: 9px

.file-buttons
  position: absolute
  top: 0
  right: 0
  bottom: 0
  width: 180px
  button
    text-align: center
    width: 100%
    margin-bottom: 10px


  
//
  i,
  .thumbnail
    display: block
    font-size: 50px
    line-height: 50px
    padding-right: 10px
    float: left
  .delete-file
    float: right
  .url
    display: inline-block
    width: 70%
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
