.asset-editor
  @extend %entity-editor

  .cf-file-editor
    +clearfix
    margin-bottom: 10px
  .file-upload,
  .file-info
    width: $form-controlwidth-inner

  .file-info
    position: relative
    height: 250px
    *[cf-thumbnail]
      position: absolute
      top: 0
      right: 0
      left: 0
      bottom: 0
      line-height: 250px

  .file-preview,
  .file-metadata,
  .cf-file-drop
    border: 1px solid $light-gray
    +border-radius(3px)
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0

  .file-preview
    +border-radius(3px 3px 3px 3px)
    +box-shadow(0 1px 2px rgba(0,0,0,0.1) inset)
    text-align: center
    overflow: hidden
    .icon
      font-size: 100px
      line-height: 250px
  .file-metadata
    background-color: rgba(255, 255, 255, 0.8)
    padding: 10px
    th
      text-align: left
      padding-right: 1em

  .file-spinner
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-image: asset-url('ajax-loader.gif', image)
    background-position: center
    background-repeat: no-repeat
    background-size: 25px 25px
    .status-text
      text-align: center
      padding-top: 150px
  .drag-me,
  .drop-me
    text-align: center
    line-height: 250px

  .file-buttons
    position: absolute
    right: 10px
    bottom: 10px
    left: 10px
    opacity: 0
    +transition(opacity 0.1s ease-in-out)
    &.center
      text-align: center
      opacity: 1
    button
      text-align: center
      width: 40px
      margin-top: 10px
      outline: none
    .upload-button
      width: auto
  .file-info:hover .file-buttons
    opacity: 1
