.content-model
  .left-nav
    padding: $tab-main-margin-top 20px 0
  .with-left-nav
    padding: $tab-main-margin-top*2 60px 0
  .tooltip-inner
    width: 200px
    white-space: normal
    text-align: left
    strong
      color: white

