.editing-interface-editor
  .left-nav,
  .with-left-nav
    margin-top: 20px
    border-right: 1px solid $dark-rule

  .with-left-nav
    +stretch(0, 30%, 0, $left-nav-width)
    padding: 50px 30px

  .field-widget-settings
    padding: 10px
    margin-bottom: 20px
    border: 1px solid $dark-rule

  .widget-label,
  .cf-fieldtype-icon
    display: inline-block

  .widget-label
    font-weight: bold
    margin-left: 15px

  .tools
    float: right
    margin-top: 3px
    margin-right: 10px
