.entry-list
  .result-list
    .cell-select
      width: 5%
    .cell-content-type
      width: 13%
    .cell-name
      width: 47%
    .cell-updated
      width: 12%
    .cell-by
      width: 13%
    .cell-status
      width: 10%

