.content-delivery
  @extend .list-tab-view

  .left-nav
    padding: 28px 20px 0
    li.api-keys
      color: black
      font-weight: bold
    li
      font-size: 12px

  .result-list
    tbody tr
      @extend %tr-clickable
    .cell-name
      width: 30%
    .cell-description
      width: 50%
    .cell-updated
      width: 10%
    .cell-by
      width: 10%

.create-api-key-advice
  @extend %advice
