.content-type-editor
  @extend %entity-editor
  .form-horizontal
    width: 95%

  .form-controls
    .content-type-field-list
      padding-top: 5px
    table.result-list
      @extend %standalone-table
      border: 1px solid $lightest-gray
      width: 100%
      // layout
      tr
        width: 100%
      .drag-handle
        width: 5%
      .name,
      .identifier
        width: 20%
      .type
        width: 14%
      .display,
      .localized,
      .required
        width: 7%
      .validations
        width: 10%
      .action
        width: 10%
      th 
        border-bottom: 1px solid $lightest-gray
        padding: 3px 8px
      td
        padding: 0
      th.actions
        padding-right: 20px

      // Adjustment for hint when list empty
      .create-hint
        p
          padding-left: 8px

      // Field settings
      .field-settings,
      .new-field-settings
        width: 100%
        display: table
        > * 
          //outline: 1px red dashed
          display: table-cell
          padding: 8px 8px
          white-space: normal
      .drag-handle
        padding-left: 12px
        i 
          color: $lightest-gray
        cursor: move
        cursor: -webkit-grabbing
        cursor: -moz-grab
        cursor: -moz-grabbing
      .validations,
      .archived,
      .action
        text-align: right
      .action
        white-space: nowrap
        padding-right: 20px
        position: relative
      .main-results-bar
        right: 0
        width: 6px
      input
        font-size: 10px
        height: 24px
        padding: 4px 5px 5px
        +border-radius(2px)
        width: 80%
      select
        width: 100%
      .type
        .dropdown-btn
          @extend %dropdown-select
          .dropdown-menu
            width: 500px
        .dropdown-menu
          padding: 0
        // TODO Create a component for this:
        ul
          margin: 0 300px 0 0
          border-right: 1px solid $lightest-gray
        li:first-child
          +border-radius(3px 0 0 0)
        li:last-child
          +border-radius(0 0 0 3px)
        .content-type-description
          position: absolute
          color: $light-gray
          display: none
          left: 200px
          top: 0
          padding: 10px
          p
            padding: 0
          img
            margin-top: 10px
            width: 100%
        li:hover
          .content-type-description
            display: block

    // Validations
    .field-validations
      background-color: $gray-background
      text-align: left
      +box-shadow(0 2px 1px rgba(0,0,0,0.05) inset)
      header
        color: $dark-gray
        font-size: 11px
        font-weight: 600
        padding: 10px 10px 4px
        p
          padding-bottom: 6px
      .sections
        display: table
        width: 100%
        margin-bottom: 10px
      .section
        padding: 1em 14px
        display: table-row
        &:first-child
          border-top: 0px
      .name,
      .validation-options,
      .action
        display: table-cell
        padding: 6px 0
        vertical-align: middle
        border-top: 1px solid lighten($lightest-gray, 5%)
      .name
        padding-left: 12px
        select
          width: 85%
      .action
        text-align: right
        padding-right: 19px
      input[type=text],
      input[type=number]
        background-color: white
        border-color: $lightest-gray
        width: auto

    // Special code for removing displayField
    th.display
      position: relative
      +transition(color 0.1s ease-out)
      .remove
        +transition(opacity 0.1s ease-in)
        width: 100%
        color: $light-gray
        position: absolute
        opacity: 0
        z-index: -1
      .resettable
        &:hover
          color: white
          .remove
            opacity: 1
            z-index: 0


  .form-controls
    table.new-field
      margin-top: 10px
      border: 1px solid $lightest-gray
      width: 100%
      td
        vertical-align: middle

  // Buttons

  .form-controls
    .action,
    .validations
      .button
        @extend button
        height: 30px
        width: 30px
        padding: 0
        text-align: center
        font-size: 13px
        margin-left: 2px
        i
          line-height: 31px
        i.ss-delete
          font-size: 14px
      .button.new
        @extend %blue-button
        font-size: 13px
        font-weight: 400
        padding: 0
        padding-left: 1px
        i
          color: white
          //+box-shadow(0 0 0 transparent)
        &:active
          margin-top: 0
        
