.entry-list
  @extend .list-tab-view
  .main-header
    position: absolute
    left: 0
    right: 0
    top: 0
  .main-results-wrapper
    position: absolute
    top: 27px
    bottom: 0
    right: 0
    left: 0
    overflow-y: auto
    .main-results
      border-left: none
  .tab-header
    .search-area
      max-width: 600px
  .tab-main
    .left-nav
      overflow-y: auto
      padding: $tab-main-margin-top 20px 0
    .with-left-nav
      top: $tab-main-margin-top
      bottom: 0

  .left-nav-bottom
    position: absolute
    background: white
    bottom: 0
    right: 0
    width: 100%
    padding: 1.5em 0 2em
    span
      color: $light-gray
      line-height: 1.3em
      padding: .1em 0
      &:first-child
        margin-left: 29px
        margin-right: .6em
        padding-right: .6em
        //border-right: 1px solid $lightest-gray

  .result-list
    tbody tr
      @extend %tr-clickable

    // Cell widths
    .cell-select
      width: 5%
    .cell-favorite
      width: 5%
    .cell-type
      width: 13%
    .cell-name
      width: 42%
    .cell-by
      width: 15%
    .cell-created
      width: 10%
    .cell-status
      width: 10%

  .results-empty
    font-size: 12px
    position: absolute
    text-align: center
    top: 50%
    width: 100%
