// Styles for the redesign of .context-menu
// TODO: Update existing styles or create new ones once we want to use them app-wide.
.context-menu--redesigned
  &::before,
  &::after
    display: none;

  hr
    margin-left: 0
    margin-right: 0


.create-entry__menu
  overflow-y: auto
  max-height: 50vh
  text-align: left

