.create-entry-button__handling-select-spinner
  display: inline-block;
  position: relative
  top: 2px // For optical alignment
  height: 12px
  margin-right: 8px
  $spinner-base()
  +$spinner-active(black, 14px, 2px)
    display: block
