@require 'base/colors'

.search__filter-pill
  display: flex;
  line-height: 30px;
  height: 30px;
  margin-top: 5px;
  margin-right: 12px;
  border-radius: 3px;
  &:focus
    box-shadow: 0px 0px 0px 0.13em $colors.contrast-light;

.search__filter-pill-label
  background-color: $colors.blue-darkest;
  color: $colors.white;
  padding: 0 12px;
  border-radius: 3px 0 0 3px;
  cursor: pointer;


.search__select
  padding: 5px 10px;
  max-width: 200px;
  color: $colors.white;
  font-size: inherit;
  background-color: transparent;

.search__select-value
  border-radius: 0;
  background-color: $colors.blue-mid;
  border-radius: 0 3px 3px 0;
  -webkit-appearance: none;
  &:focus
    background-color: $colors.blue-dark;

.search__select-operator
  position: relative;
  background-color: $colors.blue-light;
  &::before,
  &::after
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
  &::before
    left: 0;
    background-color: $colors.blue-darkest
  &::after
    right: 0;
    background-color: $colors.blue-mid;
  .search__select
    position: relative;
    padding: 3px 5px;
    background-color: $colors.white;
    border-radius: 10em;
    z-index: 10;
    color: $colors.blue-darkest;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align-last: center;
    font-size: 80%;
    -webkit-appearance: none;
    &:hover
      background-color: $colors.element-light;
      cursor: pointer

.search__input-text
  background-color: $colors.blue-mid;
  color: $colors.white;
  padding: 0 12px;
  border-radius: 0 3px 3px 0;
  line-height: 30px;
  min-width: 100px;
  font-size: inherit;
  &:hover
    background-image: linear-gradient(to left, $colors.blue-dark, $colors.blue-mid);
