@require 'base/colors'

.search__filter-pill
  display: flex;
  line-height: 30px;
  height: 30px;
  margin-top: 5px;
  margin-right: 12px;
  border-radius: 3px;
  &:focus
    box-shadow: 0px 0px 0px 0.13em $colors.contrast-light;

.search__filter-pill-label
  background-color: $colors.blue-darkest;
  color: $colors.white;
  padding: 0 12px;
  border-radius: 3px 0 0 3px;
  cursor: pointer;

.search__select
  padding: 5px 10px;
  background-color: $colors.blue-mid;
  color: $colors.white;
  font-size: inherit;
  -webkit-appearance: none;
  border-radius: 0;
  text-align-last: center;
  &:focus
    background-color: $colors.blue-dark;

.search__operator
  background-color: $colors.blue-light;

.search__input-text
  background-color: $colors.blue-mid;
  color: $colors.white;
  padding: 0 12px;
  border-radius: 0 3px 3px 0;
  line-height: 30px;
  min-width: 100px;
  font-size: inherit;

  &:focus
    background-color: $colors.blue-dark;
