.pagination
  display: flex
  justify-content: space-between
  margin-top: 20px

.pagination__nav
  display: flex
  align-items: baseline

.pagination__text
  color: $colors.text-light

.pagination__button,
.pagination__limit-selector
  margin-left: 20px;
