.sso-setup
  display: flex

  &__main
    display: flex
    flex-direction: column
    align-content: flex-start
    margin: 0 auto 80px
    width: 700px

  &__user-attributes
    display: flex

  &__select
    display: inline-block

  &__field
    width: 90%
    display: inline-block
