.sso-setup
  display: flex

  &__main
    margin: 0 auto 80px
    width: 700px

  &__user-attributes
    display: flex

  &__select
    display: inline-block

  &__field
    &-container
      display: flex

    &-input--full
      width: 95%

    &-spinner
      width: 5%
      margin-top: 40px
