.sso-setup
  display: flex

  &__main
    display: flex
    flex-direction: column
    align-content: flex-start
    margin: 0 auto 80px
    width: 800px

  &__user-attributes
    display: flex
    flex-flow: row
    justify-content: space-between

  &__select
    display: inline-block
