.user-invitations-list
  &__row
    &:hover
      .user-invitations-list__button
        visibility: visible

  &__button
    visibility: hidden
    transition: none

    &:not(:last-child)
      margin-right: 10px

  &__email
    &:hover
      cursor: pointer
