.user-invitation
  &--wrapper
    display: flex
    align-items: center
    flex-direction: column

  &--accept
    padding: 40px
    background-color: $colors.white
    border: 1px solid $colors.light-gray
    box-shadow: 0 1px 3px 0 $colors.light-gray
    max-width: 500px
    margin: 0 0 40px
    text-align: center

    > *
      line-height: 30px

  &--org-details
    ul >li
        list-style-type: disc
