.user-invitation
  &--wrapper
    display: flex
    align-items: center
    flex-direction: column
    color: $colors.text-mid

  &--accept
    padding: 20px 40px
    background-color: $colors.white
    border: 1px solid $colors.light-gray
    box-shadow: 0 1px 3px 0 $colors.light-gray
    max-width: 500px

  &--info
    padding: 8px 10px
    text-align: center
    line-height: 30px
    border-bottom: 1px solid $colors.light-gray

  &--title
    line-height: 1.5

  &--inviter
    margin-bottom: 30px

  &--join-org-button
    margin-bottom: 20px

  &--org-details
    padding: 30px 15px
    margin: 0
    ul >li
        list-style-type: disc
