.user-invitations-list
  &__row
    &:hover
      .user-invitations-list__button
        visibility: visible

  &__button
    visibility: hidden
    transition: none

  &__email
    font-weight: 600

    &:hover
      cursor: pointer
