.space-home-page-contact-us

  &__container
    margin-top: 16px
    padding-top: 16px
    border-top: 1px solid $colors.element-light
    display: flex
    justify-content: space-between

  &__title
    margin-top: 0

  &__description
    color: $colors.text-mid
    margin-bottom: 16px

  &__img
    width: 295px
    height: 104px
    background-size: contain
    background-image: url('/app/images/faces/contact-experts-space-home.jpg')
