// Layout
.tab-content
  position: absolute
  top: 70px
  right: 25px
  left: 25px
  bottom: 23px
  margin-top: 0px
  z-index: 0
  background-color: white
  border: 1px solid #dbdbdb
  border-color: rgba(0,0,0,0.17)
  border-radius: 0 2px 2px 2px
  &.with-tab-bar
    margin-top: 30px

.left-nav
  $stretch()
  width: $left-nav-width
  padding: $left-nav-padding

.with-left-nav
  $stretch-x($left-nav-width, 0)

$tab-header-title()
  h1
    display: inline-block
    font-size: $tab-header-font-size
    margin-right: 10px
    color: $dark-gray
    padding-left: 25px
    vertical-align: middle

.tab-header
  $stretch(0, 0, false, 0)
  height: $tab-header-height
  border-radius: 3px 3px 0 0
  border-bottom: 1px solid $lightest-gray
  background-color: $gray-background
  box-shadow: 0 1px 4px rgba(0,0,0,0.07)
  z-index: 10
  $tab-header-title()
  h1
    line-height: $tab-header-line-height
  .knowledge-base-icon
    vertical-align: middle
    font-size: $tab-header-font-size
    line-height: $tab-header-line-height

.tab-main
  $stretch($tab-header-height, 0, 0, 0)
  overflow-y: auto

.tab-actions
  display: none // initial state
  $stretch(false, 0, 0, 0)
  height: $tab-actions-height

// sidebar mode
.with-aux-panel
  .tab-main
    right: 20%

// with tab-actions
.with-tab-actions
  .tab-actions
    display: block
  .tab-main
    bottom: $tab-actions-height

.tab-workbench
  padding-top: $tab-main-margin-top
