.tab-actions,
$tab-actions-container
  border-top: 1px solid $lightest-gray
  background-color: $gray-background
  box-shadow: 0 -1px 4px rgba(0,0,0,0.07), 0 1px 1px rgba(255,255,255,0.8) inset

$tab-actions-vertical-padding = 10px
$tab-actions-content-height = $tab-actions-height - (2 * $tab-actions-vertical-padding)

.tab-actions,
$tab-actions-padding
  // -1 on top to make up for the border
  padding: ($tab-actions-vertical-padding - 1) 20px $tab-actions-vertical-padding

.tab-actions,
$tab-action-inner-components
  // text label
  .label
    line-height: $tab-actions-content-height
    font-size: 12px
    float: left

  // (rest) save status
  .save-status,
  .rest-save-status
    float: left
    line-height: $tab-actions-content-height
    font-size: 12px
    i
      margin-right: 2px
      text-shadow: 0 1px 0 rgba(255,255,255,0.8)
      position: relative
      top: 1px
    i, span
      display: none
    i.saved
      color: $green
    i.last-saved-at
      color: $blue
    i.saving
      color: $gold
    i.not-allowed
      color: $red
    i.no-connection
      color: $red
    &.saved .saved
      display: inline
    &.saving .saving
      display: inline
    &.last-saved-at .last-saved-at
      display: inline
    &.not-allowed .not-allowed
      display: inline
    &.no-connection .no-connection
      display: inline

  // other users
  .other-users
    float: right
    margin-right: 15px
    line-height: $tab-actions-content-height
    font-size: 11px
    color: $light-gray
    ul
      $plain-list()
      display: inline-block
      height: $tab-actions-content-height
      vertical-align: middle
    .avatar
      $image-size = 28px
      height: $tab-actions-content-height
      display: inline-block
      position: relative
      margin-left: 3px
      border-radius: 3px
      .tip-container
        width: 200px
        margin-left: -100px
        position: absolute
        top: -50px
        left: $image-size/2
        text-align: center
      .tip
        position: relative
        display: inline-block
        text-align: center
        margin: 0 auto
        line-height: 10px
        padding: 5px 8px 6px
        opacity: 0
        transition: opacity 0.3s ease-in
      padding-top: 2px
      img 
        height: $image-size
        width: $image-size
        opacity: .2
        box-shadow: 0 1px 2px rgba(0,0,0,0.3) inset, 0 1px 0 rgba(255,255,255,1)
        transition: opacity 0.3s ease-in
    .avatar:hover
      .tip
        opacity: 1
      img
        opacity: 1

  // buttons
  .button-set
    position: relative
    float: right
    button
      height: $tab-actions-content-height
    .dropdown-menu
      min-width: 110px
      a
        @extend .dropdown-row
        display: block
        margin: 5px auto

