.tab-list
  width: 100%
  height: $tab-height
  z-index: 10
  +gradient(darken($medium-dark-gray, 10%), darken($medium-dark-gray, 5%))
  +user-select(none)
  > ul
    +plain-list
    +flexbox
  .tab
    display: block
    height: $tab-height
    vertical-align: top
    width: 21.5%
    +flex(1)
    max-width: 200px
    position: relative
    padding: ($tab-height - 23px) 18px
    color: $light-gray
    border-right: 1px solid rgba(0,0,0,0.45)
    +box-shadow(inset 0px 0 0px rgba(255,255,255,0.2), inset 1px 0 0px rgba(255,255,255,0.2))
    .tooltip
      display: none !important
    &.dirty
      .tooltip
        display: block !important
        white-space: nowrap
    .tab-title
      font-size: 12px
      white-space: nowrap
      display: block
      overflow: hidden
  .fade-text
    +stretch(0, 0, 2px, false)
    width: 50px
    +fade-text-background(darken($medium-dark-gray, 10%))
  .tab.active
    font-weight: 600
    background: darken($dark-gray, 10%)
    .fade-text
      +fade-text-background(darken($dark-gray, 15%))
    i.ss-record
      color: $blue
    i.ss-record.draft
      color: $gold
  .tab:hover
    color: white
    cursor: pointer
  .close
    position: absolute
    top: 0px
    right: 0px
    height: $tab-height
    width: 30px
    &:hover
      i.ss-delete
        color: $medium-gray
    &.hide-tooltip
      .tooltip
        display: none !important
  i.close-icon
    position: absolute
    top: 8px
    right: 9px
    font-size: 10px
  i.ss-record
    color: $light-blue
    font-size: 8px
  i.ss-record.draft
    color: lighten($gold, 20%)

