// Layout

.tab-content
  background-color: white
  border: 1px solid #dbdbdb
  border-color: rgba(0,0,0,0.17)
  +border-radius(0 2px 2px 2px)

$left-nav-width: 17%
$tab-main-margin-top: 28px

.left-nav
  +stretch
  width: $left-nav-width
.with-left-nav
  +stretch-x($left-nav-width, 0)
  //width: 100.1% - $left-nav-width  
.expand-vertically
  top: 0
  bottom: 0

.tab-header
  +stretch(0, 0, false, 0)
  height: $tab-header-height
  +border-radius(3px 3px 0 0)
.tab-main
  +stretch($tab-header-height, 0, 0, 0)
  overflow-y: auto
.tab-actions
  +stretch(false, 0, 0, 0)
  height: $tab-actions-height
.aux-panel
  width: 20%
  position: absolute
  overflow-y: auto
  top: $tab-header-height
  bottom: 0

// Aux Panel Layout

// layout
// normal mode
.aux-panel
  display: none

// sidebar mode
.with-aux-panel
  .tab-main
    right: 20%
  .aux-panel
    display: block

// Tab Actions Layout

// normal mode
.tab-actions
  display: none

// with tab-actions
.with-tab-actions
  .tab-actions
    display: block
  .tab-main,
  .aux-panel
    bottom: $tab-actions-height

// Look and Feel

$left-nav-padding: 8px
.left-nav
  padding: $left-nav-padding
  header
    color: $medium-gray
    border-bottom: 1px solid $light-rule
    margin-bottom: 8px
    padding: 0 $left-nav-padding 7px
    font-size: 11px
    text-transform: uppercase

.tab-header
  border-bottom: 1px solid $lightest-gray
  background-color: $gray-background
  +box-shadow(0 1px 4px rgba(0,0,0,0.07))
.tab-header
  z-index: 10
  h1
    display: inline-block
    font-size: 20px
    margin-right: 20px
    color: $dark-gray
    padding-left: 25px
    line-height: $tab-header-height - 2px
    vertical-align: middle

.tab-workbench
  padding-top: $tab-main-margin-top

// Variant to extend a left-nav, to style its left nav in the style
// that it has these filters
.tab-list-filters
  @extend %blue-link-list
  .active:hover:after
    font-family: "SSStandard"
    content: "↻"
    font-size: 7px
    color: $light-gray
    line-height: 10px
    margin-left: 3px
.left-nav-filters // TODO Rename saved-searches
  i.ss-search
    color: $light-gray
    font-size: 8px
    margin: 0 2px 0 0
  
// Variant to extend a left-nav with to make its list contain bullet points,
// give it a grey bg and borders
.link-list
  // Color
  background-color: #fdfcfc
  border-right: 1px solid $light-rule
  a
    color: #8d8c8c
  .active a
    color: #434343
    font-weight: bold
  // Layout
  margin-top: 0
  padding-top: $tab-main-margin-top
  padding-left: 25px
  padding-right 25px
  ul
    margin-top: 0
  li
    font-size: 14px
    line-height: 25px

