// Layout
.tab-content
  position: absolute
  top: 70px
  right: 25px
  left: 25px
  bottom: 23px
  margin-top: 0px
  z-index: 0
  background-color: white
  border: 1px solid #dbdbdb
  border-color: rgba(0,0,0,0.17)
  +border-radius(0 2px 2px 2px)
  &.with-tab-bar
    margin-top: 30px

.left-nav
  +stretch
  width: $left-nav-width
  padding: $left-nav-padding
  header
    color: $medium-gray
    border-bottom: 1px solid $light-rule
    margin-bottom: 8px
    padding: 0 $left-nav-padding 7px
    font-size: 11px
    text-transform: uppercase
  .header-toggle
    float: right

.with-left-nav
  +stretch-x($left-nav-width, 0)

.expand-vertically
  top: 0
  bottom: 0

=tab-header-title
  h1
    display: inline-block
    font-size: $tab-header-font-size
    margin-right: 10px
    color: $dark-gray
    padding-left: 25px
    vertical-align: middle

.tab-header
  +stretch(0, 0, false, 0)
  height: $tab-header-height
  +border-radius(3px 3px 0 0)
  border-bottom: 1px solid $lightest-gray
  background-color: $gray-background
  +box-shadow(0 1px 4px rgba(0,0,0,0.07))
  z-index: 10
  +tab-header-title
  h1
    line-height: $tab-header-line-height
  .knowledge-base-icon
    vertical-align: middle
    font-size: $tab-header-font-size
    line-height: $tab-header-line-height

.tab-main
  +stretch($tab-header-height, 0, 0, 0)
  overflow-y: auto

.tab-actions
  display: none // initial state
  +stretch(false, 0, 0, 0)
  height: $tab-actions-height

// sidebar mode
.with-aux-panel
  .tab-main
    right: 20%

// with tab-actions
.with-tab-actions
  .tab-actions
    display: block
  .tab-main
    bottom: $tab-actions-height

.tab-workbench
  padding-top: $tab-main-margin-top

// Variant to extend a left-nav with to make its list contain bullet points,
// give it a grey bg and borders
.link-list
  margin-top: 0
  padding-top: $tab-main-margin-top
  padding-left: 25px
  background-color: #fdfcfc
  border-right: 1px solid $light-rule
  a
    color: #8d8c8c
  .active a
    color: #434343
    font-weight: bold
  ul
    margin-top: 0
  li
    font-size: 14px
    line-height: 25px

