@import 'nib/gradients'

$gradient($start, $stop)
  background: $start
  background-image: linear-gradient($start, $stop)

$highlight($color, $highlight = 6%, $operation = 'darken')
  if $operation == 'lighten'
    $gradient($color, lighten($color, $highlight))
  if $operation == 'darken'
    $gradient($color, darken($color, $highlight))

$gray-highlight()
  color: $gray-medium
  box-shadow: 0 8px 16px rgba(255,255,255,0.6) inset

$fade-text-background($color)
  background-image: linear-gradient(left, rgba($color, 0) 0%, $color 50%, $color 100%)

