// TODO move the following mixins onto classes maybe
$focus-styles()
  outline: 1px dotted
  outline: -webkit-focus-ring-color auto 5px

$tooltip-opaque()
  .tooltip.in
    opacity: 1

$caret()
  font-family: "SSStandard"
  color: white
  font-size: $caret-size
  position: absolute

$tab-padding()
  padding-left: 30px
  padding-right: 30px

$nav-bar-dropdowns()
  .separator,
  .dropdown-menu li.top-separator
    border-top: 1px solid $gray-dark
  .dropdown-menu
    border: none
    background: darken($gray-darkest, 10%)
    .dropdown-menu-item
      color: white
      border: none
      box-shadow: none
  .no-content-types
    background: $gray-darkest

// Delete Icon
$delete-icon
  font-size: 8px
  color: $gray-light
  text-shadow: 0 1px 0 rgba(255,255,255,0.6)
  &:hover
    color: $gray-medium
    cursor: pointer

// State variations
// TODO lol nope
$tr-clickable
  &:hover
    background-color: $result-list-highlight
    cursor: pointer

// Main styles
// TODO nope_octopus.gif
$result-list-cell
  line-height: 18px
  vertical-align: middle
  padding: 8px 0px
  padding-right: 10px
  text-align: left
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  span
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

$result-list-border-bottom
  tbody
    tr:last-child
      border-bottom: 1px solid $gray-lightest

