.entity-link
  $element-color = $colors.element-mid
  $element-background = alpha(white, 0.95)

  > *
    padding-top: 0.85em
    padding-bottom: 0.85em

  display: flex
  position: relative
  border: 1px solid $element-color
  border-radius: 1px
  background-color: $element-background
  box-shadow: 0 1.5px 1.5px $colors.element-light

  .entity-status
    margin-top: 2px
    margin-right: 0.5em
    .status-bar
      width: 13px
      height: @width
      margin-top: 1px
      border-radius: 50%

  [data-drag-handle]
    position: absolute
    padding-left: 11px
    padding-right: 9px
    margin-top: -1px

  &__action
    flex-shrink: 0
    align-self: flex-start
    padding-top: 1em
    padding-left: 0.3em
    padding-right: 0.3em
    cursor: pointer
    color: $colors.text-light
    &:last-child
      margin-right: 0.4em
    &:link
      color: $colors.text-light
    &:hover
      color: $colors.text-mid

  &__content
    flex-grow: 1
    display: flex
    // Filled by drag handle
    margin-left: 30px
    &[role="button"]
      cursor: pointer

  &__image
    width: 4em
    height: @width
    flex: 0 0 @width;
    margin-right: 1em
    &--missing
      position: relative
      border: 1px solid
      border-color: $element-color
      overflow: hidden
      &:after,
      &:before
        content: ""
        position: absolute
        left: 50%
        top: -50%
        height: 200%
        width: 1px
        background-color: @border-color
        transform: rotate(45deg)
      &:after
        transform: rotate(-45deg)

  &__text
    flex-grow: 1

  &__title
    font-size: 16px

  &__description
    margin-top: $rhythm(0.5)
    color: $colors.text-light
    &--missing
      font-style: italic
