.link-editor-link__toolbar
  color: $colors.text-lightest
  > .link-editor-link__toolbar-actions > *
    color: inherit // explicitly set to overwrite `a` color
    &:hover
      color: $colors.text-mid

.link-editor-link__toolbar-actions
  display: flex
  > *
    cursor: pointer
  > *:not(:last-child)
    margin-right: 0.8em

cf-entity-link > .entity-link
  $cf-links-editor-shadow()
  padding-left: 30px

  .link-editor-link__toolbar > [data-drag-handle]
    position: absolute
    left: 6px
    padding: 0 5px // larger drag-handle surface
    margin-top: -1px
  .link-editor-link__toolbar-actions
    position: absolute
    right: 0.8em

cf-asset-card > .asset-card
  .asset-card__custom-tooltip-content > .link-editor-link__toolbar
    > .link-editor-link__toolbar-actions > *
      color: $colors.blue-light
      &:hover
        color: $colors.blue-darkest
    > [data-drag-handle]
      display: none

  > .asset-card__custom-card-content > .link-editor-link__toolbar
    > .link-editor-link__toolbar-actions
      display: none
    > [data-drag-handle]
      position: absolute
      top: 0
      left: 0
      padding: 1px
      margin: 4px
      border-radius: 3px
      background-color: alpha(white, 0.8)
      color: $colors.text-light
