cf-persistent-notification(role="banner")
.app-top-bar
  a.app-top-bar__logo.app-top-bar__child.app-top-bar--right-separator(ui-sref="home")
    .app-top-bar__logo-element(cf-custom-logo)
    .app-top-bar__logo-text Home
  cf-space-selector
  div.app-top-bar__child.app-top-bar__main-nav(ui-view="nav-bar")
  cf-account-dropdown(user="user")

cf-notifications

.app-container__content(ui-view="content")
