.workbench.workbench-forbidden.x--center(ng-if="noSectionAvailable")
  .workbench-forbidden__headline
    | You don't have permission to access any view in this space.
  .workbench-forbidden__message
    | Get in touch with the person administering Contentful at your company to learn more.<br>
    | You can always access your account settings. You can also try to switch to some other space.
