.advice.advice-content-fallback
  .advice__frame
    i.fa.fa-cloud-upload.advice__icon.advice__icon--giant
    header.advice__title Hold on! We're bringing your space back
    p.advice__description
      | You haven't been here for a while, so your Space slipped into hibernation.
    p.advice__description
      | Don’t worry, all your content is safe and shall be available for use in a few moments.
