<react-component
  name="@contentful/forma-36-react-components/CheckboxField"
  props="buildValidationCheckboxProps(validation)"
/>
<div
  class="validation-controls"
  ng-switch="validation.type"
  ng-if="validation.enabled &amp;&amp; (validation.type !== 'unique')"
  ng-form="validationForm"
  cf-validate="validation"
  cf-validate-form
  cf-validate-on="commit"
>
  <div ng-switch-when="size">
    <react-component
      name="components/field_dialog/validations/SizeValidation"
      props="{validation: validation, updateValidationSettingsValue: updateValidationSettingsValue, updateValidationCurrentView: updateValidationCurrentView, updateValidationMessageValue: updateValidationMessageValue, errorMessages: $form.errorMessages, validate: validate}"
    />
  </div>
  <div ng-switch-when="range">
    <react-component
      name="components/field_dialog/validations/SizeValidation"
      props="{validation: validation, updateValidationSettingsValue: updateValidationSettingsValue, updateValidationCurrentView: updateValidationCurrentView, updateValidationMessageValue: updateValidationMessageValue, errorMessages: $form.errorMessages, validate: validate}"
    />
  </div>
  <div ng-switch-when="dateRange">
    <cf-validation-date-select
      aria-label="Later than"
      data="validation.settings.min"
    ></cf-validation-date-select>
    <cf-validation-date-select
      aria-label="Earlier than"
      data="validation.settings.max"
    ></cf-validation-date-select>
    <cf-error-list
      class="form-inline-error"
      cf-error-messages="$form.errorMessages"
      aria-label="Errors"
    ></cf-error-list>
    <div class="cfnext-form__field validation-controls__error-message-field">
      <label>Custom error message</label>
      <input
        class="cfnext-form__input--full-size"
        type="text"
        aria-label="Custom error message"
        ng-model="validation.message"
      />
    </div>
  </div>
  <div ng-switch-when="regexp">
    <div class="validation-controls__view-select">
      <select
        class="cfnext-select-box"
        aria-label="Select condition"
        ng-model="validation.currentView"
        cf-no-form
        ng-options="v.name as v.label for v in validation.views"
        ng-change="validator.runLater()"
      >
      </select>
    </div>
    <input
      class="form-control validation-controls__re-pattern"
      type="text"
      placeholder="foo|bar[baz]"
      aria-label="Regular Expression pattern"
      ng-model="validation.settings.pattern"
      ng-change="setMatchingView()"
      cf-null-empty-input
    />
    <label>
      <span class="validation-controls__re-flags-label">Flags</span>
      <input
        class="form-control validation-controls__re-flags"
        type="text"
        aria-label="Regular Expression flags"
        ng-model="validation.settings.flags"
        ng-change="setMatchingView()"
      />
    </label>
    <cf-error-list
      class="form-inline-error"
      cf-error-messages="$form.errorMessages"
      aria-label="Errors"
    ></cf-error-list>
    <div class="cfnext-form__field validation-controls__error-message-field">
      <label>Custom error message</label>
      <input
        class="cfnext-form__input--full-size"
        type="text"
        aria-label="Custom error message"
        ng-model="validation.message"
      />
    </div>
  </div>
  <div ng-switch-when="prohibitRegexp">
    <input
      class="form-control validation-controls__re-pattern"
      type="text"
      placeholder="foo|bar[baz]"
      aria-label="Regular Expression pattern"
      ng-model="validation.settings.pattern"
      ng-change="setMatchingView()"
      cf-null-empty-input
    />
    <label>
      <span class="validation-controls__re-flags-label">Flags</span>
      <input
        class="form-control validation-controls__re-flags"
        type="text"
        aria-label="Regular Expression flags"
        ng-model="validation.settings.flags"
        ng-change="setMatchingView()"
      />
    </label>
    <cf-error-list
      class="form-inline-error"
      cf-error-messages="$form.errorMessages"
      aria-label="Errors"
    ></cf-error-list>
    <div class="cfnext-form__field validation-controls__error-message-field">
      <label>Custom error message</label>
      <input
        class="cfnext-form__input--full-size"
        type="text"
        aria-label="Custom error message"
        ng-model="validation.message"
      />
    </div>
  </div>
  <div ng-switch-when="in">
    <react-component
      name="components/field_dialog/ValidationValues"
      props="{ fieldType: field.type, showPredefinedValueWidgetHint: showPredefinedValueWidgetHint, items: validation.settings, message: validation.message, updateItems: updateValidationSettingsValue, updateMessage: updateValidationMessageValue }"
    ></react-component>
  </div>
  <div ng-switch-when="linkContentType">
    <div ng-controller="ValidationLinkTypeController">
      <react-component
        name="components/field_dialog/validations/LinkedEntitiesValidation"
        props="{ entitiesTypes: contentTypes, errorMessages: $form.errorMessages, validation: validation, updateValidationMessageValue: updateValidationMessageValue, update: update }"
      ></react-component>
    </div>
  </div>
  <div ng-switch-when="linkMimetypeGroup">
    <div ng-controller="ValidationAssetTypesController as assetTypes">
      <react-component
        name="components/field_dialog/validations/LinkedEntitiesValidation"
        props="{ entitiesTypes: assetTypes.types, errorMessages: $form.errorMessages, validation: validation, updateValidationMessageValue: updateValidationMessageValue, update: assetTypes.updateFromReact }"
      ></react-component>
    </div>
  </div>
  <div ng-switch-when="assetFileSize">
    <react-component
      name="components/field_dialog/validations/AssetFileSizeValidation"
      props="{ errorMessages: $form.errorMessages, validation: validation, updateValidationSettingsValue: updateValidationSettingsValue, updateValidationCurrentView: updateValidationCurrentView, updateValidationMessageValue: updateValidationMessageValue }"
    ></react-component>
  </div>
  <div ng-switch-when="assetImageDimensions">
    <react-component
      name="components/field_dialog/validations/AssetImageDimensionsValidations"
      props="{ errorMessages: $form.errorMessages, validation: validation, updateValidationSettingsValue: updateValidationSettingsValue, updateValidationMessageValue: updateValidationMessageValue }"
    ></react-component>
  </div>
</div>
