include ./validation_settings_mixins

ul.validation-controls__option-list(aria-label="Available Content Types")
  li(ng-repeat="ct in contentTypes")
    label
      input(type="checkbox" ng-model="ct.selected" ng-change="update()")
      | {{ct.name}}

+validation-errors
+error-message-input
