ul.dropdown-menu-list
  li.dropdown-menu-item.type(ng-repeat="(name, type) in availableValidations track by name"
      ng-click="typeClicked(type)"
      dropdown-close)
    span {{name}}
    //- TODO fix me! I'm broken
    .validation-type-description()
