table
  tr(ng-if="contentTypeName")
    th Content Type
    td {{contentTypeName}}

  tr(ng-if="contentTypeDescription")
    th Description
    td {{contentTypeDescription}}
  tr
    th ID
    td {{sys.id}}
  tr
    th Current version
    td {{entityVersion()}}

  tbody
    tr
      th Created
      td
        date(ng-if="sys.createdAt" datetime="{{sys.createdAt}}" cf-relative-datetime)
    tr
      th Created by
      td
        span(cf-user link="sys.createdBy" as="creator")
          | {{creator | userNameDisplay:user}}

  tbody(ng-if="sys.updatedAt")
    tr
      th Updated
      td
        date(ng-if="sys.updatedAt" datetime="{{sys.updatedAt}}" cf-relative-datetime)
    tr
      th Updated by
      td
        span(cf-user link="sys.updatedBy" as="updater")
          | {{updater | userNameDisplay:user}}

  tbody(ng-if="sys.archivedVersion")
    tr
      th Archived
      td
        date(ng-if="sys.archivedAt" datetime="{{sys.archivedAt}}" cf-relative-datetime)
    tr
      th Archived by
      td {{sys.archivedBy.sys.id}}
    tr
      th Archived version
      td {{sys.archivedVersion}}

  tbody(ng-if="sys.publishedVersion")
    tr
      th Published
      td
        date(ng-if="sys.publishedAt" datetime="{{sys.publishedAt}}" cf-relative-datetime)
    tr
      th Published by
      td
        span(cf-user link="sys.publishedBy" as="publisher")
          | {{publisher | userNameDisplay:user}}
    tr
      th Published version
      td {{sys.publishedVersion}}
