$player-height            = 350px
$player-height--thumbnail = 100px
$input-width              = 80%
// Use the rgba color to set transparency on it
$controls-bar-background-color = rgba(235, 235, 235, 0.8)

.dialog-content.ooyala-search
  overflow: hidden

.video-widget-input
  width: 100%
  display: flex

  .fa.fa-times-circle,
  .fa.fa-spinner
    position: absolute
    top: 9px
    left: 77%

  .fa.fa-times-circle
    color: $red

.video-widget-input__search
  margin-left: auto

.video-widget-input__video-id
  width: $input-width !important
  float: left

.video-widget-editor__content-wrapper
  margin-top: 24px

.video-widget-editor__warning
  margin-top: 7px
  color: $orange

  .fa.fa-exclamation-triangle
    float: left
    margin-top: 3px

  .fa.fa-times-circle
    float: none
    position: absolute
    top: 3px
    right: 0px

.video-widget-warning__message
  margin-left: 20px

  & > p
    margin-bottom: 0px

.video-widget-editor__loading-info
  width: $input-width;
  position: relative;

  .fa.fa-spinner
    position: absolute
    top: 3px
    right: 8px

.video-widget-player__title
    margin: 7px 0

.widget-ooyala-player
  display: block

  &.ng-hide-remove
    display: block !important

  &.ng-hide-remove,
  &.ng-leave.ng-leave-active
    opacity: 0
    height: 0%

  &.ng-leave,
  &.ng-hide-remove.ng-hide-remove-active
    opacity: 1
    height: 100%

  &.ng-leave.ng-animate,
  &.ng-hide-remove.ng-animate
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s

/*
 * The following rules tweak the apperance
 * of the HTML5 player that ooyala provides
*/
.ooyala-player-container
  height: $player-height !important

  video
    top: 0
    left: 0

  .midroll
    display: none

  .oo_promo
    top: 0px

  .oo_controls_wrap
    position: static !important


.widget-ooyala-player--embedded
  .ooyala-player-container
    height: $player-height--thumbnail !important

  .oo_controls_wrap
    display: none !important

  &.ng-animate
    transition: none !important

.video-dialog__field
  input[type=search]::-webkit-search-cancel-button
    display: none

.video-dialog
  display: block
  height: 340px
  position: relative

  & > .loading
    background-size: 13px
    position: absolute
    top: 3px
    right: 35px

.video-dialog-results__notice
  margin-top: 100px
  text-align: center

.video-dialog-results__results-container
  height: 100%

.video-dialog-results
  height: 85%
  width: 619px
  margin-top: 20px

.video-dialog-result-info
  margin-top: 8px

.video-dialog-result-info__title
  float: left
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
  width: 115px

.video-dialog-result-info__duration
  float: right

.video-dialog-result__loading-message
  padding-top: 78px

.video-dialog-result__thumbnail,
.video-dialog-result__loading,
.video-dialog-result__player
  width: 178px
  height: $player-height--thumbnail !important //force the height for the loading element

.video-dialog-result__thumbnail
  background-color: $gray-lightest

  img
    height: 100%
    display: block
    margin: 0 auto

.video-dialog-result
  position: relative
  float : left
  margin: 5px 10px 20px

  &.hover
    .fa-play
      display: block

  &.selected
    .fa-stack
      color: $blue-light;

  &.playing
    .fa-pause
      display: block

    .fa-play
      display: none

  .video-dialog-result__controls-bar
    &.ng-hide-remove,
    &.ng-hide-add
      display: block !important
      transition:0s linear all;

    &.ng-hide-remove,
    &.ng-hide-add.ng-hide-add-active
      background-color: $controls-bar-background-color;
      opacity: 0

    &.ng-hide-add,
    &.ng-hide-remove.ng-hide-remove-active
      background-color: $controls-bar-background-color;
      opacity: 1

    &.ng-hide-remove.ng-hide-remove-active,
    &.ng-hide-add.ng-hide-add-active
      transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s

.video-dialog-result__controls-bar
  z-index: 99999
  height: 27px
  width: 100%
  background-color: $controls-bar-background-color;
  position: absolute
  top: 0

  .fa
    z-index: 9999999

  .fa-stack, .fa-play, .fa-pause
    display: none
    position: absolute
    color: $gray-medium-light;

  .fa-stack
    display: block;
    top: 1px
    right: 6px

  .fa-play, .fa-pause
    top: 7px
    left: 8px

.multi-video-widget__items
  margin-left: 0
  margin-top: 0
  margin-bottom: 0

.multi-video-widget__item
  position: relative
  margin-bottom: 25px

  .fa.fa-times-circle
    float: right
    color: $red

.multi-video-widget-item__handle
  position: absolute
  color: white
  top: 30px
  left: 9px
  z-index: 99999
  cursor: -webkit-grabbing
  cursor: -moz-grab
  cursor: -moz-grabbing
  text-shadow: 1px 1px 1px rgba(0,0,0,0.6)

.multi-video-widget-item__player
  margin-top: 7px
