.field-collaborators
  float: left
  margin-left: $form-offset
  padding-top: ($form-offset/2)
  ul
    margin: 0
  .avatar
    $image-size = 28px
    display: inline-block
    position: relative
    margin-left: 3px
    border-radius: 3px
    width: $image-size
    img
      height: $image-size


