$textarea-max-height = 400px

$form-control-theme
  background-color: $gray-background
  box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset
  transition: background-color 0.3s ease-in, border-color 0.3s ease-in

.form-control-look,
.form-control
  padding: $form-textarea-padding
  padding-top: 9px
  font-size: 12px
  border: 1px solid $lightest-gray
  border-radius: 3px 3px 3px 3px
  @extend $form-control-theme
  &:focus
    background-color: white
    border-color: $link-blue
    outline: none
  &.error-input:focus
    border-color: darken($red, 10%)

.form-control[disabled]
  background-color: white
  border: none
  box-shadow: none
  transition: none

textarea.form-control
  resize: vertical
  max-height: $textarea-max-height

input[type="number"].form-control
  padding-top: 8px
  padding-bottom: 8px

input.date.form-control,
input.time.form-control
  width: 105px

input[type="checkbox"].form-control
  margin-top: -1px

.forms__button
  height: 35px

