// Forms
//
// Styleguide 3.0
$textarea-max-height = 400px

$form-control-theme
  background-color: white
  box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset
  transition: box-shadow 0.3s ease-in, border-color 0.3s ease-in

// Form controls
//
// Form control styling
//
// Markup:
// <p><input type="text" class="form-control"></p>
// <p><input type="text" class="form-control" value="disabled" disabled></p>
// <p><textarea class="form-control"></textarea></p>
// <p><textarea class="form-control" disabled>content</textarea></p>
//
// Styleguide 3.1
.form-control-look,
.form-control
  padding: $form-textarea-padding
  padding-top: 7px
  font-size: 12px
  border: 1px solid $metallic-gray
  border-radius: 3px 3px 3px 3px
  @extend $form-control-theme
  &:focus
    background-color: white
    border-color: $blue-link
    box-shadow: 0 0 3px lighten($blue-light, 50%) inset
    outline: none
  &.error-input:focus
    border-color: darken($red, 10%)

.form-control[disabled],
.form-control[readonly]
  background-color: $gray-lighter
  border: 1px solid $gray
  box-shadow: none
  transition: none
.form-control[disabled]
  color: $gray-medium
.form-control[readonly]
  color: $metallic-gray-dark

textarea.form-control
  resize: vertical
  max-height: $textarea-max-height

input[type="number"].form-control
  padding-top: 8px
  padding-bottom: 8px

input.date.form-control,
input.time.form-control
  width: 105px

input[type="checkbox"].form-control
  margin-top: -1px

