.cf-object-editor
  textarea
    font-family: "Andale mono", "Monaco", monospace
    white-space: pre
    word-wrap: normal
    overflow-x: scroll
    &.ng-invalid-json
      border-color: red
  span
    position: relative
    top: 1px
  .fa-exclamation-triangle
    position: relative
    top: 1px

.cf-number-editor
  position: relative
  .cf-field-alert
    position: absolute
    top: 0
    right: 10px
    line-height: 35px

.data-field-boolean .l-form-controls,
.data-field-string-list .l-form-controls
  label
    width: auto
    position: relative
    top: -2px
  span
    position: relative
    top: 2px

.widget-location-editor
  position: relative
  .gmaps-container,
  .invalid-location-warning
    width: $form-controlwidth-inner
    height: 250px
  .invalid-location-warning
    background-color: rgba(255,255,255,0.9)
    text-align: center
    position: absolute
    top: 0
    .text
      width: 30%
      margin: auto
      margin-top: 110px
      font-size: $base-font-size
      background-color: white
      box-shadow: 0 0 20px 12px white
  .cf-field-alert
    position: absolute
    top: 20px
    right: 20px

  .search-results
    overflow-y: auto
    max-height: 200px
    right: 37px
    li
      padding: 5px 10px
      border-bottom: 1px solid $gray-lightest
      cursor: pointer
      &:hover
        background-color: $result-list-highlight
    .address
      display: block
      margin-bottom: 4px
    .lat,
    .lon
      font-size: 0.8em
      display: inline-block
      width: 12em
      color: $gray
  .search
    margin-bottom: 10px

cf-radio-editor
  display: block
.cf-radio-editor__option
  line-height: 40px
.cf-radio-editor__radio
  vertical-align: initial

cf-rating-editor
  display: block
  margin-top: 10px
  margin-bottom: 10px
  padding-top: 2px
  cursor: pointer
.cf-rating-editor__star
  display: inline-block
  width: 10px
  height: 10px
  border-radius: 5px
  border: 1px solid $gray-light
  margin-right: 5px
  &.is-active
    background-color: $gray-medium
  &.is-pending
    background-color: $gray
.clear-rating-button
  margin-top: -3px

.widget-location-editor__sub-fields
  position: relative
  $display-flexbox()
  flex-wrap: wrap
  align-items: flex-end
  width: $form-controlwidth-inner
  margin-top: 5px
  .search
    width: 100%
  .widget-location-editor__location-picker
    display: block
    width: 37%
    margin-right: 5%
    padding-bottom: 0
    > input,
    > input[type="text"]
      width: 100%
      margin-top: 5px
  .btn--form
    margin-left: auto

.widget-datetime-editor
  input[type="text"] // TODO we can simplify this selector once we simplify form controls
    display: inline
  .fa-calendar,
  .fa-clock-o,
  .fa-globe
    font-size: 14px
    color: $gray
    vertical-align: middle
    pointer-events: none
    position: relative
    left: -25px
  .select-box
    padding-right: 30px
    .button-icon-right
      right: 27px


.is-date-invalid,
.is-time-invalid
  position: relative
  top: 3px
  font-size: 14px
  color: $orange

cf-youtube-editor,
cf-ooyala-editor
  .fa.fa-times-circle,
  .fa.fa-spinner
    position: absolute
    top: 9px
    right: 9px

  .fa.fa-times-circle
    color: $red

  .fa.fa-exclamation-triangle
    color: $orange

  .warning
    margin-top: 7px;

cf-youtube-player.ng-animate
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s

cf-youtube-player
  &.ng-hide-add,
  &.ng-hide-remove
    display: block!important;

  .title
    margin: 7px 0;

cf-youtube-player.ng-hide-add,
cf-youtube-player.ng-hide-remove.ng-hide-remove-active
  height: 100%
  opacity: 1

cf-youtube-player.ng-hide-remove,
cf-youtube-player.ng-hide-add.ng-hide-add-active
  opacity: 0
  height: 0%

cf-ooyala-player
  display: block

  &.ng-hide-remove
    display: block !important

  &.ng-hide-remove,
  &.ng-leave.ng-leave-active
    opacity: 0
    height: 0%

  &.ng-leave,
  &.ng-hide-remove.ng-hide-remove-active
    opacity: 1
    height: 100%

  &.ng-leave.ng-animate,
  &.ng-hide-remove.ng-animate
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s

  .title
    margin: 7px 0

  video
    height: 350px !important
    position: static !important;

    &.midroll
      display: none

  .oo_promo
    position: static !important;

  .oo_controls_wrap
    position: static !important;
