.form-horizontal
  display: table
  width: 100%
  max-width: 1400px
  border-spacing: 0 $form-spacing
  color: $medium-gray

  .form-field
    display: table-row
    > *
      vertical-align: top
      display: table-cell

  label
    width: $form-labelwidth
    padding: $form-offset $form-gutter $form-offset 0
    text-align: right

  input[type="checkbox"]
    margin-top: -1px

  .form-controls
    width: $form-controlwidth-outer

  .locale
    position: relative
    clear: both

  .search-field
    width: 100%
    margin-top: 1px
    height: 35px



