.inline-select
  background: transparent
  color: inherit
  font-size: inherit
  margin: 0
  margin-top: -1px

.select-box
  @extend .flat-button
  padding: 0px
  select
    width: 200%
    padding: 7.6px 12px
    margin: 0
    color: inherit
    font-size: inherit
    font-family: inherit
    border: none
    background: transparent
    border-radius: 0
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
  &:hover
    border-color: $light-gray
  .button-icon-right
    position: absolute
    left: auto
    float: none
    right: 7px
    top: 8px
    cursor: default
    pointer-events: none

