.modal-background
  .modal-dialog
    header.modal-dialog__header
      h1 Search for assets
      button.modal-dialog__close(ng-click="dialog.cancel()")
    .modal-dialog__content.video-dialog__content
      cf-video-search.video-dialog
    .modal-dialog__controls
      button.btn-primary-action(
        ng-click="dialog.confirm(videoSearchController.getSelected())" type="button")
        | Insert selected
      button.btn-secondary-action(
        ng-click="dialog.cancel()" type="button"
        ng-show="dialog.cancelLabel")
        | {{dialog.cancelLabel}}

