include ../entity_editor/entity_editor.mixins.jade

header.workbench-header
  cf-breadcrumbs
  cf-icon.workbench-header__icon(name="page-entries")
  h1.workbench-header__title
    | {{ title }}
    cf-knowledge-base.workbench-header__kb-link(target="entry")

  .workbench-header__actions
    +editor-actions-dropdown
      div(role="menuitem" ui-command="actions.add")
        | Create new <em>{{ command.name() | truncate:14 }}</em>
      div(role="menuitem" ui-command="actions.duplicate")
        | Duplicate
      div(role="menuitem"
        ui-command-state="state.delete"
        cf-context-menu-trigger)
        | Delete
      +entity-delete-confirm-menu
      hr
      div(role="menuitem" ui-command="actions.toggleDisabledFields")
        | {{command.label()}}

    +editor-info-toggle

.workbench-main
  .workbench-main__content
    cf-editor-status-notification(status="otDoc.status$" entity-label="entry")

    form.entity-editor-form(name="entryForm")
      cf-error-list.form-box-error(cf-error-path="['fields']")
      cf-entity-field(ng-repeat="widget in widgets track by widget.fieldId")

  .workbench-main__entity-sidebar
    cf-entity-sidebar
