.modal-background
  .modal-dialog
    header.modal-dialog__header
      h1 Choose translations
    .modal-dialog__content
      ul
        li(ng-repeat="locale in locales | filter:{ default: true } track by locale.sys.id")
          label
            input(type="checkbox"
              ng-model="locale.active"
              disabled)
            | {{locale.name}} ({{locale.code}})
        li(ng-repeat="locale in locales | orderBy: 'name' | filter:{ default: false } track by locale.sys.id")
          label
            input(type="checkbox"
              ng-model="locale.active"
              ng-disabled="locale.default")
            | {{locale.name}} ({{locale.code}})
    .modal-dialog__controls
      button.btn-primary-action(ng-click="dialog.confirm()")
        | Save
      button.btn-secondary-action(ng-click="dialog.cancel()")
        | Cancel
