li
  a(cf-marketing="/developers/docs/references/authentication/#the-management-api" target="_blank") API Keys
li
  a(href="https://www.contentful.com/developers/docs/references/content-management-api/" target="_blank") Documentation
