li
  a(ui-sref="spaces.detail.api.keys.list") API Keys
li
  a(cf-marketing="/developers/documentation/content-delivery-api/") Documentation
li
  a(ui-sref="spaces.detail.api.content_model") Content Model
li
  a(href="https://support.contentful.com/hc/en-us/requests/new" target="_blank") Support
