.api-cm-list__item(ng-class="{'x--open': isExpanded}")
  .content-model__summary
    .content-model__info
      h3.content-model__name {{contentType.getName()}}
      .content-model__description {{contentType.data.description | truncate:100}}
    .content-model__id
      .content-model__id__title.uppercase
        | Identifier
      cf-inline-copy.copy-to-clipboard(text="{{contentType.getId()}}")
    a.api-cm-list__item__toggle(
      ng-click="toggleFields()")
      span(ng-hide="isExpanded") Show fields
      span(ng-show="isExpanded") Hide fields
      cf-icon(name="dd-arrow-down")

  .table(ng-show="isExpanded")
    .table__head
      table
        thead
          tr
            th(aria-label="cell-name") Field
            th(aria-label="cell-identifier") Identifier
            th(aria-label="cell-type") Type
    .table__body
      table
        tbody
          tr(ng-repeat="field in contentType.data.fields track by field.id")
            td(aria-label="cell-name") {{field.name}}
            td(aria-label="cell-identifier")
              cf-inline-copy.copy-to-clipboard(
                text="{{field.apiName || field.id}}")
            td(aria-label="cell-type")
              span {{field.type}}
              a(tooltip="{{getHelpText(field.type)}}" tooltip-html="true")
                i.fa.fa-question-circle
