.main-top-bar
  .main-top-bar__logo(ng-click="logoClicked()")
    .main-top-bar__logo-element(cf-custom-logo)
  div(ui-view="space-nav-bar")
  cf-account-bar

.main-container(ui-view="main-container")
cf-view-content-fallback
