include ../embedly_preview/embedly_status.mixin.jade

input.form-control(
  type="text"
  ng-disabled="isDisabled")

+embedly-status

.form-widget__help-text {{ helpText }}

div(ng-show="urlStatus === 'loading'")
  .loading-box(style="height: 470px")
    .loading-box__spinner
    .loading-box__message
      | Preview will be ready in a few moments
div(ng-hide="urlStatus === 'loading'")
  cf-embedly-preview(preview-url="previewUrl" url-status="urlStatus")
