input.form-control(
  type="text"
  ng-disabled="isDisabled")

cf-embedly-status(url-status="urlStatus")

.form-widget__help-text {{ helpText }}

cf-embedly-preview(preview-url="previewUrl" url-status="urlStatus")
