include ../embedly_preview/embedly_status.mixin.jade

input.form-control(
  type="text"
  ng-disabled="isDisabled")

+embedly-status

.form-widget__help-text {{ helpText }}

cf-embedly-preview(preview-url="previewUrl" url-status="urlStatus")
