.getty__details-image
  img(ng-src="{{image.UrlPreview}}")

.getty__details-title
  | {{image.Title}}

ul.getty__offerings(ng-if="offerings.length > 0")
  li(ng-repeat="offering in offerings")
   | {{offering}}

table.getty__info-table
  tr
    th Family
    td {{image.ImageFamily}}
  tr
    th Licensing
    td {{licensingModel(image.LicensingModel)}}
  tr
    th Collection
    td {{image.CollectionName}}
  tr
    th Date
    td {{parseDate(image.DateCreated)}}
  tr
    th By
    td {{image.Artist}}
  tr
    th Release
    td {{image.ReleaseMessage}}

form.getty__details-size-select(name="imageSizes")
  table
    thead
      tr
        th Selection
        th Dimensions
        th dpi
        th Size
    tbody
      tr(ng-repeat="size in imageDetail.SizesDownloadableImages track by size.SizeKey")
        td
          input(type="radio" name="{{imageDetail.ImageId}}" ng-model="selectedSizeKey" ng-change="selectSize(size.SizeKey)")
        td {{size.PixelWidth}}x{{size.PixelHeight}}
        td {{size.ResolutionDpi}}
        td {{fileSize(size.FileSizeInBytes)}}

  button.btn.btn--tertiary(ng-click="resetImageView()")
    | &larr; Back
  button.getty__add-image.btn.btn--primary(ng-disabled="!selectedSizeKey" ng-click="addImage()")
    | Add image
  i.getty__download-spinner.loading(ng-show="gettyDownloading")
  p.getty-downloads-error(ng-show="downloadsError") {{downloadsError}}
