.getty__result(
  ng-repeat="image in imageResults track by image.id"
  ng-controlelr="GettyImageController")
  a.getty__result-thumbnail(ng-click="showDetails()")
    img(ng-src="{{image.thumb.url}}")
  a.getty__info-title(ng-click="showDetails()")
    | {{image.thumb.Title}}

  .getty__info-offerings(ng-if="offerings.length > 0")
    span(ng-repeat="offering in offerings")
     | {{offering}}

  table
    tr
      th Family
      td {{image.thumb.ImageFamily}}
    tr
      th Licensing
      td {{licensingModel(image.thumb.LicensingModel)}}
    tr
      th Collection
      td {{image.thumb.CollectionName}}

.loading(ng-hide="paginator.atLast()")
