span.getty__results-count
  | {{paginator.numEntries|decimalMarks}} Images found

span.getty__results-sorting(ng-show="isSortingActive()")
  button.cfnext-btn-secondary-action(ng-click="sortBy('default')" ng-show="getty.families.editorial" ng-class="{active: currentSortOrder == 'Default'}")
    | Best Match
  button.cfnext-btn-secondary-action(ng-click="sortBy('MostRecent')" ng-class="{active: !hasBlendedSortOrder && currentSortOrder == 'MostRecent'}")
    | Most Recent
  button.cfnext-btn-secondary-action(ng-click="sortBy('MostPopular')" ng-class="{active: !hasBlendedSortOrder && currentSortOrder == 'MostPopular'}")
    | Most Popular
