a.getty__result-thumbnail(ng-click="showDetails()")
  img(ng-src="{{image.thumb.url}}")

a.getty__result-title(ng-click="showDetails()")
  | {{image.thumb.Title}}

ul.getty__offerings(ng-if="offerings.length > 0")
  li(ng-repeat="offering in offerings")
   | {{offering}}

table.getty__info-table
  tr
    th Family
    td {{image.thumb.ImageFamily}}
  tr
    th Licensing
    td {{licensingModel(image.thumb.LicensingModel)}}
  tr
    th Collection
    td {{image.thumb.CollectionName}}

