header.workbench-header
  cf-icon.workbench-header__icon(name="page-api")
  h1.workbench-header__title
    | APIs

.workbench-main.x--api-home
  .workbench-main__left-sidebar.x--api-home
    header.filter-list-header
      | Content delivery API
    ul.u-list(cf-cda-links)
    header.filter-list-header
      | Content management API
    ul.u-list(cf-cma-links)

  .workbench-main__right-content.x--api-home
    .api-home__boxes
      .api-home__box
        a.api-home__box-image.cda(cf-marketing="/developers/documentation/content-delivery-api")
        a.api-home__box-title(cf-marketing="/developers/documentation/content-delivery-api")
          h2.uppercase Content delivery API
        p
          | Deliver content to mobile apps, websites and connected devices. The Content Delivery API is designed to help you display content to end users.
        ul.u-list(cf-cda-links)

      .api-home__box
        a.api-home__box-image.cma(cf-marketing="/developers/documentation/content-management-api")
        a.api-home__box-title(cf-marketing="/developers/documentation/content-management-api")
          h2.uppercase Content management API
        p
          | Import content from own servers, 3rd-party systems or your community. The Content Management API helps you create content.
        ul.u-list(cf-cma-links)

      .api-home__box
        a.api-home__box-image.demo(href="http://contentful.github.io/contentful.js/example")
        a.api-home__box-title(href="http://contentful.github.io/contentful.js/example")
          h2.uppercase Contentful<br>showcase
        p
          | We assembled a collection of demo apps &amp; interactive examples to help you explore the possibilities opened up by our platform.
        ul.u-list
          li
            a(href="http://contentful.github.io/contentful.js/example/browser")
              | Space browser
          li
            a(href="http://contentful.github.io/contentful.js/example/ufos")
              | UFO sightings
          li
            a(href="https://github.com/contentful/contentful-management.js#cloning-a-spaces-content-model")
              | Cloning a content model between spaces
          li
            a(href="https://github.com/contentful/cosmonaut")
              | Cosmonaut
          li
            a(href="https://github.com/contentful/guide-app")
              | Guide app
          li
            a(href="https://github.com/contentful/guide-app-ios")
              | iOS guide app
          li
            a(href="https://github.com/contentful")
              | See more in our GitHub


    .note-box.note-box--gold.note-box--centered
      | This page is only visible to space admins and developers.
