table
  tr
    th Filename
    td {{file.fileName}}
  tr
    th Type
    td(title="{{file.contentType}}") {{file | mimeGroup}}
  tr(ng-show="file.details.size")
    th Size
    td(title="{{file.details.size}} Bytes") {{file.details.size | fileSize}}
  tr(ng-show="file.details.image")
    th Width<br>Height
    td {{file.details.image.width}}&thinsp;px<br>{{file.details.image.height}}&thinsp;px


