.file-info
  img(aviary-editor-preview)

  .file-preview(cf-file-preview ng-show="isFilePreviewable()" preview-size="fullscreen")
    .loading(ng-show="loadingEditor")
    .vcenter(cf-thumbnail file="file" ng-if="file && !loadingEditor")
    .linked-entities__status(ng-show="entity" ng-class="entityStatusController.getClassname(entity)")
      .status-bar

  .file-progress.progress.center(ng-show="isFileLoading()")
    p Loading…
    .cf-progress-bar.gold(percentage=100)

  .file-progress.progress.center(ng-show="file|isFileProcessing")
    p Processing…
    .cf-progress-bar.green(percentage=100)

  .file-metadata(cf-file-display-metadata ng-show="showMeta")

  .title-overlay(ng-hide="file || enableUpload")
    | {{title}}
  .no-file.center.vcenter(ng-hide="(file || enableUpload)")
    | Asset has no file
  .no-file.center.vcenter(ng-show="entity && entity.isMissing")
    | Asset does not exist anymore

  .file-buttons(cf-file-display-buttons)

  .cf-file-drop(ng-show="!otDisabled && !file && enableUpload")
    button.btn.btn--secondary.upload-button(type="button" ng-click="uploadFile()") Or Open File Picker
    | 
    button.btn.btn--secondary.upload-button(type="button" ng-show="spaceContext.space.hasFeature('gettyImages')" ng-click="uploadFromGetty()") Or Pick From Getty Images

