button.btn.btn--secondary.go-to-asset(type="button" ng-click="entity && !entity.isMissing && navigator.entityEditor(entity).goTo()" ng-show="!!(!enableUpload && entity && !entity.isMissing)" tooltip="Open Asset")
  i.fa.fa-share-square-o
| 
a.btn.btn--secondary.download-file(type="button" href="{{file.url}}" target="_blank" ng-show="file|isFileReady" tooltip="Download file")
  i.fa.fa-download
| 
button.btn.btn--secondary.show-metadata(type="button" ng-click="toggleMeta()" ng-show="file" tooltip="Show file information")
  i.fa.fa-info-circle
| 
button.btn.btn--secondary.edit-button(type="button" ng-show="enableUpload && imageHasLoaded && file|isFileReady" ng-click="editFile()" tooltip="Edit file")
  i.fa.fa-picture-o
| 
button.btn.btn--secondary.delete-file(type="button" ng-show="!otDisabled && deleteFile && ((file|isFileReady) || (file|isFileProcessing))" ng-click="deleteFile()" tooltip="Delete file")
  i.fa.fa-trash
| 
button.btn.btn--secondary.remove-link(type="button" ng-show="!otDisabled && removeLink" ng-click="removeLink(index, entity)" tooltip="Remove Asset")
  i.fa.fa-close

