.file-info
  img(aviary-editor-preview)

  .file-preview(ng-show="file|isFileReady")
    .loading(ng-show="loadingEditor")
    .vcenter.cf-thumbnail(cf-thumbnail file="file" height="250" ng-if="file && !loadingEditor")
    .linked-entities__status(ng-show="entity" ng-class="entityStatusController.getClassname(entity)")
      .status-bar

  .file-progress.progress.center(ng-show="(file|isFileReady) && isFileLoading()")
    p Loading…
    .cf-progress-bar.gold(cf-progress-bar percentage=100)

  .file-progress.progress.center(ng-show="file|isFileProcessing")
    p Processing…
    .cf-progress-bar.green(cf-progress-bar percentage=100)

  .file-metadata(cf-file-display-metadata ng-show="showMeta")

  .title-overlay(ng-hide="file || enableUpload")
    | {{title}}
  .no-file.center.vcenter(ng-hide="(file || enableUpload)")
    | Asset has no file
  .no-file.center.vcenter(ng-show="entity && entity.isMissing")
    | Asset is missing or inaccessible due to your access level
  .no-file.center.vcenter(ng-show="!file && otDoc.state.editable && isDisabled(field, locale)")
    | You don't have a permission to edit this field.

  cf-file-display-buttons

  .cf-file-drop(cf-file-drop ng-show="isEditable(field, locale) && !file && enableUpload")
    button.cfnext-btn-secondary-action.upload-button(type="button" ng-click="uploadFile()") Or open file picker
    | &nbsp;
    button.cfnext-btn-secondary-action.upload-button(type="button" ng-show="spaceContext.space.hasFeature('gettyImages')" ng-click="uploadFromGetty()") Or pick from getty images
