mixin sdk-section-javascript
  h3.home-section__heading Get the SDK
  p.separated-links
    a SDK documentation
    a View on GitHub
  p.home-section__description
    | This is how you get the SDK and use it in your project
  .code-block
    span.code-block__language bash
    span.code-block__line npm install contentful

mixin sdk-section-php
  h3.home-section__heading Get the SDK
  .home-section__description
    | blah blah blha php
  .code-block
    span.code-block__language bash
    span.code-block__line php composer.phar contentful/contentful:@beta

mixin sdk-section-dotnet
  div .net section

mixin sdk-section-ruby
  div ruby section

mixin sdk-section-ios
  div ios section

mixin sdk-section-android
  div android section

mixin sdk-section-python
  div python section
