<div class="modal-background">
  <div
    class="modal-dialog entity-selector-dialog"
    ng-class="'entity-selector-dialog--for-{{ entitySelector.config.entityType.toLowerCase() }}-entities'"
    data-test-id="entity-selector-dialog"
  >
    <header class="modal-dialog__header">
      <h1>{{ entitySelector.labels.title }}</h1>
      <button class="modal-dialog__close" ng-click="dialog.cancel()"></button>
    </header>
    <div class="modal-dialog__content" ng-if="!showCustomEmptyMessage">
      <cf-entity-selector
        config="entitySelector.config"
        labels="entitySelector.labels"
        list-height="entitySelector.listHeight"
        on-change="entitySelector.onChange"
        on-no-entities="entitySelector.onNoEntities"
      ></cf-entity-selector>
    </div>
    <div class="modal-dialog__content" ng-if="showCustomEmptyMessage">
      <div
        bind-html-compile="entitySelector.labels.noEntitiesCustomHtml"
        data-test-id="custom-empty-message"
      ></div>
      <button
        class="btn-primary-action"
        type="button"
        ng-click="dialog.cancel()"
        style="margin: 24px 20px 0 0"
      >
        Okay, got it
      </button>
    </div>
    <div
      class="modal-dialog__controls"
      ng-if="entitySelector.config.multiple &amp;&amp; !showCustomEmptyMessage"
    >
      <button
        class="btn-primary-action modal-dialog__controls-confirm"
        data-test-id="entity-selector-confirm"
        type="button"
        ng-click="dialog.confirm(selected)"
        ng-disabled="selected.length &lt; entitySelector.config.min || selected.length &gt; entitySelector.config.max"
      >
        {{ entitySelector.labels.insert }}<span ng-if="selected.length &gt; 0"
          >&nbsp;({{ selected.length }})</span
        >
      </button>
      <button class="btn-secondary-action" type="button" ng-click="dialog.cancel()">Cancel</button>
    </div>
  </div>
</div>
