.collaborators
  display: flex
  flex-wrap: nowrap
.collaborators__item
  overflow: hidden

.collaborators__avatar
  display: block
  width: 30px
  height: 30px
.collaborators__avatar-circle
  border-radius: 50%
.collaborators__avatar-rect
  border-radius: 3px

.collaborators__item-flex
  display: flex
  justify-content: space-between
  align-items: center
