.collaborators
  display: flex
  flex-wrap: nowrap
  .collaborators__item
    overflow: hidden
    margin-right: 5px

    .collaborators__avatar
      display: block
      width: 30px
      height: 30px
    .collaborators__avatar-circle
      border-radius: 50%
    .collaborators__avatar-rect
      border-radius: 3px
