.state-change-confirmation-dialog__links-list
  max-height: 143px
  overflow-y: auto
  > li
    list-style-type: disc
    margin-left: 20px

.state-change-confirmation-dialog__loading-wrapper
  height: 300px
  text-align: center
  .loading
    padding-top: 60%
    display: inline-block
