include ../entity_editor/entity_editor.mixins.jade

react-component(
  name="components/shared/DocumentTitle.es6"
  props="{title: [title, 'Media']}"
)
div.asset-editor.workbench
  header.workbench-header
    react-component(name="app/entity_editor/Components/BackNav")
    cf-icon.workbench-header__icon(name="page-media", scale="0.75")
    h1.workbench-header__title
      | {{ title }}
      span.locale(ng-if="localeData.isSingleLocaleModeOn")
        | &nbsp;- {{localeData.focusedLocale.name}}
      cf-knowledge-base.workbench-header__kb-link(target="asset")

    .workbench-header__actions
      button.btn-secondary-action(
        data-test-id="trigger-delete-modal"
        ui-command="state.delete")
        | Delete
      +editor-info-toggle

  .workbench-main
    .workbench-main__content
      react-component(name="app/entity_editor/StatusNotification.es6" props="statusNotificationProps")

      .entity-editor-form
        cf-error-list.form-box-error(cf-error-path="['fields']")
        cf-entity-field(ng-repeat="widget in widgets track by widget.fieldId")

    .workbench-main__sidebar
      react-component(name="app/EntrySidebar/EntrySidebar.es6" props="entrySidebarProps")
