
<react-component name="components/shared/DocumentTitle" props="{title: [title, 'Media']}"></react-component>
<div class="asset-editor workbench">
  <header class="workbench-header">
    <react-component name="app/entity_editor/Components/BackNav"></react-component>
    <cf-icon class="workbench-header__icon" name="page-media" scale="0.75"></cf-icon>
    <h1 class="workbench-header__title">{{ title }}<span class="locale" ng-if="localeData.isSingleLocaleModeOn">&nbsp;- {{localeData.focusedLocale.name}}</span>
      <react-component name="components/shared/knowledge_base_icon/KnowledgeBase" props="{target: 'asset', className: 'workbench-header__kb-link'}"></react-component>
    </h1>
    <div class="workbench-header__actions">
      <button class="btn-secondary-action" data-test-id="trigger-delete-modal" ui-command="state.delete">Delete</button>
    </div>
  </header>
  <div class="workbench-main">
    <div class="workbench-main__content">
      <react-component name="app/entity_editor/StatusNotification" props="statusNotificationProps"></react-component>
      <div class="entity-editor-form cf-workbench-content cf-workbench-content-type__text">
        <cf-error-list class="form-box-error" cf-error-path="['fields']"></cf-error-list>
        <cf-entity-field ng-repeat="widget in widgets track by widget.fieldId"></cf-entity-field>
      </div>
    </div>
    <div class="workbench-main__sidebar">
      <react-component name="app/EntrySidebar/EntrySidebar" props="{entrySidebarProps, sidebarToggleProps: { commentsToggle: {isEnabled: false }}}"></react-component>
    </div>
  </div>
</div>