.api-key-editor
  .field-editor
    position: relative
  .curl-example
    margin-top: 10px
    input[type="text"]
      padding-right: 40px
    .cf-copy-paste
      top: 28px
  .authentication-code
    margin-bottom: 5%
  .note-box,
  .authentication-code
    h1,
    .select-box
      margin-bottom: 1.5rem
    .select-box
      width: 150px
    .code-example,
    .tools
      position: relative
    .code-example
      height: 150px
    .cf-copy-paste
      float: right
    textarea
      width: 100%
      height: 100%
