.api-key-list.entity-list
  .tab-header
    .tab-title
      width: 25%
  .tab-main > *
    $stretch-y()
  .with-left-nav
    @extend .tab-workbench
    $tab-padding()
  .result-list
    tbody tr
      @extend $tr-clickable
