// Layout, positioning
.content-type-field-list
  width: $field-editor-width
  padding-top: 5px
  border-bottom: 1px solid $gray-lightest
  line-height: 18px

.content-type-editor
  $inactive-row-color = $gray-light
  $active-row-color = darken($gray, 30)

  $active-row-icon-inactive-color = lighten($gray, 10)
  $active-row-icon-active-color = darken($active-row-icon-inactive-color, 40)

  $inactive-row-icon-inactive-color = lighten($gray-light, 5)
  $inactive-row-icon-active-color = darken($inactive-row-icon-inactive-color,  20)

  $vertical-padding = 10px

  // Form style inside fields
  // Override styles from form.css, needs this level of specificity to override
  .content-type-field-list
    .field-id-display
      margin-left: 10px
      color: $active-row-icon-active-color
    input[type="text"]
      display: inline
      width: auto
      margin: auto
      padding: 3px
      &[disabled]
        background-color: transparent
      &[name="fieldId"]
        border-width: 0
        box-shadow: none
        margin-left: 10px
        color: $active-row-color
      &[name="fieldId"]:focus
        border-width: 1px
        box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset
      &[name="fieldName"],
      &[name="fieldId"]:focus
        color: $active-row-icon-active-color
        background: white
      &[name="fieldId"]:hover
        border-width: 1px
      &[name="fieldId"][disabled]:hover
        border-width: 0

  // Layout for Field-row
  .cf-field-settings
    @extend $result-list-cell
    white-space: normal
    color: $inactive-row-color
    position: relative
    overflow: visible
    padding-left: 13px
    padding-top: $vertical-padding
    padding-bottom: $vertical-padding
    border-top: 1px solid $gray-lightest
    $pie-clearfix()

  // Positioning inside Field-row
  .toggle-collapse
    display: block
    float: left
  .display,
  .field-form
    float: left
    margin-left: 10px
  .icons
    position: absolute
    top: $vertical-padding
    right: 150px
  .drag-handle
    position: absolute
    $stretch(0, 20px, 0, null)
    line-height: $vertical-padding + $vertical-padding + 18px
  // external
  .display .cf-fieldtype-icon,
  .dropdown-toggle.cf-fieldtype-icon
    position: absolute
    top: 0
    right: 70px
    margin-top: 7px
  .fieldtype-dropdown
    position: static
  .status
    position: absolute
    top: 0
    right: 0
    height: $vertical-padding + $vertical-padding + 18px
    width: 6px

  // Field settings Look and Feel
  .cf-field-settings
    background-color: white
    &:hover
      background-color: $result-list-highlight
      cursor: pointer
    &.open:hover
      cursor: auto
      background-color: $gray-lightest
  .toggle-collapse
    color: $inactive-row-icon-inactive-color

  // Open/closed Display-state visibility
  .field-form,
  .field-details,
  .fieldtype-dropdown
    display: none
  .cf-field-settings.open
    .field-form,
    .field-details,
    .fieldtype-dropdown
      display: block
    .display
      display: none

  // Visual position adjustment for field form
  .field-form
    margin-top: -4px
    margin-bottom: 7px

  .field-errors
    color: $orange
    font-size: 0.8em


  // Drag Handle Look and Feel
  .drag-handle
    cursor: move
    cursor: -webkit-grabbing
    cursor: -moz-grab
    cursor: -moz-grabbing
    opacity: 0.2
  .cf-field-settings:hover .drag-handle
    opacity: 1

  // Colored Status-Bar at the end of the row
  .status
    &.published
      background-color: $green
    &.disabled
      background-color: $gold
    &.unpublished
      background-color: $blue

  // Icons
  .icons
    color: $inactive-row-icon-inactive-color
    .ss-test,
    .ss-check,
    .ss-globe,
    .required-icon
      padding-left: 3px
    .enabled
      color: $inactive-row-icon-active-color
  .required-icon
    font-style: normal
    font-size: 120%
  .cf-fieldtype-icon
    strong
      font-size: 11px
      color: inherit
    color: $inactive-row-color // Adjust the color because <strong> makes the text appear darker
  .validation-alert
    color: $orange

  // Fieldtype icon
  // Look / internal
  .cf-fieldtype-icon
    cursor: default
    border: 1px solid $inactive-row-color
    border-radius: 3px
    height: 18px + 2 * 3px
    line-height: 18px
    padding: 2px 0 3px
    width: 35px
    text-align: center
    i
      position: relative
      top: 1px
  .dropdown-toggle.cf-fieldtype-icon:not([disabled])
    width: 45px
    padding-left: 13px
    cursor: pointer
    &:before
      content: '▼'
      font-size: 0.8em
      position: absolute
      left: 3px

  // Color variations for active fields
  .active
    color: $active-row-color
  .active .icons
    color: $active-row-icon-inactive-color
    .enabled
      color: $active-row-icon-active-color
  .active .cf-fieldtype-icon
    color: lighten($active-row-color, 10)
    border-color: $active-row-color

  // Color varaitions for open fields
  .open
    background-color: $gray-lightest
    color: $active-row-color
  .open .icons
    color: $active-row-icon-inactive-color
    .enabled
      color: $active-row-icon-active-color
  .open .cf-fieldtype-icon
    color: lighten($active-row-color, 10)

  // Toggles
  .field-details a
    color: darken($active-row-icon-inactive-color, 10)
    &:hover
      color: darken($active-row-icon-inactive-color, 30)
  .toggle-required,
  .toggle-validate,
  .toggle-localized,
  .toggle-title,
  .toggle-disabled
    cursor: pointer
    margin-right: 20px
  .field-details a.active
    color: $active-row-icon-active-color
    &:hover
      color: darken($active-row-icon-inactive-color, 30)
  .toggle-disabled
    display: block
    margin-right: 50px
    float: right
  .field-details
    .ss-check,
    .ss-globe,
    .ss-text
      position: relative
      top: 1px
    text-transform: uppercase
    font-size: 11px
    clear: both
    border-top: 1px solid $gray-light
    padding-top: $vertical-padding
    padding-left: 25px

  // Advice/Add-Button
  .advice
    width: 60%
    margin: 0
  .add-field-button
    margin-top: 1em

  // Tooltips
  .tooltip
    text-transform: none
