// Standard Form, with locales
//
// A form where all the fields are laid out vertically on top of each other,
// with a container for each row, a container for the form controls themselves,
// a container for the locale which has the field type editor, locale label and
// field collaborators
//
// Markup:
// <div class="l-form styleguide-opaque-box1">
//   <div class="l-form-row styleguide-opaque-box2">
//     <label>label</label>
//     <div class="l-form-controls styleguide-opaque-box3">
//       <div class="l-form-locale styleguide-opaque-box4">
//         <div class="l-field-editor styleguide-opaque-box1">form control</div>
//         <div class="locale-label styleguide-opaque-box2">locale label</div>
//         <div class="field-collaborators styleguide-opaque-box3">collaborators</div>
//       </div>
//     </div>
//   </div>
//   <div class="l-form-row styleguide-opaque-box2">
//     <label>label</label>
//     <div class="l-form-controls styleguide-opaque-box3">
//       <div class="l-form-locale styleguide-opaque-box4">
//         <div class="l-field-editor styleguide-opaque-box1">form control</div>
//         <div class="locale-label styleguide-opaque-box2">locale label</div>
//         <div class="field-collaborators styleguide-opaque-box3">collaborators</div>
//       </div>
//     </div>
//   </div>
// </div>
//
// Styleguide 6.1

// Standard Form, no locales
//
// A form where all the fields are laid out vertically on top of each other,
// with a container for each row, a container for the form controls themselves
// and a container for the actual field type editor
//
// Markup:
// <div class="l-form styleguide-opaque-box1">
//   <div class="l-form-row styleguide-opaque-box2">
//     <label>label</label>
//     <div class="l-form-controls styleguide-opaque-box3">
//       <div class="l-field-editor styleguide-opaque-box4">
//         form control
//       </div>
//     </div>
//   </div>
//   <div class="l-form-row styleguide-opaque-box2">
//     <label>label</label>
//     <div class="l-form-controls styleguide-opaque-box3">
//       <div class="l-field-editor styleguide-opaque-box4">
//         form control
//       </div>
//     </div>
//   </div>
// </div>
//
// Styleguide 6.2

// Split Form, no locales
//
// A form where all the fields are laid out vertically on top of each other
// over two columns, with a container for each row, a container for the form
// controls themselves and a container for the actual field type editor
//
// Markup:
// <div class="l-form--split styleguide-opaque-box1">
//   <div class="l-form-left styleguide-opaque-box1">
//     <div class="l-form-row styleguide-opaque-box2">
//       <label>label</label>
//       <div class="l-form-controls styleguide-opaque-box3">
//         <div class="l-field-editor styleguide-opaque-box4">
//           form control
//         </div>
//       </div>
//     </div>
//     <div class="l-form-row styleguide-opaque-box2">
//       <label>label</label>
//       <div class="l-form-controls styleguide-opaque-box3">
//         <div class="l-field-editor styleguide-opaque-box4">
//           form control
//         </div>
//       </div>
//     </div>
//   </div>
//   <div class="l-form-right styleguide-opaque-box1">
//     <div class="l-form-row styleguide-opaque-box2">
//       <label>label</label>
//       <div class="l-form-controls styleguide-opaque-box3">
//         <div class="l-field-editor styleguide-opaque-box4">
//           form control
//         </div>
//       </div>
//     </div>
//     <div class="l-form-row styleguide-opaque-box2">
//       <label>label</label>
//       <div class="l-form-controls styleguide-opaque-box3">
//         <div class="l-field-editor styleguide-opaque-box4">
//           form control
//         </div>
//       </div>
//     </div>
//   </div>
// </div>
//
// Styleguide 6.3

.l-form
  $display-flexbox()
  flex-direction: column
  width: 100%
  max-width: 800px
  margin-left: $form-gutter

.l-form--split
  @extend .l-form
  flex-direction: row
  width: 90%
  max-width: 1200px
  margin-left: $form-gutter / 2

.l-form-left,
.l-form-right
  $display-flexbox()
  flex-direction: column

.l-form-left
  width: 40%
.l-form-right
  margin-left: 5%
  width: 55%

.l-form-row
  $display-flexbox()
  flex-direction: column
  align-items: flex-start
  margin-bottom: 25px

  label
    width: 100%
    padding-bottom: 10px

  .form-control
    display: block
    margin: 0
    width: $form-controlwidth-inner

.l-form-controls
  width: 100%

.l-form-controls--with-action
  @extend .l-form-controls
  $display-flexbox()
  align-items: center
.l-form--split
  .l-form-controls--with-action
    width: 100%

.l-form-locale
  $display-flexbox()
  flex-wrap: wrap
  justify-content: space-between
  align-items: center
  margin-top: 20px
.l-form-locale:first-child
  margin-top: 0px

.l-field-editor
  position: relative
  width: $field-editor-width
.l-field-editor--with-action
  @extend .l-field-editor
  width: $field-editor-width - 37%
.l-form--split
  .l-field-editor
    width: 100%
  .l-field-editor--with-action
    width: 65%

.l-field-action
  width: 35%
  margin-left: 2%

