.tab-main
  $stretch($tab-header-height, 0, 0, 0)
  overflow-y: auto

// sidebar mode
.with-aux-panel
  .tab-main
    right: 20%

// with tab-actions
.with-tab-actions
  .tab-actions
    display: block
  .tab-main
    bottom: $tab-actions-height


