span(ng-show="state === 'loading'") Loading…
span(ng-show="state === 'nodata'") No data collected yet
span.webhook-call__status-indicator(ng-show="state === 'ready'" data-status="{{ status }}")
span(ng-show="state === 'ready'") {{ percentage }}%
