.modal-background
  .modal-dialog
    header.modal-dialog__header
      h1 Remove Webhook

    .modal-dialog__content
      .modal-dialog__richtext
        p
          | You are about to remove webhook calling <span class="modal-dialog__highlight">{{ webhook.url }}</span>.
          | After removal your external integrations may stop working properly. Do you want to proceed?

    .modal-dialog__controls
      button.btn-caution(ui-command="remove")
        | Remove
      button.btn-secondary-action(ng-click="dialog.cancel()")
        | Don't remove
