header.workbench-header
  cf-icon.workbench-header__icon(name="page-settings", scale="0.75")
  h1.workbench-header__title Webhook: {{ context.title }}

  .workbench-header__actions(ui-tabpanel="settings")
    button.btn-secondary-action(ui-sref="^.list")
      | Close
    button.btn-secondary-action(ui-command="openRemovalDialog")
      | Remove
    button.btn-primary-action(ui-command="save")
      | Save

  .workbench-header__actions(ui-tabpanel="activity")
    button.btn-secondary-action(ui-sref="^.list")
      | Close
    button.btn-secondary-action(ui-command="refreshLog")
      | Refresh log

.workbench-nav(ng-hide="context.isNew")
  ul.workbench-nav__tabs
    li(ui-tab="settings") Webhook settings
    li(ui-tab="activity") Activity log

.workbench-main(ui-tabpanel="settings")
  .workbench-main__content
    react-component(name="app/Webhooks/WebhookForm" props="props")
  .workbench-main__sidebar
    react-component(name="app/Webhooks/WebhookSidebar")

.workbench-main(ui-tabpanel="activity")
  .workbench-main__content
    react-component(name="app/Webhooks/WebhookActivityLog" props="activityProps")
