header.workbench-header
  cf-icon.workbench-header__icon(name="page-settings")
  h1.workbench-header__title Webhooks ({{ webhooks.length || 0 }})

  .workbench-header__actions
    button.cfnext-btn-action.add-entity(
      ui-sref="spaces.detail.settings.webhooks.new")
      cf-icon.btn-icon.inverted(name="plus")
      | Add Webhook

.workbench-main.x--content
  table.result-list.main-results.main-header
    thead
      tr
        th.cell-url Webhook URL
        th.cell-http-basic Has HTTP Basic Auth credentials?
  .main-results-wrapper
    table.result-list.main-results
      tbody
        tr(ng-repeat="webhook in webhooks track by webhook.sys.id"
          ng-init="entityNavState = 'spaces.detail.settings.webhooks.detail({ webhookId: webhook.sys.id })'"
          ui-sref="{{entityNavState}}")
          td.cell-url
            a.entity-list-link(ui-sref="{{entityNavState}}") {{ webhook.url }}
          td.cell-http-basic
            a.entity-list-link(ui-sref="{{entityNavState}}") {{ webhook.httpBasicUsername ? 'yes' : 'no' }}
        tr(ng-show="webhooks.length < 1")
          td(colspan="2")
            a.entity-list-link No webhooks yet!
