.workbench.webhook-call
  header.workbench-header
    cf-breadcrumbs
    cf-icon.workbench-header__icon(name="page-settings", scale="0.75")
    h1.workbench-header__title Call details for {{ webhook.name }} at {{ call.requestAt }}

  cf-loader(watch-state-change="true")

  .workbench-main
    .workbench-main__content

      .webhook-call__details
        .webhook-call__header
          strong.webhook-call__header-item {{ webhook.name }} ({{ call.url }})
          span.webhook-call__header-item {{ call.requestAt }}
          .webhook-call__header-item(ng-init="props = {call: call}")
            react-component(name="app/Webhooks/WebhookCallStatus" props="props")

        .webhook-call__columns
          .webhook-call__column
            strong Request details
            pre {{ call.request | json }}
            strong(ng-show="body") Request body
            pre(ng-show="body") {{ body | json }}
          .webhook-call__column
            strong Complete response
            pre {{ call.response | json }}
