.workbench.webhook-call
  header.workbench-header
    cf-breadcrumbs
    cf-icon.workbench-header__icon(name="page-settings")
    h1.workbench-header__title Call details for {{ webhook.name }} at {{ call.requestAt }}

  .workbench-main
    .workbench-main__content

      .webhook-call__details
        .webhook-call__header
          strong.webhook-call__header-item {{ webhook.name }} ({{ call.url }})
          span.webhook-call__header-item {{ call.requestAt }}
          cf-webhook-call-status.webhook-call__header-item(call="call")

        .webhook-call__columns
          .webhook-call__column
            strong Request details
            pre {{ call.request | json }}
            strong(ng-show="body") Request body
            pre(ng-show="body") {{ body | json }}
          .webhook-call__column
            strong Complete response
            pre {{ call.response | json }}
