a.knowledge-base-link(
  ng-class="{'x--no-text': !text.length, 'x--inline': inlineText}"
  target="_blank" rel="noopener noreferrer"
  ng-href="{{ url }}"
  tooltip="{{ tooltipText }}")
  | {{ text }}
  i.fa.fa-question-circle
