@import "nib/vendor"

*
  box-sizing(border-box)

body
  font-family: Lato, Arial, sans-serif
  text-rendering: optimizeLegibility
  font-size: 13px
  line-height: 18px
  color: $gray-darkest
  background-image: url("/app/bg.jpg")
  background-repeat: repeat
  background-size: 200px 149px
  overflow: hidden

button,
input[type="submit"]
  line-height: inherit
  font-family: inherit

button::-moz-focus-inner
  border: 0
  padding: 0
  outline: 0

table
  border-collapse: separate

a
  color: $blue-link
  text-decoration: none
  &:link
    color: $blue-link
    text-decoration: none
  &:hover
    color: $blue-dark-link

i
  font-style: normal

h1, h2, h3, h4, h5, h6
  color: $gray-darkest
  line-height: 1em
  font-weight: bold
  margin: 18px 0 8px

h1
  font-size: 2.1em
  margin-bottom: .3em

h2
  font-size: 1.5em

h3
  font-size: 1.2em

hr
  height: 1px
  background-color: $gray-lightest
  margin: 30px 0
  border: none

li
  list-style-type: none

li,
p,
blockquote
  margin-bottom: 10px

ul,
ol
  margin: 24px 0 24px 17px
  li
    margin-bottom: 5px

blockquote
  border-left: 4px solid $gray-lightest
  padding-left: 20px
  margin-top: 10px
  font-style: italic

b, strong
  color: $gray-darkest
  font-weight: bold


