.modal-background
  .modal-dialog
    header.modal-dialog__header
      h1 You're deleting a locale used as fallback
      button.modal-dialog__close(ng-click="dialog.cancel()")

    .modal-dialog__content
      .modal-dialog__richtext
        p
          | <strong>{{ locale.name }}</strong> is used as fallback
          | for {{ dependantLocaleNames }}. After deleting it, the affected
          | locales will fallback to:

        select.cfnext-select-box(
          ng-model="model.newFallbackCode"
          ng-options="item.code as item.label for item in availableLocales")
          option(value="") None (no fallback)

    .modal-dialog__controls
      button.btn-primary-action(ng-click="dialog.confirm(model.newFallbackCode)")
        | OK, delete {{ locale.name }} and update affected locales
      button.btn-secondary-action(ng-click="dialog.cancel()")
        | Don't delete
