.modal-background
  .modal-dialog
    header.modal-dialog__header
      h1 Changing a locale might break things
      button.modal-dialog__close(ng-click="dialog.cancel()")

    .modal-dialog__content
      .modal-dialog__richtext
        p
          | You're about to change {{persistedLocaleName}} to {{locale.name}},
          | which might break localisation in your apps. If you're using the locale
          | code <code>{{persistedLocaleCode}}</code> in your API clients, make sure
          | you update it to <code>{{locale.code}}</code>. You can revert these
          | changes afterwards. Please type the old locale code below:
        input.cfnext-form__input(ng-model="typedLocaleCode")

    .modal-dialog__controls
      button.btn-primary-action(
        ng-click="dialog.confirm()"
        ng-disabled="typedLocaleCode !== persistedLocaleCode")
        | Got it, change locale
      button.btn-secondary-action(ng-click="dialog.cancel()")
        | No, I need some more time
