//Buttons
//
// Styleguide 4.0
.transparent-button-layer
  background-color: transparent
  position: absolute
  z-index: 100

// A button base class
//
// Markup:
//<p><button class="btn">button</button></p>
//<p><button class="btn" disabled>button</button></p>
//
// :disabled - Disabled state
//
// Styleguide 4.1
.btn
  display: inline-block
  position: relative
  overflow: hidden
  padding: 7px 10px
  font-size: 1em
  text-decoration: none
  vertical-align: middle
  cursor: pointer
  -webkit-appearance: none
  border-radius: 3px
  border-width: 1px
  border-style: solid
  &:link
    color: $gray-medium
  &:disabled,
  &[disabled]
    opacity: 0.5
    cursor: default
    &:active
      top: 0px



// Temporary override for gatekeeper usage
input.btn--input
  padding: 0.6em 1em

// Secondary button
// 
// Secondary button theme, with hover, active and disabled states
//
// Markup:
// <p><button class="btn btn--secondary {$modifiers}">secondary</button></p>
// <p><button class="btn btn--secondary {$modifiers}" disabled>secondary</button></p>
//
// Styleguide 4.3
.btn--secondary
  $colored-button(
    $metallic-gray-dark,
    $secondary-bg,
    $secondary-gradient-from,
    $secondary-gradient-to,
    $metallic-gray,
    $secondary-shadow,
    $gray,
    $gray-medium-light
  )

// Tertiary button
// 
// Tertiary button theme, with hover, active and disabled states
//
// Markup:
// <p><button class="btn btn--tertiary {$modifiers}">Tertiary</button></p>
// <p><button class="btn btn--tertiary {$modifiers}" disabled>Tertiary</button></p>
// 
// .active - active state
//
// Styleguide 4.2
.btn--tertiary
  $colored-button(
    $metallic-gray-dark,
    $gray-lightest,
    $gray-gradient-from,
    $gray-gradient-to,
    $metallic-gray,
    white,
    $gray,
    $gray-medium-light
  )


// Primary button
// 
// Button for primary actions, with hover and active states
//
// Markup:
// <p><button class="btn btn--primary {$modifiers}">Primary</button></p>
//
// Styleguide 4.4
.btn--primary
  font-weight: bold
  $colored-button(
    white,
    $blue-light,
    $blue-gradient-from,
    $blue-gradient-to,
    $blue-dark-link,
    $blue-lightest,
    $gray,
    $blue-dark
  )

// Danger button
// 
// A button for dangerous situations
//
// Markup:
// <p><button class="btn btn--danger {$modifiers}">Danger</button></p>
//
// Styleguide 4.5
.btn--danger,
li.btn--danger
  font-weight: bold
  $colored-button(
    white,
    $red,
    $red-gradient-from,
    $red-gradient-to,
    $red-dark,
    $red-light,
    $gray,
    $red-mexican
  )

// Confirm button
//
// A button for confirming actions
//
// Markup:
// <p><button class="btn btn--confirm {$modifiers}">Confirm</button></p>
//
// Styleguide 4.6
.btn--confirm
  font-weight: bold
  $colored-button(
    white,
    $green,
    lighten($green, 10%),
    darken($green, 20%),
    darken($green, 60%),
    lighten($green, 80%),
    $gray,
    darken($green, 50%)
  )

.transparent-button
  background: none
  border: none
  cursor: pointer
  padding: 0
  margin: 0
.transparent-button[disabled]
  cursor: auto

.toggle-collapse
  display: inline-block
  color: inherit
  cursor: pointer
  transition: transform 0.1s ease-in-out
  &.on-right
    transform: rotate(180deg)
  &.open
    transform: rotate(90deg)
  &:hover
    color: inherit

.copy-paste-button
  position: absolute
  display: block
  right: 0px
  top: 0px
  bottom: 0px
  width: 33px
  line-height: 30px
  padding: 0
  padding-left: 4px
  padding-top: 4px
  text-align: center
  vertical-align: middle
  box-shadow: none
  .ss-layers
    font-size: 15px

.toggle-button-set
  $display-flex

.toggle-button
  flex-grow: 1
  border-radius: 0
  &:first-child
    border-radius: 3px 0 0 3px
  &:last-child
    border-radius: 0 3px 3px 0
  cursor: pointer
  margin: 0
  &:active,
  &.active
    top: 0
    box-shadow: 0 2px 2px darken($gray-lightest, 10%) inset
    cursor: default
  &:focus
    outline: none !important

// An Icon inside a button
.button-icon
  position: relative
  top: 1px
  right: 2px

.button-icon-right
  @extend .button-icon
  float: right
  top: 2px
  right: 0
  left: 3px

// Tweaks for specific icons
.button-icon,
.button-icon-right
  &.ss-dropdown
    font-size: 0.8em
  &.ss-plus
    font-size: 0.9em
  &.ss-navigateright
    font-size: 0.9em


