.cf-logo
  margin: 9px auto
  width: 123px
  height: 29px
  position: relative
  background-image: url('/app/images/logo-label.png')
  background-size: 123px 29px

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi)
  .cf-logo
    background-image: url('/app/images/logo-label@2x.png')
