.knowledge-base-link
  display: block
  &:visited
    color: $blue-link
  &:hover
    color: $blue-dark-link
  .ss-help
    display: inline-block
    vertical-align: middle
    margin-top: 2px

.knowledge-base-icon
  color: $gray
  display: inline-block
  &:link,
  &:visited
    color: $gray
  &:hover
    color: $gray-darkest
  .tooltip-inner
    width: 200px


