.knowledge-base-link
  display: block
  &:visited
    color: $link-blue
  &:hover
    color: $dark-link-blue
  .ss-help
    display: inline-block
    vertical-align: middle
    margin-top: 2px

.knowledge-base-icon
  color: $light-gray
  display: inline-block
  &:link,
  &:visited
    color: $light-gray
  &:hover
    color: $dark-gray
  .tooltip-inner
    width: 200px


