// Typography
//
// Styleguide 2.0

// Section titles
//
// Markup: <h2 class="section-title">This is a title</h2>
//
// Styleguide 2.1
.section-title
  color: $metallic-gray-blueish
  text-transform: uppercase
  letter-spacing: 2px
  font-weight: normal
  padding-bottom: 10px
  border-bottom: 1px solid $metallic-gray-blueish

.uppercase 
  text-transform: uppercase
  letter-spacing: 1px
