// Utilities
//
// Styleguide 3.0

// Invisible separator
//
// Markup: <h2 class="u-separator">This is a title</h2>
//
// Styleguide 3.1
.u-separator
  margin-top: 80px

// Truncater
//
// Markup: <h2 class="u-truncate" style="width: 50px">This is a title</h2>
//
// Styleguide 3.2
.u-truncate
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

