.cli-description-onboard
  &__title
    font-size: 24px
    margin-top: 0
    margin-bottom: 15px
    padding-left: 46px

  &__back
    position: absolute
    cursor: pointer

  &__instruction
    display: flex
    justify-content: space-between

  &__node
    font-weight: 100
    text-decoration: underline
    display: block
    margin-bottom: 30px

  &__columns
    display: flex

  &__column
    flex: 0 0 50%

    &.x--left
      padding-right: 35px

    &.x--right
      padding-left: 35px
      padding-right: 42px

  &__code
    padding: 11px 40px 11px 16px
    &:before
      display: none

    &_wrapper
      margin-top: 16px

  &__description
    padding-top: 40px
    line-height: 23px

  &__list
    margin-top: 16px
    margin-bottom: 22px
    padding-left: 18px

  &__list_item
    list-style: disc

  &__continue_explanation
    padding-top: 33px

  &__continue_button
    margin-top: 16px
    margin-bottom: 14px

  &__tooltip
    position: relative
    text-align: center
    left: -50%
    min-width: 300px
    line-height: 1.5
    padding: 10px
    background: $colors.contrast-light
    color: #fff

    &:after
      content: ''
      position: absolute
      bottom: -20px
      left: calc(50% - 10px)
      width: 0
      height: 0
      border: 10px solid transparent
      border-top-color: $colors.contrast-light

  &__tooltip_container
    position: relative
    z-index: 1
    cursor: help

    &:hover
      .cli-description-onboard__tooltip_wrapper
        display: block

  &__tooltip_wrapper
    display: none
    position: absolute
    left: 50%
    bottom: 25px

  &__tooltip_text
    text-decoration: underline

  &__modal

    &-container
      max-width: 520px

    &-list
      margin-top: 16px
      margin-bottom: 22px
      padding-left: 18px

    &-elem
      list-style: disc

    &-note
      color: $colors.text-light
      margin-bottom: 32px
