.cli-entry-onboard
  &__title
    margin: 0 0 16px
    font-size: 24px

  &__description
    font-size: 16px
    margin-bottom: 32px
    color: #536171

  &__question
    margin-top: 0
    margin-bottom: 16px
    font-size: 16px

  &__radio
    margin-bottom: 14px

  &__continue_button
    margin-top: 10px

  &__icon
    position: absolute
    height: 100%
    display: flex
    align-items: center
    top: 0
    right: 100px

    &--short
      right: 75px
      > svg
        width: 150px
