<div class="file-info">
  <div class="file-preview" ng-show="file &amp;&amp; !!file.url">
    <div class="thumbnail-wrapper">
      <react-component
        name="components/Thumbnail/Thumbnail"
        props="{ file: file, height: '250' }"
      ></react-component>
    </div>
  </div>
  <div class="file-progress loading-box--stretched" ng-show="imageIsLoading">
    <div class="loading-box__spinner"></div>
    Loading…
  </div>
  <div class="file-progress loading-box--stretched" ng-show="isUnprocessedFile(file)">
    <div class="loading-box__spinner"></div>
    Processing…
  </div>
  <div class="file-metadata" ng-show="showMeta">
    <table>
      <tr>
        <th>Filename</th>
        <td>{{file.fileName}}</td>
      </tr>
      <tr>
        <th>Type</th>
        <td title="{{file.contentType}}">{{file | mimeGroup}}</td>
      </tr>
      <tr ng-show="file.details.size">
        <th>Size</th>
        <td title="{{file.details.size}} Bytes">{{file.details.size | fileSize}}</td>
      </tr>
      <tr ng-show="file.details.image">
        <th>Width<br />Height</th>
        <td>{{file.details.image.width}}&thinsp;px<br />{{file.details.image.height}}&thinsp;px</td>
      </tr>
    </table>
  </div>
  <div class="no-file" ng-show="!file &amp;&amp; fieldLocale.access.denied">
    You don't have a permission to edit this field.
  </div>
  <div class="file-buttons">
    <react-component
      ng-if="file &amp;&amp; !!file.url"
      component="components.downloadButton"
    ></react-component>
    <react-component ng-if="file" component="components.fileInformation"></react-component>
    <react-component
      cf-context-menu-trigger
      component="components.rotateImage"
      ng-if="canEditFile()"
    ></react-component>
    <div class="context-menu" cf-context-menu>
      <div role="menuitem" ng-click="rotateOrMirror('90cw')">Rotate 90° clockwise</div>
      <div role="menuitem" ng-click="rotateOrMirror('90ccw')">Rotate 90° counterclockwise</div>
      <div role="menuitem" ng-click="rotateOrMirror('flip')">Mirror vertically</div>
      <div role="menuitem" ng-click="rotateOrMirror('flop')">Mirror horizontally</div>
    </div>
    <react-component
      cf-context-menu-trigger
      component="components.resizeImage"
      ng-if="canEditFile()"
    ></react-component>
    <div class="context-menu" cf-context-menu>
      <div role="menuitem" ng-click="resize('width')">Select width</div>
      <div role="menuitem" ng-click="resize('height')">Select height</div>
      <div role="menuitem" ng-click="resize('scale')">Scale</div>
    </div>
    <react-component
      cf-context-menu-trigger
      component="components.cropImage"
      ng-if="canEditFile()"
    ></react-component>
    <div class="context-menu" cf-context-menu>
      <div role="menuitem" ng-click="crop(null)">No aspect ratio</div>
      <div role="menuitem" ng-click="crop('original')">Original aspect ratio</div>
      <div role="menuitem" ng-click="crop(1)">Square</div>
      <div role="menuitem" ng-click="crop('circle')">Circle (converts to PNG)</div>
      <div role="menuitem" ng-click="crop(4/3)">4:3</div>
      <div role="menuitem" ng-click="crop(3/2)">3:2</div>
      <div role="menuitem" ng-click="crop(16/9)">16:9</div>
      <div role="menuitem" ng-click="crop('custom')">Custom aspect ratio</div>
    </div>
    <react-component
      ng-if="fieldLocale.access.editable &amp;&amp; file &amp;&amp; (file.url || isUnprocessedFile(file))"
      component="components.deleteImage"
    ></react-component>
  </div>
  <div class="file-selector" ng-show="!file &amp;&amp; fieldLocale.access.editable">
    <div class="__filestack-drop-pane-mount"></div>
    <div class="file-selector-btn-wrapper">
      <button class="btn-secondary-action" type="button" ng-click="selectFile()">
        Or open file selector
      </button>
    </div>
  </div>
</div>
