mixin predefined-values-warning
  div.editor-control-warning(
    role="alert")&attributes(attributes)
    cf-icon(name="plug")
    p
      | The widget failed to initialize.
      | You can fix the problem by providing predefined values
      | under the validations tab in the field settings.

