$colored-button-hover-state($text-color, $shadow-color)
  color: $text-color
  box-shadow: 0 1px 2px $shadow-color

$colored-button(
    $text-color,
    $background-color,
    $gradient-from,
    $gradient-to,
    $border-color,
    $top-shadow,
    $drop-shadow,
    $active-drop-shadow
  )
  color: $text-color
  border-color: $border-color
  box-shadow: 0 1px 1px $top-shadow inset
  background: $background-color
  background-image: linear-gradient($gradient-from, $gradient-to)
  &:not(:disabled),
  &:not([disabled])
    &:hover
      $colored-button-hover-state($text-color, $drop-shadow)
    &.active, &:active
      box-shadow: 0 2px 2px $active-drop-shadow inset
    &:link
      color: $text-color
    i
      color: lighten($text-color, 20%)
      &:active
        box-shadow: 0 2px 2px 2px $active-drop-shadow inset

