display($val, $important = )
  if $val is flex
    display: -webkit-box $important;
    display: -moz-box $important;
    display: -ms-flexbox $important;
    display: -webkit-flex $important;
    display: flex $important;
  else
    display: $val $important

flex($values...)
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -ms-flex: $values;
  flex: $values;

order($val)
  -webkit-box-ordinal-group: $val;
  -webkit-order: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  order: $val;

flex-grow($val)
  -webkit-box-flex: $val;
  -webkit-flex-grow: $val;
  -ms-flex-positive: $val;
  flex-grow: $val;

flex-direction($val)
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: $val;
  -ms-flex-direction: $val;
  flex-direction: $val;

flex-wrap($val)
  -webkit-flex-wrap: $val;
  -ms-flex-wrap: $val;
  flex-wrap: $val;

flex-shrink($val)
  -webkit-flex-shrink: $val;
  -ms-flex-negative: $val;
  flex-shrink: $val;

flex-basis($val)
  -webkit-flex-basis: $val;
  -ms-flex-preferred-size: $val;
  flex-basis: $val;

flex-flow($val...)
  -webkit-flex-flow: $val;
  -ms-flex-flow: $val;
  flex-flow: $val;

justify-content($val)
  -webkit-box-pack: $val;
  -webkit-justify-content: $val;
  -ms-flex-pack: $val;
  justify-content: $val;

align-self($val)
  -webkit-align-self: $val;
  -ms-flex-item-align: $val;
  align-self: $val;

align-items($val)
  -webkit-box-align: $val;
  -webkit-align-items: $val;
  -ms-flex-align: $val;
  align-items: $val;

align-content($val)
  -webkit-align-content: $val;
  -ms-flex-line-pack: $val;
  align-content: $val;
