$focus-styles()
  outline: 1px dotted
  outline: -webkit-focus-ring-color auto 5px

$tooltip-opaque()
  .tooltip.in
    opacity: 1

$caret()
  font-family: 'FontAwesome'
  color: white
  font-size: $caret-size
  position: absolute

$tab-padding()
  padding-left: 30px
  padding-right: 30px

$scroll-vertically($height)
  overflow-y: auto
  max-height: $height

$nav-bar-dropdowns()
  .separator,
  .dropdown-menu li.top-separator
    border-top: 1px solid $gray-dark
  .dropdown-menu
    border: none
    background: darken($gray-darkest, 10%)
    .dropdown-menu-item
      color: white
      border: none
      box-shadow: none
  .no-content-types
    background: $gray-darkest

// TODO would be good to see this used more as a class but nesting
$tr-clickable()
  &:hover
    background-color: $result-list-highlight
    cursor: pointer

// Main styles
$result-list-cell()
  line-height: 18px
  vertical-align: middle
  padding: 8px 0px
  padding-right: 10px
  text-align: left
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  span
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
