@require './checkbox'
@require './rating'
@require './radio'
@require './tag'
@require './json'
@require './rich_text'
@require './location'
@require './link/link-editor'
@require './link/entity-link'
@require './link/asset-card'
@require './link/user-link'
@require './datetime'
@require './shared'
