@require '/variables/colors'

.rich-text
  position: relative;

  &__editor {
    border-radius: 0 0 3px 3px;
    border: 1px solid $colors.element-dark;
    border-top: 0;
    background: $colors.element-lightest;
    // Show not allowed cursor if field is disabled
    a span, a span:hover {
      cursor: not-allowed
    }
  }

  &--enabled .rich-text__editor {
    background: $colors.white;
    a span, a span:hover {
      cursor: pointer
    }
  }

  &--hidden-toolbar .rich-text__editor {
    border: 1px solid $colors.element-dark;
  }

  &__button
    border: 1px solid $colors.element-dark
    background: $colors.element-light
    padding: 0 8px
    &:hover,
    &.active
      border-color: $colors.element-darkest
    &.active
      background: $colors.element-mid
      box-shadow: inset 0 1px 2px rgba(black, .12)

  &__embedded-asset-block-button {
    margin-left: auto;
    margin-right: 0.5rem;
  }

  &__embedded-asset-block-button, .toolbar-entry-dropdown-toggle {
    @media(max-width: 1170px) {
      span > span {
        display none
      }
    }
  }

  &__toolbar
    .toolbar-entry-dropdown
      align-self: flex-start
      margin-left: auto

    &__formatting-options-wrapper
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-right: 20px;

    &__embed-actions-wrapper
      display: flex
      align-self: flex-start
      margin-left: auto

  .sticky-wrapper
    transform: none !important;

  &--enabled .native-sticky
    position: sticky;
    top: 0;
    z-index: 2;

  &__embedded-entry-list-icon
    margin-right: 5px;

  [data-slate-editor]
    padding: 20px

  .entity-link
    margin: 1.5em 0
    padding: 0 14px
    min-height: 100px
    cursor: pointer

  .entity-link--selected
    outline: auto

  .toolbar-toggle-heading-1 button span
    font-size: 1.625rem;
    font-weight: 700;

  .toolbar-toggle-heading-2 button span
    font-size: 1.4375rem;
    font-weight: 700;

  .toolbar-toggle-heading-3 button span
    font-size: 1.25rem;
    font-weight: 700;

  .toolbar-toggle-heading-4 button span
    font-size: 1.125rem;
    font-weight: 700;

  .toolbar-toggle-heading-5 button span
    font-size: 1rem;
    font-weight: 700;

  .toolbar-toggle-heading-6 button span
    font-size: 0.875rem;
    font-weight: 700;

  .toolbar-heading-toggle
    width: 110px;
    @media(min-width: 1420px)
      width: 145px;

    > span {
      padding: 0 2px;
    }

    svg
      margin-left: auto;

  .cf-slate-paragraph
    line-height: 1.5;
    margin-bottom: 1.5em;

  .cf-slate-mark-bold
    color: inherit;
    font-weight: 700;

  h1,h2,h3,h4,h5,h6
    &.cf-slate-heading
      font-weight: 600;
      line-height: 1.3;
      margin: 0 0 0.75rem 0;
      .cf-slate-mark-bold
        font-weight: 900;

  h1.cf-slate-heading
    font-size: 1.875rem;
  h2.cf-slate-heading
    font-size: 1.5625rem;
  h3.cf-slate-heading
    font-size: 1.375rem;
  h4.cf-slate-heading
    font-size: 1.25rem;
  h5.cf-slate-heading
    font-size: 1.125rem;
  h6.cf-slate-heading
    font-size: 1rem;


  .rich-text__editor
    font-size: 1rem;
    min-height: 400px;

  .cf-slate-blockquote
    margin: 0 0 1.3125rem;
    border-left: 6px solid $colors.element-light;
    padding-left: 0.875rem;
    font-style: normal;

  .cf-slate-code
    background: $colors.element-light;
    padding: 0px;
    color: $colors.text-mid;
    border-radius: 2px;

  a .cf-slate-blockquote
    color: inherit;

  // Un-Reset List Styles
  .cf-slate-list-item .cf-slate-unordered-list, .cf-slate-list-item .cf-slate-ordered-list {
    margin:0 0 0 1.5rem;
  }
  .cf-slate-list-item {
    list-style: inherit;
    margin: 0;
  }
  .cf-slate-unordered-list, .cf-slate-ordered-list {
    margin: 0 0 1.25rem 1.25rem;
  }
  .cf-slate-unordered-list {
    list-style-type: disc;
  }
  .cf-slate-unordered-list .cf-slate-unordered-list {
    list-style-type: circle;
  }
  .cf-slate-unordered-list .cf-slate-unordered-list .cf-slate-unordered-list {
    list-style-type: square;
  }
  .cf-slate-ordered-list {
    list-style-type: decimal;
  }
  .cf-slate-ordered-list .cf-slate-ordered-list {
    list-style: upper-alpha;
  }
  .cf-slate-ordered-list .cf-slate-ordered-list .cf-slate-ordered-list {
    list-style: lower-roman;
  }
  .cf-slate-ordered-list .cf-slate-ordered-list .cf-slate-ordered-list .cf-slate-ordered-list {
    list-style: lower-alpha;
  }

  .cf-slate-unordered-list, .cf-slate-ordered-list
    .cf-slate-paragraph
      margin: 0;
      line-height: 1.5;

  .cf-slate-hr
    height: 1rem;
    background: transparent;
    position: relative;
    margin: 0 0 1.5rem;
    &:hover
      cursor pointer;
    &:after
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background: $colors.element-mid;
      top: 50%;

  .cf-slate-hr--selected
    &:after
      background: $colors.blue-dark;
      box-shadow: 0px 0px 5px $colors.blue-dark;

  .rich-text__reference-card,
  .rich-text__asset-card
    margin-bottom: 1.25rem;

  .rich-text__inline-reference-card
    margin: 0px 5px;
    font-size: inherit;

    span
      user-select: none;

  .rich-text__tooltip-container
    display: inline;
    position: relative;

  .rich-text__hyperlink-wrapper
    display: inline;
    position: static;
    a
     font-size: inherit;


  .rich-text__hyperlink
    display: inline!important; // inline-block causing issues in Slate
    &--ie-fallback
      color: $blue-link;
      text-decoration: underline;

    &:hover,
    &:focus
      .rich-text__hyperlink-icon
        fill: $colors.text-dark;

  .rich-text__hyperlink-icon
    position: relative;
    top: 4px;
    height: 14px;
    margin: 0 -2px 0 -1px; // Optical alignment when using "trimmed" icon variant
    transition: fill 100ms ease-in-out;

  &__entity-tooltip-content
    &__content-type
      color: $colors.text-lightest;
      margin-right: 7.5px;
      &:after {
        content: ':';
      }
    &__title
      margin-right: 7.5px;

.rich-text-option-toggle
  margin: 0px 8px 8px 0px;

.rich-text-options
  border-left: 1px solid #E5EBED;
  padding-left: 28px;
  &__section
    margin-bottom: 20px;
    &__inner-wrapper
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    &__header
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      h3
        margin: 0;
        font-size: 14px;
      button
        margin-left: auto;

.toggle-square
  width: 33px;
  height: 33px;
