/*
Shared Styles

Collection of classes used by multiple field editors

Markup:
input.entry-editor__input(type="text")
.field-editor__character-info
  div
    | 10 characters
  div.u-flex-pull-right
    | Requires at least 10 characters

Styleguide field-editors.shared
*/

.field-editor__character-info
  margin-top: $rhythm(0.5)
  font-size: 90%
  display: flex
