/*
Single Line

Markup:
input.entry-editor__input(type="text")
.single-line-editor__info
  div.colors__red
    | 10 characters
  div
    | Requires at least 10 characters

Styleguide field-editors.single-line
*/

// TODO unify this with .markdown-info
.single-line-editor__info
  display: flex
  margin-top: $rhythm(0.5)
  font-size: 90%;
  *:last-child
    margin-left: auto
