@require '/variables/colors'

.structured-text
  &__editor {
    border-radius: 0 0 3px 3px;
    border: 1px solid $colors.element-dark;
    border-top: 0;
  }

  &__button
    border: 1px solid $colors.element-dark
    background: $colors.element-light
    padding: 0 8px
    &:hover,
    &.active
      border-color: $colors.element-darkest
    &.active
      background: $colors.element-mid
      box-shadow: inset 0 1px 2px rgba(black, .12)

  &__entry-link-block-button {
    margin-left: auto;
  }

  [data-slate-editor]
    padding: 20px

  .entity-link
    margin: 1.5em 0
    padding: 0 14px
    min-height: 100px
    cursor: pointer

  .entity-link--selected
    outline: auto

  .toolbar-toggle-heading-1 span
    font-size: 20px;
    font-weight: 700;

  .toolbar-toggle-heading-2 span
    font-size: 16px;
    font-weight: 700;

  .toolbar-heading-toggle
    width: 180px;

    > span {
      padding: 0 2px;
    }

    svg
      margin-left: auto;

  .toolbar-heading-dropdown-list
    width: 178px; 
  
