mixin content-preview-sidebar
  .workbench-main__sidebar.content-preview-sidebar
    .entity-sidebar
      .cfnext-form__field(ng-if="previewEnvironments.length")
        button.btn-action.x--block(
          ng-if="previewEnvironments.length < 25"
          ui-sref="spaces.detail.settings.content_preview.new")
          div
            cf-icon(name="plus").btn-icon.inverted
            | Add content preview
        div(ng-if="previewEnvironments.length >= 25")
          | You can't create more than 25 preview environments
      h2.entity-sidebar__heading
        | What's content preview?
      p
        | Adding a content preview generates a link in the entry editor, referring to your custom preview environment.
      p
        cf-knowledge-base(target="content_preview" text="Read the guide" inline-text="true")
        |  before setting up a custom content preview.
      if attributes.isEditor
        h2.entity-sidebar__heading
          | Tokens for content preview URLs
        p
          | Use these representative tokens in your URLs.
          |  They will be replaced with the corresponding values when the preview is opened in the entry editor.
        p
          code.content-preview-sidebar__token
            | {entry}
          span
            |  : an object containing all the properties and their values for the entry

        p
          | You can get the value of any property, for example:

        p
          code.content-preview-sidebar__token
            | {entry.sys.id}
          span
            |  : <code>id</code> of the current entry

        p
          code.content-preview-sidebar__token
            | {entry.fields.slug}
          span
            |  : the default locale value of the <code>slug</code> field for the current entry

        h2.entity-sidebar__heading
          | Linked entries

        p
          | Additionally, you can query
          =" "
          a(href="https://www.contentful.com/developers/docs/references/content-delivery-api/#/reference/search-parameters/links-to-entry", target="_blank", rel="noopener noreferrer")
            | incoming links to entry
          |  by using the <em>{entry.linkedBy}</em> property (the first entry in response will be used):

        p
          code.content-preview-sidebar__token
            | {entry.linkedBy.sys.id}
          span
            |  : <code>id</code> of the entry, which references current entry (which is open in the editor)

        p
          |  It also supports walking up in the incoming links graph as shown below:

        p
          code.content-preview-sidebar__token
            | {entry.linkedBy.linkedBy.fields.slug}
          span
            |  : value of the <code>slug</code> field for the entry, which references entry from the previous example

        h2.entity-sidebar__heading
          | Legacy tokens

        p
          | These tokens are deprecated, since their functionality is covered by <em>{entry.sys.id}</em>
          |  and <em>{entry.fields.slug}</em>.

        p
          code.content-preview-sidebar__token
            | {entry_id}
          span
            |  : Entry ID
        p
          code.content-preview-sidebar__token
            span {entry_field.<span class="content-preview-sidebar__token__alt">id</span>}
          span
            |  : Entry fields - the value of any given field can be used by passing the ID of the respective field.
            |  For example, to use the field with the ID slug, the token would be <em>{entry_field.slug}</em>.
        p
          | Use the <a ui-sref="spaces.detail.api.content_model">content model explorer</a> to retreive the ID of the field(s) you want to use.

mixin content-preview-item
  span
    h3.entity-list__heading {{env.name}}
    span.entity-list__description {{env.description}}
  cf-icon(name="dd-arrow-down")

