input.form-control.date(type="text" ng-model="localDate" ng-disabled="!otEditable")
i.fa.fa-calendar
span(ng-show="hasTime")
  input.form-control.time(type="text" ng-model="localTime" ng-disabled="!otEditable" placeholder="eg. {{maxTime}}")
  i.fa.fa-clock-o
  .btn.btn--tertiary.select-box(ng-show="widget.widgetParams.ampm == '12'")
    select.ampm(ng-model="ampm" ng-disabled="!otEditable")
      option(value="am") AM
      option(value="pm") PM

  .btn.btn--tertiary.select-box(ng-hide="!localTime || !hasTimezone")
    select.zone(ng-model="tzOffset"
      ng-options="offset as ('UTC'+offset) for offset in timezones"
      tooltip="Timezone"
      ng-disabled="!otEditable")
      option(value="") (None)
    i.button-icon-right.fa.fa-caret-down
  i.fa.fa-globe(ng-hide="!localTime || !hasTimezone")

i.fa.fa-exclamation-triangle.is-date-invalid(ng-show="dateInvalid" tooltip="You must provide a valid date" tooltip-placement="right")
i.fa.fa-exclamation-triangle.is-time-invalid(ng-show="timeInvalid" tooltip="Time must be of format {{maxTime}}.999" tooltip-placement="right")
