textarea.form-control.input-cclarge(
  cf-input-autogrow
  ng-model="jsonData.value"
  ng-disabled="!otEditable")
button.btn.btn--secondary(ng-show="textFieldModel.$dirty" ng-click="saveJSON()" ng-disabled="textFieldModel.$invalid") Submit
button.btn.btn--secondary(ng-show="textFieldModel.$dirty" ng-click="revertJSON()") Revert
span(ng-hide="textFieldModel.$valid")
  i.fa.fa-exclamation-triangle
  | Invalid JSON
