div(ng-show="context.ready && !context.forbidden")
  cf-loader(watch-state-change="true")
  | ${{template}}

cf-loader(is-shown="!context.ready && !context.forbidden", loader-msg="${{loadingText}}")

div.workbench.workbench-forbidden.x--center(
  ng-show="context.forbidden")
  div.workbench-forbidden__headline
    | You don’t have permission to access this view
  div.workbench-forbidden__message
    | Get in touch with the person administering
    | Contentful at your company to learn more
