.drag-me.center(ng-show="state=='drag'")
  | Drag file to upload
.button-container.center(ng-show="state=='drag'" ng-transclude)
.drop-me.center.vcenter(ng-show="state=='drop'") Drop file to upload
.progress.center(ng-show="state=='progress'")
  p Uploading file
  .cf-progress-bar.animate.nostripes.red(cf-progress-bar)
