@import 'variables/colors.styl'

/*
The styles in this file are injected into the icons SVG and are not used outside of it
*/
.icon
  display: none

.icon:target
  display: inline

#dd-arrow-down
  fill: white

#plus
  circle
    fill: $cfnext-blue

#nav-ct
  path
    stroke: white
    fill: transparent

#nav-entries
  path
    stroke: white
    stroke-width: 2
    fill: transparent
  rect
    stroke: white
    stroke-width: 2
    fill: transparent
  #Pencil
    rect
      fill: white
    ellipse
      stroke: white
      stroke-width: 2
      fill: transparent

#nav-media
  path
    stroke: white
    stroke-width: 2
    fill: transparent
  rect
    fill: white
  #Picture
    stroke: white
    stroke-width: 2
    fill: transparent
  circle
    stroke: white
    stroke-width: 2
    fill: transparent

#nav-api
  fill: white
  stroke: transparent

#nav-settings
  path
    stroke: white
    stroke-width: 2
