:root {
  --font-stack-primary: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --color-element-lightest: #f7f9fa;
  --color-element-light: #e5ebed;
  --color-element-mid: #d3dce0;
  --color-element-dark: #c3cfd5;
  --color-text-mid: #536171;
  --color-green-base: #0eb87f;
  --color-green-dark: #0baa75;
  --color-positive-gradient: linear-gradient(to top, #0eb87f, #14d997);
  --font-size-s: 0.75rem;
  --font-size-m: 0.875rem;
  --line-height-default: 1.5;
  --spacing-xs: 0.5rem;
  --spacing-m: 1rem;
  --spacing-xl: 2rem;
}

.osano-cm-window {
  font-family: var(--font-stack-primary);
}

.osano-cm-dialog {
  align-items: start;
  box-shadow: none;
  border-top: solid;
  border-top-width: 1px;
  border-top-color: var(--color-element-mid);
}

.osano-cm-dialog__content {
  flex: 1;
  margin: 0;
  font-size: var(--font-size-m);
  line-height: var(--line-height-default);
}

.osano-cm-dialog__content a:link {
  text-decoration: underline;
}

.osano-cm-dialog-list {
  margin-top: var(--spacing-xs);
}

.osano-cm-dialog-list__item {
  margin-bottom: 0;
}

.osano-cm-toggle {
  margin: 0;
}

.osano-cm-label {
  font-size: var(--font-size-m);
  font-weight: bold;
}

.osano-cm-toggle__checkbox {
  height: initial;
  width: initial;
  margin: 0;
  opacity: 1;
  position: initial;
}

.osano-cm-toggle__switch {
  display: none;
}

.osano-cm-buttons {
  display: flex;
  flex: initial;
  justify-content: initial;
  width: initial;
  margin-left: var(--spacing-m);
}

.osano-cm-button {
  font-weight: normal;
  font-size: var(--font-size-m);
  padding: 0 calc(1rem * (14 / 16) + 1rem * (4 / 16));
  height: calc(1rem * (40 / 16));
  border-radius: calc(1rem * (2 / 16));
  border: none;
  min-width: initial;
  box-shadow: none;
  margin: 0;
  -webkit-transition: background 0.2s ease-in-out, opacity 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, opacity 0.2s ease-in-out, border-color 0.2s ease-in-out;
  font-family: var(--font-stack-primary);
  background-color: transparent;
  color: var(--color-text-mid);
}

.osano-cm-button:hover,
.osano-cm-button:focus {
  background-color: var(--color-element-mid);
}

.osano-cm-info-dialog .osano-cm-button,
.osano-cm-accept-all,
.osano-cm-accept {
  border: calc(1rem * (1 / 16)) solid var(--color-green-dark);
  background-image: var(--color-positive-gradient);
  background-size: 100% 200%;
  color: var(--color-element-lightest);
}

.osano-cm-info-dialog .osano-cm-button:hover,
.osano-cm-info-dialog .osano-cm-button:focus,
.osano-cm-accept-all:hover,
.osano-cm-accept-all:focus,
.osano-cm-button.osano-cm-accept:hover,
.osano-cm-button.osano-cm-accept:focus {
  background-image: var(--color-positive-gradient);
  background-color: var(--color-green-base);
  background-size: 100% 200%;
  background-position: 0 100%;
}

.osano-cm-button:last-child {
  margin-left: var(--spacing-m);
}

.osano-cm-info-dialog {
  box-shadow: none;
  background-color: var(--color-element-lightest);
  padding: 1.25rem;
  max-width: 350px;
  font-size: var(--font-size-m);
  line-height: var(--line-height-default);
  color: var(--color-text-mid);
}

.osano-cm-info-dialog-close {
  display: none;
}

.osano-cm-info-dialog__header {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid var(--color-element-mid);
}

.osano-cm-info-dialog .osano-cm-label,
.osano-cm-info-dialog__header-title {
  padding: 0;
  margin-bottom: var(--spacing-xs);
  font-size: var(--font-size-m);
  font-weight: bold;
  color: var(--color-text-mid);
}

.osano-cm-info-dialog .osano-cm-label {
  margin-bottom: 0;
  margin-left: var(--spacing-xs);
}

.osano-cm-description,
.osano-cm-info-dialog__header-description {
  font-size: var(--font-size-m);
  font-weight: normal;
  line-height: var(--line-height-default);
  color: var(--color-text-mid);
  margin: 0 0 var(--spacing-m);
}

.osano-cm-info-list {
  margin: var(--spacing-m) 0 var(--spacing-xl);
  padding: 0;
}

details.osano-cm-disclosure[open],
details.osano-cm-disclosure:not([open]),
details.osano-cm-disclosure.osano-cm-disclosure--collapse {
  padding: 0;
  width: 100%;
  margin: 0;
  border: 0;
}

summary.osano-cm-disclosure__toggle {
  font-size: var(--font-size-s);
  color: var(--color-text-mid);
  font-weight: bold;
  margin-bottom: var(--spacing-m);
}

.osano-cm-disclosure__list {
  width: 100%;
  margin: 0 0 0;
  padding: var(--spacing-xs) var(--spacing-m);
  font-size: var(--font-size-s);
}

.osano-cm-script-disclosure,
.osano-cm-cookie-disclosure {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.osano-cm-disclosure__list .osano-cm-disclosure__list-item {
  border-top: 1px solid var(--color-element-lightest);
  margin: var(--spacing-xs) 0 0;
  padding: var(--spacing-xs) 0 0;
}

.osano-cm-disclosure__list .osano-cm-disclosure__list-item:first-child {
  border-top: 0;
  margin: 0;
  padding: 0;
}

.osano-cm-cookie-disclosure__title,
.osano-cm-cookie-disclosure__description {
  font-size: var(--font-size-s);
}

.osano-cm-info-dialog .osano-cm-toggle {
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: var(--spacing-xs);
}

.osano-cm-info-list__item {
  margin: var(--spacing-m) 0 0;
  border-bottom: 1px solid var(--color-element-dark);
}

.osano-cm-info-list__item:last-child {
  border: 0;
}

a.osano-cm-powered-by__link {
  color: var(--color-text-mid);
}

button.osano-cm-widget {
  display: none;
}

@media screen and (min-width: 1440px) {
  .osano-cm-dialog {
    padding: 1.5rem 15%;
  }
}
