.icons-metadata-dialog
  &.modal-dialog
    min-width: 1000px
    height: 600px
  .modal-dialog__richtext
    overflow: auto
    max-width: 980px
    height: 500px

.icons-metadata
  width: 100%

.icon-metadata
  float: left
  margin-right: 4px
  margin-bottom: 4px
  padding: 4px
  width: 100px
  height: 100px
  background-color: $cfnext-light-gray
  text-align: center

cf-icon[name="nav-ct"],
cf-icon[name="nav-entries"],
cf-icon[name="nav-media"],
cf-icon[name="nav-settings"]
  a:hover &,
  .is-active &
    g, path
      stroke: $cfnext-blue
      transition: stroke $app-top-bar-transition-time

cf-icon[name="nav-api"]
  a:hover &,
  .is-active &
    path
      fill: $cfnext-blue
      transition: stroke $app-top-bar-transition-time

cf-icon[name="dd-arrow-down"]
  path
    fill: white

cf-icon[name="plus"]
  circle
    fill: $cfnext-blue

cf-icon[name="plus"].inverted
  circle
    fill: white
  path
    stroke: $cfnext-blue

cf-icon[name="field-shorttext"],
cf-icon[name="field-shorttext-small"],
cf-icon[name="field-longtext"],
cf-icon[name="field-longtext-small"],
cf-icon[name="field-number"],
cf-icon[name="field-number-small"],
cf-icon[name="field-decimal"],
cf-icon[name="field-decimal-small"],
cf-icon[name="field-boolean"],
cf-icon[name="field-boolean-small"],
cf-icon[name="field-json"],
cf-icon[name="field-json-small"]
  path, circle
    fill: $cfnext-green
  rect
    stroke: $cfnext-green
  .is-disabled &
    path, circle
      fill: $cfnext-gray
    rect
      stroke: $cfnext-gray

cf-icon[name="field-calendar"],
cf-icon[name="field-calendar-small"],
cf-icon[name="field-media"],
cf-icon[name="field-media-small"],
cf-icon[name="field-location"],
cf-icon[name="field-location-small"],
cf-icon[name="field-reference"],
cf-icon[name="field-reference-small"]
  path, circle, rect
    stroke: $cfnext-green
  .is-disabled &
    path, circle, rect
      stroke: $cfnext-gray

cf-icon[name="field-calendar"]
  rect
    fill: $cfnext-green
  rect:first-of-type
    fill: none

cf-icon[name="field-media"]
  rect
    fill: $cfnext-green
  rect:last-of-type
    fill: none

