.icons-metadata-dialog
  &.modal-dialog
    min-width: 1000px
    height: 600px
  .dialog-content
    overflow: auto
    max-width: 980px
    height: 500px

.icons-metadata
  width: 100%

.icon-metadata
  float: left
  margin-right: 4px
  margin-bottom: 4px
  padding: 4px
  width: 100px
  height: 100px
  background-color: $cfnext-light-gray
  text-align: center

.icon-nav-api
  padding-top: 4px

.icon-dd-arrow-down
  padding-left: 4px
  padding-top: 2px

.icon-checkmark
  padding-top: 3px

 svg
   #icon-dd-arrow-down
     fill: white

   #icon-plus
     circle
       fill: $cfnext-blue

