.google-map(ng-model="location")
.invalid-location-warning(ng-show="location && !locationValid")
  .text Invalid location data!
.sub-fields(cf-autocomplete-results="results")
  .search(ng-show="otEditable")
    .search-field(placeholder="Search Address" cf-search="searchTerm" search-type-ahead)
    .search-results.search-options-on(ng-show="results.length > 0")
      ul
        li(ng-repeat="(index, result) in results track by index" ng-click="pickResult(result)" ng-class="{selected: result===selectedResult}")
          span.address {{result.address}}
          span.lat Lat: {{result.strippedLocation.lat}}
          span.lon Lon: {{result.strippedLocation.lon}}

