.user-list(ng-init="selectedListView = 'name'")
  h1 Users ({{ users.length || 0 }})

  select(ng-model="selectedListView")
    option(value="name") Show users in alphabetical order
    option(value="role") Show users grouped by role

  div(ng-repeat="item in by[selectedListView] track by item.label")
    h3 {{ item.label }}
    div.user-list--item(ng-repeat="user in item.users track by user.id")
      img(ng-src="{{ user.avatarUrl }}")
      strong {{ user.name }}
      p {{ user.roleNames }}
