@import './colors-deprecated.styl'

/*
Color scheme

Markup:
.styleguide-swatches
  .colors__dark-gray
    | dark-gray
  .colors__gray
    | gray
  .colors__light-gray
    | light-gray
  .colors__white
    | white
.styleguide-swatches
  .colors__dark-blue
    | dark-blue
  .colors__blue
    | blue
  .colors__light-blue
    | light-blue
  .colors__lightest-blue
    | lightest-blue
  .colors__green
    | green
  .colors__shadow-green
    | shadow-green
  .colors__aero-blue
    | aero-blue
  .colors__red
    | red
  .colors__yellow
    | yellow
h1 New colors
.styleguide-swatches
  .colors__text-dark
    | text-dark
  .colors__text-mid
    | text-mid
  .colors__text-light
    | text-light
  .colors__text-lightest
    | text-lightest
  .colors__contrast-dark
    | contrast-dark
  .colors__contrast-mid
    | contrast-mid
  .colors__contrast-light
    | contrast-light
  .colors__element-darkest
    | element-darkest
  .colors__element-dark
    | element-dark
  .colors__element-mid
    | element-mid
  .colors__element-light
    | element-light
  .colors__blue-darkest
    | blue-darkest
  .colors__blue-dark
    | blue-dark
  .colors__blue-mid
    | blue-mid
  .colors__blue-light
    | blue-light
  .colors__green-dark
    | green-dark
  .colors__green-mid
    | green-mid
  .colors__green-light
    | green-light
  .colors__red-dark
    | red-dark
  .colors__red-mid
    | red-mid
  .colors__red-light
    | red-light

Styleguide 1.0
*/

$colors = {
  text-dark:         #2A3039,
  text-mid:          #536171,
  text-light:        #8091A5,
  text-lightest:      #A9B9C0,

  element-darkest:    #C5D2D8,
  element-dark:      #DFE5E9,
  element-mid:       #EEF2F4,
  element-light:     #F7F9FA,

  contrast-dark:     #0C141C,
  contrast-mid:      #192532,
  contrast-light:    #263545,

  blue-darkest:       #3072BE,
  blue-dark:         #3C80CF,
  blue-mid:          #4A90E2,
  blue-light:        #5B9FEF,

  green-dark:        #05A972,
  green-mid:         #16C98D,
  green-light:       #16D595,

  red-dark:          #CD4739,
  red-mid:           #E0534E,
  red-light:         #F5716B,

  dark-gray:     #2D2F31,
  gray:          #A2A9B1,
  light-gray:    #D6DCE4,
  white:         #F6F8FA,

  blue:          hsl(200,  81%, 54%)  // #28A8E9
  dark-blue:     #21304A
  light-blue:    #A7E2FF,
  lightest-blue: hsl(201, 100%, 95%)  // #E8F7FF

  green:         hsl(160,  80%, 44%)  // #16C98D
  shadow-green:  #90C2AC,
  aero-blue:     #B9E9D4,

  red:           #F05650,
  yellow:        #F6E8B0,
}
