$gray-lightest = #F5F5F5
$gray-lighter = #EBEBEB
$gray-light = #DEDEDE
$gray = #9B9B9B
$gray-medium-light = #8B8B8B
$gray-medium = #7F7F7F
$gray-dark = #545454
$metallic-gray = #969FA6
$metallic-gray-blueish = #768FAC
$metallic-gray-dark = #333A42
$blue-lightest = #98C4EF
$blue = #3e97d6
$blue-dark = #2F5B85
$blue-link = #1683d0
$blue-dark-link = #0C2C52
$orange = #f2602e
$green = #33ca6c
$gold = #e6ae17
