$base-font-size = 14px
$base-line-height = 18px
$base-font-color = $colors.dark-gray
$small-font-size = (13/14) * 1em

$nav-bar-height = 70px
$nav-bar-box-shadow = inset 0 0 1px rgba(255,255,255,0.2)
$nav-bar-font-weight = bold
$nav-bar-break-width = 1279px

$breadcrumbs-height = 50px

$tab-height = 30px
$tab-header-height = 66px
$tab-header-font-size = 20px
$tab-header-field-height = 32px
$tab-header-line-height = $tab-header-height - 2px
$tab-header-padding = ($tab-header-height - $tab-header-field-height)/2
$tab-main-margin-top = 28px

$left-nav-padding = 8px

$caret-size = 10px

$avatar-width = 27px

$result-list-highlight = lighten($gray-light, 10%)

$form-gutter = 10%
$form-offset = 11px
$form-spacing = 25px
$form-labelwidth = 20%
$form-controlwidth-outer = 80%
$form-controlwidth-inner = 100%
$form-textarea-padding = 6px
$field-editor-width = 80%


$app-top-bar-transition-time = 0.1s

$box-shadow-workbench-layer = -3px 0px 3px rgba($colors.contrast-dark, 0.15);
