.account-menus
  position: absolute
  width: 100%
  right: 20px
  top: 0px
  height: $nav-bar-height
  .dropdown-toggle
    height: $nav-bar-height
    font-weight: $nav-bar-font-weight
    text-align: right
  .dropdown-toggle
    float: right
    line-height: 27px
    padding: 10px 10px 0px
    border-bottom: none
    i
      margin-left: 10px
      margin-top: 2px
  .dropdown-toggle:hover
    color: white
    box-shadow: none
  .active .dropdown-toggle
    color: white

// Concrete project and user buttons
.account-menus
  $nav-bar-dropdowns()
  .dropdown-group
    > li
      color: $gray
      span, .ss-users
        font-size: 1.1em
        font-weight: bold
      .ss-users
        font-size: 1.2em
        margin-right: 3px
  .dropdown-menu
    top: 45px
    .account-header
      color: white
      font-weight: 600
      padding: 2px 12px 6px
      margin-bottom: 0px
  .project,
  .user
    float: right
  .project
    position: relative
    margin-right: 10px
    min-width: 120px
    .dropdown-menu
      max-height: 500px
      overflow-y: auto
    $tooltip-opaque()
    .tooltip
      margin-left: -75px
    .hibernated
      color: $gray-medium
      &:hover
        color: $gray-light
    .ss-record
      font-size: 7px
      float: right
      margin-right: 10%
      margin-top: 2px
    li
      max-width: 210px
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
  .user
    img
      vertical-align: middle
      margin-top: -4px
    .dropdown-menu
      right: 0
  .project.active,
  .user.active
    padding-top: 1px
    background: darken($gray-darkest, 10%)

.cf-account-view
  &.with-tab-bar
    margin-top: 30px

.navbar-loader
  float: right
  width: 50px
  height: 50px
  background: url('/app/navbar-loader.gif') center no-repeat

.cf-persistent-notification
  float: right
  margin-right: 10px
  margin-top: 5px
  color: white
  background-color: darken($gray-darkest, 5%)
  padding: 0px 11px 5px
  border-radius: 3px
  $bottom-white-shadow = rgba(255,255,255,0.2) 0px 1px
  $top-black-shadow = rgba(0,0,0,0.5) 0px -1px
  $left-black-shadow = rgba(0,0,0,0.3) 1px 0px 1px inset
  box-shadow: $bottom-white-shadow, $top-black-shadow, $left-black-shadow
  strong
    color: white
  p, button
    float: left
    margin-bottom: 0px
  p
    line-height: 25px
    margin-top: 4px
    margin-right: 10px
    vertical-align: middle
  button
    margin-top: 3px
    padding: 3px 7px
  $tooltip-opaque()
