.editing-interface-editor
  .editor-top-right //TODO duplicated from entity list
    float: right
    $display-flexbox()
    justify-content: flex-end
    align-items: center
    width: 300px
    height: $tab-header-height // TODO this shouldn't be necessary once container becomes flexible
    > *
      margin-right: 25px

  .left-nav,
  .with-left-nav
    margin-top: 20px
    border-right: 1px solid $dark-rule

  .with-left-nav
    $stretch(0, 30%, 0, $left-nav-width)
    padding: 50px 30px

  .l-form-field
    .select-box
      width: 100%
      select
        width: 110%

.field-widget-header
  padding: 10px

  .widget-label,
  .cf-fieldtype-icon
    display: inline-block

  .widget-label
    font-weight: bold
    margin-left: 15px

  .tools
    float: right

.field-widget-settings
  margin-bottom: 20px
  border: 1px solid $gray-light

  .details
    display: none

  &.open
    .details
      display: block
      padding-top: 20px
      padding-bottom: 20px
      background-color: $gray-lightest

