// Common styles for all kinds of editors

$entity-editor
  .dropdown-menu
    margin-left: 10px

  // Editor configuration
  .editor-configuration
    h1
      max-width: 600px
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
  .editor-top-right
    float: right
    height: 100%
    width: 300px
    .dropdown-button,
    .btn--flat
      float: right
      margin: 6% 25px 0 0

  .invite-users
    position: relative
    vertical-align: top 
    display: inline-block
    margin-left: 15px
    line-height: 13px
    padding-top: 10px
    .ss-users,
    .ss-plus
      display: inline-block
      line-height: inherit
    .ss-users
      font-size: 15px
    .ss-plus
      font-size: 9px
      top: -4px


