.entity-editor
  .dropdown-menu
    margin-left: 10px

  .invite-users
    position: relative
    vertical-align: top 
    display: inline-block
    margin-left: 15px
    line-height: 13px
    padding-top: 10px
    .ss-users,
    .ss-plus
      display: inline-block
      line-height: inherit
    .ss-users
      font-size: 15px
    .ss-plus
      font-size: 9px
      top: -4px


