// Colors
//
// Styleguide 1.0

// Text and background colors
// 
// Colors used throughout the site
//
// Markup: <div class="colors {$modifiers}">hello, text</div>
//
// colors__gray-lightest         - $gray-lightest \#F5F5F5 rgb(245, 245, 245), used for light rules
// colors__gray-light            - $gray-light \#DEDEDE rgb(222, 222, 222), used for dark rules
// colors__gray                  - $gray \#9B9B9B rgb(155, 155, 155)
// colors__gray-medium           - $gray-medium \#7F7F7F rgb(127, 127, 127)
// colors__gray-dark             - $gray-dark \#545454 rgb(84, 84, 84)
// colors__gray-darkest          - $gray-darkest \#2D2F31 rgb(45, 47, 49)
// colors__metallic-gray         - $metallic-gray \#969FA6 rgb(150, 159, 166)
// colors__metallic-gray-blueish - $metallic-gray-blueish \#768FAC rgb(118, 143, 172)
// colors__metallic-gray-dark    - $metallic-gray-dark \#333A42 rgb(51, 58, 66)
// colors__gray-gradient-from    - $gray-gradient-from \#F6F8F9 rgb(246, 248, 249)
// colors__gray-gradient-to      - $gray-gradient-to \#EDEFF4 rgb(237, 239, 244)
// colors__light-blue            - $light-blue \#4A90E2 rgb(74, 144, 226)
// colors__link-blue             - $link-blue \#1683d0 rgb(22, 131, 208)
//
// Styleguide 1.1
.colors
  width: 100px
  height: 50px

$gray-lightest = #F5F5F5
.colors__gray-lightest
  background-color: $gray-lightest
$gray-light    = #DEDEDE
.colors__gray-light
  background-color: $gray-light
$gray          = #9B9B9B
.colors__gray
  background-color: $gray
$gray-medium   = #7F7F7F
.colors__gray-medium
  background-color: $gray-medium
$gray-dark     = #545454
.colors__gray-dark
  background-color: $gray-dark
$gray-darkest  = #2D2F31
.colors__gray-darkest
  background-color: $gray-darkest

$metallic-gray         = #969FA6
.colors__metallic-gray
  background-color: $metallic-gray
$metallic-gray-blueish = #768FAC
.colors__metallic-gray-blueish
  background-color: $metallic-gray-blueish
$metallic-gray-dark    = #333A42
.colors__metallic-gray-dark
  background-color: $metallic-gray-dark

$gray-gradient-from = #F6F8F9
.colors__gray-gradient-from
  background-color: $gray-gradient-from
$gray-gradient-to   = #EDEFF4
.colors__gray-gradient-to
  background-color: $gray-gradient-to


$light-blue = #4A90E2
.colors__light-blue
  background-color: $light-blue

$link-blue = #1683d0
.colors__link-blue
  color: $link-blue

$dark-link-blue = darken($link-blue, 39%)
.colors__dark-link-blue
  color: $dark-link-blue

// Status colors
//
// Colors used to represent statuses
//
// $blue       - \#3e97d6
// Markup: <div class="colors colors__blue"></div>
// $light-blue - \lighten($blue, 20%)
// Markup: <div class="colors colors__light-blue"></div>
// $green      - \#33ca6c
// Markup: <div class="colors colors__green"></div>
// $gold       - \#e6ae17
// Markup: <div class="colors colors__gold"></div>
// $red        - \#f2602e
// Markup: <div class="colors colors__red"></div>
// $dark-red   - \#d1322b
// Markup: <div class="colors colors__dark-red"></div>
//
// Styleguide 1.2
$blue       = #3e97d6
.colors__blue
  background-color: $blue
$light-blue = lighten($blue, 20%)
.colors__light-blue
  background-color: $light-blue
$green      = #33ca6c
.colors__green
  background-color: $green
$gold       = #e6ae17
.colors__gold
  background-color: $gold
$red        = #f2602e
.colors__red
  background-color: $red
$dark-red   = #d1322b
.colors__dark-red
  background-color: $dark-red

