$base-font-size = 13px

$nav-bar-height = 45px
$nav-bar-box-shadow = inset 0 0 1px rgba(255,255,255,0.2)
$nav-bar-font-weight = bold

$tab-height = 30px
$tab-header-height = 66px
$tab-actions-height = 54px
$tab-header-font-size = 20px
$tab-header-field-height = 32px
$tab-header-line-height = $tab-header-height - 2px
$tab-header-padding = ($tab-header-height - $tab-header-field-height)/2
$tab-main-margin-top = 28px

$left-nav-width = 17%
$left-nav-padding = 8px

$caret-size = 10px

$avatar-width = 27px

$result-list-highlight = lighten($gray-light, 10%)

$form-gutter = 12px
$form-offset = 11px
$form-spacing = 10.5px
$form-labelwidth = 20%
$form-controlwidth-outer = 80%
$form-controlwidth-inner = 100%
$form-textarea-padding = 6px
$field-editor-width = 60%

