header.workbench-header
  cf-icon.workbench-header__icon(name="page-api")
  h1.workbench-header__title
    | Content Model

.workbench-main
  .workbench-main__left-sidebar
    header.filter-list-header
      | Content Delivery API
    ul(cf-cda-links)
    header.filter-list-header
      | Content Management API
    ul(cf-cma-links)

  .workbench-main__right-content
    table.result-list.main-results.main-header(ng-hide="visibleContentTypes | isEmpty")
      thead
        tr
          th.cell-select
          th.cell-display-name Name
          th.cell-identifier Identifier
          th.cell-description Description

    .main-results-wrapper
      table.result-list.main-results.animated
        tbody
          tr(ng-repeat-start="contentType in visibleContentTypes = (contentTypes | filter:visibleInCurrentList) track by contentType.getId()" cf-click-local="toggleDisplay(contentType.getId())")
            td.cell-select
              a.toggle-collapse(ng-class="{open: isExpanded(contentType.getId())}") ▶
            td.cell-display-name.cell-anchor(cf-click-local="toggleDisplay(contentType.getId())")
              span {{contentType.getName()}}
            td.cell-identifier
              span {{contentType.getId()}}
            td.cell-description
              span {{contentType.data.description}}
          tr(ng-repeat-end ng-show="isExpanded(contentType.getId())")
            td.cell-full(colspan="4")
              table.result-list.inner-result-list.inner-result-list-white
                thead
                  tr
                    th.cell-display-name Name
                    th.cell-identifier Field Identifier
                    th.cell-description Field Type
              table.result-list.inner-result-list
                tbody
                  tr(ng-repeat="field in contentType.data.fields track by field.id")
                    td.cell-display-name {{field.name}}
                    td.cell-identifier
                      span {{field.apiName || field.id}}
                    td.cell-description
                      span(tooltip="{{getHelpText(field.type)}}" tooltip-html="true")
                        | {{field.type}}

      p(ng-show="visibleContentTypes | isEmpty")
        | There are no Content Types yet.
