.tab-header
  .tab-header__title
    cf-icon(name="page-api")
    h1 Content Model

.tab-main
  .left-nav
    header.filter-list-header
      | Content Delivery API
    ul(cf-cda-links)
    header.filter-list-header
      | Content Management API
    ul(cf-cma-links)

  .with-left-nav
    table.result-list.main-results.main-header(ng-hide="visibleContentTypes | isEmpty")
      thead
        tr
          th.cell-select
          th.cell-display-name Name
          th.cell-identifier Identifier
          th.cell-description Description

    .main-results-wrapper
      table.result-list.main-results.animated
        tbody
          tr(ng-repeat-start="contentType in visibleContentTypes = (contentTypes | filter:visibleInCurrentList) track by contentType.getId()" cf-click-local="toggleDisplay(contentType.getId())")
            td.cell-select
              a.toggle-collapse(ng-class="{open: isExpanded(contentType.getId())}") ▶
            td.cell-display-name.cell-anchor(cf-click-local="toggleDisplay(contentType.getId())")
              span {{contentType.getName()}}
            td.cell-identifier
              a.cf-copy-paste(href="#" clipboard-sibling-selector=".cf-copy-paste" tooltip-selector=".entity-list") {{contentType.getId()}}
            td.cell-description
              span {{contentType.data.description}}
          tr(ng-repeat-end ng-show="isExpanded(contentType.getId())")
            td.cell-full(colspan="4")
              table.result-list.inner-result-list.inner-result-list-white
                thead
                  tr
                    th.cell-display-name Name
                    th.cell-identifier Field Identifier
                    th.cell-description Field Type
              table.result-list.inner-result-list
                tbody
                  tr(ng-repeat="field in contentType.data.fields track by field.id")
                    td.cell-display-name {{field.name}}
                    td.cell-identifier
                      a.cf-copy-paste(href="#" clipboard-sibling-selector=".cf-copy-paste") {{field.apiName || field.id}}
                    td.cell-description
                      span(tooltip="{{getHelpText(field.type)}}" tooltip-container=".entity-list" tooltip-delay-hide="1000" tooltip-html="true")
                        | {{field.type}}

      .advice(ng-show="visibleContentTypes | isEmpty")
        include ../../shared/create_content_type_advice
