cf-kaltura-editor
  /**
   * Leave transitions render badly (it's
   * somehow related to the iframe). So lets
   * just disable them for Kaltura
   */
  .ng-animate
    transition: none !important

.kaltura-video-player__container
  iframe
    height: $video-player-height !important
    width: 100%

.video-player--embedded
  .kaltura-video-player__container
    iframe
      width: $video-player-width--thumbnail
      height: $video-player-height--thumbnail !important //force the height for the loading element
