/*
 * The following rules tweak the apperance
 * of the HTML5 player that ooyala provides
*/
.widget-ooyala-player
  video
    top: 0
    left: 0

  .midroll
    display: none

  .oo_promo
    top: 0px

  .oo_controls_wrap
    position: static !important


.widget-ooyala-player.video-player--embedded
  .oo_controls_wrap
    display: none !important

  .oo_replay
    width: 40px !important
    height: 35px !important
    top: 35px !important
    left: 69px !important

