/**
 * Styles for various form wigets
 */
.cf-number-editor
   position: relative
   display: block
  .cf-field-alert
    position: absolute
    top: 0
    right: 10px
    line-height: 35px

.widget-datetime-editor
  input[type="text"] // TODO we can simplify this selector once we simplify form controls
    display: inline
  .fa-calendar,
  .fa-clock-o
    font-size: 14px
    color: $gray
    vertical-align: middle
    pointer-events: none
    position: relative
    left: -25px
  .cfnext-select-box
    margin-right: 1ex


.is-date-invalid,
.is-time-invalid
  position: relative
  top: 3px
  font-size: 14px
  color: $orange

.widget-slug-editor
  input[type="text"]
    display: inline
  i.fa
    font-size: 14px
    vertical-align: middle;
    position: relative
    margin-left: -25px
  .is-slug-duplicate
    color: $orange
  .is-slug-unique
    color: $green

.widget-url-editor,
.embed-content-dialog
  input[type="text"]
    display: inline
  i.fa
    font-size: 14px
    vertical-align: middle
    position: relative
    margin-left: -25px
  .is-url-invalid
    color: $red
  .is-url-broken
    color: $orange
