/**
 * Styles for various form wigets
 */
.widget-datetime-editor
  input[type="text"] // TODO we can simplify this selector once we simplify form controls
    display: inline
  .fa-calendar,
  .fa-clock-o
    font-size: 14px
    color: $gray
    vertical-align: middle
    pointer-events: none
    position: relative
    left: -25px
  .cfnext-select-box
    margin-right: 1ex

.is-date-invalid,
.is-time-invalid
  position: relative
  top: 3px
  font-size: 14px
  color: $orange
