$markdown-radius = 3px

.markdown-transfer-textarea
  display: none

.markdown-loaded
  visibility: hidden
  height: 1px
  &.visible
    visibility: visible
    height: auto
    margin-top: -25px

/**
 * Toolbar
 */

.markdown-tabs
  position: relative
  z-index: 10
  overflow: hidden
  margin-bottom: -1px

.markdown-tabs a
  color: $base-font-color
  display: block
  float: right
  padding: 8px 5px 4px
  width: 80px
  border: 1px solid $gray-light
  border-top-left-radius: $markdown-radius
  border-top-right-radius: $markdown-radius
  margin-left: 3px
  text-align: center
  background-color: $gray-lightest
  border-bottom-color: $gray-lightest
  &.inactive
    background: $gray-light
    border-bottom-color $gray-light

.markdown-toolbar
  position: relative
  z-index: 5
  border: 1px solid $gray-light
  background-color: $gray-lightest
  padding: 9px 7px 7px
  border-top-left-radius: $markdown-radius

.markdown-minor-actions
  margin-top: 5px

.toolbar-button
  min-width: 30px
  height: 30px
  border: none
  background-color: transparent
  display: inline-block
  border-radius: $markdown-radius
  cursor: pointer
  margin-right: 7px
  &:hover
    background-color: $gray-light
  &:disabled:hover
    background-color: transparent

.markdown-headings
  i, cf-icon, svg
    display: inline-block

.markdown-more-actions
  border: 1px solid $gray-light
  &.active
    background: $gray-lighter

.markdown-side-action
  float: right
  padding: 0 20px
  border: 1px solid $gray-light
  background: lighten($gray-lightest, 20%)
  font-size: 1em

/**
 * Editor, preview, info
 */

.markdown-areas
  border: 1px solid $gray-light
  border-width: 0 1px

.markdown-editing-area
  .CodeMirror
    line-height: 1.5em
  .CodeMirror-lines
    padding: 20px
  .cm-header-1
    font-size: 1.9em
  .cm-header-2
    font-size: 1.75em
  .cm-header-3
    font-size: 1.6em
  .cm-header-4
    font-size: 1.45em
  .cm-header-5
    font-size: 1.3em
  .cm-header-6
    font-size: 1.15em
  textarea
    height: 1px

.markdown-preview,
.markdown-html
  padding: 20px
  overflow-y: auto
  word-wrap: break-word
  overflow-wrap: break-word
  height: 100%

.markdown-html
  font-family: monospace

.markdown-help
  background: $gray-lightest
  border: 1px solid $gray-light
  border-bottom-left-radius: $markdown-radius
  border-bottom-right-radius: $markdown-radius
  font-size: 0.85em
  padding: 5px 7px 4px
  cf-icon
    width: 25px
    float: left
    margin-right: 5px

.markdown-info
  overflow: hidden
  font-size: 0.85em
  padding: 6px 2px 5px
  border: 0

.markdown-info__stats
  float: left

.markdown-info__requirements
  float: right
  a
    color: $base-font-color
    text-decoration: underline

.markdown-marker__near
  color: lighten($orange, 20%)

.markdown-marker__invalid
  color: $red

/**
 * Markdown preview styles
 */

.markdown-preview
  p
    margin: 0
    line-height: 1.5em
  p + p
    margin-top: $rhythm(0.5)
  pre,
  .markdown-image-placeholder
    margin-bottom: 20px
  hr
    border: 0
    background: transparent
    border-bottom: 1px solid $gray-light
  ul, ol
    margin: $rhythm(0.5) 0
    padding-left: 1.6em
  ul > li
    list-style-type: disc
  ol > li
    list-style-type: decimal
  table, td, th
    border: 1px solid $gray-light
  table
    width: 85%
    margin: 15px auto
    table-layout: fixed
    border-right-width: 0
    border-bottom-width: 0
  th
    background: $gray-lightest
  td, th
    padding: 5px
    border-left-width: 0
    border-top-width: 0
  .markdown-image-placeholder
    border: 1px solid $gray-light
    border-radius: $markdown-radius
    padding: 10px
    background: $gray-lightest
  .markdown-image-placeholder img
    display: block
    margin: 0 auto
  .embedly-card
    margin: 10px auto

/**
 * Special characters modal
 */

.markdown-special-char-choices
  max-width: 500px
  min-height: 300px

.markdown-special-char
  display: inline-block
  border: 1px solid $gray-light
  border-radius: $markdown-radius
  padding: 15px
  margin: 3px
  margin-top: 0
  margin-left: 0
  width: 50px
  font-size: 1.5em
  text-align: center
  cursor: pointer

.markdown-special-char.current
  background: $gray-lightest

.markdown-special-char-choice
  text-align: center
  margin: 20px
  p
    font-size: 2.5em
    font-weight: bold
    margin-bottom: 10px
  small
    font-size: 0.8em
    color: $gray-dark

/**
 * ZenMode
 */

.cf-zenmode
  position: fixed
  z-index: 100
  left: 0
  right: 0
  top: 0
  bottom: 0
  background: #FFF
  overflow: hidden

.zenmode-toolbar
  z-index: 103
  position: fixed
  top: 0
  left: 0
  right: 0
  height: 30px
  background: lightblue

.zenmode-editor,
.zenmode-preview
  position: fixed
  top: 30px
  bottom: 0
  width: 50%

.zenmode-editor
  z-index: 102
  left: 0
  border-right: 1px solid $gray-light

.zenmode-preview
  z-index: 101
  right: 0

/**
 * Help
 */

.markdown-help-dialog a
  text-decoration: underline

.markdown-help-columns
  display: flex
  width: 720px

.markdown-help-column
  width: 340px

.markdown-help-column:first-child
  border-right: 1px solid $gray-light
  margin-right: 20px

.markdown-help-item
  width: 340px
  font-size: 1.5em
  margin-bottom: 15px
  line-height: 1.5em

.markdown-help__preview
  width: 170px
  display: inline-block

.markdown-help__markup
  width: 170px
  display: inline-block
  color: $gray

.markdown-help-link
  padding: 20px
  text-align: center
  a
    font-size: 1.1em
