$markdown-preview-height = 400
$markdown-guide-height = 350

.cf-markdown-editor
  position: relative

.markdown-toolbar,
.markdown-modeswitch
  padding: 7px 4px 5px

.markdown-toolbar
  position: relative
  border: 1px solid $gray-light

.markdown-actions
  width: 90%

.markdown-modeswitch
  position: absolute
  right: 0
  $stretch-y()
  border-left: 1px solid $gray-light

.markdown-editing-area,
.markdown-preview,
.markdown-html,
.markdown-info
  border: 1px solid $gray-light
  border-width: 0 1px

.markdown-preview,
.markdown-html
  overflow-y: auto
  padding: 20px
  min-height: ($markdown-preview-height / 2) px
  max-height: $markdown-preview-height px
  word-wrap: break-word
  overflow-wrap: break-word

.markdown-html
  font-family: monospace

.markdown-preview
  p
    margin: 0
  p + p
    margin-top: $rhythm(0.5)
  pre,
  .markdown-image-placeholder
    margin-bottom: 22px
  hr
    border: 0
    background: transparent
    border-bottom: 1px solid $gray-light
  ul, ol
    margin: $rhythm(0.5) 0
    padding-left: 1.6em
  ul > li
    list-style-type: disc
  ol > li
    list-style-type: decimal

.markdown-image-placeholder
  border: 1px solid $gray-light
  border-radius: 5px
  padding: 10px
  background: $gray-lightest

.markdown-image-placeholder img
  display: block
  margin: 0 auto

.markdown-info
  padding: 6px 7px 5px
  color: $gray
  font-size: 0.9em
  border-width: 1px

.markdown-transfer-textarea
  display: none

.toolbar-button
  width: 36px
  height: 23px
  border: none
  background-color: transparent
  background-repeat: no-repeat
  background-position: center
  background-size: 50%
  display: inline-block
  border-radius: 3px
  cursor: pointer
  &:hover
    background-color: $gray-light

.markdown-actions.preview-mode
  .toolbar-button
    color: 0.5
  .toolbar-button:hover
    background-color: transparent

.cf-markdown-editor
  .cm-header-1
    font-size: 1.9em
  .cm-header-2
    font-size: 1.75em
  .cm-header-3
    font-size: 1.6em
  .cm-header-4
    font-size: 1.45em
  .cm-header-5
    font-size: 1.3em
  .cm-header-6
    font-size: 1.15em

.markdown-guide
  position: relative

.markdown-guide-hint,
.markdown-guide
  border: 1px solid $gray-light
  border-top: 0

.markdown-guide-hint
  background-color: $gray-lightest
  padding: 6px 7px 5px
  cursor: pointer
  color: $gray-darkest
  &:hover
    background-color: darken($gray-lightest, 10%)

.markdown-guide-main
  margin-left: 20%
  overflow-y: auto
  padding: 20px
  height: ($markdown-guide-height - 40) px

.markdown-guide-nav
  margin-top: 20px
  width: 20%
  float: left
  font-weight: bold
  background-color: $gray-lightest
  overflow: hidden
  border-top-right-radius: 5px
  border-bottom-right-radius: 5px
  border: 1px solid $gray-lighter
  border-left-width: 0
  border-bottom-width: 0
  li
    margin: 0
    cursor: pointer
    color: $gray-darkest
    padding: 6px 7px 5px
    border-bottom: 1px solid $gray-lighter
  li.active
    color: white
    background-color: $blue

.markdown-special-char-choices
  max-width: 500px
  min-height: 300px

.markdown-special-char
  display: inline-block
  border: 1px solid $gray-light
  border-radius: 3px
  padding: 15px
  margin: 3px
  margin-top: 0
  margin-left: 0
  width: 50px
  font-size: 1.5em
  text-align: center
  cursor: pointer

.markdown-special-char.current
  background: $gray-lightest

.markdown-special-char-choice
  text-align: center
  margin: 20px
  p
    font-size: 2.5em
    font-weight: bold
    margin-bottom: 10px
  small
    font-size: 0.8em
    color: $gray-dark
