/**
 * Classes that are common to many form widgets
 */


.form-widget__input-row
  position: relative
  margin-bottom: $rhythm(0.5)

.form-widget__help-text
  width: 80%
  color: $gray
  margin: $rhythm(0.5) 0

