/**
 * Classes that are common to many form widgets
 */


.form-widget__input-row
  position: relative
  margin-bottom: $rhythm(0.5)

.form-widget__help-text
  width: 80%
  color: $gray
  margin: $rhythm(0.5) 0

// Used for single line input field with validation
.form-widget__help-text--full-width
  margin: $rhythm(0.5) 0
  font-size: 90%;

.form-widget__rights-info
  color: $colors.text-lightest
  font-size: 0.8em
