.cf-file-preview
  box-shadow: 0 0 8px rgba(0,0,0,0.8)
  background: $gray-light
  border: 3px solid $gray-light
  border-radius: 3px
  background-image: url('/app/images/ajax-loader.gif')
  background-position: center
  background-repeat: no-repeat
  &.fullscreen
    cursor: pointer
