.modal-background
  .modal-dialog(cf-center-on=".modal-background" ng-class="[dialog.className]")
    header.modal-dialog__header
      h1 {{dialog.title}}
      .close-button(ng-show="!dialog.disableTopCloseButton" ng-click="dialog.cancel()")
    .modal-dialog__content
      p.modal-dialog__plaintext(ng-if="!dialog.html" ng-bind="dialog.message")
      p.modal-dialog__richtext(ng-if="dialog.html" ng-bind-html="dialog.message")
    .modal-dialog__controls
      button.cfnext-btn-primary-action(ng-click="dialog.confirm()")
        | {{dialog.confirmLabel}}
      button.cfnext-btn-plain-block(
        ng-click="dialog.cancel()" ng-show="dialog.cancelLabel")
        | {{dialog.cancelLabel}}

