.modal-background
  .modal-dialog(ng-class="[dialog.className]")
    header.modal-dialog__header
      h1 {{dialog.title}}
      a.close-button(ng-show="!dialog.disableTopCloseButton" ng-click="dialog.cancel()")
    .modal-dialog__content
      p.modal-dialog__richtext(ng-if="dialog.html || dialog.message" ng-bind-html="dialog.message")
    .modal-dialog__controls
      button.cfnext-btn-primary-action(ng-click="dialog.confirm()")
        | {{dialog.confirmLabel}}
      button.cfnext-btn-secondary-action(
        ng-click="dialog.cancel()" ng-show="dialog.cancelLabel")
        | {{dialog.cancelLabel}}

