.modal-background
  .modal-dialog(cf-center-on=".modal-background" ng-class="[dialog.className]")
    .title {{dialog.title}}
    .modal-dialog-close-button(ng-click="dialog.cancel()")
    p.dialog-content.dialog-plaintext(ng-if="!dialog.html" ng-bind="dialog.message")
    p.dialog-content.dialog-richtext(ng-if="dialog.html" ng-bind-html="dialog.message")
    .buttons
      button.btn.btn--secondary.cancel(type="button" ng-click="dialog.cancel()" ng-show="dialog.cancelLabel")
        | {{dialog.cancelLabel}}
      | 
      button.btn.btn--primary.confirm(ng-click="dialog.confirm()")
        | {{dialog.confirmLabel}}
