div(ng-show="isDisabled")
  pre.json-editor__disabled-content(ng-if="content")
    | {{content}}
  pre.json-editor__disabled-content.x--empty(ng-if="!content")
    | // No value

div.json-editor__code-editor-container(ng-show="!isDisabled")
  react-component(
    name="app/widgets/json/JsonEditorWarning.es6"
    ng-if="hasCrashed"
  )
  cf-json-editor-code-editor(ng-if="editor" editor="editor")
