div(ng-show="isDisabled")
  pre.json-editor__disabled-content(ng-if="content")
    | {{content}}
  pre.json-editor__disabled-content.x--empty(ng-if="!content")
    | // No value

div.json-editor__code-editor-container(ng-show="!isDisabled")
  div.editor-control-warning(ng-if="hasCrashed")
    cf-icon(name="plug" scale="0.8")
    p
      | The widget failed to initialize

  cf-json-editor-code-editor(ng-if="editor && !renderSlateEditor" editor="editor")
  <react-component ng-if="renderSlateEditor" name="app/widgets/structured_text/StructuredTextEditor" props="slateEditorProps"></react-component>
