.workbench
  cf-api-key-nav
  .workbench-main
    .workbench-main__content
      .note-box.note-box--blue.x--with-icon(
        name="ct-field-max")
        cf-icon(name="info")
        div
          | To access the management API you need to generate an OAuth token manually.&#32;
          | Head to the <cf-knowledge-base target="management_api" text="documentation" inline-text="true"></cf-knowledge-base> to learn more.

    .workbench-main__entity-sidebar
      .entity-sidebar
        h2.entity-sidebar__heading
          | Documentation
        .entity-sidebar__text-profile
          ul
            li
              | Learn more about the <cf-knowledge-base target="content_apis" text="four content APIs" inline-text="true"></cf-knowledge-base>.
            li
              | Read the <cf-knowledge-base target="management_api" text="reference docs for the content management API" inline-text="true"></cf-knowledge-base>.
