mixin onboarding-dialog-nav
  .onboarding-dialog__nav
    .x__step(ng-class="{active: " + attributes.step + " === 1}")
      cf-icon(name="onboarding-step-one")
      | 1. Saying hi
    .x__separator
    .x__step(ng-class="{active: " + attributes.step + " === 2}")
      cf-icon(name="onboarding-step-two")
      | 2. Your first project
