.modal-background
  .modal-dialog.onboarding-dialog(ng-controller="OnboardingDialogController as dialogController")

    //- Select your role
    cf-onboarding-persona-selection(
      show-create-space="{{dialogController.showCreateSpace}}"
      ng-if="dialogController.currentStep === 1")

    //- Create your first space
    cf-create-new-space(
      onboarding="true"
      ng-if="dialogController.currentStep === 2")
