ul.validation-controls__content-types(aria-label="Available Content Types")
  li(ng-repeat="ct in contentTypes")
    label
      input(type="checkbox" ng-model="ct.selected" ng-change="update()")
      span.u-truncate {{ct.name}}
cf-error-list.form-inline-error(cf-error-path="errorPath")
