.modal-background
  .modal-dialog
    header.modal-dialog__header
      h1 Duplicate content type
      button.modal-dialog__close(ng-click="dialog.cancel()")

    .modal-dialog__content
      .modal-dialog__richtext
        .cfnext-form__field
          label(for="duplicated-ct-name") Name of the new content type:
          input.cfnext-form__input--full-size(
            id="duplicated-ct-name"
            ng-model="input.name"
            placeholder="Duplicate of \"{{ contentTypeName }}\"")
        p
          | You're about to duplicate the content type <span class="modal-dialog__highlight">{{ contentTypeName }}</span>
          | with all existing fields. No entries will be duplicated.

    .modal-dialog__controls
      button.cfnext-btn-primary-action(ui-command="duplicate")
        | Duplicate
      button.cfnext-btn-secondary-action(ng-click="dialog.cancel()")
        | Cancel
