header.workbench-header
  cf-icon.workbench-header__icon(name="page-ct")
  h1.workbench-header__title
    | {{contentType.getName()}}
  .workbench-header__description
    | {{contentType.data.description}}
  button.cfnext-btn-inline(ui-command="showMetadataDialog")
    | Edit
  .workbench-header__actions
    button.cfnext-btn-secondary-action(ui-command="actions.cancel")
      | Cancel
    button.cfnext-btn-secondary-action(cf-context-menu-trigger)
      cf-icon.btn-dropdown-icon(name="dd-arrow-down")
      | Actions
    .context-menu(cf-context-menu)
      div(role="menuitem" ui-command="actions.duplicate")
        | Duplicate
      div(role="menuitem" ui-command="actions.delete")
        | Delete
    button.cfnext-btn-primary-action(ui-command="actions.save")
      | Save

.workbench-nav
  .workbench-nav__left-content
    button.cfnext-btn-action(ui-command="showNewFieldDialog")
      cf-icon.btn-icon.inverted(name="plus")
      | Add Field
  ul.workbench-nav__tabs
    li(ui-tab="fields")
      | Fields
      span(ng-show="contentType.data.fields.length") &nbsp;({{contentType.data.fields.length}})
    li(ui-tab="json") JSON Preview


.workbench-main
  cf-ui-hint.ct-max-fields-advice.note-box.note-box--blue(
    name="ct-field-max"
    ng-if="!hintDismissed")
    cf-icon(name="info")
    div
      .ct-max-fields-advice__text Keep in mind that the maximum number of fields per Content Type is 50.
      a.ct-max-fields-advice__dismiss.cfnext-btn-link(ng-click="dismissHint()") Dismiss
  form.workbench-main__right-content(name="contentTypeForm")
    div(ui-tabpanel="json")
      cf-content-type-preview.u-bce

    div(ui-tabpanel="fields")
      .content-type-fields(ng-if="hasFields")
        include ./content_type_field_list
      .content-type-fields(ng-if="!hasFields")
        include ./content_type_field_list_empty
