.modal-background
  .modal-dialog
    header.modal-dialog__header
      h1 Delete content type
      button.modal-dialog__close(ng-click="dialog.cancel()")

    .modal-dialog__content
      .modal-dialog__richtext
        p
          | You are about to delete the content type <span class="modal-dialog__highlight">{{ contentTypeName }}</span>.
          | The applications, websites or other API clients might expect this content
          | type to exist, so they might break after the content type is gone.
        p
          | To confirm, type the name of the content type in the field below:
        input.cfnext-form__input--full-size(ng-model="input.contentTypeName")

        .note-box.note-box--info
          | Note that the content type can't be restored once it's deleted.

    .modal-dialog__controls
      button.btn-caution(ui-command="delete")
        | Delete
      button.btn-secondary-action(ng-click="dialog.cancel()")
        | Cancel
