ul(cf-ui-sortable ng-model="contentType.data.fields")
  li.ct-field(
    ng-controller="ContentTypeFieldController"
    ng-repeat="(index, field) in contentType.data.fields track by field.id"
    ng-class="{'is-disabled': field.disabled}"
    role="toolbar"
  )

    .ct-field__drag-handle(data-drag-handle)
    .ct-field__icon
      cf-icon(ng-if="iconId" name="{{iconId}}")
    .ct-field__name
      | {{field | displayedFieldName}}
    .ct-field__type(ng-if="!field.disabled")
      | {{fieldTypeLabel}}
    .ct-field__type(ng-if="field.disabled")
      | {{fieldTypeLabel}}, disabled
    .ct-field__is-title(ng-if="fieldIsTitle")
      | Entry title
    button.ct-field__settings.cfnext-btn-inline(ng-click="openSettingsDialog()" aria-label="Settings")
      | Settings
      cf-ui-hint(ng-if="index===0" name="ct-field-settings")
        | Change field settings, add validations, default values or define the appearance of this field
    button.ct-field__disable.cfnext-btn-inline(ng-if="isPublished" ng-click="toggleDisableField()")
      | {{ field.disabled ? 'Enable' : 'Disable' }}
    button.ct-field__disable.cfnext-btn-inline(ng-if="!isPublished" ng-click="deleteField()")
      | Delete
