ul.ct-fields--dummy
  li.ct-field
    .ct-field__drag-handle
    .ct-field__name
      | Field 1
  li.ct-field
    .ct-field__drag-handle
    .ct-field__name
      | Field 2
  li.ct-field
    .ct-field__drag-handle
    .ct-field__name
      | Field 3
  li.ct-field
    .ct-field__drag-handle
    .ct-field__name
      | Field 4
  li.ct-field
    .ct-field__drag-handle
    .ct-field__name
      | Field 5
.ct-no-fields-advice.advice
  .advice__frame
    header
      h1.advice__title
        | It’s time to add some fields
      div.advice__sub-title
        | Click that blue button on top left

    p.advice__description
      | The field defines the nature of content that can be put there <br>
      | For instance, text field would accept titles and descriptions, whereas
      | media field is best used for images and videos
