ul(cf-ui-sortable ng-model="contentType.data.fields")
  li.content-type-fields__item(
    ng-controller="ContentTypeFieldController"
    ng-repeat="(index, field) in contentType.data.fields track by field.id"
    ng-hide="field.disabled && !preferences.showDisabledFields"
    ng-class="{disabled: field.disabled}"
  )

    .ct-field__drag-handle(data-drag-handle)
      | &nbsp;
    .ct-field__icon
      cf-icon(ng-if="iconId" name="{{iconId}}")
    .ct-field__name
      |{{field | displayedFieldName}}
    .ct-field__type
      | {{fieldTypeLabel}}
    .ct-field__is-title(ng-if="fieldIsTitle")
      | Title
    a.ct-field__edit(ng-click="openSettingsDialog()")
      | Settings
    button.ct-field__disable(ng-click="toggleDisableField()")
      | {{ field.disabled ? 'Enable' : 'Disable' }}
