ul(cf-ui-sortable ng-model="contentType.data.fields")
  li.content-type__field(
    ng-controller="FieldSettingsEditorController"
    ng-repeat="(index, field) in contentType.data.fields track by field.id"
    ng-hide="field.disabled && !preferences.showDisabledFields"
  )

    .ct__field__name
      |{{field | displayedFieldName}}
    .ct__field__type
      | {{field.type}}
    a.ct__field__edit(ng-click="openSettingsDialog()")
      | Settings
    .ct__field__drag-handle(data-drag-handle)
      i.fa.fa-bars
