ul
  li.ct-field
    .ct-field__drag-handle
    .ct-field__name
      | Field 1
  li.ct-field
    .ct-field__drag-handle
    .ct-field__name
      | Field 2
  li.ct-field
    .ct-field__drag-handle
    .ct-field__name
      | Field 3
  li.ct-field
    .ct-field__drag-handle
    .ct-field__name
      | Field 4
  li.ct-field
    .ct-field__drag-handle
    .ct-field__name
      | Field 5
.advice
  .advice__frame
    header.advice__title This Content Type has no fields yet!
    p.advice__description
      | The fields you add will appear here. You can rearrange the order of fields by dragging them up or down.
