.modal-background.validation-dialog(no-background-close)
  .modal-dialog(ng-controller="ValidationDialogController as validationsController" cf-center-on=".modal-background")
    header.title.validation-dialog__title
      | Validations for 
      em {{field.name}}
      | field 
      a(cf-knowledge-base-icon
        tooltip="Learn more about Validations in the Knowledge Base Pages"
        tooltip-container=".validation-dialog"
        analytics-event="content_type_validations"
        href="https://contentful.zendesk.com/hc/en-us/articles/200513248-What-are-validations-")
      .validation-dialog__actions.button-set
        button.btn.btn--secondary(ng-click="cancel()") Cancel
        button.btn.btn--primary(ng-click="save()") Save

    ul.u-list.validation-settings
      li(ng-repeat="validation in validations" aria-label="{{validation.name}}")
        cf-validation-setting
