.account
  position: absolute
  width: 20%
  right: 0px
  top: 0px
  height: $nav-bar-height
  .dropdown-toggle
    width: 100%
    height: $nav-bar-height
    font-weight: 600
    text-align: center
    border-left: 1px solid rgba(0,0,0,0.45)
    +box-shadow(0 0 1px rgba(255,255,255,0.2))
  .dropdown-toggle,
  #intercom
    float: right
    line-height: 27px
    padding: 14px 10px 0px
    border-bottom: none
  .dropdown-toggle:hover
    color: white
    +box-shadow(none)

// Concrete project and user buttons
.account
  +flexbox
  .dropdown-menu
    top: 37px
  .project
    width: 70%
    position: relative
    left: 1px
    .dropdown-menu
      min-width: 100%
    //.dropdown-toggle
      border-right: 1px solid $account-border-color
  .user
    width: 30%
    img
      vertical-align: middle
      margin-top: -4px
    .dropdown-menu
      right: 0
  .user.active 
    padding-bottom: 4px

  #intercom
    //display: block
    display: none
    width: 10%
    //line-height: 27px
    //padding: 5px 10px 4px
    //float: right
    float: left
    padding-right: 0
    padding-left: 0
    em
      position: relative
      top: 1px
      display: block
      font-style: normal
      +blue-highlight
      border: 2px solid white
      font-size: 12px
      +box-shadow(1px 1px 4px rgba(0,0,0,0.6))
      +text-shadow(0 -1px 0px black)
      text-align: center
      width: 25px
      height: 25px
      +border-radius(13px)
      &:hover
        background-color: white
      span
        position: relative
        top: -3px


