.action-bar
  position: absolute
  bottom: 0
  left: 0
  right: 0
  padding: 0 20px
  height: 44px
  width: 100%
  +box-sizing(border-box)
  background-color: $gray-background
  border-top: 1px solid $lightest-gray
  border-top-color: rgba(0,0,0,0.1)
  +box-shadow(0 -1px 4px rgba(0,0,0,0.07), 0 1px 1px rgba(255,255,255,0.8) inset)

  .save-status, .other-users, .button-set
    display: inline-block
    margin-top: .5em
    padding: .6em 1em
    +box-sizing(border-box)
    float: right
  .save-status
    float: left
    padding-left: 0
    font-size: 1.2em
    i
      margin-right: 2px
    &.green
      i
        color: $green
        position: relative
        top: 1px
        +text-shadow(0 1px 0 rgba(255,255,255,0.8))
