.nav-bar
  .tablist-button
    +blue-highlight
    padding: 0
    +flex(none)
    .dropdown-menu 
      width: 210px
      li
        display: block
        height: auto
    .tooltip.bottom
      width: 200px
    .no-content-types
      background-color: $gray-background
      color: $dark-gray
  .add.button
    color: white
    padding: 2px 15px 0px
    i
      top: 0px
      font-size: 10px
    &:active
      top: 1px
    &:focus
      +focus-styles

.add-btn
  .dropdown-menu
    h3, li
      padding: 6px 0
    h3
      margin-top: 8px
      margin-bottom: 0px
      padding-left: 12px
    li
      padding-left: 20px
      padding-right: 4px
  .add.button
    .ss-dropdown
      float: none
      margin-left: 10px
      margin-right: 0px
      top: 1px
      font-size: 8px


