.nav-bar
  .dropdown-toggle:hover
    +box-shadow(none)
  .tablist-button
    +blue-highlight
    padding: 0
    +flex(none)
    .dropdown-menu
      width: 210px
      background: white
      li
        display: block
        border: none
        height: auto
        line-height: 40px
      ul,
      li,
      h3
        text-align: left
        width: 100%
    .tooltip.bottom
      width: 200px
    .separator
      border-top: 1px solid $lightest-gray
    .content-types
      li
        padding-left: 40px
        font-weight: normal
    .no-content-types
      background-color: $gray-background
      color: $dark-gray
  .add.button
    color: white
    padding: 2px 10px 0px
    i
      top: 0px
      margin: 0 auto
      font-size: 14px
      font-weight: normal
    &:active
      top: 1px
    &:focus
      +focus-styles

.add-btn
  height: $nav-bar-height
  .add.button
    .ss-dropdown
      float: none
      margin-left: 10px
      margin-right: 0px
  &.active
    +box-shadow(inset 0px 0px 30px 30px rgba(0,0,0,0.3))


