%advice
  // TODO make simple class, extract positioning
  position: absolute
  left: 50%
  margin-left: -200px
  text-align: center
  top: 40%
  width: 400px

  .advice-title
    font-weight: bold
    font-weight: 600
    font-size: 25px
    line-height: 25px
    margin-top: 1em
  .advice-description
    font-size: 14px
    margin-bottom: 2em
    margin-top: 1em

  //.action
    @extend %blue-button

  .giant-icon
    font-size: 125px
    color: $light-gray

.advice
  @extend %advice
  position: static
  margin: auto
  padding-top: 80px
