// layout
.aux-panel
  width: 20%
  position: absolute
  overflow-y: auto
  top: $tab-header-height
  bottom: $tab-actions-height

// normal mode
.aux-panel
  display: none

// sidebar mode
.with-sidebar, // TODO Replace by .with-aux-panel
.entry-editor, .entry-type-editor // <- only for development
  .tab-main
    right: 20%
  .aux-panel
    display: block
  


