.nav-bar
  position: fixed
  top: 0
  width: 50px
  height: 100%

.tab-list
  position: absolute
  top: $tab-top
  left: $main-left-spacing
  right: 20%
  height: $tab-height
  z-index: 1000
  .tab
    width: 21.5%
