*[cf-autocomplete],
.form-field *[cf-autocomplete]
  display: block
  position: relative
  width: 57%
  .controls
    position: relative
    +pie-clearfix
  .search-field
    width: 80%
    margin-right: 70px
  .add-new
    float: right
  .endless-container
    max-height: 200px
    overflow-x: hidden

  .results,
  .search-field
    &.btn-right-on
      margin-right: 90px
      &.search-options-on
        right: 44px
  .result-list td:last-child
    vertical-align: middle

  table
    border: none // border provided by .results container
  .endless-container
    table
      border: none
      @extend %endless-result-list-body
  
  tr:hover
    background-color: $result-list-highlight

  .cell-type
    width: 100px
  .cell-name
    width: auto
    span
      display: block
      max-width: 200px
      overflow-x: hidden
      text-overflow: ellipsis
  .cell-by
    width: 100px

  .add-new
    .dropdown-toggle
      margin: 0
      //@extend %gray-button
      //display: inline-block
      //height: 30px
      //line-height: 30px

  .controls
    button.dropdown-toggle,
    button.with-link-entry-type
      color: $medium-gray
      &:hover
        color: $medium-gray
      i
        color: $light-gray
        position: relative
        font-size: 9px
        top: 1px
        left: -3px

