*[cf-autocomplete]
  display: block
  position: relative
  width: 57%
  .controls
    position: relatve
    +pie-clearfix
  .search-field
    margin-right: 70px
  .add-new
    float: right
  .results
    position: absolute
    top: 65px
    left: 10px
    margin-top: 5px
    right: 10px
    z-index: 10
    background-color: white
    +rounded-corners(3px, 3px, 3px, 3px)
    border: 1px solid $dark-rule
    +box-shadow(0 2px 8px rgba(0,0,0, 0.4))
  .endless-container
    max-height: 200px
    overflow-x: hidden

  table
    border: none // border provided by .results container
    &.result-list:first-child
      border-bottom: 1px solid $dark-rule
  .endless-container
    table
      border: none
      @extend %endless-result-list-body

  .cell-type
    width: 100px
  .cell-name
    width: auto
    span
      display: block
      max-width: 200px
      overflow-x: hidden
      text-overflow: ellipsis
  .cell-by
    width: 100px

  tr.selected
    background-color: $result-list-highlight

  .add-new
    .dropdown-toggle
      margin: 0
      //@extend %gray-button
      //display: inline-block
      //height: 30px
      //line-height: 30px
