*[cf-autocomplete]
  display: block
  position: relative
  width: 57%
  .controls
    position: relatve
    +pie-clearfix
  .search-field
    margin-right: 70px
  .add-new
    float: right
  .results
    position: absolute
    top: 65px
    left: 10px
    margin-top: 5px
    right: 10px
    z-index: 10
    background-color: white
    +box-shadow(0 2px 8px rgba(0,0,0, 0.4))
    +rounded-corners(3px, 3px, 3px, 3px)
    border-bottom: 1px solid $light-rule
  .endless-container
    max-height: 200px

  .result-list:first-child
    +border-top-left-radius(3px)
    +border-top-right-radius(3px)
    
  th:first-child
    +border-top-left-radius(3px)
  th:last-child
    +border-top-right-radius(3px)

  .cell-type
    width: 100px
  .cell-name
    width: auto
    overflow: hidden
    text-overflow: ellipsis
  .cell-by
    width: 100px

  tr.selected
    background-color: $result-list-highlight

  .add-new
    .dropdown-toggle
      margin: 0
      //@extend %gray-button
      //display: inline-block
      //height: 30px
      //line-height: 30px
