.create-space-advice
  @extend %advice

// Concrete project and user buttons

// Tab-bar dropdown
$account-border-color: #d5d5d5

.account
  position: absolute
  width: 18%
  right: 20px
  top: $tab-top

.tab-content
  position: absolute
  top: 46px
  right: 20px
  bottom: 18px
  left: $main-left-spacing
  background-color: white
  border: 1px solid #dbdbdb
  border-color: rgba(0,0,0,0.17)
  +border-radius(0 2px 2px 2px)
