.create-bucket-advice
  @extend %advice

// Concrete project and user buttons

// Tab-bar dropdown
$account-border-color: #d5d5d5

.account
  position: absolute
  width: 18%
  right: 20px
  top: $tab-top
