.client
  +stretch()
  min-width: 1000px
  z-index: 0

.cf-account-view
  @extend .tab-content
  &.with-tab-bar
    margin-top: 30px

.create-space-dialog
  .dropdown-toggle
    width: 100%
    padding: 10px
    padding-right: 20px
  .dropdown-menu
    width: 100%
    text-align: center
