// Dropdown base
.dropdown-btn
  position: relative
.dropdown-toggle
  position: relative
  color: $light-gray
  display: block
  text-decoration: none
  cursor: pointer
  &:hover
    color: black
    +box-shadow(0 5px 15px rgba(255,255,255,0.6) inset)
  &[disabled]
    color: $light-gray
.active .dropdown-toggle
  color: $dark-gray

$separator-style: 1px solid $light-rule

.dropdown-row
  padding: 4px 12px

// Dropdown Menu base and general modifiers
.dropdown-menu
  position: absolute
  text-align: left
  font-size: 11px
  line-height: 2.2em
  z-index: 1000
  min-width: 198px
  background: white
  background: rgba(255,255,255,0.96)
  border: 1px solid shade(#FFFFFF, 10)
  padding-top: 4px
  padding-bottom: 4px
  +box-shadow(0 2px 6px rgba(0,0,0,0.1))
  +border-radius(0 0 3px 3px)
  .dropdown-menu-list
    margin: 0
    padding: 0
  .dropdown-menu-item
    @extend .dropdown-row
    list-style-type: none
    margin: 0
    a
      display: block
    a:link,
    a:visited
      color: $medium-gray
    label
      display: block
      cursor: pointer
    &.top-separator
      height: auto
      background: inherit
      border-top: $separator-style
    &.bottom-separator
      border-bottom: $separator-style
    &.hint
      color: $light-gray
  .dropdown-menu-item:hover,
  .dropdown-menu-item.hover
    cursor: pointer
    +blue-highlight
    a:link
      color: white
  .subtitle
    font-size: 14px
    padding-top: 3px
  .emphasize
    font-weight: 600
    color: white
  .no-highlight:hover,
  .no-highlight > li:hover
    background: none
  .no-action
    &.no-highlight:hover,
    &.no-highlight > li:hover
      cursor: default
  .ss-plus
    font-size: 0.7em
    margin-right: 0.5em

// For the wide type menus
.type-menu
  width: 500px
  white-space: normal
  padding: 0
  .menu-list
    width: 200px
    min-height: 250px
    border-right: 1px solid $lightest-gray
    .type,
    .group
      list-style-type: none
    .type
      padding-left: 20px
      margin-left: 0
    .type:first-child
      +border-radius(3px 0 0 0)
    .type:last-child
      +border-radius(0 0 0 3px)
    .type:hover
      .content-type-description,
      .validation-type-description
        display: block
    .group h3
      margin-top: 8px
      margin-bottom: 0
    .group:hover
      background: white
      cursor: default
    .cf-fieldtype-icon
      font-size: 12px
      margin-right: 5px
      float: left
    .type:hover .cf-fieldtype-icon
      color: white
      border-color: white
  .content-type-description,
  .validation-type-description
    position: absolute
    color: $light-gray
    display: none
    left: 200px
    top: 0
    bottom: 0
    padding: 20px 40px 10px 10px
    p
      padding: 0
    a
      display: inline
    img
      margin-top: 30px
    ul
      margin: 0
      li
        list-style-type: circle
        padding-left: 0px
        margin-left: 20px
      li:hover
        a:link
          color: $dark-gray
    li:hover
      color: $light-gray
      background: none


// Positioning/Caret stuff
.dropdown-menu.top-caret,
.dropdown-menu.bottom-caret,
.dropdown-menu.left-caret,
.dropdown-menu.right-caret
  +border-radius(3px)

.dropdown-menu.left-aligned:before
  left: $caret-size + 10px
.dropdown-menu.right-aligned:before
  right: $caret-size + 10px
.dropdown-menu.center-aligned:before
  left: 50%

.dropdown-menu.top-caret:before
  +caret
  content: "▴"
  top: - $caret-size - 4px
  +text-shadow(0px -2px 3px rgba(0,0,0,0.12))

.dropdown-menu.bottom-caret:before
  +caret
  content: "▾"
  bottom: - $caret-size - 6px
  +text-shadow(0px 2px 3px rgba(0,0,0,0.12)) 

.dropdown-menu.left-caret:before
  +caret
  content: "◃"
  left: - $caret-size + 2px
  +text-shadow(-2px 0px 3px rgba(0,0,0,0.12))

.dropdown-menu.right-caret:before
  +caret
  content: "▹"
  right: - $caret-size + 2px
  +text-shadow(2px 0px 3px rgba(0,0,0,0.12))
