$form-gutter: 12px
$form-offset: 11px

.field
  //overflow: hidden
  margin-bottom: 1.5em
  label, .editor, .hint, .error
    display: inline-block
    color: $medium-gray
  label
    text-align: right
    font-size: 1.2em
    vertical-align: top
    margin-top: $form-offset
    width: 17%
    padding: 0 $form-gutter 0 0
  .editor
    width: 80%
    position: relative
    input[type="text"],
    input[type="number"],
    input.time,
    textarea
      padding: 7px
      font-family: 'Open Sans', Arial, sans-serif
      font-size: 1.3em
      width: 57%
      border: 1px solid $lightest-gray
      +rounded-corners(3px,3px,3px,3px)
      background-color: $gray-background
      +box-shadow(0 1px 2px rgba(0,0,0,0.1) inset)
      +transition(background-color 0.3s ease-in, border-color 0.3s ease-in)
      &:focus
        background-color: white
        border-color: $link-blue
        outline: none
    input[type="number"]
      padding-top: 9px
      padding-bottom: 9px
    input.datepicker, input.time
      width: 8em !important
    .datepicker
      margin-right: 1%
  .hint, .error
    vertical-align: top
    max-width: 40%
    font-size: 1.2em
    color: $medium-gray
    padding: 0 0 0 $form-gutter
    margin-left: $form-gutter
    opacity: 0
    &.tip
      padding: .7em .9em
      background-color: white
      background-color: rgba(255,255,255,0.95)
      +transition(opacity 0.3s ease-in-out)
      border-color: darken($light-rule, 3%)
      +box-shadow(0 1px 3px rgba(0,0,0,0.05))
      .arrow-left
        border-right-color: white
      .arrow-left-border
        border-right-color: darken($light-rule, 5%)
  .error
    &.tip
      padding: .6em .9em
      background: darken($red, 3%)
      border: 1px solid darken($red, 16%)
      color: white
      +box-shadow(0 1px 1px rgba(255,255,255,0.25) inset)
      .arrow-left
        border-right-color: darken($red, 3%)
      .arrow-left-border
        border-right-color: darken($red, 16%)

  input[type="text"]:focus + .hint, textarea:focus + .hint, input[type="text"]:focus + .error, textarea:focus + .error
    opacity: 1
  .editor.boolean, .editor.array
    label
      width: auto
      position: relative
      top: -2px
    span
      position: relative
      top: 2px
  .sub-fields
    width: 57%
    label
      width: 40%
      input, input[type="text"]
        width: 100%
        font-size: 13px
      span
        display: block
        margin-top: 5px
        text-align: left
    button
      margin-top: 13px


