.getty-dialog
  &.modal-dialog
    top: 150px
  width: 60%
  min-height: 50%
  max-height: 70%

  .search-field , .image-family, .editorial-topics
    float: left
    margin-right: 1%
  .search-area
    .search-field
      width: 40%

  .group-label
    font-weight: bold

  .checkbox-group
    float: left
    margin-right: 20px

  .sub-checkbox
    margin-left: 20px

  .image-results
    clear: left
    width: 100%

  .image-result
    float: left
    width: 33%
    height: 300px
