.getty-dialog
  width: 60%
  height: 70%
  .endless-container
    position: relative
    height: 85%
    &.scrolled
      +box-shadow(none)

  &.modal-dialog
    top: 150px

  .search-field, .image-family, .editorial-topics
    float: left
  .search-field
    margin-right: 4%
  .image-family
    margin-right: 1%
  .search-area
    .search-field
      width: 40%

  .group-label
    font-weight: bold

  .checkbox-group
    float: left
    margin-right: 20px

  .sub-checkbox
    margin-left: 20px

.getty-error, .getty-downloads-error
  color: $red
.getty-error
  font-size: 1.2em
.getty-downloads-error
  margin-top: 20px
  font-size: 1.1em

.getty-no-results
  width: 100%
  margin-top: 20%
  text-align: center
  font-weight: bold
  font-weight: 600
  font-size: 25px
  line-height: 25px

.getty-results-bar
  overflow: hidden
  padding: 20px 0px
  width: 100%
  .sorting-options
    float: right
  .results-count
    float: left
    margin-left: 3px

.getty-image-results
  position: relative
  overflow: hidden
  clear: left
  width: 100%

  .image-result
    float: left
    width: 31%
    margin-right: 3.5%
    height: 420px
  // +4 because of an existing previous sibling
  .image-result:nth-child(3n+4)
    margin-right: 0

  .cf-thumbnail
    text-align: center
    line-height: 220px
    .thumbnail
      vertical-align: middle

  .loading
    position: absolute
    bottom: 0
    left: 50%

  .getty-results-bar
    width: 50%
    padding: 0
    margin-left: 10px

    .sorting-options
      float: left
      clear: left
      margin-top: 4px

.getty-image-view
  position: relative
  .back
    position: absolute
    top: 0
    left: 0
  .image-data, .preview
    float: left
    margin-top: 50px
  .preview
    margin-right: 3%
  .image-data
    width: 45%
  .getty-metadata
    padding: 0
    padding-right: 40px
  .image-sizes
    padding-top: 30px
    table
      width: 330px
    th, td
      padding: 3px
    button
      margin-top: 20px


.getty-metadata
  padding: 0 40px
  span
    color: black
