.getty-dialog
  width: 60%
  height: 70%
  .endless-container
    position: relative
    height: 93%

  &.modal-dialog
    top: 150px

  .search-field, .image-family, .editorial-topics
    float: left
    margin-right: 1%
  .search-area
    .search-field
      width: 40%

  .group-label
    font-weight: bold

  .checkbox-group
    float: left
    margin-right: 20px

  .sub-checkbox
    margin-left: 20px

.getty-image-results
  position: relative
  overflow: hidden
  clear: left
  width: 100%

  .image-result
    float: left
    width: 31%
    margin-right: 3.5%
    height: 400px
  // +4 because of an existing previous sibling
  .image-result:nth-child(3n+4)
    margin-right: 0

  .cf-thumbnail
    text-align: center
    line-height: 185px
    .thumbnail
      vertical-align: middle

  .loading
    position: absolute
    bottom: 0
    left: 50%

.getty-image-view
  position: relative
  .getty-metadata, .preview
    float: left
    margin-top: 30px
  .preview
    width: 40%
  .back
    position: absolute
    top: 0
    left: 0
  .image-sizes
    table
      width: 400px


.getty-metadata
  width: 60%
  //p
    color: black
  span
    color: black
    //color: $medium-gray
