.insert-asset-dialog
  width: 60%
  height: 70%
  
  .dialog-content
    +pie-clearfix
    +flexbox
  .menu-with-buttons
    +flex-basis(20%)
    margin-right: 20px
  .main
    +flex-basis(80%)
    +flexbox
    +flex-direction(column)
  .search-with-resutls
    +flex-basis(100px)
    
