// Main results filters
.filter-list
  +plain-list
  margin-bottom: 10px
.filter-list-nogap
  margin-top: -10px
.filter-list-item
  position: relative
  font-size: 12px
  padding: 4px $left-nav-padding
  border: 1px solid transparent
  cursor: pointer
.filter-list-item.active
  border: 1px solid $dark-rule
  +border-radius(3px  3px  3px  3px)
  background: $gray-background
.filter-list-title
  color: $link-blue
.filter-list-item:hover .filter-list-title
  text-decoration: underline
  color: $link-blue
.filter-list-item.active .filter-list-title
  font-weight: 600
  color: $dark-gray
.filter-list-item.active:hover .filter-list-title
  text-decoration: none
  color: $dark-gray

.filter-list-notice
  padding: 4px $left-nav-padding

.restore-views-button
  width: 100%

.view-menu-buttons
  +flexbox
  margin-top: 4em
  button
    +flex(1)

.filter-list-header
  color: $medium-gray
  border-bottom: 1px solid $light-rule
  margin-bottom: 8px
  padding: 0 $left-nav-padding 7px
  font-size: 11px
  text-transform: uppercase

.filter-list-row
  +flexbox
  i
    position: relative
    top: 2px
    cursor: pointer
    color: silver
  i:hover
    color: inherit
.filter-list-row-main
  // nothing
.filter-list-row-hover
  opacity: 0
.filter-list-row:hover .filter-list-row-hover
  opacity: 1
.filter-list-row-middle
  +flex(0 0 4em)
  text-align: center
.filter-list-row-end
  +flex(1 1 2em)
  text-align: right


.filter-list-row-truncate
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
.filter-list-row-draggable
  cursor: move
  cursor: -webkit-grab

