// Main results filters
.filter-list
  +plain-list
  margin-bottom: 10px
  .filter-list-item
    position: relative
    font-size: 12px
    padding: 4px $left-nav-padding
    border: 1px solid transparent
    color: $link-blue
    cursor: pointer
    small
      font-size: 9px
      color: $light-gray
  .filter-list-item:hover
    .filter-list-title
      text-decoration: underline
      color: $link-blue
  .filter-list-item.active
    border: 1px solid $dark-rule
    +border-radius(3px  3px  3px  3px)
    background: $gray-background
    .filter-list-title
      font-weight: 600
      color: $dark-gray
  .filter-list-item.active:hover
    .filter-list-title
      text-decoration: none
      color: $dark-gray
.filter-list-edit
  opacity: 0
  color: silver
  position: relative
  top: 2px
  &:hover
    color: $medium-gray
  .filter-list-item:hover &
    opacity: 1
.filter-list-delete
  position: absolute
  top: 5px
  right: 5px
  color: silver
  display: none
  text-decoration: none
  &:after
    content: '×'
  .filter-list-item:hover &
    display: inline

.filter-list-header
  color: $medium-gray
  border-bottom: 1px solid $light-rule
  margin-bottom: 8px
  padding: 0 $left-nav-padding 7px
  font-size: 11px
  text-transform: uppercase

.filter-list-row
  +flexbox
.filter-list-row-main
  // nothing
.filter-list-row-edit
  +flex(0 0 4em)
  text-align: center
  opacity: 0
  i
    position: relative
    top: 2px
    cursor: pointer
    color: silver
  i:hover
    color: inherit
.filter-list-row:hover .filter-list-row-edit
  opacity: 1
.filter-list-row-toggle
  +flex(1 1 2em)
  text-align: right


.filter-list-row-truncate
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
.filter-list-row-draggable
  cursor: move
  cursor: -webkit-grab

