// main-results and main-header are used for tables in the entity
// overviews

.main-results
  border-left: none
  border-right: none
  > thead > td:first-child,
  > td:first-child,
  > tbody > th:first-child,
  > th:first-child
    padding-left: 10px

.main-results-wrapper
  .main-results
    @extend %endless-result-list-body

// style changes for main-results, compared to regular result-list
.main-header.result-list
  border: 0
  border-bottom: 1px solid $dark-rule

.main-header.result-list
  th, th button
    text-transform: uppercase

// Widgets used IN the tables:
.main-results
  .ss-star
    font-size: 8px
    color: $gold

