// main-results and main-header are used for tables in the entity
// overviews

.result-list.main-results,
.result-list.main-header
  border-left: none
  border-right: none

.main-results-wrapper
  .main-results
    @extend %endless-result-list-body

.with-left-nav
  .main-header
    +border-top-left-radius(3px)
  .result-list
    border-left: 1px solid $dark-rule
  
// status cell stuff for main-results
.result-list
  .draft-wrapper
    position: relative
    span
      padding: 1.25em 0
      display: block
  .main-results-bar
    position: absolute
    right: -2em
    height: 100%
    top: 0
    bottom: 0
    width: .8em
    height: 100%
    background-color: $light-gray  

// Widgets used IN the tables:
.main-results,
.main-header
  .ss-star
    font-size: .8em
    color: $gold

