// Main result table

// Layout (this is actually implementation stuff and should be
// specified on the containing element)
.main-header
  position: absolute
  left: 0
  right: 0
  top: $search-area-height
.main-results,
.main-header
  width: 100%
.main-results-wrapper //main results wrapper shouldnt really be used because we are wrapping in a endless container which does the overflow part. the rest is positioning in the containing element
  position: absolute
  top: 10.5em
  bottom: 0
  right: 0
  left: 0
  +rounded-corners(4px,0,0,0)
  overflow-y: auto

// State Modifier for when used with left nav (kinda layout related)

.left-nav-active .main-header
  th:first-child
    +rounded-corners(4px,0,0,0)

// Font-sizes and colors for table

.main-results,
.main-header
  td,
  th
    text-align: left
    padding: .8em 0
    vertical-align: middle
    font-size: 1.2em
    line-height: 1.8em
    white-space: nowrap
  th
    background-color: $gray-background
    font-weight: normal
    font-size: 1.1em
    padding: .4em 0 .3em 0
    color: $light-gray
    +box-shadow(0 1px 0 rgba(0,0,0,0.1) inset)
    border-bottom: 1px solid #e1e1e1
  th:first-child
    padding-left: 1.4em
    +box-shadow(0 0 0 transparent)
    +box-shadow(1px 1px 0 rgba(0,0,0,0.1) inset)
  td:first-child
    padding-left: 1.3em
  th:last-child, td:last-child
    text-align: right
    padding-right: 2em
  td:last-child
    vertical-align: top
    padding-top: 0
    padding-bottom: 0
  tbody
    tr
      border: 1px solid $light-rule
      border-right: none
  .ss-star
    font-size: .8em
    color: $gold

  .cell-select
    input[type="checkbox"]
      position: relative
      top: -.2em
  .cell-type,
  .cell-by
    color: $medium-gray
  .cell-name
    color: $dark-gray
    font-weight: 600
  .cell-created
    color: $light-gray
    font-size: 1.05em
  td.cell-status
    text-transform: uppercase
    color: $light-gray
    font-size: 1em
  // status cell stuff
  .draft-wrapper
    position: relative
    span
      padding: 1.25em 0
      display: block
  .main-results-bar
    position: absolute
    right: -2em
    height: 100%
    top: 0
    bottom: 0
    width: .8em
    height: 100%
    background-color: $light-gray  

// Cell widths

.cell-select
  width: 5%
.cell-favorite
  width: 5%
.cell-type
  width: 13%
.cell-name
  width: 42%
.cell-by
  width: 15%  
.cell-created
  width: 10%
.cell-status
  width: 10%
      
// State variations

.main-results
  tbody
    tr:hover
      background-color: #fbfbfb
      cursor: pointer

td.published
  color: $green
  .main-results-bar
    background-color: $green
    +box-shadow(0 0 2px rgba(0,0,0,0.2) inset, 0 1px 0 $green)

td.draft, td.pending
  color: $gold
  .main-results-bar
    background-color: $gold
    +box-shadow(0 0 2px rgba(0,0,0,0.2) inset, 0 1px 0 $gold)

td.archived
  color: $red
  .main-results-bar
    background-color: $red
    +box-shadow(0 0 2px rgba(0,0,0,0.2) inset, 0 1px 0 $red)
