.new-content-type-dialog
  ul
    max-height: 400px
    overflow-y: auto
    padding-left: 10px
    padding-right: 20px
    li
      display: block
      list-style: none
      text-align: center
      background-color: $lightest-gray
      padding: 10px
      color: $link-blue
      +border-radius(5px)
      cursor: pointer
      +transition(background-color ease-in 0.1s)
    li:hover
      background-color: $light-gray
