.new-content-type-dialog
  ul
    max-height: 600px
    overflow-y: auto
    li
      display: block
      list-style: none
      text-align: center
      background-color: $lightest-gray
      padding: 10px
      color: $link-blue
      +border-radius(5px)
      cursor: pointer
