// NOTIFICATIONS

.notification-wrapper
  position: fixed
  overflow: hidden
  bottom: 0
  right: 0
  padding: 1.5em 0 0 1.5em

.notification
  position: relative
  bottom: 1em
  right: 1em
  padding: 1.3em 1.8em
  z-index: 10000
  +box-shadow(0 2px 8px rgba(0,0,0,0.4), 0 1px 1px rgba(255,255,255,0.2) inset)
  +border-radius(4px)
  
  -webkit-transition: all .7s ease-in-out
  -moz-transition: all .7s ease-in-out
  -o-transition: all .7s ease-in-out
  transition: all .7s ease-in-out
  
  -webkit-transform: translate(0,10em)
  -moz-transform: translate(0,10em)
  -o-transform: translate(0,10em)
  -ms-transform: translate(0,10em)
  transform: translate(0,10em)
  
  span
    color: white
    font-size: 1.2em

.notification.start
  transform: translate(0,0)
  -webkit-transform: translate(0,0)
  -moz-transform: translate(0,0)
  -o-transform: translate(0,0)
  -ms-transform: translate(0,0)
  
.notification.end
  transform: translate(20em,0)
  -webkit-transform: translate(20em,0)
  -moz-transform: translate(20em,0)
  -o-transform: translate(20em,0)
  -ms-transform: translate(20em,0)
  
.green-notification
  background: rgba($green,0.95)
  border: 1px solid darken($green, 8%)
  
.gold-notification
  background: rgba($gold,0.95)
  border: 1px solid darken($gold, 8%)
  
.red-notification
  background: rgba($red,0.95)
  border: 1px solid darken($red, 8%)
