// Primary Table Style

// Layout

.result-list
  width: 100%

// Modifier extensions

%endless-result-list-body
  // The borders come from the container/main-header/tab-content instead
  border-bottom: none
  border-top: none

%standalone-table
  +border-radius(3px)

%result-list-border-bottom
  tbody
    tr:last-child
      td
        border-bottom: 1px solid $light-rule

// Main styles

%result-list-cell
  line-height: 18px
  vertical-align: middle
  padding: 8px 0px
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  text-align: left
  &:first-child
    padding-left: 13px

.result-list-empty
  p
    font-size: 16px
    color: $light-gray
    text-align: center
    line-height: 60px
    opacity: 0
    +transition(opacity ease-in 0.4s 0.4s)
  &.visible
    p
      opacity: 1

.result-list
  table-layout: fixed
  // borders
  border: 1px solid $dark-rule
  thead
    th
      border-bottom: 1px solid $dark-rule
  tbody
    td
      border-bottom: 1px solid $light-rule
    tr:last-child
      td
        border-bottom: none

  // Font-sizing and margins
  td,
  th
    @extend %result-list-cell
  th
    font-weight: normal
    font-size: 90%
    padding: 4px 0 3px 0
    color: $light-gray

  // Special Cell stylings

  // Layout
  .cell-select
    cursor: default
    // Replace .cell-select by td ?
    input[type="checkbox"]
      position: relative
      top: -2px
  .cell-status
    padding-top: 0
    padding-bottom: 0
    padding-right: 20px
    text-align: right

  // cell-status colors
  .published
    color: $green
    .main-results-bar
      background-color: $green

  .updated
    color: $blue
    .main-results-bar
      background-color: $blue

  .draft,
  .pending
    color: $gold
    .main-results-bar
      background-color: $gold

  .archived
    color: $red
    .main-results-bar
      background-color: $red

  // Text-Styles
  .cell-type,
  .cell-by
    color: $medium-gray
  .cell-name
    color: $dark-gray
    font-weight: 600
  .cell-description
    overflow: hidden
    padding-right: 1em
    text-overflow: ellipsis
  .cell-updated
    color: $light-gray
    font-size: 85%
  td.cell-status
    text-transform: uppercase
    color: $light-gray
    font-size: 80%
  .cell-preview

    color: $medium-gray

// State variations
%tr-clickable
  &:hover
    background-color: $result-list-highlight
    cursor: pointer

// Animations
.result-list.animated
  tr
    &.ng-leave
      +transition(all ease-in 0.3s)
      opacity: 1
      +transform(translateX(0))
    &.ng-leave-active
      opacity: 0
      +transform(translateX(100%))
