%endless-result-list-body
  // The borders come from the container/main-header/tab-content instead
  border-bottom: none
  border-top: none

%standalone-table
  +border-radius(3px)

%result-list-border-bottom
  tbody
    tr:last-child
      td
        border-bottom: 1px solid $light-rule

// Main styles

%result-list-cell
  line-height: 18px
  vertical-align: middle
  padding: 8px 0px
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  text-align: left
  &:first-child
    padding-left: 13px

.result-length
  text-align: center
  width: 100%

.result-list-empty
  p
    font-size: 16px
    color: $light-gray
    text-align: center
    line-height: 60px
    opacity: 0
    +transition(opacity ease-in 0.4s 0.4s)
  &.visible
    p
      opacity: 1

.result-list
  width: 100%
  table-layout: fixed
  border: 1px solid $dark-rule
  td
    border-bottom: 1px solid $light-rule
  th
    padding: 4px 0 3px 0
    font-weight: normal
    font-size: 90%
    color: $light-gray
    border-bottom: 1px solid $dark-rule
  tr:last-child
    td
      border-bottom: none
  tbody
    tr:nth-child(odd)
      background-color: lighten($lightest-gray, 10%)

  td,
  th
    @extend %result-list-cell

  .published
    color: $green
    .main-results-bar
      background-color: $green

  .updated
    color: $blue
    .main-results-bar
      background-color: $blue

  .draft,
  .pending
    color: $gold
    .main-results-bar
      background-color: $gold

  .archived
    color: $red
    .main-results-bar
      background-color: $red

  .cell-select
    cursor: default
    input[type="checkbox"]
      position: relative
      top: -2px

  .cell-status
    padding-top: 0
    padding-bottom: 0
    padding-right: 20px
    text-align: right

  .cell-type,
  .cell-author,
  .cell-preview,
  .cell-symbol,
  .cell-integer,
  .cell-number,
  .cell-boolean,
    color: $medium-gray
  .cell-display-field,
  .cell-name
    color: $dark-gray
    font-weight: 600
  .cell-text,
  .cell-description
    overflow: hidden
    padding-right: 1em
    text-overflow: ellipsis
  .cell-date
    color: $light-gray
    font-size: 85%
  .cell-display-name
    width: 27%
  .cell-description
    width: 47%
  .cell-content-type
    width: 13%
  .cell-select
    width: 3%
  .cell-preview,
  .cell-integer,
  .cell-number,
  .cell-boolean,
  .cell-status
    width: 6%
  .cell-date,
  .cell-symbol
    width: 10%
  td.cell-status
    text-transform: uppercase
    color: $light-gray
    font-size: 80%


// State variations
%tr-clickable
  &:hover
    background-color: $result-list-highlight
    cursor: pointer

// Animations
.result-list.animated
  tr
    &.ng-leave
      +transition(all ease-in 0.3s)
      opacity: 1
      +transform(translateX(0))
    &.ng-leave-active
      opacity: 0
      +transform(translateX(100%))
