.search-area
  +flexbox
  +flex-grow(3)
  +flex-basis(60%)
  height: $tab-header-height
  padding: $tab-header-padding 0
  padding-right: 20px
  padding-left: 10px

.search-with-results
  position: relative
  width: 100%

.with-filter
  .search-with-results
    .search-field
      +border-top-left-radius(0px)
      +border-bottom-left-radius(0px)
    input[type="search"]
      +border-radius(0px)
  .select-box
    +border-radius(20px 0px 0px 20px)
    min-width: 140px
    select
      padding-top: 7px
      width: 95%
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis

.search-field
  position: relative
  width: 100%
  max-width: 800px
  height: $tab-header-field-height
  background-color: white
  border: 1px solid $lightest-gray
  +border-radius(20px 20px 20px 20px)
  +box-shadow(0 1px 3px rgba(0,0,0,0.1) inset)

  .input
    +stretch(0, 35px, 0, 0)
  input[type="search"]
    padding: 0 7px
    width: 100%
    height: 100%
    font-size: 12px
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    border: none
    color: $dark-gray
    opacity: 0.6
    +border-radius(20px 0px 0px 20px)
  input:focus
    opacity: 1
    border: none
    outline: none

.search-button
  position: absolute
  top: 0
  right: 0
  bottom: 0
  padding: 0 7px 0 9px
  width: 35px
  font-size: 12px
  line-height: $tab-header-field-height - 2px
  cursor: pointer
  background-color: $gray-background
  +box-shadow(0 1px 3px rgba(255,255,255,0.8) inset)
  border-left: 1px solid $lightest-gray
  +border-radius(0 20px 20px 0)
  &:active
    +box-shadow(0 1px 2px rgba(0,0,0,0.05) inset)
  .ss-search
    position: relative
    top: 2px

.search-with-results
  .results.shrink-result-width
    right: auto
  .results // Necessary overrides/resets for .results which is per default geared towards use in forms
    left: 0
    right: 35px
    margin-right: 0
    font-size: 11px

.search-autocomplete-list,
.results .search-autocomplete-list //necessary for overriding too-specific selector ".results ol > *" in mixins.css.sass
  display: table
  width: 100%
  li
    display: table-row 
  .selected
    color: white
    +blue-highlight
  .item-value,
  .item-description
    padding: 2px 5px
    display: table-cell

// Search results position widget
.search-results-position
  +flexbox
  +align-content(stretch)
  +flex-grow(1)
  +flex-basis(15%)
  min-width: 150px
  .paginator
    +flexbox
    +align-items(center)
  .text
    margin-right: 11px
    p
      margin-right: 5px
      margin-bottom: 0
    input
      color: $medium-gray
      text-align: right
      background-color: white
      position: relative
      top: -1px
      width: 35px
  //.track
    width: 8px
    height: 100%
    background-color: $gray-background
    +box-shadow(1px 0 1px rgba(0,0,0,0.06) inset)
    +border-radius(0 2px 0 0)
  //.fill
    //position: absolute
    //top: 0
    //right: 0
    //height: 0
    width: 8px
    +gradient(#459cd9, #1e82c8)
    +border-radius(0 2px 0 0)

