$search-area-height: 78px
$search-field-height: 32px

.search-area
  height: $search-area-height
  +box-sizing("border-box")
  *
    +box-sizing("border-box")
  padding: ($search-area-height - $search-field-height)/2 0

.search-field
  position: relative
  width: 83%
  height: $search-field-height

.search-field
  border: 1px solid $lightest-gray
  +rounded-corners(20px,20px,20px,20px)
  +box-shadow(0 1px 3px rgba(0,0,0,0.1) inset)
  input
    border: none
    font-size: 1.2em
    padding: .5em .7em .4em
    color: $dark-gray
    opacity: 0.6
    width: 50%
  input:focus
    opacity: 1
    border: none
    outline: none

.search-field.with-filters
  input
    +border-top-left-radius(0)
    +border-bottom-left-radius(0)

%search-area-button
  background-color: $gray-background

%search-field-button
  @extend %search-area-button
  //height: $search-field-height
  line-height: $search-field-height - 2px
  padding: 0 7px 0 9px
  font-size: 1.2em
  +box-shadow(0 1px 3px rgba(255,255,255,0.8) inset)

.search-filters
  float: left
  li
    @extend %search-field-button
    border-right: 1px solid $lightest-gray
    float: left
    &:first-child
      +rounded-corners(20px,0,0,20px)
      padding-left: 15px
    .ss-delete
      margin: 0 0 0 6px
      position: relative
      top: .1em

.search-options
  float: right
  height: $search-field-height - 2px

.search-options .dropdown-toggle
  @extend %search-field-button
  border-left: 1px solid $lightest-gray
  +rounded-corners(0, 20px, 20px, 0)
  width: 40px
  height: $search-field-height - 2px
  .ss-search
    font-size: 1.1em
    position: relative
    top: .1em
  .ss-dropdown
    position: relative
    top: 0.1em
    font-size: .6em


.loading
  float: left
.search-options,
.search-options-right,
.search-results-position
  float: right
//.search-options
  position: absolute
  top: 0
  right: 0
  height: 13px
.search-options-right
  width: 17%
  right: 0
  position: absolute
  padding-bottom: 25px
  .loading
    margin-left: 11px
    margin-top: 31.5px
.search-view-options
  margin-left: 12px
  margin-top: 24px
.search-results-position
  position: absolute
  right: 0
  top: 0
  bottom: 0
  .track
    position: absolute
    right: 0
    height: 100%
  .fill
    position: absolute
    top: 0
    right: 0
  .tip
    position: absolute
    margin-top: -1.1em
    white-space: nowrap
  
/* SEARCH BAR */

      
    

.search-filter-title
  color: $light-gray
  
//.search-results-position
  .track
    background-color: $gray-background
    width: .8em
    @include box-shadow(1px 0 1px rgba(0,0,0,0.06) inset)
    @include rounded-corners(0,2px,0,0)
    
  /* The fill height needs to be the same % as the tip TOP */
  .fill
    height: 36%
    width: .8em
    +single-transition(height, 400ms, linear)
    background: #459cd9
    background: -moz-linear-gradient(top, #459cd9 0%, #1e82c8 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#459cd9), color-stop(100%,#1e82c8))
    background: -webkit-linear-gradient(top, #459cd9 0%,#1e82c8 100%)
    background: -o-linear-gradient(top, #459cd9 0%,#1e82c8 100%)
    background: -ms-linear-gradient(top, #459cd9 0%,#1e82c8 100%)
    background: linear-gradient(to bottom, #459cd9 0%,#1e82c8 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#459cd9', endColorstr='#1e82c8',GradientType=0 )
    @include rounded-corners(0,2px,0,0)
    
  /* The top positioning needs to be the same % as the fill HEIGHT */
  .tip
    right: 1.9em
    top: 36%
    +single-transition(top, 400ms, linear)
    .search-results-active
      font-size: 1.2em
      color: $dark-gray
      font-weight: 700

// Search-bar dropdown

