// Search Area Layout

.search-area
  height: $tab-header-height
  padding: $tab-header-padding 0
  +flexbox
  .search-field
    +flex(1)
  .content-type-filter
    margin-right: 20px

// Search Field Layout

.search-field
  height: $tab-header-field-height
  position: relative
  .input
    position: absolute
    +stretch(0,35px,0,0)
  input[type="search"]
    width: 100%
    height: 100%
  .search-button
    position: absolute
    top: 0
    right: 0
    bottom: 0

.content-type-filter
  .dropdown-toggle
    height: $tab-header-field-height

// Search-Field Look

.search-field
  background: white
  border: 1px solid $lightest-gray
  +border-radius(20px 20px 20px 20px)
  +box-shadow(0 1px 3px rgba(0,0,0,0.1) inset)
  input[type="search"]
    -webkit-appearance: none
    -moz-appeareance: none
    border: none
    font-size: 12px
    padding: 0 7px
    color: $dark-gray
    opacity: 0.6
    +border-radius(20px 0px 0px 20px)
    &::-webkit-search-cancel-button
      display: none
  input:focus
    opacity: 1
    border: none
    outline: none

// Common styles for elements in the search area

%search-area-button
  // TODO I have the suspicion that this is no longer needed,
  // default-button should cover this style
  cursor: pointer
  background-color: $gray-background
  line-height: $tab-header-field-height - 2px
  +box-shadow(0 1px 3px rgba(255,255,255,0.8) inset)
  &:active
    +box-shadow(0 1px 2px rgba(0,0,0,0.05) inset)

%search-field-button
  @extend %search-area-button
  padding: 0 7px 0 9px
  font-size: 12px

// Search options look

.search-button
  @extend %search-field-button
  border-left: 1px solid $lightest-gray
  +border-radius(0 20px 20px 0)
  width: 35px
  .ss-search
    position: relative
    top: 2px

// Search results position widget

.search-results-position
  // layout
  position: absolute
  right: 0
  top: 0
  bottom: 0
  width: 150px
  .track
    position: absolute
    right: 0
    height: 100%
  .fill
    position: absolute
    top: 0
    right: 0
  .text
    position: absolute
    bottom: 13px
    right: 0
    margin-right: 11px
  // internal behavior/styles
  .track
    background-color: $gray-background
    width: 8px
    +box-shadow(1px 0 1px rgba(0,0,0,0.06) inset)
    +border-radius(0 2px 0 0)

  .fill
    height: 0
    width: 8px
    +single-transition(height, 400ms, linear)
    +gradient(#459cd9, #1e82c8)
    +border-radius(0 2px 0 0)
