// Layout of inner components

.nav-bar
  position: absolute
  top: 0
  width: 50px
  height: 100%
  z-index: 20

.tab-list
  +stretch($tab-top, 20%, false, $main-left-spacing)
  height: $tab-height
  z-index: 10
  .tab
    width: 21.5%

.tab-content
  z-index: 0

// Base styles
a:link
  text-decoration: none
