.tab-list
  +user-select(none)
  > ul
    +plain-list
  li
    display: inline-block
    height: $tab-height
    vertical-align: top
  .tab
    position: relative
    margin-right: 2px
    padding: ($tab-height - 27px) 12px
    overflow: hidden
    background-color: $page-background
    border: 1px solid #d5d5d5
    border-bottom-color: $lightest-gray
    +border-radius(3px 3px 0 0)
    color: $light-gray
    span
      font-size: 13px
      white-space: nowrap
      display: block
      overflow: hidden
  .close
    position: absolute
    top: 0px
    right: 0px
    height: 37px
    width: 30px
    &:hover
      i.ss-delete
        color: $medium-gray
  i.ss-delete
    position: absolute
    top: 12px
    right: 9px
    font-size: 10px
  .fade
    position: absolute
    top: 0
    bottom: 0
    right: 0
    width: 50px
    +inactive-fade
  .tab.active
    color: $dark-gray
    background: $gray-background
    border-bottom: 0
    font-weight: 600
    +gray-highlight
    .fade
      +fade
  .tab:hover
    color: $dark-gray
    cursor: pointer
    +box-shadow(0 8px 16px rgba(255,255,255,0.3) inset)
  .tab.active:hover
    +gray-highlight

/* ADD BUTTON DROPDOWN */

.tablist-button
  .dropdown-menu 
    li
      display: block
      height: auto
      font-size: 11px
  .tooltip.right
    width: 200px

.add.button
  @extend %blue-button
  margin-top: 1px
  margin-left: 3px
  i
    float: left
    margin: 2px 5px 0 0
    font-size: 10px
    color: #7dc7fb
  &:active
    top: 1px
