// Layout

// TODO the layout stuff here should go into client style
.tab-content
  overflow: hidden
  position: absolute
  top: 46px
  right: 0
  bottom: 18px
  left: 0
  clear: both
  margin-left: $main-left-spacing
  margin-right: 20px
  background-color: white
  border: 1px solid #dbdbdb
  border-color: rgba(0,0,0,0.17)
  +border-radius(0 2px 2px 2px)

$left-nav-width: 17%
.left-nav
  position: absolute
  left: 0
  top: 0
  bottom: 0
  width: $left-nav-width
.with-left-nav
  position: absolute
  left: $left-nav-width
  right: 0
  //width: 100.1% - $left-nav-width  

$tab-main-margin-top: 28px

.tab-header
  position: absolute
  left: 0
  right: 0
  top: 0
  height: $tab-header-height
  +border-radius(3px 3px 0 0)
.tab-main
  position: absolute
  left: 0
  right: 0
  top: $tab-header-height
  padding-top: $tab-main-margin-top
  bottom: 0
  overflow-y: auto
.tab-actions
  position: absolute
  left: 0
  right: 0
  bottom: 0
  height: $tab-actions-height
.aux-panel
  width: 20%
  position: absolute
  overflow-y: auto
  top: $tab-header-height
  bottom: 0

// Aux Panel Layout

// layout
// normal mode
.aux-panel
  display: none

// sidebar mode
.with-aux-panel
  .tab-main
    right: 20%
  .aux-panel
    display: block

// Tab Actions Layout

// normal mode
.tab-actions
  display: none

// with tab-actions
.with-tab-actions
  .tab-actions
    display: block
  .tab-main,
  .aux-panel
    bottom: $tab-actions-height

// Look and Feel

$left-nav-padding: 8px
.left-nav
  margin-top: 4px
  padding: $left-nav-padding
  header
    color: $medium-gray
    border-bottom: 1px solid $light-rule
    margin-bottom: 8px
    padding: 0 $left-nav-padding 7px
    font-size: 11px
    text-transform: uppercase

.tab-header
  border-bottom: 1px solid $lightest-gray
  background-color: $gray-background
  +box-shadow(0 1px 4px rgba(0,0,0,0.07))
.tab-header
  h1
    display: inline-block
    font-size: 20px
    margin-right: 20px
    color: $dark-gray
    padding-left: 25px
    line-height: $tab-header-height - 2px
    vertical-align: middle

// Variant to extend a container with, to style its left nav in the style
// that it has these filters
.list-tab-view
  .left-nav
    @extend %blue-link-list
    .active:hover:after
      font-family: "SSStandard"
      content: "↻"
      font-size: 7px
      color: $light-gray
      line-height: 10px
      margin-left: 3px
  .left-nav-filters // TODO Rename saved-searches
    i.ss-search
      color: $light-gray
      font-size: 8px
      margin: 0 2px 0 0
    
