#guiders_overlay
  @extend .modal-background

.guider
  @extend %modal-dialog-chrome
  border: 1px solid $dark-rule
  +box-shadow(0 2px 10px)
  z-index: 10
  h1
    margin-bottom: 1em

.guiders_content
  margin: 10px

.guiders_button
  padding-right: 1em

//  Close-Button  //////////////////////////////////////////////////////////////

$close_size: 25px

.guiders_close
  position: absolute
  top:  $close_size / 2
  right: $close_size / 2
  width: $close_size
  height: $close_size
  //border: 1px sol

.guiders_x_button
  color: $light-gray
  line-height: $close_size
  text-align: center
  font-size: $close_size
  height: $close_size
  width: $close_size
  cursor: pointer
  &:hover
    color: darken($light-gray, 20%)
  &:before
    content: "×"

//  Arrows  ////////////////////////////////////////////////////////////////////

.guiders_arrow
  $caret-size: 15px
  position: absolute
  font-family: 'SSStandard'
  color: white
  font-size: 20px
  &:before
    position: absolute
.guiders_arrow_left
  &:before
    content: "◃"
  left: - $caret-size
  +text-shadow( -2px 0px 5px darken($dark-rule, 30%)) 
.guiders_arrow_up
  &:before
    content: "▴"
  top: - $caret-size + 3px
  +text-shadow( 0px -2px 5px darken($dark-rule, 30%)) 
.guiders_arrow_down
  &:before
    content: "▾"
  bottom: 1px
  +text-shadow( 0 2px 5px darken($dark-rule, 30%)) 

//  Overview  //////////////////////////////////////////////////////////////////

#overview.guider
  $width: 700px
  .guiders_content
    margin: 20px
  .guiders_title
    text-align: center
    margin: 1.5em 0
  .guiders_description
    margin: 0
  .guiders_buttons_container
    display: none

  .tutorial-select-box
    position: relative
    border: 1px solid $dark-rule
    +border-radius(3px)
    background-color: white
    margin-bottom: 20px
    width: ($width - (2 * 22px) - (2 * 14px)) / 3
    float: left
    height: 300px
    &.left,
    &.middle
      margin-right: 14px
  h3 
    font-size: 1.5em
    text-align: center
    padding: 1em 0
    background-color: lighten($lightest-gray, 10%)
    +border-radius(3px 3px 0 0)
    border-bottom: 2px solid $dark-rule
    border-top: 3px solid
  .left h3
    border-top-color: $blue
  .middle h3
    border-top-color: $gold
  .right h3
    border-top-color: $red
  .background-icon
    display: block
    line-height: 60px
    color: $light-gray
    font-size: 60px
    text-align: center
    margin-top: 30px
  .description
    margin: 1em
  .buttons
    position: absolute
    bottom: 0
    left: 0
    right: 0
    margin: 1em
  .tutorial-select-box button
    width: 100%
    cursor: hover
    &.take, &.repeat
      padding: .75em inherit
  button.repeat
    @extend %gray-button
  button.take
    @extend %blue-button
    line-height: 18px // Necessary because of some stupidity where the gray button has a line-height

.guider#contentTypeFields
  li
    i
      color: $lightest-gray
  li.done
    color: $lightest-gray
    strong
      color: $lightest-gray
    i
      color: $green

.guider#contentTypeExamples
  .loading
    margin: 2em auto
  .buttons
    text-align: center
  button
    @extend %blue-button
