.validation-dialog .modal-dialog
  width: 700px

.validation-dialog .title
  //TODO: Cesar wants this to become default style for all modals
  border-bottom: 1px solid $light-rule
  margin: -$modal-dialog-padding
  margin-bottom: 0
  padding: $modal-dialog-padding
  background: $gray-background

.create-validation-button
  @extend %blue-button
