.validation-dialog .modal-dialog
  width: 700px

.validation-dialog .title
  //TODO: Cesar wants this to become default style for all modals
  border-bottom: 1px solid $light-rule
  margin: -$modal-dialog-padding
  margin-bottom: 0
  padding: $modal-dialog-padding
  background: $gray-background

.cf-validation-options
  padding: 6px 0
  border-bottom: 1px solid $dark-rule

.validation-type-select
  display: inline
  .dropdown-toggle
    width: 100px
    height: 34px

.validation-controls
  display: inline-block
  vertical-align: top
  @extend %form-styled

.cf-validation-options .validation-controls
  input[type]
    display: inline
    width: auto

.add-validation
  margin-top: 1em

.delete-validation
  float: right
