.view-customizer
  .dropdown-menu
    overflow-y: auto
    max-height: 500px
  h3
    margin-top: 10px
    margin-left: 10px
    color: $medium-gray
  ul
    margin-top: 10px
    margin-bottom: 10px
  hr
    margin: 15px 0px
    background-color: $dark-rule
