.view-customizer
  .column-lists
    overflow-y: auto
    max-height: 500px
  h3
    margin-top: 10px
    margin-left: 10px
    color: $medium-gray
  ul
    margin-top: 10px
    margin-bottom: 10px
  hr
    margin: 15px 0px
    background-color: $dark-rule

.displayed-fields
  li
    overflow: hidden
    cursor: default
    +user-select(none)
    &:hover
      .close-button
        display: block
    &[data-field-id]
      cursor: move
  p, .close-button
    float: left
  p, a
    line-height: 20px
  p
    clear: left
  .dragging
    text-shadow: lighten($dark-gray, 0.6) 1px 1px 5px
    &:hover
      .close-button
        display: none
  .close-button
    display: none
    margin-top: -2px
    margin-left: 5px
    &:after
      font-size: 16px

.customizable
  margin-left: 5px
.non-customizable
  color: $light-gray

.hidden-fields
  a
    cursor: pointer

