.modern-stack-onboarding

  &--container
    z-index: 3
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    background: #fff

  &--wrapper
    margin: 15px auto
    max-width: 1500px

  &--header
    display: flex
    align-items: flex-end
    margin-bottom: 30px

  &--title
    font-size: 44px
    text-align: center
    margin-top: 150px
    margin-bottom: 100px
    font-weight: 700

  &--subtitle
    margin-top: -50px
    margin-bottom: 0

  &--choice-title

  &--choice-blocks
    display: flex
    justify-content: center

  &--choice-block
    text-align: center
    padding: 15px
    width: 400px
    height: 200px
    margin: 0 15px
    border: 1px solid gray
