<react-component name="@contentful/forma-36-react-components/TextField" props="buildNameTextFieldProps()"></react-component>
<react-component name="@contentful/forma-36-react-components/TextField" ng-if="contentTypeIsNew" props="buildApiIdTextFieldProps()"></react-component>
<react-component name="@contentful/forma-36-react-components/TextField" props="buildDescriptionTextFieldProps()"></react-component>
