.note-box.note-box--info(ng-if="hints.shouldShow('ct-field-max')")
  h3 Field limits
  p Keep in mind that the maximum number of fields per Content Type is 50.
  p
    a(ng-click="hints.dismiss('ct-field-max')") Dismiss

.note-box.note-box--info(ng-if="hints.lifecycle.shouldShow('neutral')")
  h3 Disabling fields
  p
    | You can now disable fields in a&nbsp;couple different ways. Have a&nbsp;look at the ​
    cf-knowledge-base(target="field_lifecycle" text="field lifecycle" inline-text="true")
    |​ to learn more.
  p
    a(ng-click="hints.lifecycle.dismiss('neutral')") Dismiss

.note-box.note-box--info(ng-if="hints.lifecycle.shouldShow('disabled')")
  h3 Editing is disabled for some fields
  p
    | These fields will disappear from the editor, so you won't be
    | able to edit their content anymore. Have a&nbsp;look at the ​
    cf-knowledge-base(target="field_lifecycle" text="field lifecycle" inline-text="true")
    |​ to learn more.
  p
    a(ng-click="hints.lifecycle.dismiss('disabled')") Dismiss

.note-box.note-box--info(ng-if="hints.lifecycle.shouldShow('omitted')")
  h3 Some fields are disabled from the response
  p
    | You won't be able to fetch them via the Delivery or Preview APIs. Have a&nbsp;look at the ​
    cf-knowledge-base(target="field_lifecycle" text="field lifecycle" inline-text="true")
    |​ to learn more.
  p
    a(ng-click="hints.lifecycle.dismiss('omitted')") Dismiss

.note-box.note-box--info(ng-if="hints.lifecycle.shouldShow('both')")
  h3 Some fields are completely disabled
  p
    | Not only would these fields disappear from the editor &ndash; you also
    | won't be able to fetch the content via API. Have a&nbsp;look at the ​
    cf-knowledge-base(target="field_lifecycle" text="field lifecycle" inline-text="true")
    |​ to learn more.
  p
    a(ng-click="hints.lifecycle.dismiss('both')") Dismiss
