.modal-background
  form.modal-dialog.edit-content-type-metadata__dialog(
    novalidate
    ng-controller="ContentTypeMetadataController"
    name="newContentTypeForm")
    header.modal-dialog__header
      h1 Duplicate content type
      button.modal-dialog__close(type="button" ng-click="dialog.cancel()")
    .modal-dialog__content(ng-init="dialog.formController = newContentTypeForm")
      <react-component name="@contentful/forma-36-react-components/TextField" props="buildNameTextFieldProps()"></react-component>
      <react-component name="@contentful/forma-36-react-components/TextField" ng-if="contentTypeIsNew" props="buildApiIdTextFieldProps()"></react-component>
      <react-component name="@contentful/forma-36-react-components/TextField" props="buildDescriptionTextFieldProps()"></react-component>
      .note-box.note-box--info
        | You're about to duplicate the content type <span class="modal-dialog__highlight">{{ originalName }}</span>,
        |  with all existing fields. No entries will be duplicated.

    .modal-dialog__controls
      button.btn-primary-action(ui-command="duplicate")
        | Duplicate
      button.btn-secondary-action(type="button" ng-click="dialog.cancel()")
        | Cancel
