.modal-background
  form.modal-dialog.edit-content-type-metadata__dialog(
    novalidate
    ng-controller="ContentTypeMetadataController"
    name="newContentTypeForm"
    cf-on-submit="newContentTypeForm.$valid && dialog.confirm()")
    header.modal-dialog__header
      h1 {{dialog.title}}
      button.modal-dialog__close(type="button" ng-click="dialog.cancel()")
    .modal-dialog__content
      <react-component name="@contentful/forma-36-react-components/TextField" props="buildNameTextFieldProps()"></react-component>
      <react-component name="@contentful/forma-36-react-components/TextField" ng-if="contentTypeIsNew" props="buildApiIdTextFieldProps()"></react-component>
      <react-component name="@contentful/forma-36-react-components/TextField" props="buildDescriptionTextFieldProps()"></react-component>

    .modal-dialog__controls
      button.btn-primary-action(cf-form-submit ng-disabled="!isNewContentTypeFormClean()")
        | {{dialog.confirmLabel}}
      button.btn-secondary-action(type="button" ng-click="dialog.cancel()")
        | Cancel
