.modal-background
  form.modal-dialog.edit-content-type-metadata__dialog(
    novalidate
    ng-controller="ContentTypeMetadataController"
    name="newContentTypeForm"
    cf-on-submit="newContentTypeForm.$valid && dialog.confirm()")
    header.modal-dialog__header
      h1 {{dialog.title}}
      button.modal-dialog__close(type="button" ng-click="dialog.cancel()")
    .modal-dialog__content
      include ./content_type_metadata_form

    .modal-dialog__controls
      button.btn-primary-action(cf-form-submit ng-disabled="!isNewContentTypeFormClean()")
        | {{dialog.confirmLabel}}
      button.btn-secondary-action(type="button" ng-click="dialog.cancel()")
        | Cancel
