.account-dropdown
  padding: 0 20px

  &__toggle
    $display-flexbox()
    align-items: center

  &__avatar
    width: 25px
    height: 25px

  &__name
    margin-left: 15px

  &__name
    min-width: 80px
    max-width: 120px

@media (max-width: $nav-bar-break-width)
  .account-dropdown__name
    display: none

