.account-bar
  height: 100%
  margin-left: auto
  margin-right: 20px
  $nav-bar-dropdowns()
  .dropdown-group
    > li
      color: $gray
      span, .fa-user
        font-size: 1.1em
        font-weight: bold
      .fa-user
        font-size: 1.2em
        margin-right: 3px
  .dropdown-menu
    top: 45px
    .account-header
      color: white
      font-weight: bold
      padding: 2px 12px 6px
      margin-bottom: 0px
  .project
    position: relative
    margin-right: 10px
    min-width: 120px
    .dropdown-menu
      max-height: 500px
      overflow-y: auto
    $tooltip-opaque()
    .tooltip
      margin-left: -75px
    .hibernated
      color: $gray-medium
      &:hover
        color: $gray-light
    .fa-circle
      font-size: 7px
      float: right
      margin-right: 10%
      margin-top: 2px
    li
      max-width: 210px
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
  .user
    img
      vertical-align: middle
      margin-top: -4px
    .dropdown-menu
      right: 0

.account-bar__dropdown-btn
  float: right
  .active &
    padding-top: 1px
    background: darken($gray-darkest, 10%)

.account-bar__dropdown-toggle
  color: $gray
  height: $nav-bar-height
  font-weight: $nav-bar-font-weight
  text-align: right
  float: right
  line-height: 27px
  padding: 10px 10px 0px
  border-bottom: none
  .button-icon-right
    left: 10px
    top: 7px
  &:hover
    color: white
    box-shadow: none
  .active &
    color: white

.account-bar__loader
  float: right
  width: 50px
  height: 50px
  background: url('/app/images/navbar-loader.gif') center no-repeat

