.add-dropdown
  padding: 0
  flex-grow: 0
  $nav-bar-dropdowns()

  &__container
    &.active
      box-shadow: inset 0px 0px 30px 30px rgba(0,0,0,0.3)

  &__toggle
    color: white
    $highlight($blue)
    padding: 2px 10px 0px
    i
      top: 0px
      margin: 0 auto
      font-size: 14px
      font-weight: normal
    &:active
      top: 1px
    &:focus
      $focus-styles()
    &:hover
      color: white
      $highlight($blue, 5%, 'lighten')
      box-shadow: none

  &__list
    color: white
    > .dropdown-menu-item
      line-height: 40px
      padding-top: 0
      padding-bottom: 0

  &__content-types
    max-height: 450px
    overflow-y: auto
    > .dropdown-menu-item
      padding-left: 32px
      font-weight: normal
