.add-field-dialog
  &.modal-dialog
    min-width: auto
  &__list
    width: 42em
    $display-flexbox()
    flex-wrap: wrap
    justify-content: center
  &__list-item
    width: 7em
    margin: 0 0.5em
    text-align: center
    cursor: pointer
    > h2
      font-size: 1em
  &__description
    font-size: 0.9em
    color: $cfnext-gray
  &__config
    width: 27em
