/*
Advice

Show advice to the user on empty views

Styleguide 20.0
*/

/*
Advice

Advice is usually a whole block with the following structure

Markup:
.styleguide-stretch-container--medium
  .advice
    .advice__frame
      i.fa.fa-cloud-upload.advice__giant-icon
      header.advice__title Hold on! We're bringing your space back
      p.advice__description You haven't been here for a while, so your Space slipped into hibernation.
      p.advice__description Don't worry, all your content is safe and shall be available for use in a few moments.
      p.advice__description--smaller Learn more about hibernation in our Help Center

Styleguide 20.1
*/
.advice
  $stretch()
  display: flex
  flex-direction: column
  justify-content: center

/*
Used for the advice items at the top level which act as content fallback in
case no spaces are available
*/
.advice-content-fallback
  top: $nav-bar-height

$advice-icon()
  color: $gray-medium
  text-shadow: 0 -1px 0px rgba(0,0,0,0.7)
  margin-bottom: 1rem

.advice__medium-icon
  $advice-icon()
  font-size: 9rem

.advice__giant-icon
  $advice-icon()
  font-size: 14rem

.advice__frame
  width: 60em
  margin: 0 auto
  display: flex
  flex-direction: column
  align-items: center
  text-align: center

.advice__title
  font-weight: bold
  font-size: 2em
  line-height: 1.2em
  margin-top: 0
  margin-bottom: $rhythm(0.5)

.advice__description
  font-size: 1.2em
  line-height: 1.2em
  margin: 0 6em $rhythm(0.5)

.advice__action
  margin: $rhythm(1) 0
  $btn-action()

.advice__description--smaller
  font-size: 1.0em
  margin: 0 16em $rhythm(0.5)
