
$app-top-bar__action-color()
  color: $cfnext-white
  &:hover
    color: $cfnext-blue
    transition: color $app-top-bar-transition-time

.app-top-bar
  display: flex
  background-color: $cfnext-dark-blue

  &__logo
    display: flex
    justify-content: center
    align-items: center
    padding: 0 10px

  &__logo-element
    position: relative
    width: 29px
    height: 29px
    background-image: url('/app/images/logo-label.png')
    background-size: 29px 29px

  &__child,
  &__child-action,
  &__dropdown
    height: 70%
    margin: auto 0

  &__dropdown-toggle
    padding-left: 15px
    padding-right: 15px
    height: 100%
    display: flex
    align-items: center;
    justify-content: space-between
    cursor: pointer;
    $app-top-bar__action-color()

  &__action,
  &__child-action
    display: flex
    flex-direction: column
    justify-content: center
    padding: 0 15px
    a
      $app-top-bar__action-color()
    &:focus
      $focus-styles

  &--left-separator
    border-left: 1px solid transparentify($cfnext-white, 20%)
  &--right-separator
    border-right: 1px solid transparentify($cfnext-white, 20%)


  &__loader
    width: 50px
    height: 50px
    background: url('/app/images/navbar-loader.gif') center no-repeat

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi)
    &__logo-element
      background-image: url('/app/images/logo-label@2x.png')
