.asset-gallery
  overflow: hidden

.asset-gallery__item
  float: left
  display: block
  overflow: hidden
  width: 120px
  height: 120px
  margin-right: 20px
  margin-bottom: 20px
  border: 1px solid $metallic-gray
  border-radius: 5px
  background-color: white

.asset-gallery__info
  position: relative

.asset-gallery__file
  &.gallery-file
    .fa
      color: lighten($metallic-gray-blueish, 85%)

.asset-gallery__title
  position: absolute
  bottom: 0
  top: 70px
  left: 0px
  right: 0px
  padding: 5px 2px 0px
  text-align: center
  word-wrap: break-word
  border-bottom: 1px solid $metallic-gray
  background-color: transparentify(lighten($metallic-gray-blueish, 70%), 0.3)


