/*
Dropdowns

New styles for dropdowns.
These styles concern only the dropdown element itself and not the element
which triggers visibility of the dropdown

Markup:
.styleguide-stretch-container--short
  .cfnext-dropdown
    // list-first will remove the top border separator
    ul.cfnext-dropdown__list-first
      li.cfnext-dropdown__item Item 1
      li.cfnext-dropdown__item Item 2
    ul.cfnext-dropdown__list
      // nested sublist
      li.cfnext-dropdown__item--group
        span.cfnext-dropdown__group-label Inner List
        ul.cfnext-dropdown__inner-list
          li.cfnext-dropdown__item Inner Item 1
          li.cfnext-dropdown__item Inner Item 2

Styleguide 11.0
*/

$cfnext-caret-size = 12px
$cfnext-gutter = 18px

$cfnext-dropdown__item()
  padding: $rhythm(0.4) $cfnext-gutter $rhythm(0.3)
  margin-bottom: 0
  cursor: pointer
  white-space: no-wrap

$cfnext-dropdown__list()
  padding: 0
  margin-bottom: $rhythm(0.5)
  border-top: 1px solid $cfnext-gray

$cfnext-dropdown--highlight()
  &.selected
    color: $cfnext-white
    background-color: $cfnext-dark-blue
  &:hover
    color: $cfnext-white
    background-color: $cfnext-blue

.cfnext-dropdown
  $layer('dropdown')
  position: absolute
  border: 1px solid $cfnext-gray
  box-shadow: 0 1px 2px rgba(0,0,0,0.5)
  border-radius: 3px
  background-color: $cfnext-lightest-blue
  padding-top: $rhythm(0.8)

  &__arrow
    position: absolute
    top: -13px
    &.left-aligned
      left: $cfnext-caret-size + 10px
    &.right-aligned
      right: $cfnext-caret-size + 10px
    &.center-aligned
      left: 50%

  &__list
    $cfnext-dropdown__list()

  &__list--first
    $cfnext-dropdown__list()
    border-top: none

  &__list--last
    $cfnext-dropdown__list()
    margin-bottom: $rhythm(0.2)

  &__inner-list
    margin-top: $rhythm(0.3)

  &__item
    $cfnext-dropdown__item()
    $cfnext-dropdown--highlight()
    display: flex
    align-items: center
    cf-icon
      line-height: normal
      margin-right: 4px

  &__item--group
    $cfnext-dropdown__item()
    padding: $rhythm(0.2) 0 0
    cursor: default

  &__group-label
    padding: 0 $cfnext-gutter

  &__item--vcentered
    $cfnext-dropdown__item()
    $cfnext-dropdown--highlight()


.cfnext-dropdown__list:last-child
  .cfnext-dropdown__item:last-child
  .cfnext-dropdown__item--vcentered:last-child
    margin-bottom: 0

