/**
 * CFNext Forms
 *
 * Build simple forms with labels, inputs, errors and option groups.
 *
 * Styleguide 30
 */

/**
 * Inputs and labels
 *
 * Markup:
 * div.cfnext-form__field
 *   label Name
 *   input.cfnext-form__input(type="text" value="Name")
 * div.cfnext-form__field
 *   label Longer Name
 *   input.cfnext-form__input(type="text" size="50" value="Longer Name")
 * div.cfnext-form__field
 *   label Full Name
 *   input.cfnext-form__input--full-size(type="text" value="Full Name")
 * div.cfnext-form__field
 *   label 2.5
 *   input.cfnext-form__input--full-size(type="number" value="2.5" step="any" min="1" max="4")
 * div.cfnext-form__field
 *   label Bio
 *   textarea.cfnext-form__input
 * div.cfnext-form__field
 *   label Disabled input
 *   input.cfnext-form__input(disabled type="text" value="This field is disabled")
 * div.cfnext-form__field
 *   label Disabled textarea
 *   textarea.cfnext-form__input(disabled)
 *
 * Styleguide 30.1
 */

.cfnext-form__field
  margin-bottom: $rhythm(1.5)
  > label
    display: block
    margin-bottom: $rhythm(0.5)

$cfnext-form-input()
  $sans-font()
  font-size: inherit
  border: 1px solid $metallic-gray
  border-radius: 3px 3px 3px 3px
  box-sizing: border-box
  height: 2.3em
  padding: 0 0.5em
  transition: border 0.3s
  &:focus
    background-color: white
    border-width: 1px
    border-color: $colors.blue
    outline: none
  &[readonly], &[disabled], &:disabled
    color: $colors.text-mid
    background-color: $colors.element-lightest
    border: 1px solid $colors.element-dark
    box-shadow: none
    transition: none
  &[aria-invalid="true"]
    border-color: $colors.red-dark
  &[type="number"]
    padding-right: 0
  textarea&
    padding-top: 0.5em
    padding-bottom: 0.5em
    line-height: 1.3
    height: auto

.cfnext-form__input
  $cfnext-form-input()
  max-width: 100%;

.cfnext-form__input--short
  $cfnext-form-input()
  width: 10ex;

.cfnext-form__input--full-size
  $cfnext-form-input()
  width: 100%;
  resize: vertical


/**
 * Hints
 *
 * Markup:
 * div.cfnext-form__field
 *   label First Name
 *   input.cfnext-form__input(type="text")
 *   p.cfnext-form__hint
 *     | You have to provide your name here
 * div.cfnext-form__field
 *   label Last Name
 *   input.cfnext-form__input(type="text")
 *   p.cfnext-form__hint
 *     | You have to provide your last name here
 * div.cfnext-form__field
 *   label
 *     | Last Name
 *     span.cfnext-form__label-hint
 *       | a hint after the label
 *   input.cfnext-form__input(type="text")
 *
 * Styleguide 30.2
 */
.cfnext-form__hint
  margin-top: $rhythm(0.5)
  margin-bottom: 0
  color: $text-dimmed
  font-size: $small-font-size

.cfnext-form__hint--normal-text
  margin-top: $rhythm(0.5)
  margin-bottom: 0

.cfnext-form__label-hint
  margin-left: 1ex
  color: $text-dimmed
  font-size: $small-font-size

  &.x--invalid
    color: $colors.red-dark


/**
 * Errors and warning
 *
 * Markup:
 * div.cfnext-form__field
 *   label Name
 *   input.cfnext-form__input(type="text" aria-invalid="true")
 *   p.cfnext-form__field-error
 *     | Something went wrong!
 * div.cfnext-form__field
 *   label Name
 *   input.cfnext-form__input(type="text" aria-invalid="true")
 *   .cfnext-form__field-warning
 *     | This is just a warning :)
 * div.cfnext-form__field
 *   label Name
 *   input.cfnext-form__input(type="text" aria-invalid="true")
 *   p.cfnext-form__field-suffix-error
 *     | Something went <strong>wrong!</strong>
 * div.cfnext-form__field
 *   label Name
 *   input.cfnext-form__input(type="text" aria-invalid="true")
 *   ul.cfnext-form__field-errors
 *     li This went wrong
 *     li And that
 * div.cfnext-form__field
 *   label
 *     | Name
 *     span.cfnext-form__label-hint.x--invalid
 *       | required
 *   input.cfnext-form__input(type="text" aria-invalid="true")
 *
 * Styleguide 30.3
 */

.cfnext-form__field-error,
.cfnext-form__field-errors,
.cfnext-form__field-suffix-error
.cfnext-form__field-warning
  word-wrap: break-word
  margin-top: $rhythm(0.5)
  margin-bottom: 0
  color: $colors.red-dark
  // TODO overide because strong sets color !tableflip
  strong
    color: inherit

.cfnext-form__field-errors > li
  margin-bottom: $rhythm(0.5)

.cfnext-form__field-suffix-error
  display: inline
  margin: 0 0 0 1.5em
  color: $colors.red-dark
  // TODO overide because strong sets color !tableflip
  strong
    color: inherit

.cfnext-form__field-warning
  color: $colors.orange-dark

/**
 * Option set
 *
 * Markup:
 * fieldset.cfnext-form__fieldset
 *   legend A few options
 *   .cfnext-form-option
 *     input(type="checkbox" id="option-a")
 *     label(for="option-a") Check this
 *   .cfnext-form-option
 *     input(type="checkbox" id="option-b")
 *     .cfnext-form-option__desc
 *       label(for="option-b") Or check that
 *       p You also can check both
 *       p.text-dimmed This is a hint
 *   .cfnext-form-option
 *     input(type="radio" id="radio-a" name="selectme")
 *     label(for="radio-a") Select me
 *   .cfnext-form-option
 *     input(type="radio" id="radio-b" name="selectme")
 *     .cfnext-form-option__desc
 *       label(for="radio-b") Or me
 *       p This is radio
 *
 * Styleguide 30.4
 */
$cfnext-form__fieldset()
  legend
    width: 100%
    flex-shrink: 0
    margin-bottom: $rhythm(1)

.cfnext-form__fieldset
  $cfnext-form__fieldset()

.cfnext-form-option
  margin-bottom: $rhythm(1)
  display: flex

  .cfnext-form-option:last-child
    margin-bottom: 0

  > input[type="checkbox"],
  > input[type="radio"]
    align-self: flex-start
    flex-shrink: 0
    margin: 1px 0.5em 0 0

  > label
    display: block
    cursor: pointer

.cfnext-form-option__desc p
  font-size: $small-font-size
  margin: 0

.cfnext-form-option__desc label
  // Larger line height increases clickable area
  line-height:     $rhythm(1.5)
  // Negative margin makes sure the larger line height does not
  // influence the layout
  margin-top:    - $rhythm(0.5)
  display: inline-block;
  cursor: pointer

/**
Disabled options

Markup:
.cfnext-form-option
  input(type="checkbox" id="option-d" disabled)
  .cfnext-form-option__desc
    label(for="option-d") This is disabled
    p ...with more description
.cfnext-form-option
  input(type="checkbox" id="option-d" disabled)
  label(for="option-d") This is disabled, too

Styleguide 30.5
*/

.cfnext-form-option > input[type="checkbox"]:disabled
  & + .cfnext-form-option__desc,
  & + label
    color: $text-dimmed


/**
 * Horizontal option set
 *
 * Note: don't use an actual fieldset tag with this class:
 * http://germanforblack.com/post/73295576875/flexbox-for-forms
 *
 * Markup:
 * .cfnext-form__fieldset--horizontal
 *   legend A few options
 *   .cfnext-form-option
 *     input(type="checkbox" id="option-a")
 *     label(for="option-a") Check this
 *   .cfnext-form-option
 *     input(type="checkbox" id="option-b")
 *     label(for="option-b") Or check that
 *   .cfnext-form-option
 *     input(type="radio" id="radio-a" name="selectme")
 *     label(for="radio-a") Select me
 *   .cfnext-form-option
 *     input(type="radio" id="radio-b" name="selectme")
 *     label(for="radio-b") Or me
 *
 * Styleguide 30.6
 */
.cfnext-form__fieldset--horizontal
  $cfnext-form__fieldset()
  display: flex
  flex-wrap: wrap

  .cfnext-form-option
    margin-right: $rhythm(2)
  .cfnext-form-option:last-child
    margin-right: 0

/**
 * Form with icon
 *
 * Markup:
 * .cfnext-form__field
 *   label Regular input with icon suffix
 *   .cfnext-form__input-group
 *     input.cfnext-form__input(type="text")
 *     button.cfnext-form__icon-suffix.fa.fa-lock
 * .cfnext-form__field
 *   label Full size input with icon suffix
 *   .cfnext-form__input-group--full-size
 *     input.cfnext-form__input--full-size(type="text")
 *     button.cfnext-form__icon-suffix.fa.fa-lock
 *
 * Styleguide 30.7
 */

.cfnext-form__input-group
  position: relative
  display: inline-block
  height: 2.3em

.cfnext-form__input-group--full-size
  position: relative
  display: block
  height: 2.3em

.cfnext-form__icon-suffix
  border: 0
  background: none
  outline: 0
  cursor: pointer

  padding-left:  1.0em
  padding-right: 1.0em

  position: absolute
  top: 0; bottom: 0; right: 0;

  &[disabled]
    cursor: not-allowed
