.client
  $stretch()
  $layer('bottom')
  min-width: 1000px

.client-loading
  $stretch()
  margin: auto
  height: 8em
  text-align: center
  &__icon
    font-size: 4em
    line-height: 1

  &__text
    line-height: 2
    font-size: 2em
