.content-type-fields
  max-width: 50em
  margin-top: $rhythm(1)

  &__item
    padding-right: 1em
    height: $rhythm(2.5)
    display: flex
    align-items: center
    margin-bottom: $rhythm(1)
    border: 1px solid $cfnext-light-gray
    border-radius: 1px
    box-shadow: 0 0 2px 0 $cf-next-light-gray
    background-color: white
    &.disabled
      color: $gray

$ct__field-padding = 0.8em
.ct-field
  &__name
    font-weight: bolder
    margin-right: 1em

  &__icon
    margin-right: 1em
    cf-icon
      margin-top: 5px
      display: block

  &__type
    flex-grow: 1
    margin-right: 1em
    color: $gray

  &__is-title
    margin-right: 2em

  a&__edit
    $cfnext-btn-plain()

  &__disable
    $cfnext-btn-plain()
    min-width: 10px
    margin-left: 0.5em
    text-align: right
    font-weight: normal

  &__drag-handle
    width: 16px
    height: 100%
    margin-right: 1em
    border: 1px solid transparentify(lighten($cfnext-green, 40%), 0.2)
    background-color: transparentify(lighten($cfnext-green, 40%), 0.2)
    cursor: move
    cursor: -webkit-grabbing
    cursor: -moz-grab
    cursor: -moz-grabbing
