@require '../variables/colors'

.create-new-space-dialog
  &.modal-dialog
    width: 750px
    text-align: center
  &__header
    background-color: white
    border: 0
    padding: 0
  &__content.modal-dialog__content
    padding: 0 30px 30px 30px
  &__heading
    line-height: 1.2em
    margin: 0 0 8px
  &__subheading
    font-size: 1.05em
    line-height: 1.3em
    color: $colors.text-mid
  &__controls--right
    justify-content: flex-end
  &__controls--centered
    justify-content: center

.create-new-space__form
  text-align: left
  padding: 20px 12px 0 12px
  &__option
    margin-bottom: 10px
  &__label-description
    color: $colors.text-mid
  &__radios
    margin-bottom: 20px

.create-new-space__fieldset
  display: flex
  > .cfnext-form__field
    margin-right: 30px
    width: 50%
    &:last-child
      margin-right: 0
    > select, > input
      width: 100%

.create-new-space__templates
  position: relative
  text-align: left
  transition: height 0.2s ease-in-out
  overflow: hidden
  height: 101px
  padding: 0
  &.close
    height: 0
  &.open
    overflow: hidden
    height: 329px
  &__inner
    padding: 30px 42px
    margin-top: 11px
    background-color: $colors.element-lightest
    border-top: 1px solid $colors.element-mid
    border-bottom: 1px solid $colors.element-mid

  cf-icon[name="arrow-up"]
    position: absolute
    left: 38px
  path
    fill: $colors.element-lightest

  &__nav
    display: flex
    border-left: 1px solid $colors.element-mid

  &__navitem
    cursor: pointer
    display: flex
    color: $colors.text-light
    font-weight: bold
    border: 1px solid $colors.element-mid
    border-left-width: 0
    padding: 8px
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out
    path
      fill: $colors.text-light
    &.selected
      color: $colors.text-dark
      border-bottom-width: 0
      background-color: white
      path
        fill: $colors.green-mid
    &__icon
      padding-right: 5px
    &:hover:not(.selected)
      background-color: $colors.element-light
      color: $colors.text-mid

  &__description
    overflow: auto
    display: flex
    background-color: white
    padding: 20px
    border: 1px solid $colors.element-mid
    margin-top: -1px
    box-shadow: 0 1px 3px rgba(0,0,0,0.08)

  &__image
    width: 220px
    min-width: 220px
    max-width: 220px
    height: 160px
    border: 1px solid $colors.element-mid
    margin-right: 20px
  &__text
    display: flex
    align-items: center
    color: $colors.text-mid
  &__entities
    margin: 20px 0
  &__entity
    display: flex
    text-align: left
    margin-top: 30px
    padding: 0 60px
    &__description
      margin-left: 20px
      h3
        margin: 0 0 10px 0
  &__status
    height: 27px
    width: 27px
    margin: 6px auto
    .spinner
      $spinner-base()
      $spinner-active($colors.text-dark, $base-line-height*1.5)
      &:after
        display: block

// Close button

$close-button-small()
  border: 1px solid $colors.element-mid
  transform: none;
  border-top-right-radius: 2px
  background-color: $colors.element-lightest
  &:hover
    background-color: $colors.element-light
  &:after
    font-size: 2em
    line-height: 1em

.create-new-space-dialog__close.modal-dialog__close
  $close-button-small()
  margin-left: auto

.create-space-wizard__close.modal-dialog__close
  $close-button-small()
  position: absolute
  top: 0
  right: 0

// V2 pricing wizard
.create-space-wizard
  &__heading
    line-height: 1.3em
    text-align: center
  &__subheading
    line-height: 1.5em
    color: $colors.text-mid
    text-align: center
    margin-bottom: 28px
    font-size: 1.1em
  &__info
    line-height: 1.5em
    margin-bottom: 30px
  &__step
    display: none
    &--current
      display: block
  &__navigation
    $tab-list()
    width: 100%
    justify-content: center
    [role=tab][aria-disabled="true"]
      opacity: .3
      cursor: not-allowed
  &__centered-block
    width: 420px
    margin: 0 auto

.space-plans-list
  &__item__heading
    font-size: 17px
    line-height: 1.2

    .help-icon__img svg path
      fill: $colors.element-mid

  $item-label($color, $border-color = null)
    &:before
      background-color: $color
      border: 1px solid $border-color

  display: flex
  flex-direction: column
  &__item
    height: 73px
    border-radius: 2px 2px 0 0
    border: 1px solid $colors.element-mid
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.08)
    background-color: #fff
    margin-bottom: 10px
    padding: 14px 30px
    line-height: 1.5em
    display: flex
    flex-direction: column
    position: relative
    cursor: pointer
    transition: all ease-in-out .1s
    $item-label($colors.text-lightest, $colors.text-light)
    &:not(&--disabled):hover
      border: 1px solid $colors.element-darkest
      box-shadow: 0 3px 3px 0 rgba(0,0,0,0.08)
      transform: translateY(-2px)
      z-index: 1
    &--selected
      border: 1px solid $colors.blue-dark
    &:before
      content: ''
      width: 10px
      height: 100%
      position: absolute
      top: -1px
      left: -1px
      border-radius: 2px 0 0 2px;
    &--micro
      $item-label($colors.orange-light, $colors.orange-mid)
    &--small
      $item-label($colors.green-light, $colors.green-mid)
    &--medium
      $item-label($colors.blue-light, $colors.blue-mid)
    &--large
      $item-label($colors.red-light, $colors.red-mid)
    &--disabled
      cursor: not-allowed
      opacity: .3

    &__heading
      font-size: 17px
      line-height: 1.2

    &__features
      color: $colors.text-mid
      display: flex
      flex-direction: row
      margin-top: 4px
      & > li
        margin: 0 10px
        &:first-child
          margin-left: 0
        &:last-child
          margin-right: 0
    &__chevron
      transform: rotate(-90deg)
      position: absolute
      right: 30px
      top: 50%
      height: 0

