.editing-interface-editor
  .left-nav,
  .with-left-nav
    margin-top: 20px
    border-right: 1px solid $gray-light
    > h2
      margin-bottom: 20px

  .left-nav
    padding: 0 15px

  .with-left-nav
    $stretch(0, 30%, 0, $left-nav-width)
    padding: 0px 30px

.field-widget-settings
  margin-bottom: 20px
  border: 1px solid $gray-light

.field-widget-settings__header
  display: flex
  padding: 10px
  color: $gray-dark

.field-widget-settings__icon
  width: 5%
  strong
    color: $gray-dark

.field-widget-settings__label
  font-weight: bold
  margin-left: 15px

.field-widget-settings__tools
  margin-left: auto
  .fa-stack
    width: 1.8em
    height: 1.8em
    color: $gray-medium

.field-widget-settings__details
  display: none

  .select-box
    width: 200px

.open
  .field-widget-settings__details
    display: block
    padding-top: 20px
    padding-bottom: 20px
    background-color: $gray-lightest


