.filter-list
  margin-bottom: 10px
  &.ui-sortable
    min-height: 18px

.filter-list-nogap
  margin-top: -10px

.filter-list-item
  position: relative
  margin: 0
  padding: 4px $left-nav-padding
  border: 1px solid transparent
  cursor: pointer

.filter-list-item.active
  border: 1px solid $gray-light
  border-radius: 3px  3px  3px  3px
  background: $gray-lightest

.filter-list-item-placeholder
  border: 1px dashed $gray
  height: 26px
  margin: 0px $left-nav-padding

//TODO these should maybe be actual links
.filter-list-title
  color: $blue-link

.filter-list-item:hover .filter-list-title
  text-decoration: underline
  color: $blue-dark-link

.filter-list-item.active .filter-list-title
  font-weight: bold
  color: $gray-darkest

.filter-list-item.active:hover .filter-list-title
  text-decoration: none
  color: $gray-darkest

.filter-list-well
  padding: 10px
  border: 1px solid $gray-light
  border-radius: 3px
  background: $gray-lightest
  text-align: center
  max-width: 250px
  margin: 2em auto
  i.fa-share
    padding-top: 10px
    line-height: 60px
    display: block
    font-size: 50px

.filter-list-header
  color: $gray-medium
  border-bottom: 1px solid $gray-lightest
  margin-bottom: 8px
  padding: 0 $left-nav-padding 7px
  font-size: 11px
  text-transform: uppercase
  letter-spacing: 1px
.header-toggle.toggle-collapse
  color: $gray-light

.filter-list-row
  $display-flexbox()
  i
    position: relative
    top: 2px
    cursor: pointer
    color: silver
  i:hover
    color: inherit
.filter-list-row-main
  flex-grow: 0.1
.filter-list-row-hover
  opacity: 0
  &.hover-remove
    display: none
.filter-list-row:hover .filter-list-row-hover
  opacity: 1
  &.hover-remove
    display: initial
.filter-list-row-middle
  flex: 0 0 4em
  text-align: left
.filter-list-row-end
  flex: 1 1 2em
  text-align: right


.filter-list-row-truncate
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
.filter-list-row-draggable
  cursor: move
  cursor: -webkit-grab

// TODO these need to be better named
.inline-editor-form input
  width: 100%

.menu-with-buttons
  height: 100%
  $display-flexbox()
  flex-direction: column
.menu-with-buttons-main
  flex: 1 1 0
  overflow-y: auto
.menu-with-buttons-bottom
  flex: 0 0 1
  margin-bottom: $left-nav-padding

.view-menu-buttons
  padding: 4px $left-nav-padding
  $display-flexbox()
  margin-top: 1em
  margin-bottom: 1em
  button
    flex-grow: 1


