.getty-dialog.modal-dialog
  width: 70em
  height: 70%
  position: relative
  line-height: inherit

.getty__endless-container

.getty__loading
  margin: 20% auto 0

.getty-error, .getty-downloads-error
  color: $orange
.getty-error
  font-size: 1.2em
.getty-downloads-error
  margin-top: 20px
  font-size: 1.1em

.getty__dialog-container
  position: absolute
  left: 0
  right: 0
  bottom: 0
  top: 58px
  padding: $modal-dialog-padding
  overflow-y: auto

.getty__search-area
  $pie-clearfix()
  border-bottom: 1px solid $gray-light
  margin-bottom: $rhythm(1)

.getty__search-results-info
  margin-bottom: $rhythm(1.5)

.getty__results-count
  margin-right: 2ex

.getty__results-sorting
  > button
    margin-right: 1ex

.getty__search-field
  max-width: 40em
  margin-bottom: $rhythm(1)

.getty__option-group
  float: left
  margin-right: 2em

.getty__option-group-toggle
  margin-bottom: $rhythm(0.5)
  > input
    margin-top: 0
  > label
    font-weight: bold
    cursor: pointer
    margin-left: 0.3em

.getty__option-group-content
  margin-left: 1.8em
  margin-bottom: $rhythm(1)

.getty-no-results
  width: 100%
  margin-top: 20%
  text-align: center
  font-weight: bold
  font-size: 25px
  line-height: 25px


.getty__search-results
  > .loading
    clear: both
    margin: 0 auto

.getty__search-result
  float: left
  width: 31%
  min-height: 300px
  padding-bottom: $rhythm(1);

  margin-right: 3.5%
  &:nth-child(3n)
    margin-right: 0


.getty__result-thumbnail
  display: block
  cursor: pointer
  margin-bottom: $rhythm(1)
  > img
    display: block

.getty__result-info
  display: block

.getty__result-title
  display: block
  font-weight: bold
  margin-bottom: $rhythm(0.5)
  a&
    cursor: pointer


.getty__image-details

  padding-top: $rhythm(2)
  padding-left:  1em
  padding-right: 1em

.getty__details-image
  float: right
  margin-left: 2em

.getty__details-title
  font-size: 2em
  line-height: 1.2
  margin-bottom: $rhythm(0.25)

.getty__offerings
  font-style: italic
  margin-bottom: $rhythm(0.5)
  > li
    display: inline
    margin-right: 1ex

.getty__info-table
  th
    padding-right: 2ex

.getty__details-size-select
  margin-top: $rhythm(1)
  > table
    margin-bottom: $rhythm(1)
  td, th
    padding-right: 2ex

.getty__add-image
  margin-left: 1ex

.getty__download-spinner
  display: inline-block
  vertical-align: middle
