.home
  background-color: $colors.bg-light

  &__header
    background-image: url('/app/svg/home-bg.svg')
    background-size: cover
    padding: 10px
  
  &__spaceman
    position: absolute
    bottom: 0
    right: 30px

  &-section
    background-color: white
    border: 1px solid $colors.element-mid
    box-shadow: 0px 1px 2px 0px hsla(black, 0.1)
    display: block
    padding: 24px
    margin-bottom: 16px
    &__heading
      margin-top: 0
      line-height: 1.5em
    &__description
      color: $colors.text-mid
      line-height: 1.5em
      margin: 20px 0
    &.x--spaces
      padding: 0 0 14px 0
      .home-section__heading
        padding: 24px 24px 16px 24px

  &__examples
    display: flex

  .example
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 22%
    margin-right: 2%
    border: 1px solid $colors.element-mid
    box-shadow: 0px 1px 2px 0px hsla(black, 0.1)
    padding: 14px 10px
    &__header
      color: $colors.text-dark
      margin-top: 0
    &__description
      color: $colors.text-mid
    &__dot
      border: 1px solid $colors.element-mid
      height: 12px
      width: 12px
      margin-bottom: 10px
    &__link
      align-self: flex-end
      width: 100%
    &:nth-child(4n+1)
      .example__dot
        background-color: $colors.green-light
    &:nth-child(4n+2)
      .example__dot
        background-color: $colors.orange-light
    &:nth-child(4n+3)
      .example__dot
        background-color: $colors.blue-light
    &:nth-child(4n)
      .example__dot
        background-color: $colors.red-light


  .spaces
    max-height: 160px
    overflow-y: auto
    border-top: 1px solid $colors.element-light
    &__org-name, &__space
      border-bottom: 1px solid $colors.element-light
      padding: 10px 24px
    &__org-name
      color: $colors.text-mid
      font-weight: bold
    &__org-desc
      letter-spacing: 0
      font-weight: lighter
      color: $colors.text-light
      margin-left: 20px
    &__space
      display: flex
      justify-content: space-between


  .links
    display: flex
    &__col
      width: 50%
      a
        display: block
        line-height: 2em

.workbench-main__middle-content.x--home
  width: 820px
  overflow: visible

.workbench-main.x--home
  padding: 0

.tab-list.x--home
  border: 1px solid transparent
  border-bottom: 1px solid $colors.element-mid
  margin: 0 1px 16px 1px
  width: 818px
  transition: background-color 0.2s ease-in-out
  z-index: 1
  &.fixed
    position: fixed
    top: 63px
    background-color: white
