.invite-users
  position: relative
  vertical-align: top 
  display: inline-block
  margin-left: 15px
  line-height: 13px
  padding-top: 10px
  .fa-user,
  .fa-plus
    display: inline-block
    line-height: inherit
  .fa-user
    font-size: 15px
  .fa-plus
    font-size: 9px
    top: -4px

