.nav-bar
  height: 100%
  user-select: none

.nav-bar__list
  height: inherit
  display: flex

.nav-bar__list-item
  &, &--right
    margin: 0
  &--right
    margin-left: auto

.nav-bar__link
  display: flex
  align-items: center
  &.is-active
    color: $colors.blue-mid

.nav-bar__list-label
  margin: 0 10px

