.nav-bar
  user-select: none
  height: 100%
  ul
    margin: 0
    .tooltip
      display: none !important
  li
    height: 100%
    position: relative
    float: left
    display: inline-block
    line-height: $nav-bar-height
    padding: 0 15px
    margin: 0
    list-style-type: none
    text-align: center
    color: $gray-medium
    font-weight: $nav-bar-font-weight
    $main-top-bar-visual-border()
    i
      position: relative
      margin-right: 5px
      font-size: 15px
      text-shadow: 0 1px 0 rgba(255,255,255,0.1)
    &:focus
      $focus-styles
    &:hover
      color: white
      cursor: pointer
    &.section
      background-image: linear-gradient(#000000 0%, #191919 4%, #171717 100%)
    &.section-index
      color: white
  .bottom
    position: absolute
    bottom: 0

$hide-navbar-text()
  li
    span
      display: none
  ul
    .tooltip
      display: block !important

@media (max-width: 1300px)
  .nav-bar.with-persistent-notification
    $hide-navbar-text()

@media (max-width: 1050px)
  .nav-bar
    $hide-navbar-text()

