.app-notification--anchor
  position: absolute
  left: 0
  right: 0
  z-index: 1
  display: flex
  justify-content: center
  align-items: flex-start
  height: 0


.app-notification--slider
  overflow: hidden
  max-width: 70vw


.app-notification
  min-width: 28em
  max-width: 65em
  line-height: 1.5
  padding: $rhythm(0.5) 1rem $rhythm(0.5) 1.7rem
  font-weight: bold
  display: flex

  transition: 0.3s ease-out transform
  transform: translateY(0%)

  color: $colors.white
  &
    background: $colors.green
    .app-notification__close-button svg path
      fill:  #0E8C62
  &.x--error
    background: $colors.red
    .app-notification__close-button svg path
      fill:  #7A1824

  &.ng-hide-add
    transition: none
  &.ng-hide
    display: block !important
    transform: translateY(-100%)


  > p
    flex: 1 1 auto
    margin: 0

  &__close-button
    flex: 0 0 auto
    $button-reset()
    margin-left: 1.5em
    height: 21px
