.app-notification--anchor
  position: absolute
  right: 25px
  z-index: 1
  height: 0


.app-notification--slider
  overflow: hidden
  max-width: 70vw


.app-notification
  min-width: 28em
  max-width: 40em
  line-height: 1.5
  padding: $rhythm(0.5) 1rem $rhythm(0.5) 1.7rem
  font-weight: bold
  display: flex
  align-items: baseline
  cursor: pointer

  transition: transform 0.3s ease-out, opacity 0.3s ease-out
  transform: translateY(0)

  &:hover
    opacity: 0.6

  color: $colors.white
  &
    background: $colors.green
    .app-notification__close
      color:  #0E8C62
  &.x--error
    background: $colors.red
    .app-notification__close
      color:  #7A1824

  &.ng-hide-add
    transition: none
  &.ng-hide
    display: flex !important
    transform: translateY(-100%)


  > p
    flex: 1 1 auto
    margin: 0

  &__close
    font-size: 0.9em
    flex: 0 0 auto
    margin-left: 1.5em
