// Zuora Recommended subscription plan box.
// Copied over from Gatekeeper's "zuora.css.scss" and adjusted.
.z-subscription-plan {
  border: 1px solid $colors.element-mid;
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-bottom: 4em;
  position: relative;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.08);
  padding: 30px 15px;
  text-align: center;
  min-height: 0;
  color: $colors.text-dark;
}

.z-subscription-plan-icon {
  margin: 0 auto;
  width: 31px;
  height: 31px;

  &.z-plan-icon-plus {
    content: url("/app/svg/paywall-planplus.svg");
  }
}

.z-subscription-plan-name {
  font-size: 1.1em;
  text-align: center;
  h3 {
    margin-bottom: 20px;
  }
  &:after {
    content: '';
    position: absolute;
    background-color: $colors.element-mid;
    height: 1px;
    width: 20%;
    left: 40%;
  }
}

.z-subscription-plan-details {
  padding: .5em;
}

.z-subscription-plan-price {
  display: inline-flex;
  margin: 20px auto;
  line-height: 3em;
  .symbol {
    margin-top: -0.6em;
    margin-right: 0.4em;
    color: $colors.text-light;
  }
  .amount {
    font-size: 3em;
  }
  .period {
    color: $colors.text-light;
    margin-top: 0.6em;
    margin-left: 0.2em;
  }
}

.z-subscription-plan-limits {
  .limit-value {
    font-weight: 600;
  }
  .limit-name {
    color: $colors.text-light;
  }
}
