.paywall
  color: $colors.text-mid
  p
    margin-bottom: 1.6em
    font-size: 1em
p.paywall__intro
  font-size: 1.2em
  font-weight: bold
  line-height: 1.5
p.paywall__bottom-note
  font-size: 0.9em
  font-style: italic
  color: $colors.text-lightest
  margin-bottom: 0
  a
    cursor: pointer

.paywall
  &__content
    flex: 3
    max-width: 450px

  &__recommended-subscription
    flex: 2
    max-width: 220px
    min-width: 160px
    margin-left: 4em
    margin-top: -55px
    h2
      font-size: 1em
      font-weight: normal
      text-align: center
      margin-bottom: 1.5em
      color: $colors.text-mid

  .modal-dialog
    > *
      padding-left: 65px
      padding-right: 65px

    &__content
      display: flex
      padding-top: 25px
      padding-bottom: 45px

    &__header
      background-color: transparent
      border: none
      padding-top: 45px
      padding-bottom: 0
      h1
        font-size: 2em
        color: $colors.text-dark
        &:after
          content: "."
      i
        font-size: 4em
        margin-right: .3em
        color: $colors.red-light

    &__close
      position: absolute
      top: 10px
      right: 10px

    &__controls-confirm
      margin: 3px 0 50px 0
