.pricing-heading
  font-size: 1.2em
  font-weight: bold
  line-height: 1.2
  margin: 0.8em 0 1.2em

.pricing-tile
  padding: 20px
  text-align: center
  border: 1px solid $colors.element-mid
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.08)

.pricing-tiles-list
  display: flex
  flex-wrap: wrap
  .pricing-tile
    margin 0 20px 20px 0
    width: 220px
    height: 220px

.pricing-plan
  position: relative
.pricing-plan__bar
  position: absolute
  top: -1px
  left: -1px
  right: -1px
  height: 15px
  border: 1px solid $colors.element-mid
  background-color: $colors.element-light

.pricing-csm
  display: flex
  .pricing-csm__photo
    display: block
    margin-right: -10px
    width: 50px
    height: 50px
    border-radius: 50%
    background-image: url('/app/images/faces/stephen.jpg')
    background-size: 100% auto
    background-repeat: no-repeat

.pricing-price
  margin: 0.8em 0 1.2em
.pricing-price__value
  font-size: 3em
  font-weight: bold
  whitespace: nowrap
  line-height: 1
.pricing-price__value__currency
  font-weight: normal
  color: $colors.text-light
  font-size: 0.4em
  line-height: 2
  vertical-align: text-top
  padding-right: 0.2em
.pricing-price__unit
  color: $colors.text-light
  display: block
