// Styles for the "build with contentful" section on the Learn tab and API key page

$build-with-contentful-content-box()
  position: relative
  width: 31%
  text-align: center
  border: 1px solid $colors.element-mid
  padding: 24px 30px
  &:not(:last-child)
    margin-right: 3.5%
  > .icon-wrapper
    position: absolute
    left: 50%
    margin-left: -25px
    top: -25px
    width: 50px
    height: 50px
    display: flex
    align-items: center
    justify-content: center
    background: white
    > cf-icon
      display: inline-block
      margin: 0 auto

.build-with-contentful
  position: relative
  &__languages
    display: flex
    margin: 40px 0 20px 0
    &.is-open
      path
        fill: $colors.text-lightest

  &__language
    flex-grow: 1
    text-align: center
    position: relative
    &:not(:last-child):after
      display: block
      position: absolute
      right: 0
      content: ''
      width: 1px
      height: 30px
      top: 6px
      background-color: $colors.element-mid
    svg
      margin: 0 auto
  &__link
    cursor: pointer
    display: block
    max-width: 80px
    margin: 0 auto
    &.is-active
      path
        fill: $colors.text-dark
  &__name
    display: block
    padding: 10px 0
    color: $colors.text-mid
    text-decoration: underline
  &__detail
    height: 0
    overflow: hidden
    transition: height 0.2s linear
    position: relative
    cf-icon[name="arrow-up"]
      position: absolute
      left: -6px
      top: -13px
      transform: scale(1.2)
      transition: margin-left 0.2s ease-in-out
      path
        fill: white
        stroke: $colors.element-mid

    &.x--visible
      height: 230px
      overflow: visible
      border-top: 1px solid $colors.element-mid
  &__references
    display: flex
    margin-top: 50px
  &__reference
    $build-with-contentful-content-box()
    a.build-with-contentful__reference-link
      cursor: pointer
      color: $colors.blue-dark
      text-decoration: underline
      &:hover, &:visited, &:active
        color: $colors.blue-darkest
    .build-with-contentful__reference-name
      font-weight: 600
      font-size: 1.2em
      margin: 10px 0
    .build-with-contentful__reference-description
      color: $colors.text-mid
      line-height: 1.4em

  // vertically stacked version
  &.x--stack-vertical
    .build-with-contentful__references
      flex-direction: column
      margin-top: 30px
    .build-with-contentful__reference
      text-align: left
      &, &:not(:last-child)
        width: auto
        margin: 0 0 20px 0
        > .icon-wrapper
          left: 0
          top: 16px
      .build-with-contentful__reference-name
        margin-top: 0
      .build-with-contentful__reference-description
        display: inline
        &:after
          content: ' '
    .build-with-contentful__detail.x--visible
      height: auto

