.search-autocomplete-list
  display: table

  // fix for https://bugs.chromium.org/p/chromium/issues/detail?id=306878
  width: 100.2%

  li
    display: table-row

  li.autocompletion-row
    cursor: pointer

    // fix, part 2
    .item-description
      border-right: 1px solid $colors.blue-mid

    &.selected,
    &:hover
      background-color: #F4F4F2

    &:last-child > *
      border: 0

  .item-value,
  .item-description,
  .header-value,
  .header-description
    display: table-cell
    height: 56px
    vertical-align: middle
    color: $colors.text-light
    border-bottom: 1px solid $colors.ice-dark

  .header-value,
  .header-description
    padding-top: 5px
    height: 40px
    font-weight: bold

  .header-value,
  .item-value
    padding-left: 20px

  .header-description,
  .item-description
    padding-right: 20px

  .item-value > span
    display: inline-block
    padding: 6px 10px 5px
    border-radius: 2px
    background: $colors.blue-mid
    color: white
    font-weight: bold
