.search-autocomplete-list
  padding: 7px 0;
  display: table
  width: 100%
  > li
    display: table-row
    cursor: pointer
  > li:hover
    $highlight(lighten($blue, 20), 6%, 'darken')
    color: white
  .item-value
    color: $gray
    padding: 7px;
    padding-left: 20px
  .selected,
  .selected:hover
    color: white
    $highlight($blue)
    > .item-value
      color: white
  .item-description
    color: $colors.dark-gray
    padding: 7px;
    padding-right: 20px;
  .item-value,
  .item-description
    display: table-cell
