.nav-sidepanel__close-btn
  cf-icon
    g
      fill: white

.nav-sidepanel--slide-in
  left: 0
  transition: left 0.2s ease-in

.nav-sidepanel--slide-out
  left: -395px
  transition: left 0.2s ease-out
