.snapshot-list
  table
    margin-bottom: 1em
  td
    vertical-align: middle
    font-size: 0.85em
    padding: 5px 7px

.snapshot-selector
  width: 80%
  max-width: 1000px

  .main-results-wrapper
    height: 400px
    overflow: scroll

.snapshot-author
  display: flex
  align-items: center

  img
    width: 25px
    height: 25px
    margin: 7px 0
  span
    margin-left: 10px
    line-height: 1.1em;
