.snapshot-list
  table
    margin-bottom: 1em
  td
    vertical-align: middle
    font-size: 0.85em
    padding: 5px 7px

.snapshot-selector
  width: 80%
  max-width: 1000px

  .main-results-wrapper
    height: 400px
    overflow: scroll

  .x--current
    font-weight: bold

.snapshot-author
  display: flex
  align-items: center

  img
    width: 25px
    height: 25px
    margin: 7px 0
  span
    margin-left: 10px
    line-height: 1.1em

.snapshot-comparator__header
  display: flex
  background-color: $colors.element-lightest


.snapshot-comparator__cell,
.snapshot-comparator__header-cell
  display: flex
  flex-grow: 1
  flex-basis: 0

  &:first-child
    border-right: 1px dashed #D6D6D6

.snapshot-comparator__header-cell
  justify-content: space-between
  align-items: center
  border-bottom: 1px solid $colors.element-darkest

  > *
    padding: 1.5em 4em

.snapshot-comparator__version
  color: $base-font-color
  border-right: 1px solid $colors.element-darkest

  cf-icon path
    fill: $base-font-color

.snapshot-comparator__field-locale
  display: flex

.snapshot-comparator__cell
  position: relative
  border-bottom: 1px solid #EEEEEE

  &__radio
    min-width: 4em
    max-width: 4em
    display: flex
    justify-content: center
    align-items: center
  &__presenter
    flex-grow: 1
    padding: 4em
    padding-left: 0

.snapshot-comparator__field_title
  color: $colors.text-light
  margin-bottom: $rhythm(0.5)

.snapshot-comparator__presenter
  font-size: 1.1em

.snapshot-comparator__overlay-different,
.snapshot-comparator__overlay-identical
  $layer(snapshotOverlay)
  background-color: rgba(0, 0, 0, 0)
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

.snapshot-comparator__overlay-identical
  background: rgba(255, 255, 255, 0.75)

.snapshot-comparator__overlay-different
  cursor: pointer

  &.x--selected
    background-color: alpha($colors.blue-light, 0.05)

.snapshot-comparator__hint
  top: 25px
  left: 25px
  box-sizing: border-box
  padding: 15px

  .ui-hint-content
    display: inline-block
    max-width: 600px
    margin-bottom: 0

  [data-arrow-direction="up"]
    top: -7px
