.snapshot-list
  table
    margin-bottom: 1em
  td
    vertical-align: middle
    font-size: 0.85em
    padding: 5px 7px

.snapshot-selector
  width: 80%
  max-width: 1000px

  .main-results-wrapper
    height: 400px
    overflow: scroll

.snapshot-author
  display: flex
  align-items: center

  img
    width: 25px
    height: 25px
    margin: 7px 0
  span
    margin-left: 10px
    line-height: 1.1em

.snapshot-comparator__header
  display: flex
  background-color: $colors.element-lightest
  border-bottom: 1px solid $colors.element-darkest

  .snapshot-comparator__cell
    display: flex
    justify-content: space-between
    align-items: center

    .btn-link
      display: inline-block

    cf-icon path
      fill: $colors.blue-mid

.snapshot-comparator__locale
  display: flex
  position: relative
  border-bottom: 1px solid $colors.element-darkest

.snapshot-comparator__cell
  flex-grow: 1
  flex-basis: 0
  padding: 2em

  &:first-child
    border-right: 1px solid $colors.element-darkest

.snapshot-comparator__overlay-different,
.snapshot-comparator__overlay-identical
  z-index: 99999
  background: rgba(0, 0, 0, 0)
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

.snapshot-comparator__overlay-identical
  background: rgba(255, 255, 255, 0.75)
