.space-selector
  position: relative
  min-width: 170px
  max-width: 200px
  &__name
    display: block
    width: inherit
  &__dropdown
    left: 0
    width: 260px
  &__list
    $scroll-vertically(500px)
  &__item
    white-space: no-wrap
  &__group-label
    text-transform: uppercase
    letter-spacing: 0.1em
    font-size: 0.8em
  .selected
    span
      font-weight: bold
    .icon-checkmark
      display: inline-block
      position: relative
      margin-left: 4px
      img
        position: relative
        top: 3px

@media (max-width: $nav-bar-break-width)
  .space-selector
    width: 120px
    min-width: 120px
    max-width: 120px
