#guiders_overlay
  @extend .modal-background

.guider
  z-index: 10

.guiders_content
  @extend $modal-dialog-chrome
  @extend $modal-dialog-content
  padding: $modal-dialog-padding
  margin: 0
  position: relative
  border-color: $gray-medium
  box-shadow: 0 2px 60px rgba(0, 0, 0, 0.4)

h1.guiders_title
  @extend $modal-dialog-title
  $highlight($blue)
  color: white
  border-bottom: none

.guiders_description
  font-size: 13px
  line-height: 1.75
  margin-top: $modal-dialog-padding

.guiders_buttons_container
  text-align: right

//  Close-Button  //////////////////////////////////////////////////////////////

.guiders_x_button
  @extend $modal-dialog-close-button
  &:hover
    color: white

// Next Button /////////////////////////////////////////////////////////////////

.guiders_button.next-button
  font-size: 16px
  i
    position: relative
    top: 2px
    left: 1px

//  Arrows  ////////////////////////////////////////////////////////////////////

$guider-size = 10px
.guiders_arrow
  width: $guider-size
  height: $guider-size
  background-color: $blue
  position: absolute
  border-top: 1px solid $gray-medium
  border-left: 1px solid $gray-medium
  display: none
.guiders_arrow_left
  display: block
  left: -($guider-size)
  transform-origin: top right
  transform: rotate(-45deg)
.guiders_arrow_right
  display: block
  right: -($guider-size)
  transform-origin: bottom left
  transform: translateY(-10px) rotate(45deg + 90deg)
.guiders_arrow_up
  display: block
  top: -($guider-size)
  transform-origin: bottom left
  transform: rotate(45deg)
.guiders_arrow_down
  display: block
  background-color: white
  bottom: -($guider-size)
  transform-origin: top right
  transform: translateX(-10px) rotate(-45deg - 90deg)

// Welcome /////////////////////////////////////////////////////////////////////

$welcome-width = 900px
$welcome-slide-width = 800px

#welcome.guider
  width: 900px
  .guiders_content
    height: 600px

.welcome-slide
  border-top: 1px solid $gray-light
  margin: -($modal-dialog-padding)
  margin-bottom: $modal-dialog-padding
  font-size: 110%
  clearfix()

// Move the title on top of the actual title element
.welcome-title
  @extend $modal-dialog-title
  color: white
  $highlight($blue)
  position: absolute
  top: 0
  left: 0
  right: 0
  margin-top: 0
  margin-left: 0
  margin-right: 40px
  padding: 0
  padding-left: 40px
  text-align: center
  line-height: 54px
  font-size: 150%
  font-weight: bold

// Common Styles for left/right and center
.welcome-header
  font-size: 120%
  font-weight: bold
  margin-bottom: 1em
  color: $gray-darkest
.welcome-image
  background-size: 100%
  background-repeat: no-repeat

// Style-Adjustments for left/right
.welcome-left,
.welcome-right
  width: 50%
  padding: ($modal-dialog-padding / 2) (3 * $modal-dialog-padding)
  margin: (1.5 * $modal-dialog-padding) 0
  .welcome-image
    width: 320px
    height: 250px
    margin-bottom: $modal-dialog-padding
.welcome-left
  float: left
.welcome-right
  float: right
  border-left: 1px solid $gray-light

// Adjustments for center
.welcome-center
  .welcome-image
    margin-bottom: 2 * $modal-dialog-padding
  .welcome-header
    text-align: center
  .welcome-text
    text-align: center
    line-height: 1.5
  .welcome-text-margin
    margin: 0 $modal-dialog-padding

// Individual images
.welcome-overview
  .welcome-image
    height: 300px
    background-image: url('/app/images/tutorial/gettingstarted.png')
.welcome-structure
  .welcome-left .welcome-image
    background-image: url('/app/images/tutorial/1.png')
  .welcome-right .welcome-image
    background-image: url('/app/images/tutorial/2.png')
.welcome-content
  .welcome-left .welcome-image
    background-image: url('/app/images/tutorial/3.png')
  .welcome-right .welcome-image
    background-image: url('/app/images/tutorial/4.png')
.welcome-delivery
  .welcome-image
    height: 300px
    background-image: url('/app/images/tutorial/delivery.png')

// Nav-Stuff
.nav-bubbles
  text-align: center
  position: absolute
  left: 0
  right: 0
  bottom: 1.5 * $modal-dialog-padding
  .dot
    color: $gray-light
    padding: .5em
    cursor: pointer
  .dot.active
    color: $gray
    cursor: default
.nav-left
  left: 0
.nav-right
  right: 0
.nav-left,
.nav-right
  position: absolute
  top: 50px
  bottom: 50px
  width: 30px
  cursor: pointer
  &:hover
    .nav-arrow-left,
    .nav-arrow-right
      border-color: $gray-darkest
.nav-arrow-left,
.nav-arrow-right
  position: absolute
  top: 50%
  width: 20px
  height: 20px
  border-top: 3px solid $gray
  cursor: pointer
.nav-arrow-right
  transform: rotate(45deg)
  right: 20px
  border-right: 3px solid $gray
.nav-arrow-left
  transform: rotate(-45deg)
  left: 20px
  border-left: 3px solid $gray
.hide-x-button
  position: absolute
  top: 0
  right: 0
  height: 54px
  width: 40px
  color: white
  $highlight($blue)

//  Tutorial-Boxes  //////////////////////////////////////////////////////////////////

.tutorial-boxes
  margin: 5*$modal-dialog-padding 3*$modal-dialog-padding $modal-dialog-padding
  clearfix()

  .tutorial-select-box
    position: relative
    background-color: white
    width: 33%
    float: left
    height: 300px
    padding: ($modal-dialog-padding/2) (1.5 * $modal-dialog-padding)
  .left,
  .middle
    border-right: 1px solid $gray-lightest
  .background-icon
    display: block
    line-height: 60px
    color: $gray
    font-size: 60px
    text-align: center
    margin-top: 3 * $modal-dialog-padding
  .description
    margin: 1em
  .buttons
    $stretch(false, 1.5 * $modal-dialog-padding, $modal-dialog-padding, 1.5 * $modal-dialog-padding)
  .tutorial-select-box button
    width: 100%
    cursor: pointer
    &.take, &.repeat
      padding-top: .75em
      padding-bottom: .75em
      padding-left: inherit
      padding-right: inherit

// Adjustments for specific guiders

.guider#contentTypeFields
  li
    i
      color: $gray-light
  li.done
    color: $gray-light
    strong
      color: $gray-light
    i
      color: $green

.guider#contentTypeExamples,
.guider#entryExamples,
.guider#entrySeed
  .loading
    margin: 2em auto
  .buttons
    margin-top: $modal-dialog-padding
    text-align: center
