.user-role-selector
  display: block;
  border: 1px solid $colors.ice-dark
  background-color: $colors.element-lightest
  max-height: 235px
  overflow: auto

  .user-link__unconfirmed
    display: none

  &__user
    display: flex
    align-items: center
    justify-content: space-between
    padding-right: 25px
    margin: 0
    &:first-child
      padding-top: 12.5px
    &:last-child
      padding-bottom: 12.5px

  &__selector-field
    margin: 0
    > label
      display: none
    > select
      max-width: 200px
