.user-space-invitation-dialog
  width: 66vw
  max-width: 720px

  &__step-label
    font-size: 1em
    margin: 0 0 $rhythm(1) 0

  &__faq-link
    margin: $rhythm(1) 0
    a
      color: $colors.text-light
      text-decoration: underline
      &:hover
        color: $colors.text-mid
