$aux-padding = 1.8em
$aux-panel-border-color = lighten($gray-light, 47%)

.entity-sidebar__panel,
.workbench-panel
  top: $tab-header-height + 1px
  bottom: 58px
  right: 0
  width: 20%
  position: absolute
  overflow-y: auto
  background-color: $colors.element-lightest
  border-left: 1px solid $colors.element-darkest
  padding: $rhythm(1) 1.6rem
  .entity-info-panel
    padding: 0
    color: $colors.text-mid
  header
    $gray-highlight()
    h1
      margin-bottom: $rhythm(1)
      font-weight: bold
      font-size: 1.2em
    i
      font-size: 10px
      position: absolute
      right: 1.5em
  table
    width: 100%
    border-collapse: collapse
    border-spacing: 0
    td, th
      width: 100%
      float: left
      display: block
      text-align: left
    th
      margin-bottom: $rhythm(0.5)
      margin-top: 1em
      color: $colors.text-light
      font-size: .75rem
      font-weight: normal
      letter-spacing: 1px
      text-transform: uppercase
      line-height: 2
      border-bottom: 1px solid $colors.element-dark
    td
      margin-bottom: $rhythm(1)

.entity-sidebar__panel
  $stretch(0, 0, 0, 0)
  z-index: 1
  width: auto
  overflow-y: auto
  background-color: $colors.element-lightest

  transition: transform .3s cubic-bezier(.38,.54,.5,.99)
  overflow: hidden
  transform: translateX(100%)

  &.x--show
    transform: translateX(-1px)
