ng-switch(on="displayType(field)")
  a.entity-list-link(ng-switch-when="updatedAt" ng-if="entry.getUpdatedAt()" ui-sref="{{entityNavState}}")
    date(datetime="{{entry.getUpdatedAt()}}" cf-relative-datetime)
  a.entity-list-link(ng-switch-when="createdAt" ng-if="entry.getCreatedAt()" ui-sref="{{entityNavState}}")
    date(datetime="{{entry.getCreatedAt()}}" cf-relative-datetime)
  a.entity-list-link(ng-switch-when="publishedAt" ng-if="entry.getPublishedAt()" ui-sref="{{entityNavState}}")
    date(datetime="{{entry.getPublishedAt()}}" cf-relative-datetime)
  a.entity-list-link(ng-switch-when="Date" ng-if="dataForField(entry, field)" ui-sref="{{entityNavState}}")
    date(datetime="{{dataForField(entry, field)}}" cf-relative-datetime)
  a.entity-list-link(ng-switch-when="author" cf-user link="entry.getUpdatedBy()" as="updater" ui-sref="{{entityNavState}}")
    | {{updater | userNameDisplay:user}}
  a.entity-list-link(ng-switch-when="Boolean" ui-sref="{{entityNavState}}")
    | {{displayBool(dataForField(entry, field))}}
  a.entity-list-link(ng-switch-when="Location" ui-sref="{{entityNavState}}")
    | {{displayLocation(dataForField(entry, field))}}
  a.entity-list-link(ng-switch-when="Entry" ui-sref="{{entityNavState}}" class="linked-entries")
    | {{dataForLinkedEntry(entry, field)}}

  div.file-preview(ng-switch-when="Asset" class="linked-assets" cf-file-preview file="dataForLinkedAsset(entry, field)" preview-size="400")
    a.entity-list-link(ui-sref="{{entityNavState}}")
      .cf-thumbnail(cf-thumbnail file="file" size="30" fit="thumb" focus="faces")

  div(ng-switch-when="Array")
    ul.u-list(ng-class="{'linked-entries': isEntryArray(entry, field), 'linked-assets': isAssetArray(entry, field)}")

      li(ng-repeat="(index, entity) in dataForArray(entry, field) track by index")
        a.entity-list-link(ng-if="isEntryArray(entry, field)" ui-sref="{{entityNavState}}")
          | {{entity}}
        div.file-preview(ng-if="isAssetArray(entry, field)" cf-file-preview file="entity" preview-size="400")
          a.entity-list-link(ui-sref="{{entityNavState}}")
            .cf-thumbnail(cf-thumbnail file="file" size="30" fit="thumb" focus="faces")

      li(ng-if="isEntryArray(entry, field) && countArrayHiddenItems(entry, field)")
        | + {{countArrayHiddenItems(entry, field)}} more items

      li.asset-count(ng-if="isAssetArray(entry, field) && countArrayHiddenItems(entry, field)")
        | +{{countArrayHiddenItems(entry, field)}}

  a.entity-list-link(ng-switch-default ui-sref="{{entityNavState}}") {{dataForField(entry, field)}}

