<react-component
  name="components/shared/DocumentTitle"
  props="{title: 'Content'}"
></react-component>
<header class="workbench-header">
  <div class="workbench-header__left">
    <div class="workbench-header__icon">
      <react-component
        name="ui/Components/NavigationIcon"
        props="{icon: 'content', size: 'large', color: 'green'}"
      ></react-component>
    </div>
    <h1 class="workbench-header__title">
      Content
      <react-component
        name="components/shared/knowledge_base_icon/KnowledgeBase"
        props="{target: 'entry', className: 'workbench-header__kb-link'}"
      ></react-component>
    </h1>
  </div>
  <div class="workbench-header__search">
    <cf-component-bridge style="flex: 1; z-index: 1;" component="search"></cf-component-bridge>
    <react-component name="app/ContentList/SavedViews/Link" props="{ entityType, onViewSaved }">
    </react-component>
  </div>
  <div class="workbench-header__actions" ng-if="!showNoEntriesAdvice()">
    <react-component
      name="components/CreateEntryButton/CreateEntryButton"
      props="{contentTypes: accessibleCts, suggestedContentTypeId, onSelect: newEntry}"
    ></react-component>
  </div>
</header>
<div class="workbench-main" ng-hide="showNoEntriesAdvice()">
  <div class="workbench-main__left-sidebar">
    <react-component
      name="app/ScheduledActions/ScheduledActionsPageLink"
      props="{isMasterEnvironment: isMasterEnvironment}"
    ></react-component>
    <react-component
      name="app/Releases/ReleasesPageLink"
      props="{isMasterEnvironment: isMasterEnvironment}"
    ></react-component>
    <react-component
      name="app/ContentList/SavedViews/Sidebar"
      props="{ entityType, initialTab, onSelectSavedView, savedViewsUpdated }"
    ></react-component>
  </div>
  <div class="workbench-main__right-content">
    <div class="search-results__count" ng-show="hasPage()">
      <react-component
        name="components/tabs/PluralizeEntityMessage"
        props="{entityType: 'entry', count: paginator.getTotal(), restOfTheMsg: 'found'}"
      ></react-component>
    </div>
    <react-component
      ng-if="!isLegacyOrganization &amp;&amp; hasPage()"
      name="components/RecordsResourceUsage"
      props="usageProps"
      watch-depth="reference"
    ></react-component>
    <react-component
      ng-if="hasPage()"
      name="components/tabs/entry_list/EntryList"
      props="entryProps"
      watch-depth="reference"
    ></react-component>
    <div class="f36-margin-top--s f36-margin-bottom--s">
      <react-component
        ng-show="paginator.getPageCount() &amp;&amp; hasPage()"
        name="core/components/Paginator"
        props="paginatorProps"
      ></react-component>
    </div>
    <react-component
      name="components/tabs/NoSearchResultsAdvice"
      ng-show="hasNoSearchResults()"
    ></react-component>
  </div>
</div>
<div class="workbench-main x--content" ng-show="showNoEntriesAdvice()">
  <react-component
    name="components/tabs/entry_list/EmptyStates"
    props="{hasContentType: hasContentType, contentTypes: accessibleCts, suggestedContentTypeId, onCreate: newEntry}"
  ></react-component>
</div>
