.modal-background.new-content-type-dialog
  .modal-dialog(cf-center-on=".modal-background")
    .title
      | Choose the type of Entry
    .modal-dialog-close-button(ng-click="dialog.cancel()")

    ul.u-list.block-list
      li(ng-repeat="contentType in spaceContext.publishedContentTypes track by contentType.getId()"
               ng-click="dialog.confirm() && entityCreationController.newEntry(contentType, 'frameButton')")
        | {{contentType.getName()}}

