.dropdown-btn(cf-dropdown)
  i.fa.fa-bars.fa-rotate-90.dropdown-toggle(cf-dropdown-toggle tooltip="Select visible columns" tooltip-placement="top" tooltip-container=".client")
  .dropdown-menu(cf-dropdown-menu position="left" container=".tab-content")
    h3 Displayed columns
    .column-lists
      ul.u-list.displayed-fields
        li.non-customizable(ng-show="!tab.params.view.contentTypeId && !tab.params.view.contentTypeHidden")
          p Content Type
          .close-button(ng-click="toggleContentType($event)")
        li.non-customizable
          p Name
      ul.u-list.displayed-fields(ui-sortable="displayedFieldsSortOptions" ng-model="displayedFields")
        li.customizable(ng-repeat="field in displayedFields track by field.id" data-field-id="{{field.id}}")
          p {{field.name}}
          .close-button(ng-show="!isPersistent(field)" ng-click="hideField($event, field)")
      ul.u-list.displayed-fields
        li.non-customizable
          p Status

      hr(ng-hide="hiddenFields.length == 0")

      h3(ng-hide="hiddenFields.length == 0") Available Columns
      ul.u-list.hidden-fields(ng-hide="hiddenFields.length == 0")
        li(ng-show="!tab.params.view.contentTypeId && tab.params.view.contentTypeHidden")
          a(ng-click="toggleContentType($event)")
            | Content Type
        li(ng-repeat="field in hiddenFields track by field.id")
          a(ng-if="field.type != 'Object' && !field.disabled" ng-click="displayField($event, field)")
            | {{field.name}}
          span(ng-if="field.type == 'Object' || field.disabled")
            | {{field.name}}
