.project-home
  &__details
    flex-grow 1
  &__details, &__relations
    > *
      margin 2rem

  &__space, &__member
    display flex
    justify-content space-between
    padding .3rem

    &:hover
      background #d0d0d0

    > *
      margin-right .2rem

  &__members, &__spaces
    > *
      margin-top 1rem

  &__add-member, &__add-space
    > *
      margin-right .5rem
