.api-key-editor
  padding-top: 0
  .entity-editor__notification
    margin-top: 0
  &__form
    display: flex
    margin: 0 auto
    width: 85%
    min-width: 1000px
    max-width: 1280px
  &__two-col
    width: 50%
    &:first-child
      border-right: 1px solid $colors.element-mid
      padding-right: 30px
    &:last-child
      padding-left: 30px
  h3.api-key-editor__heading
    position: relative
    margin-top: 40px
    font-size: 1.4em
    padding-bottom: 10px
    min-width: 40px
    overflow: hidden
    &:after
      margin-left: 10px
      content: ""
      width: 100%
      position: absolute
      height: 1px
      margin-top: 10px
      background-color: $colors.element-light
  .copy-to-clipboard
    background-color: $colors.element-light
    border: 1px solid $colors.element-dark
    border-radius: 0 3px 3px 0
    &:hover, &:active
      background-color: $colors.element-mid

  .api-key-editor__subheading
    color: $colors.text-mid
  .cfnext-form__field
    > label.api-key-editor__label
      position: relative
    .api-key-editor__label--right
      position: absolute
      right: 0
  .cfnext-form__hint
    > a
      text-decoration: underline
      color: inherit
  .discovery-app
    margin-top: 10px
    &__platform
      display: flex
      padding: 10px 0
    &__icon
      display: flex
      align-items: center
      margin-right: 12px
    &__links
      display: flex
    &__separator
      margin: 3px 8px
      background-color: $colors.element-mid
      width: 1px
      &:after
        content: ""



