/* Cleanup notes
we should probably only use layouts here
*/
.api-key-list.entity-list
  .tab-main > *
    $stretch-y()
  .with-left-nav
    $tab-workbench()
    $tab-padding()
  .result-list
    tbody tr
      $tr-clickable()
