/* Cleanup notes
get rid of nesting and generic classes
*/
.api-key-editor
  .field-editor
    position: relative
  .curl-example
    margin-top: 10px
    input[type="text"]
      padding-right: 40px
    .cf-copy-paste
      top: 28px
  .authentication-code
    margin-bottom: 5%
    h1,
    .tools
      margin-bottom: 1.5rem
    .select-box
      width: 150px
    .code-example,
    .tools
      position: relative
    .code-example
      height: 150px
    .cf-copy-paste
      float: right
    textarea
      width: 100%
      height: 100%
  .device-link
    .l-field-editor
      position: relative
    .fa-2x
      position: relative
      top: 2px
      padding-right: 5px

