/* Cleanup notes
probably only use layouts here
*/
.asset-editor
  .widget-file-editor
    margin-bottom: 10px
  .file-upload,
  .file-info
    width: $form-controlwidth-inner
  .workbench-main__content
    padding-top: 0
