.asset-list
  .extension
    color: $gray
    margin-left: 4px
  .icon
    font-size: 24px
  .result-list
    .no-padding
      padding-top: 0px
      padding-bottom: 0px

    .cell-name
      width: 32%
    .cell-dimensions
      width: 13%
    .cell-type
      width: 13%
    .cell-select
      width: 4%
