/* Cleanup notes
lots of stuff here should be moved into components
*/

// TODO clean this up
.content-type-editor
  $inactive-row-color = $gray-light
  $active-row-color = darken($gray, 30)

  $active-row-icon-inactive-color = lighten($gray, 10)
  $active-row-icon-active-color = darken($active-row-icon-inactive-color, 40)

  $inactive-row-icon-inactive-color = lighten($gray-light, 5)
  $inactive-row-icon-active-color = darken($inactive-row-icon-inactive-color,  20)

  $vertical-padding = 10px

  // Positioning inside Field-row
  .toggle-collapse
    display: block
    float: left
  .display,
  .field-form
    float: left
    margin-left: 10px
  .icons
    position: absolute
    top: $vertical-padding
    right: 150px
  .title-icon
    font-size: 1.2em
    font-weight: bold
  .status
    position: absolute
    top: 0
    right: 0
    height: $vertical-padding + $vertical-padding + 18px
    width: 6px

  .toggle-collapse
    color: $inactive-row-icon-inactive-color

  // Colored Status-Bar at the end of the row
  .status
    &.published
      background-color: $green
    &.disabled
      background-color: $gold
    &.unpublished
      background-color: $blue

  // Advice/Add-Button
  .advice
    width: 80%
    margin: 0
    position: static
  .add-field-button
    margin-top: 1em

  // Tooltips
  .tooltip
    text-transform: none

/**
 * @TODO
 */
.content-type__fields
  max-width: $field-editor-width

$ct__field-padding = 0.8em
.content-type__field
  font-size: 1.15em
  padding-left: 0.8em
  line-height: $rhythm(2)
  display: flex
  align-items: baseline
  border-top: 1px solid $gray-lightest
  &:last-child()
    border-bottom: 1px solid $gray-lightest


.ct__field__name
  flex-grow: 1
  font-weight: bolder

.ct__field__type
  margin-right: 1em
  color: $gray

a.ct__field__edit
  cursor: pointer

.ct__field__drag-handle
  height: $rhythm(2)
  margin-left:   0.3em
  padding-left:  $ct__field-padding
  padding-right: $ct__field-padding
  cursor: move
  cursor: -webkit-grabbing
  cursor: -moz-grab
  cursor: -moz-grabbing
