.entity-list__item
  $tr-clickable()

/* Cleanup notes
some stuff here should go into components, other into layout
*/
.entity-list
  .add-entity__advice
    margin-bottom: 0

  .main-results-wrapper
    $stretch(30px, 0, 0, 0)
    margin-top: $rhythm(1)
    overflow-y: auto
    .main-results
      border-left: none

  .result-list
    tbody tr
      $tr-clickable()

  .view-customizer
    position: absolute
    right: 3px
    top: 0
    height: 27px
    .dropdown-toggle
      line-height: 28px
      margin-right: 5px
