/* Cleanup notes
some stuff here should go into components, other into layout
*/
.entity-list
  .main-header
    $stretch(0, 0, false, 0)
    width: 100%

  .add-entity
    .dropdown-menu-list
      overflow-y: auto
      max-height: 500px

  .main-results-wrapper
    $stretch(27px, 0, 0, 0)
    overflow-y: auto
    .main-results
      border-left: none

    .dropdown-menu
      $new-entities-dropdown-height = 600px
      max-height: $new-entities-dropdown-height
      .dropdown-menu-list
        max-height: $new-entities-dropdown-height - 30px
        overflow-y: auto

  .tab-main
    .left-nav
      overflow-y: auto
      overflow-x: hidden
      $tab-workbench()
      padding-left: 20px
      padding-right: 20px
      padding-bottom: 0
      .dropdown-menu
        min-width: 150px
    .with-left-nav
      margin-top: $tab-main-margin-top // padding is ignored by absolute children
      $stretch-y()
      $tab-workbench()

  .left-nav-bottom
    position: absolute
    background: white
    bottom: 0
    right: 0
    width: 100%
    padding: 1.5em 0 2em
    span
      color: $gray
      line-height: 1.3em
      padding: .1em 0
      &:first-child
        margin-left: 29px
        margin-right: .6em
        padding-right: .6em
    span:hover
      color: $blue-dark-link
      cursor: pointer

  .result-list
    tbody tr
      $tr-clickable()

  .view-customizer
    position: absolute
    right: 0
    top: 0
    height: 27px
    .dropdown-toggle
      line-height: 28px
      margin-right: 5px

