.settings-form
  &__section
    margin-top: $rhythm(1)
    padding-top: 0
    padding-right: $rhythm(2.5)
    padding-bottom: $rhythm(1)
    border-top: 1px solid $colors.element-light

  &__header
    display: flex
    align-items: center
    margin: -13px 0 $rhythm(.7) $rhythm(1)

    > h1, h2, h3, button
      margin: 0
      margin-right: 10px
      padding: $rhythm(.2)
      background-color: white

    > button:hover
      background-color: white

    > button i
      margin-right: 10px

  &__content
    margin-left $rhythm(2)
