@import "../mixins/spinner"

.iframe-container
  $stretch()
  background: white
.iframe-spinner
  $spinner-base()
  $spinner-active($colors.text-dark, $base-line-height*2)
  position: absolute
  left: 50%;
  top: 50%;
  margin-left: -($base-line-height)
  margin-top: -($base-line-height)
  &:after
    display: block
