.cf-account-view,
.space-settings
  .iframe-container.tab-main
    padding: 0
  .iframe-container.fullscreen
    $stretch()
  .iframe-spinner
    $stretch()
    background: url('/app/images/ajax-loader-big.gif') center no-repeat
