$learn-content-box()
  position: relative
  width: 31%
  text-align: center
  border: 1px solid $colors.element-mid
  padding: 24px 30px
  &:not(:last-child)
    margin-right: 3.5%
  > .icon-wrapper
    position: absolute
    left: 50%
    margin-left: -25px
    width: 50px
    background: white
    top: -17px
    > cf-icon
      display: inline-block
      margin: 0 auto

.workbench-main__middle-content.x--learn-home
  width: 85%
  min-width: 1000px
  max-width: 1280px
  overflow: visible

.learn-subheading
  font-size: 16px
  color: $colors.text-mid

.learn__build-with-contentful
  margin-top: 50px
  margin-bottom: 50px

.learn-onboarding
  &__steps
    display: flex
    margin-top: 50px
  &__step
    $learn-content-box()
    &.inactive
      &:after
        content: ''
        position: absolute
        top: -20px
        bottom: -1px
        left: -1px
        right: -1px
        background-color: rgba(255,255,255,0.6)
    .step
      &__title
        display: inline-block
        &__inner
          display: flex
          > cf-icon[name="checkmark-alt"]
            margin-right: 4px
      &__description
        color: $colors.text-mid
        line-height: 1.4em
        margin-bottom: 64px
      &__actions
        position: absolute
        left: 0
        right:0
        bottom: 24px
