.locale-list
  .result-list
    .cell-name
      width: 10%
      padding-left: 25px;
    .cell-status
      text-align: left
    .cell-enabled-for
      width: 25%

.without-left-nav
  margin-top: $tab-main-margin-top
  $stretch-y()
  $tab-workbench()

