.locale-editor
  $vertical-padding = 10px

.joint-field
  $display-flexbox();
  flex-direction: row;
  .btn
    height: 100%;
  .field-right
    margin-left: 10px;
    $display-flexbox();
    flex-direction: column;
    justify-content: center;
