.organization-users-page
  .user-details
    padding: 1em 2em 2em
    display: flex
  .user-details__sidebar
    margin-right: 25px
    width: 400px
  .user-details__content
    flex: 1

.user-details__profile-section
  border-bottom: 1px solid $colors.element-light
  padding-bottom: 20px
  margin-bottom: 20px

.users-search__filter-pill
  background-color: $colors.element-mid
  margin: 0 10px 0 0!important

  &:hover
    box-shadow: none!important
  .search__select-value
    &::after
      color: $colors.text-mid!important
    .users-search__select,
    .users-search__select:focus,
    .users-search__select:active
      color: $colors.text-mid
      background-color: $colors.element-mid
      border: none
      background-image: none
      &:hover
        background-color: $colors.element-dark
        background-image: none

  &:last-child
    margin: 0!important

.users-search__filter-pill-label
  color: $colors.text-mid!important
  &:hover
    cursor: default

.user-list__filters
  display: flex
  justify-content: space-between
  margin-bottom: 30px

.user-list__filters__column
  align-items: center
  color: $colors.text-light
  display: flex

.search__filter-pill--active
  .search__select-value
    &::after
      color: white!important
    .users-search__select,
    .users-search__select:focus,
    .users-search__select:active
      background-color: $colors.blue-mid!important
      color: white!important
      &:hover
        background-color: $colors.blue-dark!important

.user-list__reset-button
  margin-right: 20px

.select-button
  border: 1px solid $colors.element-mid
  border-radius: 0
  max-width: 100%
  &:hover
    background: white
  svg
    fill: $colors.text-light
  > span
    justify-content: space-between

.user-card
  display: flex
  align-content: center
  align-items: center

.user-card__avatar
  margin-right: 20px
  border-radius: 100%
  background: $colors.text-mid
  width: 50px
  height: 50px
.user-card--small .user-card__avatar
  width: 32px
  height: 32px

.user-card__name
  margin: 0
.user-card--small .user-card__name
  font-size: 14px

.user-card__email,
.user-card__name
  color: $colors.text-mid

.membership-list__item__menu__button
  transition: none
  margin-left: 10px
  visibility: hidden

.organization-users-page
  &__spinner
    position: absolute
    left: 50%
    top: 50%

.organization-membership-list
  position: relative
  &--loading
    opacity: 0.5
  &__placeholder--empty
    position relative
    padding: 5rem
    display: flex
    align-items: center
    flex-direction: column
    > *
      margin: 1rem

.membership-list__item__menu__icon
  display: inline-block

.membership-list__item:hover
  .membership-list__item__menu__button
    visibility: visible
  .membership-list__item__menu__icon
    display: none

.definition-list
  &::after
    content: ''
    display: block
    clear: both

  dt
    clear: left
    float: left
    font-weight: 600
    margin-right: 10px
  dd
    float: left
    margin-bottom: 10px
    &:last-child
      margin-bottom: 0

.space-membership-editor:hover
  background: none
