.team-card
  > *
    margin-bottom 1rem

.teams-experimental-note
  // hacky width until we figure out the note component
  width: 710px
  &__message
    margin-right 1rem

.team-details-row_description
  width: 30rem
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  display: block
