.project-home
  margin 2rem
  display flex
  justify-content space-around

  > *
    margin 1rem

  &__details, &__relations
    > *
      margin 2rem

  &__spaces, &__members
    > *
      margin-bottom 1rem
  &__add-member
    display flex
    > *
      margin .5rem
