.project-home
  margin 2rem
  display flex
  justify-content space-around

  > *
    margin 1rem

  &__details, &__relations
    > *
      margin 2rem

  &__space, &__member
    display flex
    justify-content space-between
    padding .3rem

    &:hover
      background #d0d0d0

    > *
      margin-right .2rem

  &__members, &__spaces
    > *
      margin-top 1rem

  &__add-member, &__add-space
    display flex

    > *
      margin-right .5rem
