.user-details__card
  align-items: center
  display: flex
  margin-bottom: 30px

.user-details__avatar
  border-radius: 100%
  height: 50px
  margin-right: 20px
  width: 50px

.users-search__filter-pill
  &:hover
    box-shadow: none!important
.users-search__filter-pill-label
  &:hover
    cursor: default