/**
 * Role list
 */

.role-list__item
  display: flex
  align-items: center
  justify-content: space-between
  border-bottom: 1px solid $gray-light

.role-list__link
  width: 80%
  cursor: pointer

.role-list__actions
  padding: 0 25px 10px


/**
 * User list
 */

.user-list__group
  margin-top: 30px
  padding-top: 30px
  position: relative
  border-top: 1px solid $gray-light
  h3
    margin: 0
    display: inline-block
    position: absolute
    left: 0
    top: -12px
    font-size: 1.75em
    background: white
    padding-right: 10px

.user-list__item
  display: flex
  align-items: center
  justify-content: space-between
  margin-top: 15px
  margin-left: 30px

.user-list__info
  margin-left: 15px
  margin-right: auto
  strong
    display: block
    margin: 5px 0
