$section-nav-height = 70px

.section-nav
  $stretch-x(0, 0)
  top: $section-header-height
  height: $section-nav-height
  padding-top: $section-header-horizontal-padding
  padding-left: $section-header-horizontal-padding
  border-bottom: 1px solid $cfnext-light-gray
