.tab-list
  width: 100%
  height: $tab-height
  z-index: 10
  background: $gray-dark
  user-select: none
  &.hidden
    height: 0
    .tab
      height: 0
  > ul
    $display-flexbox()
  .tab
    display: block
    height: $tab-height
    vertical-align: top
    width: 21.5%
    flex-grow: 1
    max-width: 200px
    position: relative
    padding: ($tab-height - 23px) 18px
    color: $gray-medium
    border-right: 1px solid $gray-darkest
    .tooltip
      display: none !important
    &.dirty
      .tooltip
        display: block !important
        white-space: nowrap
    .tab__title
      font-size: $base-font-size
      white-space: nowrap
      display: block
      overflow: hidden
  .fade-text
    $stretch(0, 0, 2px, false)
    width: 50px
    $fade-text-background(darken($gray-dark, 0%))
  .tab.active
    font-weight: normal
    color: white
    background: darken($gray-darkest, 20%)
    .fade-text
      $fade-text-background(darken($gray-darkest, 15%))
    i.close-icon
      opacity: 1
    i.fa-circle
      color: $blue
    i.fa-circle.draft
      color: $gold
  .tab:hover
    color: white
    cursor: pointer
    i.close-icon
      opacity: 1
  .close
    position: absolute
    top: 0px
    right: 0px
    height: $tab-height
    width: 30px
    &:hover
      i.fa-close
        color: $gray-medium
    &.hide-tooltip
      .tooltip
        display: none !important
  i.close-icon
    opacity: 0
    position: absolute
    top: 6px
    right: 9px
    font-size: 16px
    font-weight: normal
  i.fa-circle
    opacity: 1
    top: 12px
    color: $blue-light
    font-size: 8px
  i.fa-circle.draft
    color: lighten($gold, 20%)

