.view-content
  $stretch($breadcrumbs-height, 0, 0, 0)
  $layer('bottom')
  background-color: white
  border: 1px solid #dbdbdb
  border-color: rgba(0,0,0,0.17)
  border-radius: 0 2px 2px 2px

$tab-workbench()
  padding-top: $tab-main-margin-top

.tab-workbench
  $tab-workbench()
