/**
Tables

The `.table` class should be applied to tables that will use the generic table
layout.

Markup:
table.table
  thead
    tr
      th.x--selected.x--asc
        | Name
      th
        | Description
  tbody
    tr
      td Pikachu
      td Electric type pokemon
    tr
      td Charizard
      td A big dragon
    tr.pseudo-class-last-child
      td Snorlax
      td Snorlax, known in Japan as Kabigon (カビゴン?), is a Pokémon species in Nintendo and Game Freak's Pokémon franchise. Created by Ken Sugimori, Snorlax first appeared in the video games Pokémon Red and Blue and subsequent sequels, later appearing in various merchandise, spinoff titles and animated and printed adaptations of the franchise.
script
  | $('.x--asc').click(function () {
  |   $(this).toggleClass('x--asc x--desc')
  | })



Styleguide 7
*/
.table
  width: 100%
  border-collapse: separate
  tr
    height: 40px
  td
    padding: 14px
  th
    padding: 0 14px
    background-color: $colors.element-lightest
    border-bottom: 1px solid $colors.element-mid
    text-align: left
    font-weight: normal
    color: $colors.text-light
    line-height: 40px
    &.x--asc, &.x--desc
      cursor: pointer
      &:after
        $caret()
        color: $colors.text-light
        margin-left: 3px
    &.x--asc:after
      content: "\f0d8"
    &.x--desc:after
      content: "\f0d7"
    &.x--selected
      font-weight: bold
  tbody
    color: $colors.text-mid
    tr:not(:last-child)
      > td
        border-bottom: 1px solid $colors.element-light
  &.x--hoverable
    tbody
      tr:hover
        cursor: pointer
        background-color: $colors.element-lightest
