.webhook-list .main-results,
.webhook-editor .main-results
  th:first-child, td:first-child
    padding-left: 25px

.webhook-editor .workbench-nav__tabs
  margin-left: $rhythm(1)

.webhook-editor__settings
  margin: $rhythm(1.5)

.webhook-call__header
  padding: $rhythm(1)
  display: flex
  justify-content: center

.webhook-call__header-item
  margin: 0 $rhythm(1)

.webhook-call .workbench-main__content
  position: relative
  top: 0
  left: 0
  right: 0
  bottom: 0

.webhook-call__column
  border-top: 1px solid $colors.element-mid
  position: absolute
  top: $rhythm(4)
  left: 0
  right: 50%
  bottom: 0
  padding: $rhythm(1.5)
  overflow-y: scroll

  strong
    display: block
    margin: $rhythm(1) 0
  strong:first-child
    margin-top: 0
  pre
    white-space: pre-wrap
    white-space: -moz-pre-wrap
    white-space: -pre-wrap
    white-space: -o-pre-wrap
    word-wrap: break-word

.webhook-call__column:last-child
  border-left: 1px solid $colors.element-mid
  left: 50%
  right: 0

.webhook-calls__paginator
  display: flex
  justify-content: center
  padding: $rhythm(1)

.webhook-calls__paginator-item
  display: block
  padding: $rhythm(.4)
  padding-top: $rhythm(.25)
  padding-bottom: $rhythm(.2)
  margin: 0 $rhythm(.3)
  background: $colors.element-light
  &.x--active
    background: $colors.blue-dark
    color: white
    font-weight: bold

.webhook-call__status-indicator
  display: inline-block
  width: 12px
  height: 12px
  border-radius: 6px
  margin-right: 6px
  &[data-status="success"]
    background: $colors.green-dark
  &[data-status="warning"]
    background: $colors.orange-dark
  &[data-status="failure"]
    background: $colors.red-dark

.webhook-header, .webhook-new-header
  background: $colors.element-lightest
  border-radius: 3px
  border: 1px solid $colors.element-light
  border-width: 0 1px 1px 0
  padding: $rhythm(.5)
  margin-bottom $rhythm(.4)
  display: flex
  justify-content: space-between
  align-items: center
  button
    padding: $rhythm(.2) $rhythm(.8)
  input
    margin-bottom: 0
    font-family monospace

.webhook-header__actions
  display: flex

.x--jsonlike
  font-family: monospace

.webhook-segmentation__matrix
  border-collapse: collapse
  margin: $rhythm(1) 0
  width: 100%

  td, th
    font-weight: normal
    padding: $rhythm(.4)
    border: 1px solid $colors.element-light

    label
      cursor: pointer

  td:first-child
    border-left-width: 0
    white-space: nowrap
  td:last-child
    border-right-width: 0
  tr:last-child
    td, th
      border-width: 0
  .action-cell
    text-align: center
  .x--clickable-cell
    cursor: pointer
    *
      cursor: pointer
  .x--centered-cell
    text-align: center
    span
      color: $colors.text-lightest
  .x--highlighted-cell
    background: $colors.element-lightest
  .x--unavailable-checkbox
    opacity: .5

.webhook-segmentation__option
  margin-bottom: $rhythm(.4)
