.webhook-list .main-results,
.webhook-editor .main-results
  th:first-child, td:first-child
    padding-left: 25px

.webhook-list td
  &.x--clickable
    cursor: pointer
  code
    font-size: .9em
    display: block
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

.webhook-editor .workbench-nav__tabs
  margin-left: $rhythm(1)

.webhook-call__header
  padding: $rhythm(1)
  display: flex
  justify-content: center

.webhook-call__header-item
  margin: 0 $rhythm(1)

.webhook-call .workbench-main__content
  position: relative
  top: 0
  left: 0
  right: 0
  bottom: 0

.webhook-call__column
  border-top: 1px solid $colors.element-mid
  position: absolute
  top: $rhythm(4)
  left: 0
  right: 50%
  bottom: 0
  padding: $rhythm(1.5)
  overflow-y: scroll

  strong
    display: block
    margin: $rhythm(1) 0
  strong:first-child
    margin-top: 0
  pre
    white-space: pre-wrap
    white-space: -moz-pre-wrap
    white-space: -pre-wrap
    white-space: -o-pre-wrap
    word-wrap: break-word

.webhook-call__column:last-child
  border-left: 1px solid $colors.element-mid
  left: 50%
  right: 0

.webhook-calls__paginator
  display: flex
  justify-content: center
  padding: $rhythm(1)

.webhook-calls__paginator-item
  display: block
  padding: $rhythm(.4)
  padding-top: $rhythm(.25)
  padding-bottom: $rhythm(.2)
  margin: 0 $rhythm(.3)
  background: $colors.element-light
  &.x--active
    background: $colors.blue-dark
    color: white
    font-weight: bold

.webhook-call__status-indicator
  display: inline-block
  width: 12px
  height: 12px
  border-radius: 6px
  margin-right: 6px
  &[data-status="success"]
    background: $colors.green-dark
  &[data-status="warning"]
    background: $colors.orange-dark
  &[data-status="failure"]
    background: $colors.red-dark

.webhook-editor__settings-section
  margin-top: $rhythm(1)
  padding-top: 0
  padding-left: $rhythm(1.5)
  padding-right: $rhythm(2.5)
  padding-bottom: $rhythm(1)
  border-top: 1px solid $colors.element-light

  .webhook-editor__settings-header
    display: flex
    align-items: center
    margin: 0
    margin-top: -13px
    margin-bottom: $rhythm(.7)

    > h3, button
      margin: 0
      margin-right: 10px
      padding: $rhythm(.2)
      background-color: white

    > button:hover
      background-color: white

    > button i
      margin-right: 10px

  .cfnext-form__field
    max-width: 65vw

    > label
      font-weight: bold
      span
        font-weight: normal
        color: $colors.text-light

  .webhook-editor__settings-option
    margin-bottom: $rhythm(.4)

  .webhook-editor__settings-row
    display: flex
    margin-bottom: $rhythm(.4)

    &:last-of-type
      margin-bottom: $rhythm(1)

    input
      flex-grow: 1

    > *
      margin-right: $rhythm(.4)

  #webhook-name, #webhook-content-type
    width: 75%

  .webhook-editor__settings_payload
    width: 75%
    margin-top: $rhythm(1)
    border: 1px solid #ddd
    border-radius: 4px

.webhook-editor__segmentation-table
  border-collapse: collapse
  margin: $rhythm(1) 0
  width: 100%

  label, input
    cursor: pointer

  .x--disabled-cell
    label, input
      cursor: not-allowed

  td, th
    font-weight: normal
    text-align: center
    padding: $rhythm(.5) $rhythm(.5) $rhythm(.4)
    border: 1px solid $colors.element-light

  td:first-child
    white-space: nowrap
    text-align: left
  .x--highlighted-cell
    background: $colors.element-lightest
  .x--empty-cell
    background: repeating-linear-gradient(
      45deg,
      $colors.element-lightest,
      $colors.element-lightest 10px,
      white 10px,
      white 20px
    )
