.modal-background
  .modal-dialog
    header.modal-dialog__header
      h1 Remove user from a space

    .modal-dialog__content
      .modal-dialog__richtext
        p
          | You are about to remove <span class="modal-dialog__highlight" style="word-wrap: break-word">{{ user.name }}</span> from the space.
          | <span style="word-wrap: break-word">{{ user.name }}</span> is the last Administrator in this space. Please be aware that if you remove this user,
          | there will be no one who can fully control the space. This, however, can be managed from your Organization settings.
        p
          | If you definitely want to delete this user, please type "I UNDERSTAND" in the field below:
        input.cfnext-form__input--full-size(ng-model="input.confirm")

    .modal-dialog__controls
      button.btn-caution(ui-command="removeUser")
        | Delete
      button.btn-secondary-action(ng-click="dialog.cancel()")
        | Don't delete
