mixin custom-roles-plan-info
    h2.entity-sidebar__heading
        | Customise your roles
    p
        | With our Enterprise Plans it is possible to fully customize the roles within your space.
        | These custom roles can define granular permissions on entries, content types, and fields.
        | To learn more about what’s possible check out
        |  <a target="_blank" rel="noopener noreferrer" href="https://www.contentful.com/r/knowledgebase/roles-and-permissions/">this guide</a> or
        |  <a target="_blank" rel="noopener noreferrer" href="https://www.contentful.com/contact/sales/">get in touch</a> with our Enterprise team.
