.modal-background
  .modal-dialog
    header.modal-dialog__header
      h1 Change role for {{ user.name }}

    .modal-dialog__content
      .modal-dialog__richtext
        p
          | <span class="modal-dialog__highlight">{{ user.name }}</span> is currently
          | a<span ng-show="startsWithVowel(user.roleNames)">n</span> {{ user.roleNames }}.
        .cfnext-form__field
          label(for="field-role") New role
          select#field-role.cfnext-form__input--full-size(ng-model="input.id")
            option(value="")
              | Select the role you want to assign to this user
            option(ng-repeat="option in roleOptions" value="{{ option.id }}")
              | {{ option.name }}

    .modal-dialog__controls
      button.btn-primary-action(ui-command="changeRole")
        | Assign new role
      button.btn-secondary-action(ng-click="dialog.cancel()")
        | Cancel
