header.workbench-header
  cf-icon.workbench-header__icon(name="page-settings")
  h1.workbench-header__title {{ context.title }}

.workbench-main
  .workbench-main__middle-content
    form.workbench-main__middle-content(name="roleForm")
      .cfnext-form__field
        label Name
        input.cfnext-form__input--full-size(ng-model="role.name")
      .cfnext-form__field
        label Description
        textarea.cfnext-form__input--full-size(ng-model="role.description")
      .cfnext-form__field
        label Permissions
      .cfnext-form-option
        input(id="opt_read_content_model" type="checkbox" ng-model="role.permissions.contentModel.read")
        label(for="opt_read_content_model") Read content model
      .cfnext-form-option
        input(id="opt_manage_content_model" type="checkbox" ng-model="role.permissions.contentModel.manage")
        label(for="opt_manage_content_model") Manage content model
      .cfnext-form-option
        input(id="opt_read_content_delivery" type="checkbox" ng-model="role.permissions.contentDelivery.read")
        label(for="opt_read_content_delivery") Read content delivery
      .cfnext-form-option
        input(id="opt_manage_content_delivery" type="checkbox" ng-model="role.permissions.contentDelivery.manage")
        label(for="opt_manage_content_delivery") Manage content delivery
      .cfnext-form-option
        input(id="opt_manage_settings" type="checkbox" ng-model="role.permissions.settings.manage")
        label(for="opt_manage_settings") Manage settings
      .cfnext-form__field
        label Policies JSON (does not synchronize to backend yet)
        textarea.cfnext-form__input--full-size(rows="10")
          | {{ role.policies | json }}

  .workbench-main__entity-sidebar
    .entity-sidebar
      p
        button.cfnext-btn-primary-action(type="submit" ui-command="save")
          | Save changes
      h2.entity-sidebar__heading
        | Need more complex roles?
      p
        | If you need define a more complex role, as translator for a specific language or person who can't edit meta-data, visit our knowledge base.
      h2.entity-sidebar__heading
        | Hint from our staff
      p
        | Stephen says: "Anything that is not allowed, is denied".
