mixin custom-roles-plan-info
    h2.entity-sidebar__heading
        | Customise your roles
    p
        | With our Enterprise Plans it is possible to fully customize the roles within your space.
        | These custom roles can define granular permissions on entries, content types, and fields.
        | To learn more about what’s possible check out the
        |  <a target="_blank" href="https://www.contentful.com/faq/terminology/#what-is-a-role">FAQ</a> or
        |  <a target="_blank" href="https://www.contentful.com/contact/sales/">get in touch</a> with our Enterprise team.
