include ./roles_and_permissions_mixins.jade

header.workbench-header
  cf-breadcrumbs
  cf-icon.workbench-header__icon(name="page-settings", scale="0.75")
  h1.workbench-header__title Roles ({{ (roles.length || 0) + 1 }})

.workbench-main
  .workbench-main__content
    .role-list__item
      .role-list__link.admin-role
        h3
          | Administrator
          small (built-in)
        p Members of this role have full access to everything in this space. This is a built-in role and can't be deleted.
      .role-list__member-count
        a(href="" ng-click="jumpToAdminRoleMembers()")
          | {{ memberships.admin || 0 }} members
      button.role-list__actions.role-list__actions--disabled.btn-inline
        | &bullet;&bullet;&bullet;

    .role-list__item(ng-repeat="role in roles track by role.sys.id")
      a.role-list__link(href="" ui-sref="spaces.detail.settings.roles.detail({roleId: role.sys.id })")
        h3 {{ role.name }}
        p(ng-if="role.description") {{ role.description }}
      .role-list__member-count
        a(href="" ng-click="jumpToRoleMembers(role.sys.id)")
          | {{ memberships[role.sys.id] || 0 }} members
      button.role-list__actions.btn-inline(type="button" aria-label="Actions" cf-context-menu-trigger)
        | &bullet;&bullet;&bullet;
      .context-menu(role="menu" cf-context-menu="bottom-right" aria-label="Role Actions")
        ul.context-menu__items
          li(role="menuitem" ui-sref="spaces.detail.settings.roles.detail({roleId: role.sys.id })") Open role
          li(ng-if="hasFeatureEnabled" role="menuitem" ng-click="duplicateRole(role)") Duplicate
          li(ng-if="hasFeatureEnabled" role="menuitem" ng-click="removeRole(role)") Delete permanently
          li.role-list__action--disabled(ng-if="!hasFeatureEnabled") Duplicate
          li.role-list__action--disabled(ng-if="!hasFeatureEnabled") Delete permanently

  .workbench-main__sidebar
    .entity-sidebar(ng-if="!hasFeatureEnabled")
      +custom-roles-plan-info
    .entity-sidebar(ng-if="hasFeatureEnabled")
      h2.entity-sidebar__heading
        | Create new role
      p
        | Your&#32;
        span(ng-if="legacy")
          | organization
        span(ng-if="!legacy")
          | space
        | &#32;is using {{usage}} out of {{limit}} available roles.

      p(ng-if="reachedLimit")
        | You've reached your&#32;
        span(ng-if="legacy")
          | organization
        span(ng-if="!legacy")
          | space
        | &#32;role limit.

        span(ng-if="canUpgrade")
          | <a cf-sref="{{ accountUpgradeState }}">Upgrade</a> to add more locales
        span(ng-if="!canUpgrade")
          | Contact the admin or owner of this organization to upgrade the organization
        span(ng-if="limit === 1")
          | .
        span(ng-if="limit > 1")
          | , or delete an existing locale.
      p(ng-if="!reachedLimit")
        | Select one of the predefined role templates or create one from the scratch.
      button.btn-primary-action(ng-disabled="reachedLimit" ui-sref="spaces.detail.settings.roles.new")
        | Create new role
