header.workbench-header
  cf-icon.workbench-header__icon(name="page-settings")
  h1.workbench-header__title {{ context.title }}

.workbench-main
  .workbench-main__middle-content
    form(name="roleForm")
      .role-details__section
        h3 Entries
        cf-rule-list(rules="internal.entries" entity="entry")

      .role-details__section
        h3 Media Assets
        cf-rule-list(rules="internal.assets" entity="asset")

      .role-details__section
        h3 Content Types
        .cfnext-form-option
          input(id="opt_content_types_access" type="checkbox" ng-model="internal.contentTypes.access")
          label(for="opt_content_types_access") Allow access to Content Types

      .role-details__section
        h3 API keys
        .cfnext-form-option
          input(id="opt_api_keys_view" type="checkbox" ng-model="internal.apiKeys.view")
          label(for="opt_api_keys_view") Allow viewing API keys
        .cfnext-form-option
          input(id="opt_space_settings_edit" type="checkbox" ng-model="internal.apiKeys.edit")
          label(for="opt_space_settings_edit") Allow editing API keys

      .role-details__section
        h3 Space settings
        .cfnext-form-option
          input(id="opt_space_settings_access" type="checkbox" ng-model="internal.spaceSettings.access")
          label(for="opt_space_settings_access") Allow access to Space settings

      .role-details__section
        h3 Internal representation
        pre {{ internal | json }}

  .workbench-main__entity-sidebar
    .entity-sidebar
      p
        button.cfnext-btn-primary-action(type="submit" ui-command="save")
          | Save changes
      h2.entity-sidebar__heading
        | Need more complex roles?
      p
        | If you need define a more complex role, as translator for a specific language or person who can't edit meta-data, visit our knowledge base.
      h2.entity-sidebar__heading
        | Hint from our staff
      p
        | Stephen says: "Anything that is not allowed, is denied".
