header.workbench-header
  cf-icon.workbench-header__icon(name="page-settings")
  h1.workbench-header__title Roles ({{ (roles.length || 0) + 1 }})

.workbench-main
  .workbench-main__middle-content

    .role-list__item
      .role-list__link.admin-role
        h3
          | Administrator
          small (built-in)
        p Members of this role have a full access to everything in this space. This is a built-in role and can't be deleted.
      .role-list__member-count {{ memberships.admin }} members
      button.role-list__actions.cfnext-btn-inline(type="button" aria-label="Actions" cf-context-menu-trigger)
        | &bullet;&bullet;&bullet;
      .context-menu(role="menu" cf-context-menu="bottom-right" aria-label="Role Actions")
        cf-icon.context-menu__arrow.x--top-right-tight(name="arrow-up")
        ul.context-menu__items
          li(role="menuitem" ng-click="notImplemented()") Duplicate

    .role-list__item(ng-repeat="role in roles track by role.sys.id")
      a.role-list__link(ui-sref="{{ sref(role) }}")
        h3
          | {{ role.name }}
          i.fa.fa-chevron-right
        p(ng-if="role.description") {{ role.description }}
      .role-list__member-count
        | {{ memberships[role.sys.id] || 0 }} members
      button.role-list__actions.cfnext-btn-inline(type="button" aria-label="Actions" cf-context-menu-trigger)
        | &bullet;&bullet;&bullet;
      .context-menu(role="menu" cf-context-menu="bottom-right" aria-label="Role Actions")
        cf-icon.context-menu__arrow.x--top-right-tight(name="arrow-up")
        ul.context-menu__items
          li(role="menuitem" ng-click="notImplemented()") Duplicate
          li(role="menuitem" ng-click="notImplemented()") Delete permanently

  .workbench-main__entity-sidebar
    .entity-sidebar
      h2.entity-sidebar__heading
        | Create new role
      p
        | Select one of the predefined role templates or create one from the scratch.
      button.cfnext-btn-primary-action(ng-click="notImplemented()")
        | Create new role
