.rule-list
  .rule-list__section
    label Users with this role can:
    .rule-list__note.note-box--blue(ng-show="!rules.allowed.length")
      i.fa.fa-info-circle
      span  Currently, everything is denied for this role.
      span(ng-show="!isDisabled")  To allow certain actions add a rule by clicking the link below.
    .rule-list__rule(ng-repeat="rule in rules.allowed track by rule.id")
      cf-rule(rule="rule")
    a.rule-list__add(href ng-click="rules.allowed.push(getDefaultRule())" ng-show="!isDisabled")
      | {{ rules.allowed.length ? 'Add another rule' : 'Add a rule' }}

  .rule-list__section(ng-show="rules.allowed.length")
    label Users with this role can <strong>not</strong>:
    .rule-list__note.note-box--blue(ng-show="!rules.denied.length && !isDisabled")
      i.fa.fa-info-circle
      span
        |  You can add exceptions to the rules you defined above.
        |  Add an exception by clicking on the link below.
    .rule-list__rule(ng-repeat="rule in rules.denied track by rule.id")
      cf-rule(rule="rule")
    a.rule-list__add(href ng-click="rules.denied.push(getDefaultRule())" ng-show="!isDisabled")
      | {{ rules.denied.length ? 'Add another exception' : 'Add an exception' }}
