.rule-list
  .rule-list__section
    label Allow these actions:
    .rule-list__note.note-box--blue(ng-show="!rules.allowed.length")
      i.fa.fa-info-circle
      |  Currently, everything is denied for this role.
      |  To allow certain actions add a rule by clicking the link below.
    .rule-list__rule(ng-repeat="rule in rules.allowed track by rule.id")
      cf-rule(rule="rule")
    a.rule-list__add(href ng-click="rules.allowed.push(getDefaultRule())")
      | {{ rules.allowed.length ? 'Add another rule' : 'Add a rule' }}

  .rule-list__section(ng-show="rules.allowed.length")
    label Deny these actions:
    .rule-list__note.note-box--blue(ng-show="!rules.denied.length")
      i.fa.fa-info-circle
      |  You can add exceptions to the rules you defined above.
      |  Add an exception by clicking on the link below.
    .rule-list__rule(ng-repeat="rule in rules.denied track by rule.id")
      cf-rule(rule="rule")
    a.rule-list__add(href ng-click="rules.denied.push(getDefaultRule())")
      | {{ rules.denied.length ? 'Add another exception' : 'Add an exception' }}
