.cfnext-form__field
  label(for="opt_locale") Locale
  select.cfnext-select-box(
    id="opt_locale"
    ng-model="translator.localeCode"
    ng-options="l.code as l.name for l in translator.locales"
    ng-change="translator.updateLocale()")
  .cfnext-form__hint--normal-text(ng-if="!hasFeatureEnabled")
    .advice__note
      | For this built-in role, you can only specify the locale that users with this role can edit.
