.modal-background
  .modal-dialog
    header.modal-dialog__header
      h1 Remove user from a space

    .modal-dialog__content
      .modal-dialog__richtext
        p
          | You are about to remove <span class="modal-dialog__highlight">{{ user.name }}</span> from the space.
          | After removal this user will not be able to access this space in any way. Do you want to proceed?

    .modal-dialog__controls
      button.btn-caution(ui-command="removeUser")
        | Remove
      button.btn-secondary-action(ng-click="dialog.cancel()")
        | Don't remove
