<div class="modal-background">
  <article
    ng-controller="UserSpaceInvitationController as userSpaceInvitation"
    class="modal-dialog user-space-invitation-dialog"
  >
    <header class="modal-dialog__header">
      <h1>Add users to space</h1>
      <button ng-click="dialog.cancel()" class="modal-dialog__close"></button>
    </header>
    <div class="modal-dialog__content">
      <div style="position: relative">
        <h2 class="user-space-invitation-dialog__step-label">
          {{ users.length === 1 ? "Assign a role to selected user" : "Assign roles to selected
          users" }}
        </h2>
        <a
          href=""
          ng-click="goBackToSelection()"
          style="position: absolute; top: 0; right: 0"
          class="text-link--neutral-emphasis-low"
          >Edit selection</a
        >
      </div>
      <ul class="user-role-selector">
        <li ng-repeat="user in users track by user.sys.id" class="user-role-selector__user">
          <react-component name="app/widgets/link/UserLink" props="{user}"></react-component>
          <div class="user-role-selector__selector-field">
            <select
              id="user-role-{{user.sys.id}}"
              data-test-id="user-role-select"
              ng-model="selectedRoles[user.sys.id]"
              aria-invalid="{{ canNotInvite && !selectedRoles[user.sys.id] }}"
              class="cfnext-select-box"
              ><option value="" selected disabled>Select role</option
              ><option
                ng-repeat="role in roleOptions track by role.id"
                data-test-id="user-role-option"
                value="{{ role.id }}"
                >{{ role.name }}</option
              ></select
            >
          </div>
        </li>
      </ul>
      <p>
        <react-component
          name="components/shared/knowledge_base_icon/KnowledgeBase"
          props="{
  target: 'roles',
  text: 'What is the difference between Administrator, Developer and Editor?',
  className: 'text-link--neutral-emphasis-low',
  inlineText: 'true'
}"
        ></react-component>
      </p>
      <div
        ng-if="canNotInvite && userSpaceInvitation.getInvalidRoleSelectionsCount() > 0"
        class="note-box--warning"
      >
        You are trying to add {{ userSpaceInvitation.getInvalidRoleSelectionsCount() === 1 ? "a user
        without a role. Please assign the user" :
        userSpaceInvitation.getInvalidRoleSelectionsCount() + " users without a role. Please assign
        them" }} a role before continuing.
      </div>
      <div ng-if="hasFailedInvitations" class="note-box--warning">
        Whoops, something went wrong on our side. There {{ users.length === 1 ? "is one user" : "are
        some users" }} we weren’t able to add to your space. Press the green button once more to add
        the remaining {{ users.length === 1 ? "user" : "users" }}, and everything should be fine.
      </div>
    </div>
    <div class="modal-dialog__controls">
      <button
        ng-if="!invitationsScheduled"
        ng-click="userSpaceInvitation.tryInviteSelectedUsers()"
        data-test-id="user-space-invitation-confirm"
        class="btn-primary-action"
      >
        Add selected {{ users.length === 1 ? "user" : "users (" + users.length + ")" }}</button
      ><button ng-if="invitationsScheduled > 0" class="btn-primary-action is-loading">
        Adding {{ users.length === 1 ? "user…" : "users… (" + invitationsDone + " of " +
        invitationsScheduled + ")" }}</button
      ><button ng-click="dialog.cancel()" class="btn-secondary-action">Cancel</button>
    </div>
  </article>
</div>
