mixin linkOpen(url)
  a(href=url target="_blank" rel="noopener noreferrer")
    block

mixin sdk-section-javascript
  .separated-links

    +linkOpen("https://contentful.github.io/contentful.js")
      | SDK documentation
    +linkOpen("https://github.com/contentful/contentful.js")
      | View on GitHub
  p.home-section__description
    | Get the JavaScript SDK and use it in your project:
  .code-block
    .code-block__language bash
    .code-block__line npm install contentful

mixin sdk-section-php
  .separated-links
    +linkOpen("https://contentful.github.io/contentful.php/api/")
      | SDK documentation
    +linkOpen("https://github.com/contentful/contentful.php")
      | View on GitHub

  p.home-section__description
    | Get the PHP SDK and use it in your project:
  .code-block
    .code-block__language bash
    .code-block__line php composer.phar contentful/contentful

mixin sdk-section-dotnet
  .separated-links
    +linkOpen("https://contentful.github.io/contentful.net-docs/api/index.html")
      | SDK documentation
    +linkOpen("https://github.com/contentful/contentful.net")
      | View on GitHub
  p.home-section__description
    | Get the .NET SDK and use it in your project by using the following command in your NuGet package manager console:
  .code-block
    .code-block__language bash
    .code-block__line Install-Package contentful.csharp

mixin sdk-section-ruby
  .separated-links
    +linkOpen("http://www.rubydoc.info/gems/contentful/")
      | SDK documentation
    +linkOpen("https://github.com/contentful/contentful.rb")
      | View on GitHub
  p.home-section__description
    | Get the Ruby SDK and use it in your project by adding the following to your <em>Gemfile</em>:
  .code-block
    .code-block__language ruby
    .code-block__line gem <span class="s1">'contentful'</span>

mixin sdk-section-ios
  .separated-links
    +linkOpen("https://contentful.github.io/contentful.swift/docs/index.html")
      | SDK documentation
    +linkOpen("https://github.com/contentful/contentful.swift")
      | View on GitHub
  p.home-section__description
    | Get the Swift SDK and use it in your project by adding the following to your <em>Podfile</em>:
  .code-block
    .code-block__language ruby
    .code-block__line platform <span class="s2">:ios</span>, <span class="s1">'9.0'</span>
    .code-block__line use_frameworks!
    .code-block__line pod <span class="s1">'Contentful'</span>
  p.home-section__description
    | Or your <em>Cartfile</em>:
  .code-block
    .code-block__line github "contentful/contentful.swift"

mixin sdk-section-android
  .separated-links
    +linkOpen("https://contentful.github.io/contentful.java/")
      | SDK documentation
    +linkOpen("https://github.com/contentful/contentful.java")
      | View on GitHub
  p.home-section__description
    | Get the Java SDK and use it in your Android project by adding the following to your <em>build.gradle</em> file:
  .code-block
    .code-block__language groovy
    .code-block__line compile <span class="s1">'com.contentful.java:java-sdk:+'</span>

mixin sdk-section-java
  .separated-links
    +linkOpen("https://contentful.github.io/contentful.java/")
      | SDK documentation
    +linkOpen("https://github.com/contentful/contentful.java")
      | View on GitHub
  p.home-section__description
    | Get the Java SDK and use it in your project by adding the following to your <em>pom.xml</em> file:
  .code-block
    .code-block__language xml
    .code-block__line &lt;<span class="s2">dependency</span>&gt;
    .code-block__line &nbsp;&nbsp;&lt;<span class="s2">groupId</span>&gt;com.contentful.java&lt;/<span class="s2">groupId</span>&gt;
    .code-block__line &nbsp;&nbsp;&lt;<span class="s2">artifactId</span>&gt;java-sdk&lt;/<span class="s2">artifactId</span>&gt;
    .code-block__line &nbsp;&nbsp;&lt;<span class="s2">version</span>&gt;10.0.0&lt;/<span class="s2">version</span>&gt;
    .code-block__line &lt;/<span class="s2">dependency</span>&gt;

mixin sdk-section-python
  .separated-links
    +linkOpen("https://github.com/contentful/contentful.py/blob/master/README.rst")
      | SDK documentation
    +linkOpen("https://github.com/contentful/contentful.py")
      | View on GitHub
  p.home-section__description
    | Get the Python SDK and use it in your project:
  .code-block
    .code-block__language bash
    .code-block__line pip install contentful
