// Layout fixes for iframe
.tab-content.tab-iframe
  top: 0
  bottom: 0
  left: 0
  right: 0
  border: 0

  // Styling of the headline
  .tab-header a
    color: $dark-gray
    &:hover
      color: $light-gray
  .header-separator
    color: $lightest-gray

.settings-panel
  @extend .link-list
  ul
    margin-bottom: 2em

// Adjust base font size // YOLO
.profile
  .tab-iframe
    font-size: 14px

// Adjust content padding
.tab-iframe
  .left-nav
    position: fixed
    top: $tab-header-height
  .with-left-nav
    @extend .tab-workbench
    +tab-padding

// make sure to hide intercom in the frame
.tab-iframe
  #IModal,
  #INotificationMessagesWrapper
    display: none !important
    z-index: -9999 !important
    opacity: 0 !important

// Forms
//$formtastic-fieldwidth: ($form-controlwidth-outer/100% * $field-editor-width/100%) * 100%
$formtastic-fieldwidth: 40%
.tab-iframe .formtastic
  max-width: 80em
  // remove list bullets
  .inputs,
  .actions
    li
      list-style-type: none
      margin: 0
    .input
      margin-bottom: $form-spacing
  li.input
  .input
    padding: 0
    .label
      position: relative
      color: inherit
      width: $form-labelwidth
      text-align: right
      padding: $form-offset $form-gutter $form-offset 0
    input[type="checkbox"]
      vertical-align: baseline
    .inline-hints
      margin-left: $form-labelwidth
      width: $formtastic-fieldwidth
    .inline-errors
      margin-left: $form-labelwidth
  .input.info > div
    padding-top: $form-offset
  .input > select
    margin-top: $form-offset
  .fragment
    padding-right: 10px
  .input input
    margin-top: 2px
  .input.boolean
    padding-top: $form-offset
    padding-bottom: $form-offset
    .tooltip.top
      left: $form-labelwidth !important
  .input.boolean label
    padding-left: $form-labelwidth
  .choices,
  .fragments
    .label label
      position: static
    .choices-group,
    .fragments-group
      padding-left: 0
      margin-bottom: 0
      li
        margin-top: $form-offset

  // Style form elements
  .input
    @extend %form-styled
    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="tel"],
    input[type="password"],
    input[type="url"],
    input.time,
    .select-box,
    textarea
      width: $formtastic-fieldwidth

  // Make form actions look a little more like tab-actions
  fieldset.actions
    margin-top: 3em
    margin-bottom: 3em
    background-color: $gray-background
    border-top: 1px solid $dark-rule
    border-bottom: 1px solid $dark-rule
    @extend %tab-actions-padding
    padding-left: $form-labelwidth
    height: $tab-actions-height
    .action
      display: inline-block
    ol
      float: left
      button
        @extend .default-button
        height: $tab-actions-content-height
    // Colors
    input[name="commit"]
      @extend .default-button
      @extend .primary-button

  .in-form-margins
    margin-left: $form-labelwidth
    width: $field-editor-width

  .actions-no-label
    padding-left: 20px

  .actions-hint
    margin: 0 1em
    font-size: 12px
      

  > h1
    margin-left: 20px

// Different style fixes
.tab-iframe
  // Make buttons look like buttons
  input[type="submit"]
    @extend .default-button

  .button_to
    display: inline
    div
      display: inline
  // delete button
  //form.button_to
    position: relative
    top: -$tab-actions-height
    height: $tab-actions-height
    @extend %tab-actions-padding

  // Add-Button

  button,
  a.default-button
    &.new-resource
      margin-top: 34px //result list tr-height
      @extend .primary-button
    .ss-plus
      @extend .button-icon

  // Main tables
  .result-list
    @extend %result-list-border-bottom
  .result-list
    .clickable
      tr
        @extend %tr-clickable

  // User profile page
  $identity-image-size: 40px
  $identity-well-padding: 10px
  $identity-padding: 10px
  $identity-image-padding: 10px
  $identity-spacing: 10px
  $identity-width: 140px
  .user-details,
  .identities
    margin-bottom: 30px
  %user-detail-image
    height: $identity-image-size
    width: $identity-image-size
    float: left
    margin-right: $identity-image-padding
  .user-details
    > img
      @extend %user-detail-image
      margin-bottom: 10px
  .identity-well
    //border: 1px solid $dark-rule
    //+border-radius(3px)
    //+box-shadow(0 1px $identity-well-padding/2 $lightest-gray inset)
    //padding: $identity-well-padding
    max-width: 2*$identity-well-padding + 3 * $identity-width + (3 - 1) * $identity-spacing
    margin-bottom: 2 * $identity-well-padding
  .identity,
  .auth_provider
    display: inline-block
    width: $identity-width
    height: $identity-image-size + 2 * $identity-padding
    border: 1px solid $dark-rule
    +border-radius(3px)
    background-color: #EEE
    padding: $identity-padding
    position: relative
    margin-right: $identity-spacing
    img
      @extend %user-detail-image
    .uid,
    .auth_provider_name
      word-break: break-all
      $offset-left: $identity-padding + $identity-image-size + $identity-image-padding
      +stretch(false, $identity-padding, $identity-padding, $offset-left)
      overflow: hidden
      text-overflow: ellipsis
    .remove
      .ss-delete
        @extend %delete-icon
        font-size: 1em
      +stretch($identity-padding, $identity-padding, false, false)
      opacity: 0
      +transition(opacity 0.1s ease-in-out)
  .identity:hover
    .remove
      opacity: 100
  .auth_provider
    color: inherit
    +transition(box-shadow 0.1s ease-in-out)
  .auth_provider:hover
    +box-shadow(0 1px $identity-padding/2 $light-gray)

// Subscription plan pages

$subscription-yellow: #fffeec

.current-plan
  +pie-clearfix
  margin-bottom: 3em
  background-color: $subscription-yellow
  padding: 20px
  .current-plan-name,
  .current-plan-price,
  .current-plan-billing
    width: 33%
    +pie-clearfix
  .current-plan-name
    float: left
    padding-right: 20px
  .current-plan-price
    float: left
    padding-left: 20px
    border-left: 1px solid $dark-rule
  .current-plan-billing
    float: left
    padding-left: 20px
    border-left: 1px solid $dark-rule


.plan-header
  font-size: 25px
  font-weight: bold
  line-height: 30px
  height: 30px
  color: $medium-dark-gray
  &.muted
    color: inherit
    font-weight: normal

.plan-header-month
  font-size: 14px

.plan-superscript-header
  text-transform: uppercase
  font-size: 90%
.plan-subscript-header
  margin-top: .5em
  color: $medium-dark-gray
  font-weight: 600
  font-size: 85%

.billing-frequency
  margin: auto
  width: 400px
  margin-bottom: 2em

.available-plans
  border-top: 1px solid $dark-rule
.subscription-plan
  width: 100%
  border-bottom: 1px solid $dark-rule
  padding: 15px 0 0 0
  //outline: 1px blue dotted
  //height: 50px
  +pie-clearfix
  .col
    float: left
    //outline: 1px red dashed
  .name
    padding-left: 20px
    width: 25%
  .spaces,
  .users,
  .entries
    text-align: center
    width: 10%
  .price
    text-align: center
    width: 25%
    color: $blue
  .aligned-number
    display: inline
  .actions
    width: 20%
    text-align: right
    padding-top: 10px
    padding-right: 20px
    .default-button
      width: 100%
      max-width: 150px
      text-align: center
      line-height: 12px
    .ss-help,
    .ss-info
      position: relative
      top: 2px
.subscription-plan.disabled
  color: $light-gray
  .plan-big-row,
  .plan-small-row,
  .plan-medium-row
    color: $light-gray

$plan-detail-gutter: 20px
.plan-problem
  font-style: italic
.plan-big-row
  line-height: 30px
  font-size: 25px
  font-weight: 600
  color: $medium-dark-gray
  .price &
    color: $blue
  .ss-info
    font-size: 14px
    color: $light-gray
.plan-medium-row
  font-weight: 300
  line-height: 18px
  font-size: 18px
.plan-small-row
  font-weight: 300
  line-height: 14px
  font-size: 12px
  color: $blue
.plan-details
  clear: both
  padding: 15px 20px 0
  .details-block
    display: inline-block
    width: 19%
    max-width: 130px
    min-width: 115px
    height: 60px
    text-align: center
    //outline: 1px dashed red
    margin: 0
    vertical-align: bottom
  .details-feature
    font-size: 20px
    height: 20px
    .ss-check
      color: $blue
  .details-number
    font-weight: bold
  .details-period
    color: $blue
    text-transform: uppercase
    font-size: 85%
    font-weight: 600
  .details-show,
  .details-hide
    color: $lightest-gray
    margin: auto
    width: 50px
    height: 20px
    border: 1px solid $dark-rule
    border-bottom-style: none
    text-align: center
    cursor: pointer
    line-height: 22px
    &:hover
      color: $light-gray
      background-color: $gray-background
  .details-show
    font-size: 15px
    line-height: 10px
.details-content
  +flexbox
  margin-bottom: $plan-detail-gutter
  background-color: $gray-background
.plan-summary
  width: 15em
  margin: $plan-detail-gutter
  background-color: white
  li
    list-style-type: none
    line-height: 1.5
  i
    width: 25px
    display: inline-block
    text-align: center
    margin-right: 8px
  i.ss-plus
    font-size: 90%
    color: $light-gray
  i.ss-cloud
    position: relative
    top: 2px
    font-size: 150%
    color: $blue
    text-shadow: 0 0 2px black
.plan-properties
  +flex(1)
  margin: $plan-detail-gutter $plan-detail-gutter $plan-detail-gutter 0
  text-align: center
.plan-features,
.plan-limits
  background-color: white
  margin: 0
  padding-top: 24px
.plan-limits
  margin-top: $plan-detail-gutter
  
#enterprise-contact-form
  @extend %form-styled
  clear: both
  padding: 20px
  label
    text-transform: uppercase
    display: block
  input[type=tel]
    width: 20em
  textarea
    width: 100%
    height: 10em
  .buttons
    text-align: right
  input[type=submit]
    width: 150px
.enterprise-close-form-button
  color: $medium-gray
  font-size: 130%
  float: right
  &:hover
    color: $dark-gray

.plan-questions
  margin-left: 20px
  margin-top: 20px
  float: left

.plan-cancel-account
  float: right
  margin-right: 20px
  margin-top: 20px
  text-align: right
  a
    color: darken($red, 30%)

// Billing page

.subscription-progress-bar
  width: 100%
  line-height: 40px
  margin: 0 0 20px 0
  padding: 0 20px
  +pie-clearfix
  border-bottom: 1px solid $dark-rule
  text-transform: uppercase
  font-size: 14px
  li
    display: block
    width: 25%
    float: left
    text-align: center
    margin: 0
  .ss-check
    color: $green
    padding-right: .5em
    position: relative
    top: 2px
  .active
    color: $dark-gray
    font-weight: bold
    background-color: lighten($gray-background, 2%)

.tab-iframe .formtastic .input.yellow-highlight,
.formtastic .input.yellow-highlight,
.formtastic .yellow-highlight
  background-color: $subscription-yellow
  padding: 10px 0
  width: $form-labelwidth + $formtastic-fieldwidth + 3%
  $scalefactor: 100% / ($form-labelwidth + $formtastic-fieldwidth + 3%)
  label
    width: $form-labelwidth * $scalefactor
  input
    width: $formtastic-fieldwidth * $scalefactor
  .inline-hints
    width: $formtastic-fieldwidth * $scalefactor
    margin-left: $form-labelwidth * $scalefactor
  p
    margin: 10px 20px

.credit-card-notice
  margin-bottom: 10px

.credit-card-secure
  color: $medium-gray

.form-table
  width: $form-labelwidth + $formtastic-fieldwidth
  tr
    line-height: 35px
    height: 35px
  th
    // scalefactor to make th width relative to total form
    $scalefactor: 100% / ($form-labelwidth + $formtastic-fieldwidth)
    width: $form-labelwidth * $scalefactor
    text-align: right
    padding-right: 12px
    font-weight: normal
  td
    font-weight: 600
    font-size: 115%
    padding-left: 12px

.formtastic.with-sidebar
  position: relative
.formtastic-sidebar
  position: absolute
  right: 0
  margin-top: 20px
  width: (100% - $form-labelwidth - $formtastic-fieldwidth) * 0.8
.billing-sidebar
  background-color: $subscription-yellow
  padding: 0 15px
  .sidebar-section
    padding: 15px 0
  .sidebar-separator
    border-top: 1px solid $dark-rule
  a
    font-size: smaller

#sidebar-coupon-link
  position: absolute
  bottom: -3em
.redeem-button
  margin-top: 10px
  text-align: right
  
.annual-savings
  color: white
  background-color: red
  font-size: 85%
  +border-radius(3px)
  padding: 2px 15px
div.annual-savings
  display: inline-block
  margin: 0.5em 0
.table-edit-button
  text-align: right
  width: $formtastic-fieldwidth
  margin-left: $form-labelwidth
  margin-top: -32px

// Done page

.done-left-column
  float: left
  width: $form-labelwidth
  padding-left: 20px
  margin-top: 20px
.done-main-column
  margin-top: 20px
  float: left

.done-icon
  margin: auto
  background-color: $green
  width: 80px
  height: 80px
  +border-radius(40px)
  position: relative
  i
    position: absolute
    top: 35px
    left: 19px
    color: white
    font-size: 46px
.done-plan-info
  margin: 1em 0
  font-size: 1.5em
  font-weight: bold
.done-buttons.formtastic
  clear: both
  margin-top: 6em

.billing-info-box,
.formtastic .billing-info-box
  border: 1px solid $dark-rule
  border-style: solid none
  background-color: $subscription-yellow
  padding: 10px
  p
    margin: 10px
