/* -------------- */
/* ---- BASE ---- */
/* -------------- */

/* GLOBAL TEXT COLORS */

$lightest-gray: #dadada
$light-gray: #acacac
$medium-gray: #858585
$dark-gray: #333333
$link-blue: #1683d0
$light-rule: #efefef
$gray-background: #f3f3f3


/* STATUS COLORS */

$green: #33ca6c
$gold: #e6ae17
$red: #f36d3f


/* BASICS */

body
  font-family: 'Open Sans', sans-serif
  font-size: 10px
  line-height: 1.5em
  color: $medium-gray
  background: image-url("bg.jpg")
  background-size: 200px 150px 
a
  color: $link-blue
  text-decoration: none
.logo
  img
    width: 50%
    
i.ss-delete
  font-size: .8em
  color: $lightest-gray
  @include text-shadow(0 1px 0 rgba(255,255,255,0.6))
.loading
  width: 3em
  img
    width: 50%
    vertical-align: middle
.separator
  height: 1px
  background: $light-rule
