@import "compass/css3/box-sizing"

/* GLOBAL TEXT COLORS */

$lightest-gray: #dadada
$light-gray: #acacac
$medium-gray: #858585
$dark-gray: #333333
$link-blue: #1683d0
$light-rule: #efefef
$dark-rule: #e1e1e1
$gray-background: #f3f3f3
$page-background: #eaeaea


/* STATUS COLORS */

$blue: #3e97d6
$light-blue: lighten($blue, 20%)
$green: #33ca6c
$gold: #e6ae17
$red: #f2602e

// TAB AREA
$tab-top: 9px
$tab-height: 38px
$main-left-spacing: 70px

$tab-header-height: 66px
$tab-actions-height: 54px

/* AVATAR SIZES */

$avatar-width: 27px

// Font-sizes and colors for table

$result-list-highlight: #fbfbfb

*
  +box-sizing(border-box)

body
  font-family: 'Open Sans', Arial, sans-serif
  font-size: 12px
  line-height: 18px
  color: $medium-gray
  background: url(image_path("bg.jpg"))
  background-size: 200px 150px 
  overflow: hidden

table
  border-collapse: separate

a
  color: $link-blue
  text-decoration: none

// Base typographical styles
// .content needed on a parent so I can isolate styles on internal pages
// TODO this should not need to be wrapped in .copy
.copy
  padding: 0 25px
  max-width: 800px
h1, h2, h3, h4, h5, h6
  color: $dark-gray
  line-height: 1em
  font-weight: bold
  margin: 18px 0 8px
  &:first-child
    margin-top: 0
h1
  font-size: 25px
  margin-bottom: .3em
h2
  font-size: 18px
  text-transform: uppercase
h3
  font-size: 13px
hr
  height: 1px
  background-color: $light-rule
  margin: 30px 0
  border: none
.help-text
  color: $light-gray
  font-style: italic
  font-size: 12px
  font-weight: normal
  margin-left: 5px
li,
p,
blockquote
  //line-height: 15.5px
  margin-bottom: 10px
ul,
ol
  margin: 24px 0 24px 17px
  li 
    margin-bottom: 5px
ul
  li
    list-style-type: square
ol
  li
    list-style-type: lower-roman
blockquote
  border-left: 4px solid $light-rule
  padding-left: 20px
  margin-top: 10px
  font-style: italic
b, strong
  color: $dark-gray
  font-weight: bold
a
  &:link
    color: $link-blue
    text-decoration: underline
  &:visited
    color: darken($link-blue, 18%)
  &:hover
    color: darken($link-blue, 9%)

// Adjust jQuery UI
.ui-autocomplete
  li
    list-style-type: none
html
  .ui-menu-item
    .ui-state-focus,
    .ui-state-active
      background-image: none
