/* GLOBAL TEXT COLORS */

$lightest-gray: #dadada
$light-gray: #acacac
$medium-gray: #858585
$dark-gray: #333333
$link-blue: #1683d0
$light-rule: #efefef
$dark-rule: #e1e1e1
$gray-background: #f3f3f3
$page-background: #eaeaea


/* STATUS COLORS */

$blue: #3e97d6
$green: #33ca6c
$gold: #e6ae17
$red: #f2602e


/* AVATAR SIZES */

$avatar-width: 27px


/* BASICS */

*
  +box-sizing(border-box)

body
  font-family: 'Open Sans', Arial, sans-serif
  font-size: 12px
  line-height: 15px
  color: $medium-gray
  background: url(image_path("bg.jpg"))
  background-size: 200px 150px 
  overflow: hidden

table
  border-collapse: separate

a
  color: $link-blue
  text-decoration: none
i.ss-delete
  font-size: 8px
  color: $lightest-gray
  @include text-shadow(0 1px 0 rgba(255,255,255,0.6))
  &:hover
    color: $medium-gray
    cursor: pointer

// Loading indicator
.loading
  background-image: asset-url('ajax-loader.gif', image)
  background-position: center
  background-repeat: no-repeat
  background-size: 25px 25px
  width: 30px
  height: 30px
  img
    width: 50%
    vertical-align: middle

// Endless container
.endless-container
  .loading
    margin: auto
    height: 50px
    text-align: center
.endless-container.scrolled
  +box-shadow(rgba(black, .1) 1px 4px 9px -6px inset)

.separator
  height: 1px
  background: $light-rule

// Avatars
// TODO configure only .avatar here, mix into account.user
.avatar,
.account .user
  img
    width: $avatar-width
    +border-radius(3px)

// Overwrite some jQuery-UI stuff
.ui-corner-all
  +rounded-corners(3px, 3px, 3px, 3px)
.ui-widget-header
  background-image: none
  background-color: $gray-background
  color: $dark-gray

// Base typographical styles
// .content needed on a parent so I can isolate styles on internal pages
// TODO this should not need to be wrapped in .copy
.copy
  +box-sizing(border-box)
  padding: 0 25px
  // for better legibility at long line-lengths
  max-width: 800px
  h1, h2, h3, h4, h5, h6
    color: $dark-gray
    line-height: 1.3em
    font-weight: bold
    margin: 1.8em 0 .8em
    &:first-child
      margin-top: 0
  h1
    font-size: 2em
    margin-bottom: .3em
  h2
    font-size: 1.4em
    text-transform: uppercase
  h3
    font-size: 1.3em
  hr
    height: 1px
    background-color: $light-rule
    margin: 3em 0
    border: none
  .help-text
    color: $light-gray
    font-style: italic
    font-size: 12px
    font-weight: normal
    margin-left: .5em
  li,
  p,
  blockquote
    color: $medium-gray
    font-size: 1.3em
    line-height: 1.55em
    margin-bottom: 1em
  ul,
  ol
    margin: 2.4em 0 2.4em 1.7em
    li 
      margin-bottom: .5em
  ul
    li
      list-style-type: square
  ol
    li
      list-style-type: lower-roman
  blockquote
    border-left: 4px solid $light-rule
    padding-left: 20px
    margin-top: 1em
    font-style: italic
  b, strong
    color: $dark-gray
    font-weight: bold
  a
    color: $link-blue
    text-decoration: underline
    &:visited
      color: darken($link-blue, 18%)
    &:hover
      color: darken($link-blue, 9%)

// Belongs in mixins, but has a backwards dependency on the color vars
%blue-link-list
  li:hover
    cursor: pointer
    span
      text-decoration: underline
      cursor: pointer
      color: $link-blue
  .active
    span
      font-weight: 600
      color: $dark-gray
  .active:hover
    span
      text-decoration: none
      color: $dark-gray
  .left-nav-bottom
    span:hover
      color: $link-blue
      cursor: pointer
