.btn-group .dropdown-toggle.inner
  border-radius: 0
  border-right: none

.large-pagination
  text-align: right
  
  input.pagenum
    text-align: right
  
  .help-inline.pagenum
    font-size: 14px
    line-height: 28px
    text-align: center
    border-top: 1px solid silver
    border-bottom: 1px solid silver
    padding-right: 10px