@import "components/*"

// Overwrite some jQuery-UI stuff
.ui-corner-all
  +border-radius(3px  3px  3px  3px)
.ui-widget-header
  background-image: none
  background-color: $gray-background
  color: $dark-gray

.ui-autocomplete
  li
    list-style-type: none

html
  .ui-menu-item
    .ui-state-focus,
    .ui-state-active
      background-image: none

// Angular
.ng-hide
  display: none

// Delete Icon
%delete-icon
  font-size: 8px
  color: $lightest-gray
  +text-shadow(0 1px 0 rgba(255,255,255,0.6))
  &:hover
    color: $medium-gray
    cursor: pointer

.aligned-number 
  min-width: 70px
  text-align: right
  display: block
  max-width: 100px

// Loading indicator
.loading
  background-image: asset-url('ajax-loader.gif', image)
  background-position: center
  background-repeat: no-repeat
  background-size: 25px 25px
  width: 30px
  height: 30px
  img
    width: 50%
    vertical-align: middle

.plain-list
  +plain-list

// Main results filters
.filter-list
  +plain-list
  margin-bottom: 10px
  .filter-list-item
    position: relative
    font-size: 12px
    padding: 4px $left-nav-padding
    border: 1px solid transparent
    color: $link-blue
    cursor: pointer
    small
      font-size: 9px
      color: $light-gray
  .filter-list-item:hover
    .filter-list-title
      text-decoration: underline
      color: $link-blue
  .filter-list-item.active
    border: 1px solid $dark-rule
    +border-radius(3px  3px  3px  3px)
    background: $gray-background
    .filter-list-title
      font-weight: 600
      color: $dark-gray
  .filter-list-item.active:hover
    .filter-list-title
      text-decoration: none
      color: $dark-gray
    .filter-list-title:after
      font-family: "SSStandard"
      content: "↻"
      font-size: 7px
      color: $light-gray
      line-height: 10px
      margin-left: 3px
.filter-list-delete
  position: absolute
  top: 5px
  right: 5px
  color: silver
  display: none
  text-decoration: none
  &:after
    content: '×'
  .filter-list-item:hover &
    display: inline

.knowledge-base-link
  display: block
  &:visited
    color: $link-blue
  &:hover
    color: $link-blue
  .ss-help
    display: inline-block
    vertical-align: middle
    margin-top: 2px

.knowledge-base-icon
  color: $light-gray
  display: inline-block
  &:link,
  &:visited
    color: $light-gray
  &:hover
    color: $dark-gray
  .tooltip-inner
    width: 200px

// Endless container
.endless-container
  .loading
    margin: auto
    height: 50px
    text-align: center
.endless-container.scrolled
  +box-shadow(rgba(black, .1) 1px 4px 9px -6px inset)

// Avatars
// TODO configure only .avatar here, mix into account.user
.avatar,
.account-menus .user
  img
    width: $avatar-width
    +border-radius(3px)

button::-moz-focus-inner
  border: 0
  padding: 0
  outline: 0

.transparent-button-layer
  background-color: transparent
  position: absolute
  z-index: 100

.base-button
  -webkit-appearance: none
  font-size: 1em
  text-decoration: none
  color: $medium-gray
  display: inline-block
  vertical-align: middle
  position: relative
  padding: 0.6em 1em
  overflow: hidden
  +border-radius(3px)
  cursor: pointer
  &:disabled,
  &[disabled]
    cursor: default

a.base-button
  color: inherit

.default-button
  @extend .base-button
  border: 1px solid darken($gray-background, 10%)
  +gradient($gray-background, darken($gray-background, 4%))
  +box-shadow(0 1px 1px rgba(255,255,255,0.8) inset, 0 2px 1px rgba(0,0,0,0.05)) 
  &:not(:disabled),
  &:not([disabled])
    &:active,
    &.active,
    &:hover
      +gradient($gray-background, darken($gray-background, 2%))
    &:active,
    &.active
      top: 1px
      +box-shadow(0 1px 2px darken($gray-background, 5%) inset)
  &:disabled,
  &[disabled]
    opacity: 0.5
    pointer: default
    &:active
      top: 0px

.toggle-button-set
  +flexbox

.toggle-button
  +flex(1)
  +border-radius(0)
  &:first-child
    +border-radius(3px 0 0 3px)
  &:last-child
    +border-radius(0 3px 3px 0)
  cursor: pointer
  margin: 0
  &:active,
  &.active
    top: 0
    +box-shadow(0 2px 2px darken($gray-background, 10%) inset)
    cursor: default
  &:focus
    outline: none !important

.flat-button
  @extend .base-button
  background: inherit
  border: 1px solid darken($dark-rule, 10)
  &:not(:disabled),
  &:not([disabled])
    &:hover
      border: 1px solid darken($dark-rule, 20)
    &:active,
    &.active
      border: 1px solid darken($dark-rule, 30)

.button-icon
  // An Icon inside a button
  position: relative
  top: 1px
  right: 2px

.button-icon-right
  @extend .button-icon
  float: right
  right: 0
  left: 3px
  //font-size: 0.8em

// Tweaks for specific icons
.button-icon,
.button-icon-right
  &.ss-dropdown
    font-size: 0.8em
  &.ss-plus
    font-size: 0.9em
  &.ss-navigateright
    font-size: 0.9em

=colored-button($color)
  font-weight: 600
  border-color: darken($color, 10%)
  +box-shadow(0 1px 1px lighten($color, 7%) inset, 0 2px 1px rgba(0,0,0,0.03))
  i
    color: lighten($color, 40%)
  &:not(:disabled),
  &:not([disabled])
    &:hover
      +gradient(lighten($color, 5%), darken($color, 6%))
    &:active
      +box-shadow(0 1px 2px darken($color, 5%) inset)
      +gradient($color, darken($color, 4%))

.primary-button
  &.default-button
    +blue-highlight
    +colored-button($blue)

.danger-button
  &.default-button
    +red-highlight
    +colored-button($red)
li.danger-button
  +red-highlight
  +colored-button($red)

.success-button
  &.default-button
    +green-highlight
    +colored-button($green)

.transparent-button
  background: none
  border: none
  cursor: pointer
  padding: 0
  margin: 0
.transparent-button[disabled]
  cursor: auto

.toggle-collapse
  display: inline-block
  color: inherit
  cursor: pointer
  +transition(transform 0.1s ease-in-out)
  &.open
    +rotate(90deg)
  &:hover
    color: inherit

.cf-copy-paste
  position: absolute
  display: block
  right: 0px
  top: 0px
  bottom: 0px
  width: 33px
  line-height: 30px
  padding: 0
  padding-left: 4px
  padding-top: 4px
  text-align: center
  vertical-align: middle
  +box-shadow(none)
  .ss-users,
  .ss-plus
    display: inline-block
    line-height: inherit
  .ss-layers
    font-size: 15px
  .ss-plus
    position: relative
    font-size: 7px
    top: -10px
    left: -2px

// Imported at the end to allow for easier overriding of extendable properties
// TODO everything above this should move to individual files which are included here
@import "components/forms/*"
@import "components/tabs/*"
