.editor-configuration
  margin-top: 1em
  position: absolute
  height: 6.4em
  border-bottom: 1px solid $light-rule
  left: 2.5em
  right: 2.5em
  top: 0
  h1
    font-size: 2em
    display: inline-block
    position: relative
    top: 3px
    margin-right: 20px
    color: $dark-gray

.editor-top-left, .editor-top-right
  position: absolute
  height: 4em
  bottom: .2em
.editor-top-left
  .dropdown-toggle
    width: auto
    display: inline-block
.editor-top-right
  .btn
    @extend .add.button
    display: inline-block
    padding: .6em 1em
    &:active
      margin-top: 0
      position: relative
      top: 1px

form
  &.form-horizontal
    margin-top: 10em

.aux-panel
  width: 20%
  position: absolute
  right: 0
.action-bar
  position: absolute
  bottom: 0
  left: 0
  right: 0
  height: 50px
  padding: 2em
  width: 100%
  +box-sizing(border-box)
  background-color: $gray-background
  border-top: 1px solid $lightest-gray
  border-top-color: rgba(0,0,0,0.1)
  +box-shadow(0 -1px 4px rgba(0,0,0,0.07), 0 1px 1px rgba(255,255,255,0.8) inset)




