%entity-editor
  // layout
  .aux-panel
    width: 20%
    position: absolute
    overflow-y: auto
    top: $tab-header-height
    bottom: $tab-actions-height

  // normal mode
  .aux-panel
    display: none

  // sidebar mode
  &.with-sidebar,
  & // <- this is only for development, remove it when we have a sidebar-switching mechanic
    .tab-main
      right: 20%
    .aux-panel
      display: block
    

// Editor configuration
.editor-configuration
  h1
    max-width: 600px
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
.editor-top-left
  display: inline-block
  .dropdown-btn
    display: inline-block
    margin-right: 5px
    vertical-align: middle
  .dropdown-toggle
    font-size: 1.2em
    padding: 0 10px 0 11px
    line-height: 32px
    vertical-align: middle
    @include rounded-corners(3px,3px,3px,3px)
    border: 1px solid $lightest-gray
    i
      color: darken($lightest-gray, 6%)
      margin-left: 8px
      margin-top: 1px
  .dropdown-toggle:hover,
  .active .dropdown-toggle
    background-color: $gray-background
    border: 1px solid $account-border-color
    border-bottom-color: $lightest-gray
    i
      color: $dark-gray

.editor-top-right
  float: right
  height: 100%
  &:before
    // This is a fucking hack
    // Since we want to float right, editor-top-right must be a block
    // but that prevents us from aligning to the h1, so we need to
    // insert another text element that simply serves as an alignment
    // aid for vertical-align
    display: inline-block
    line-height: $tab-header-height - 2px
    vertical-align: middle
    content: '\2008' //zero width space
  margin-right: 25px
  .dropdown-btn
    display: inline-block
    margin-left: 5px
    vertical-align: middle
  .dropdown-toggle, .btn
    @extend %blue-button
    line-height: 2.5em
    vertical-align: middle
    padding-top: 0
    padding-bottom: 0
    text-align: center
    margin: 2px 0 0 0
    display: block
  .dropdown-toggle
    padding-right: 1.8em
    i
      position: absolute 
      font-size: 8px
      top: 2px
      right: 10px
      margin-left: 20px
  .btn
    &:active
      margin-top: 0
      position: relative
      top: 2px

.editor
  table.main-results
    +border-radius(3px 3px 0 0)
    margin: 5px 0 0 0
    border: 1px solid $lightest-gray
    width: 100%
    tr
      &:hover
        cursor: auto
    th 
      border-bottom: 1px solid $lightest-gray
      padding: .3em .8em
    td
      font-size: 1.2em
      padding: .8em .8em
      white-space: normal
      &:first-child
        padding-left: 1.2em
      i
        position: relative
        top: 3px
    .drag-handle
      width: 5%
      padding: 0
      &:hover
        cursor: pointer
    .actions
      white-space: nowrap
    input
      border: 1px solid $lightest-gray
      height: 24px
      padding: .5em
      +border-radius(3px)
      +box-shadow(0 1px 2px rgba(0,0,0,0.1) inset)
      +transition(background-color 0.3s ease-in, border-color 0.3s ease-in)
      &:focus
        border-color: $link-blue
        outline: none
      &.error-input:focus
        border-color: darken($red, 10%)
  .field.open
    td
      background-color: $gray-background
      text-align: left
      padding: 0 !important
      +box-shadow(0 2px 1px rgba(0,0,0,0.05) inset)
      header
        color: $dark-gray
        font-size: 1.1em
        font-weight: 600
        padding: .8em 1em
        margin-top: -1px
        border-top: 1px solid $lightest-gray
        p
          padding-bottom: .6em
          border-bottom: 1px solid lighten($lightest-gray, 5%)
      div
        padding: 5px 10px


.entry-editor
  @extend %entity-editor





