/* ACCOUNT */

$tab-top: .9em
$tab-height: 3.8em
$main-left-spacing: 7em

$tab-header-height: 66px
$tab-actions-height: 54px

.account
  position: absolute
  width: 18%
  right: 2em
  top: $tab-top

.client
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 0
  min-width: 1000px

/* NAV-BAR */

.nav-bar
  position: fixed
  top: 0
  width: 5em
  height: 100%
  li
    position: relative
  .separator
    height: 1px
    width: 100%
    position: absolute
    bottom: 0

/* TABS */

.tab-list
  position: absolute
  top: $tab-top
  left: $main-left-spacing
  right: 20%
  height: $tab-height
  z-index: 1000
  .tab
    width: 21.5%
