/* ---------------- */
/* ---- LAYOUT ---- */
/* ---------------- */

/* ACCOUNT */

$tab-top: .9em
$tab-height: 3.8em
$main-left-spacing: 7em

.account
  position: absolute
  width: 16%
  right: 2em
  top: $tab-top


/* LEFT NAV */

.nav-bar
  position: fixed
  top: 0
  width: 5em
  height: 100%
  li
    position: relative
  .seperator
    height: 1px
    width: 100%
    position: absolute
    bottom: 0
.logo
  height: 4.8em
  position: relative
  img
    position: absolute
    top: 50%
    left: 50%
    margin-top: -25%
    margin-left: -25%
.left-nav-bottom
  position: absolute
  background: white
  bottom: 0
  padding: 1em 0 1.6em
  left: 2.3em
  overflow: hidden
  width: 13%
  @include box-shadow(0 -4px 5px rgba(255,255,255,1))
  span
    color: $light-gray
    float: left
    line-height: 1.3em
    padding: .2em 0
    &:first-child
      margin-right: .6em
      padding-right: .6em
      border-right: 1px solid $lightest-gray
.left-nav-bottom span
  float:left      
      

/* TABS */

.tab-list
  position: absolute
  top: $tab-top
  left: $main-left-spacing
  right: 20%
  height: $tab-height
  z-index: 5
  .tab
    width: 21.5%

/* TAB CONTENT */

.tab-content
  overflow: hidden
  position: absolute
  top: 4.6em
  right: 0
  bottom: 1.8em
  left: 0
  clear: both
  margin-left: $main-left-spacing
  margin-right: 2em
  background-color: white
  border: 1px solid #dbdbdb
  border-color: rgba(0,0,0,0.17)
  @include rounded-corners(0,2px,2px,2px)

$left-nav-width: 17%
.left-nav
  +box-sizing('border-box')
  float: left
  width: $left-nav-width
  padding: 3.3em 2.3em
.left-nav-active
  width: 100.1% - $left-nav-width  

/* MAIN */

.main
  position: absolute
  top: 0
  left: -1px
  right: 0
  bottom: 0
  float: left
  overflow: visible
.main.left-nav-active
  left: $left-nav-width
.main-results-wrapper
  width: auto
.main-results, .main-header
  width: 100%
  th, td
    text-align: left
.main-header-wrapper
  position: relative
.main-header
  z-index: 998
  position: absolute
  left: 0
  right: 0
  top: 7.8em
.main-results 
  overflow: scroll
.draft-wrapper
  position: relative
.main-results-bar
  position: absolute
  right: -2em
  height: 100%
  top: 0
  bottom: 0
  
.cell-select
  width: 5%
.cell-favorite
  width: 5%
.cell-type
  width: 13%
.cell-name
  width: 42%
.cell-by
  width: 15%  
.cell-created
  width: 10%
.cell-status
  width: 10%


  
/* FOOTER FOR INSIDE SCROLL EFFECT */

.footer
  height: 1.5em
  width: 100%
  position: fixed
  bottom: 0
  background: image-url("bg.jpg")
  
  
  
  
  
  
  
  
