/* ---------------- */
/* ---- MIXINS ---- */
/* ---------------- */

@import "compass/css3/images"
@import "compass/css3/border-radius"
@import "compass/css3/box-shadow"
@import "compass/css3/text-shadow"
@import "compass/css3/box-sizing"

=rounded-corners($tl, $tr, $bl, $br)
  +border-radius($tl $tr $bl $br)

=gradient($start, $stop)
  background: $start
  +filter-gradient($start, $stop)
  +background-image(linear-gradient($start, $stop))

=blue-button
  padding: .5em 1.1em .6em .8em
  font-size: 1.2em
  color: white
  font-weight: 600
  +gradient(#459cd9, #1e82c8)
  +border-radius(3px 3px 3px 3px)
  +box-shadow(0 2px 1px rgba(0,0,0,0.08))

