/* ---------------- */
/* ---- MIXINS ---- */
/* ---------------- */

@import "compass/css3/images"
@import "compass/css3/border-radius"
@import "compass/css3/box-shadow"
@import "compass/css3/text-shadow"
@import "compass/css3/box-sizing"
@import "compass/css3/transition"

=rounded-corners($tl, $tr, $bl, $br)
  +border-radius($tl $tr $bl $br)

=gradient($start, $stop)
  background: $start
  +filter-gradient($start, $stop)
  +background-image(linear-gradient($start, $stop))

=blue-highlight
  color: white
  +gradient(#459cd9, #1e82c8)

.blue-button
  +box-shadow(0 2px 1px rgba(0,0,0,0.08))
  +blue-highlight
  +border-radius(3px 3px 3px 3px)
  font-weight: 600
  padding: .5em 1.1em .6em .8em

$caret-size: 1em
=caret
  font-family: "SSStandard"
  color: white
  font-size: $caret-size
  position: absolute
