/* --------------- */
/* ---- STATE ---- */
/* --------------- */

/* GLOBAL */

i.ss-delete:hover
  color: $medium-gray
  cursor: pointer

/* PROJECT/USER BAR */

.account .project:hover, .account .user:hover
  cursor: pointer
  color: $medium-gray
  a
    color: $dark-gray
  .ss-dropdown
    color: $dark-gray
.project.active, .user.active, .project:hover, .user:hover
  color: $light-gray
  background-color: $gray-background
  border: 1px solid #d5d5d5
  border-bottom-color: $lightest-gray
  @include rounded-corners(3px,3px,0,0)
.user.active 
  padding-bottom: .4em

  
/* NAV BAR */

.nav-bar
  li:hover
    color: white
    cursor: pointer
  li.active
    color: white
    +background-image(linear-gradient(#000000 0%, #191919 4%, #171717 100%))
    +filter-gradient(#000000, #171717)
    
    
/* ADD BUTTON */

.add.button:hover
  cursor: pointer
  +gradient(#61aae2, #2787c6)
.add.button:active
  margin-top: .15em
  @include box-shadow(0 0 0 transparent)
  @include box-shadow(0 1px 2px rgba(0,0,0,0.1) inset)


/* LEFT NAV */

//.left-nav
%blue-link-list
  li:hover
    cursor: pointer
    span
      text-decoration: underline
      cursor: pointer
      color: $link-blue
  .active
    span
      font-weight: 600
      color: $dark-gray
  .active:hover
    span
      text-decoration: none
      color: $dark-gray
  .left-nav-bottom
    span:hover
      color: $link-blue
      cursor: pointer
      
      
/* SEARCH */

.search-input
  input:focus
    opacity: 1
    border: none
    outline: none
      
      
/* FILTER DROPDOWNS */

.dropdown:hover, .dropdown-btn:hover, .search-options:hover 
  cursor: pointer
  @include box-shadow(0 .5em 1.5em rgba(255,255,255,0.6) inset)

/* MAIN RESULTS */

.main-results
  tbody
    tr:hover
      background-color: #fbfbfb
      cursor: pointer
  
  
/* MAIN RESULTS STATUS COLORS */

td.published
  color: $green
  .main-results-bar
    background-color: $green
    /* Not using the mixin because I need two box-shadows on this element */
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.2) inset, 0 1px 0 $green
    -moz-box-shadow: 0 0 2px rgba(0,0,0,0.2) inset, 0 1px 0 $green
    -ms-box-shadow: 0 0 2px rgba(0,0,0,0.2) inset, 0 1px 0 $green
    -o-box-shadow: 0 0 2px rgba(0,0,0,0.2) inset, 0 1px 0 $green
    box-shadow: 0 0 2px rgba(0,0,0,0.2) inset, 0 1px 0 $green

td.draft, td.pending
  color: $gold
  .main-results-bar
    background-color: $gold
    /* Not using the mixin because I need two box-shadows on this element */
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.2) inset, 0 1px 0 $gold
    -moz-box-shadow: 0 0 2px rgba(0,0,0,0.2) inset, 0 1px 0 $gold
    -ms-box-shadow: 0 0 2px rgba(0,0,0,0.2) inset, 0 1px 0 $gold
    -o-box-shadow: 0 0 2px rgba(0,0,0,0.2) inset, 0 1px 0 $gold
    box-shadow: 0 0 2px rgba(0,0,0,0.2) inset, 0 1px 0 $gold
    
td.archived
  color: $red
  .main-results-bar
    background-color: $red
    /* Not using the mixin because I need two box-shadows on this element */
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.2) inset, 0 1px 0 $red
    -moz-box-shadow: 0 0 2px rgba(0,0,0,0.2) inset, 0 1px 0 $red
    -ms-box-shadow: 0 0 2px rgba(0,0,0,0.2) inset, 0 1px 0 $red
    -o-box-shadow: 0 0 2px rgba(0,0,0,0.2) inset, 0 1px 0 $red
    box-shadow: 0 0 2px rgba(0,0,0,0.2) inset, 0 1px 0 $red
      
      
      
      
