.modal-background
  .modal-dialog.activation-email-resend-dialog
    header.modal-dialog__header
      h1 {{dialog.title}}

    .modal-dialog__content
      p.activation-email-resend-dialog__intro
        | Confirming your email ensures that we can send you reset instructions in case you forget your password.
      p
        | We’ve already sent the confirmation email when you signed up.
        | If you didn’t receive it or deleted it by accident, just hit the resend button below.

      p.activation-email-resend-dialog__error(ng-show="wasUnableToSend")
        | The email could not be sent. Please try again later or contact us.

    .modal-dialog__controls
      button.btn-primary-action(ng-click="dialog.confirm()" ng-disabled="isSending")
        | OK, got it
      button.activation-email-resend-dialog__resend-btn.btn-secondary-action.btn-link(
        ng-click="resendEmail()" ng-disabled="isSending"
        ng-class="{'is-loading': isSending}"
      )
        span(ng-show="!isSending") Resend email
        span(ng-show="isSending") Sending
