.breadcrumbs.activity
  li.breadcrumb(ng-repeat="entity in contextHistory.slice(0, contextHistory.length - 1)")
    span.divider(ng-if="$first") ( opened from
    a(tooltip="{{title(entity).length > 50 ? title(entity) : ''}}" tooltip-placement="bottom" ui-sref="{{sref(entity)}}")
      | {{title(entity) | truncate: 50 }} {{entity.hasUnpublishedChanges() ? '*' : ''}}
    span.divider(ng-if="!$last") →
    span.divider(ng-if="$last") )
