.account-dropdown.app-top-bar__child.app-top-bar--left-separator
  a.app-top-bar__dropdown-toggle.account-dropdown__toggle(
    cf-context-menu-trigger
    ng-click="clickedProfileButton()"
    tabindex="0")
    img.account-dropdown__avatar(ng-src="{{user.avatarUrl}}")
    span.account-dropdown__name.u-truncate {{user.firstName}}
    cf-icon.icon-dd-arrow-down.pull-right(name="dd-arrow-down")
  .context-menu.x--top-bar(
    role="menu" cf-context-menu
    aria-label="Account Menu" data-test-id="account-menu")
    cf-icon.context-menu__arrow.center-aligned(name="arrow-up")
    ul.context-menu__items
      li(role="menuitem" ng-click="goToAccount()") Account Settings
      li(role="menuitem" ng-click="openIntercom()" ng-if="isIntercomLoaded()") Talk to Us
      li(role="menuitem" ng-click="openSupport()") Get Support
      li(role="menuitem" ng-click="logout()") Log out
