.account-dropdown.app-top-bar__child.app-top-bar--left-separator
  a.app-top-bar__dropdown-toggle.account-dropdown__toggle(
    cf-dropdown-toggle="navbar.account" ng-click="clickedProfileButton()" tabindex="0")
    img.account-dropdown__avatar(ng-src="{{user.avatarUrl}}")
    span.account-dropdown__name.u-truncate {{user.firstName}}
    cf-icon.icon-dd-arrow-down.pull-right(name="dd-arrow-down")
  .context-menu.x--top-bar(cf-dropdown-menu="navbar.account" cf-dropdown-position="fixed")
    cf-icon.context-menu__arrow.center-aligned(cf-dropdown-arrow name="arrow-up" size="15")
    ul.context-menu__items
      li(ng-click="goToAccount()" cf-dropdown-close) Account Settings
      li(ng-click="openIntercom()" ng-if="isIntercomLoaded()" cf-dropdown-close) Talk to Us
      li(ng-click="openSupport()" cf-dropdown-close) Get Support
      li(ng-click="logout()" cf-dropdown-close) Log out
