.account-dropdown.app-top-bar__child.app-top-bar--left-separator
  a.app-top-bar__dropdown-toggle.account-dropdown__toggle(
    cf-context-menu-trigger ng-click="clickedProfileButton()" tabindex="0")
    img.account-dropdown__avatar(ng-src="{{user.avatarUrl}}")
    span.account-dropdown__name.u-truncate {{user.firstName}}
    cf-icon.icon-dd-arrow-down.pull-right(name="dd-arrow-down")
  .context-menu.x--top-bar(cf-context-menu)
    cf-icon.context-menu__arrow.center-aligned(name="arrow-up")
    ul.context-menu__items
      li(ng-click="goToAccount()") Account Settings
      li(ng-click="openIntercom()" ng-if="isIntercomLoaded()") Talk to Us
      li(ng-click="openSupport()") Get Support
      li(ng-click="logout()") Log out
