.breadcrumbs-widget
  .breadcrumbs-arrow.left(ng-click="scrollLeft()")
    i.fa.fa-arrow-circle-left
  .breadcrumbs-container(ng-show="!topState")
    ncy-breadcrumb
    cf-activity-breadcrumbs
  .breadcrumbs-arrow.right(ng-click="scrollRight()")
    i.fa.fa-arrow-circle-right
