.context-dropdown(cf-dropdown ng-if="$root.contextHistory.length > 1")
  button.btn.btn--tertiary(cf-dropdown-toggle)
    i.fa.fa-history
  .dropdown-menu(cf-dropdown-menu position="bottomright")
    ul
      li.dropdown-menu-item--label(ng-repeat="entity in $root.contextHistory")
        label(ng-if="entity.getType() === 'Entry'"
          ui-sref="spaces.detail.entries.detail({ entryId: entity.getId(), addToContext: true })")
          i.fa.fa-file
          | {{ spaceContext.entryTitle(entity) }}
        label(ng-if="entity.getType() === 'Asset'"
          ui-sref="spaces.detail.assets.detail({ assetId: entity.getId(), addToContext: true })")
          i.fa.fa-paperclip
          | {{ spaceContext.assetTitle(entity) }}
