.breadcrumbs.structure
  li.breadcrumb(
    ng-repeat="step in ($root.contextHistory.length ? steps.slice(0, steps.length - 1): steps)"
    ng-switch="$last || !!step.abstract" ng-class="{active: $last}")
    a(href="{{step.ncyBreadcrumbLink}}"
      tooltip-placement="bottom"
      tooltip="{{step.ncyBreadcrumbLabel.length > 50 ? step.ncyBreadcrumbLabel : ''}}")
      | {{step.ncyBreadcrumbLabel | truncate: 50 }}
    span.divider(ng-hide="$last") →
