// Replication of a Gatekeeper/Zuora subscription plan in jade.
.z-subscription-plan
  .z-subscription-plan-icon.z-plan-icon-plus
  .z-subscription-plan-name
    h3 Pro Annually
  .z-subscription-plan-details
    .z-subscription-plan-price
      .symbol $
      .amount 984
      .period /year
    .z-subscription-plan-limits
      ul
        li
          span.limit-value 10
          | &nbsp;
          span.limit-name Users
        li
          span.limit-value 1K
          | &nbsp;
          span.limit-name Assets
