mixin paywall-intro
  p.paywall__intro.
    We hope you loved trying Contentful out. Now it’s the time to choose a real
    subscription plan.

  p.
    Until you select a plan, your account will remain inactive: you won’t be able
    to create content or fetch it via the API.

mixin paywall-contact-link
  a(ng-click="openSupport()" role="button") talk to us
