include ./paywall_text.mixin.jade

.paywall__text
  +paywall-intro

  p.
    Please talk to one of your organization owners who can take care of this matter.

  p.paywall__bottom-note
    | If this message caught you by surprise, or if you’re unsure why you’re
    | seeing it – you’re always welcome to&#32;
    +paywall-contact-link
    | .
