.modal-background.paywall
  .modal-dialog
    .modal-dialog__content

      header.paywall__header
        i.fa.fa-minus-circle
        h1 Your trial is over
        button.modal-dialog__close(ng-click="dialog.cancel()")

      .paywall__content(ng-if="offerToSetUpPayment")
        include paywall_set_up_payment_notification
      .paywall__content(ng-if="!offerToSetUpPayment")
        include paywall_passive_notification
