.paywall__content
  p.paywall__intro.
    We’re sorry to say that, but your account will be inactive until the account
    owner decides to set up payment.

  p.
    Please talk about this to your colleague who manages the Contentful account.

  p.paywall__bottom-note
    | If this message caught you by surprise, or you’re unsure why this has
    | happened, please&#32;
    a(ng-click="openIntercom") talk to us
    |  directly.