include ./paywall_text.mixin.jade

.paywall__text
  +paywall-intro

  div(ng-show="planRecommendationReasonHtml" ng-bind-html="planRecommendationReasonHtml")

  button.advice__action.cfnext-btn-primary-action.modal-dialog__controls-confirm(
    ng-click="dialog.confirm(model); setUpPayment()"
    type="button") Select a plan

  p.paywall__bottom-note
    | If you’d like to extend your trial, or if this message caught you by surprise,
    | or if you’re unsure why you’re seeing it – you’re always welcome to&#32;
    +paywall-contact-link
    | .

.paywall__recommended-subscription(ng-show="planHtml")
  h2 Recommended plan
  div(ng-bind-html="planHtml")
