!!!
%html
  %meta(charset="UTF-8")
  %title Contentful
  = stylesheet_link_tag "application", :media => "all"
  = csrf_meta_tags
  %link{:rel => "shortcut icon",    :href => asset_path("favicons/favicon32x32.png"),       :type => "image/png"}
  %link{:rel => "apple-touch-icon", :href => asset_path("favicons/apple_icon57x57.png"),    :type => "image/png"}
  %link{:rel => "apple-touch-icon", :href => asset_path("favicons/apple_icon72x72.png"),    :type => "image/png"}
  %link{:rel => "apple-touch-icon", :href => asset_path("favicons/apple_icon114x114.png"),  :type => "image/png"}
  
  %link(href='//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,700,600' rel='stylesheet' type='text/css')

%body
  .client(ng-controller="ClientCtrl" style="display: none" ng-show="user")
    .notifications
      .notification(class="{{message.severity}}" ng-repeat="message in notification.unseen()")
        {{message.body}}
    %nav.account
      .dropdown-btn.user(label="")
        %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          %img(ng-src="{{user.avatarUrl}}")
          %i.ss-dropdown
        .dropdown-menu
          %p
            Logged in as {{user.firstName}} {{user.lastName}}
          .separator
          %ul
            %li(ng-click="editProfile()" dropdown-close="") Edit Profile
            %li(ng-click="openSupport()" dropdown-close="") Support
            %li(ng-click="logout()" dropdown-close="") Log out
      .dropdown-btn.project
        %a.btn.dropdown-toggle
          %i.ss-dropdown
          %span(ng-bind="bucketContext.bucket.data.name")
        .dropdown-menu
          %ul
            %li(ng-repeat="bucket in buckets" ng-click="selectBucket(bucket)" dropdown-close="")
              {{bucket.data.name}}
            %li(ng-show="canCreateBucket(user)" ng-click="showCreateBucketDialog()" ng-class="{separator: buckets.length > 0}" dropdown-close="")
              Create Bucket
    %bucket-view(ng-show="bucketContext.bucket" ng-controller="TabViewCtrl")
    .create-bucket-advice(ng-show="buckets.length == 0")
      %p Nothing to see yet. Why don't you create a bucket?
      %button(ng-click="showCreateBucketDialog()") Create Bucket
    .create-bucket-dialog(ng-show="displayCreateBucketDialog")
  = javascript_include_tag "application"
  = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDskFlzw1ujRovNWNG3K64EUsncYTbRPfM&sensor=false'
