!!!
%html
  %meta(charset="UTF-8")
  %title Contentful
  = stylesheet_link_tag "application", :media => "all"
  = csrf_meta_tags
  %link{:rel => "shortcut icon",    :href => asset_path("favicons/favicon32x32.png"),       :type => "image/png"}
  %link{:rel => "apple-touch-icon", :href => asset_path("favicons/apple_icon57x57.png"),    :type => "image/png"}
  %link{:rel => "apple-touch-icon", :href => asset_path("favicons/apple_icon72x72.png"),    :type => "image/png"}
  %link{:rel => "apple-touch-icon", :href => asset_path("favicons/apple_icon114x114.png"),  :type => "image/png"}
  %meta(http-equiv="x-ua-compatible" content="IE=edge")

  %link(href='//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,700,600' rel='stylesheet' type='text/css')

  %style#disable-outlines
  %style#chrome-temp-fix

  :javascript
    if (top != self) { top.location.replace(self.location.href); }
    // FIXME this is a temporary fix for a weird positioning issue that manifests only in Chrome versions below Chrome 38
    // It should be removed some weeks after Chrome 38 is released as stable (possibly mid August 2014)
    if (/Chrome\/(35|36|37)/g.test(window.navigator.userAgent)){
      document.getElementById('chrome-temp-fix').innerHTML = '.entity-list.api-key-list .main-results-wrapper{right: 60px !important}.entity-list.content-model .main-results-wrapper{right: 120px !important}';
    }

%body.cf-clear-outlines(ng-app="contentful/app")
  .client.ng-hide(ng-controller="ClientCtrl" ng-init="initClient()" ng-show="user")
    .notifications
      .notification(class="{{message.severity}}" ng-repeat="(index, message) in notification.unseen() track by index")
        {{message.body}}
    %nav.account-menus
      .dropdown-btn.user(label="")
        %a.btn.dropdown-toggle(ng-click="clickedProfileButton()" tabindex="0")
          %i.ss-dropdown.button-icon-right
          %img(ng-src="{{user.avatarUrl}}")
        .dropdown-menu.fixed-position.left-aligned
          %p.account-header.dropdown-row
            Logged in as {{user.firstName}} {{user.lastName}}
          %ul.dropdown-menu-list.separator
            %li.dropdown-menu-item(ng-click="goToAccount()" dropdown-close="") Account Settings
            %li.dropdown-menu-item(ng-click="startTutorial()" dropdown-close="" ng-if="canCreateSpace()") Start Tutorial
            %li.dropdown-menu-item(ng-click="openSupport()" dropdown-close="") Support
            %li.dropdown-menu-item(ng-click="logout()" dropdown-close="") Log out

      .dropdown-btn.project(ng-show="organizations && organizations.length > 0" ng-hide="spaces.length == 0 && !canCreateSpaceInAnyOrg()")
        %a.btn.dropdown-toggle(ng-click="clickedSpaceSwitcher()" tabindex="0")
          %i.ss-dropdown.button-icon-right
          %span(ng-bind="spaceContext.space.data.name || 'Spaces'")
        .dropdown-menu.fixed-position.left-aligned
          %ul.dropdown-menu-list.dropdown-group
            %li.dropdown-menu-item.no-highlight(ng-repeat="(orgId, org) in spacesByOrg"
                             ng-class="{'no-action': !canSelectOrg(orgId)}"
                             cf-click-local="selectOrg(orgId) && toggleDropdown()")
              %i.ss-users
              %span {{getOrgName(orgId)}}
              %ul.dropdown-menu-list
                %li.dropdown-menu-item(ng-repeat="space in org track by space.getId()" cf-click-local="selectSpace(space) && toggleDropdown()"
                    ng-class="{hibernated: space.isHibernated()}" ng-disabled="!space.isHibernated()"
                    tooltip-container=".project" tooltip-placement="left"
                    tooltip="This space entered hibernation due to lack of use. It will be back online soon.")
                  {{space.data.name}}
                  %i.ss-record(ng-show="space.isHibernated()")
            %li.dropdown-menu-item.emphasize(ng-show="canCreateSpace()"
                          ng-click="showCreateSpaceDialog()" ng-class="{'top-separator': spaces.length > 0}" dropdown-close="")
              + Create Space

      .cf-persistent-notification(ng-show="persistentNotification")
      .navbar-loader

    %space-view(ng-controller="TabViewCtrl")
    .advice(ng-show="spaces.length == 0")
      %i.ss-folder.giant-icon
      %header.advice-title Nothing to see yet.
      %p.advice-description(ng-show="!canCreateSpace()") You need to be part of an Organization to create a space.
      %p.advice-description(ng-show="canCreateSpace()") Why don't you create a space?
      %button.default-button.primary-button(type="button" ng-show="canCreateSpace()" ng-click="showCreateSpaceDialog()") Create Space
      %a.knowledge-base-link(target="_blank" href="https://contentful.zendesk.com/hc/en-us/articles/200513118-What-is-a-space-")
        Visit the Knowledge Base Pages
        %i.ss-help
    .cf-account-view(ng-class="{'with-tab-bar': !hideTabBar()}")

  = javascript_include_tag "application"
  = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDskFlzw1ujRovNWNG3K64EUsncYTbRPfM&sensor=false'
