!!!
%html
%head
  %title Contentful

  = stylesheet_link_tag    "application", :media => "all"
  = requirejs_include_tag "application"
  = csrf_meta_tags

%body{"ng-controller" => "ClientCtrl"}
  .navbar
    .navbar-inner
      .container
        %form.navbar-form.pull-left
          %select{'ng-model' => 'bucket', 'ng-options' => "bucket.data.name for bucket in buckets"}
        .pull-right        
          %a.brand{:href => "#"} Contentful

  %bucket-view.container-fluid(bucket="bucket")
