!!!
%html
  %meta(charset="UTF-8")
  %title Contentful
  = stylesheet_link_tag "application", :media => "all"
  = csrf_meta_tags
  %link{:rel => "shortcut icon",    :href => asset_path("favicons/favicon32x32.png"),       :type => "image/png"}
  %link{:rel => "apple-touch-icon", :href => asset_path("favicons/apple_icon57x57.png"),    :type => "image/png"}
  %link{:rel => "apple-touch-icon", :href => asset_path("favicons/apple_icon72x72.png"),    :type => "image/png"}
  %link{:rel => "apple-touch-icon", :href => asset_path("favicons/apple_icon114x114.png"),  :type => "image/png"}

  %link(href='//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,700,600' rel='stylesheet' type='text/css')

  %style#disable-outlines

  :javascript
    if (top != self) { top.location.replace(self.location.href); }

%body.cf-clear-outlines
  .client.ng-hide(ng-controller="ClientCtrl" ng-init="initClient()" ng-show="user")
    .notifications
      .notification(class="{{message.severity}}" ng-repeat="message in notification.unseen()")
        {{message.body}}
    %nav.account
      .navbar-loader
      %a#intercom(href="#" tabindex="-1")
      .dropdown-btn.user(label="")
        %a.btn.dropdown-toggle(ng-click="clickedProfileButton()" tabindex="0")
          %i.ss-dropdown.button-icon-right
          %img(ng-src="{{user.avatarUrl}}")
        .dropdown-menu.fixed-position.left-aligned
          %p
            Logged in as {{user.firstName}} {{user.lastName}}
          %ul.separator
            %li(ng-click="goToProfile()" dropdown-close="") Edit Profile
            %li(ng-click="startTutorial()" dropdown-close="" ng-show="spaceContext.space") Start Tutorial
            %li(ng-click="openSupport()" dropdown-close="") Support
            %li(ng-click="logout()" dropdown-close="") Log out
      .dropdown-btn.project
        %a.btn.dropdown-toggle(ng-click="clickedSpaceSwitcher()" tabindex="0")
          %i.ss-dropdown.button-icon-right
          %span(ng-bind="spaceContext.space.data.name || 'Spaces'")
        .dropdown-menu.fixed-position.left-aligned
          %ul
            %li(ng-repeat="space in spaces" ng-click="selectSpace(space)" dropdown-close="")
              {{space.data.name}}
            %li.highlight(ng-show="canCreateSpace(user)" ng-click="showCreateSpaceDialog()" ng-class="{'top-separator': spaces.length > 0}" dropdown-close="")
              + Create Space
    %space-view(ng-controller="TabViewCtrl")
    .create-space-advice(ng-show="spaces.length == 0")
      %i.ss-folder.giant-icon
      %header Nothing to see yet.
      %p Why don't you create a space?
      %button.default-button.primary-button(type="button" ng-click="showCreateSpaceDialog()") Create Space
    .cf-profile-view

  = javascript_include_tag "application"
  = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDskFlzw1ujRovNWNG3K64EUsncYTbRPfM&sensor=false'
