!!!
%html
%head
  %title Contentful

  = stylesheet_link_tag    "application", :media => "all"
  = requirejs_include_tag "application"
  = csrf_meta_tags

%body{"ng-controller" => "ClientCtrl"}
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        %form.navbar-form.pull-left
          %select{'ng-model' => 'bucket', 'ng-options' => "bucket.data.name for bucket in buckets"}
        .pull-right        
          %a.brand{:href => "#"} Contentful

  .container-fluid.bucket-view{'ng-controller' => 'BucketCtrl'}
    .row-fluid
      .span2.bucket-nav
        %ul.nav.nav-list
          %li{'ng-class' => "{active: entitySection=='entry_types'}"}
            %a{'ng-click' => "visitEntitySection('entry_types')"} Content-Model
          %li{'ng-class' => "{active: entitySection=='content'}"}
            %a{'ng-click' => "visitEntitySection('content')"} Content
          %li
            %a(href="/del") Content Delivery
          %li
            %a(href="/work") Workflows
          %li
            %a(ng-click="location.path('apps')") Apps
      .span10.bucket-entities{'bind-template' => 'bucketEntityTemplate'}
        leer