!!!
%html
  %meta(charset="UTF-8")
  %title Contentful
  = stylesheet_link_tag "application", :media => "all"
  = csrf_meta_tags
  %link{:rel => "shortcut icon",    :href => asset_path("favicons/favicon32x32.png"),       :type => "image/png"}
  %link{:rel => "apple-touch-icon", :href => asset_path("favicons/apple_icon57x57.png"),    :type => "image/png"}
  %link{:rel => "apple-touch-icon", :href => asset_path("favicons/apple_icon72x72.png"),    :type => "image/png"}
  %link{:rel => "apple-touch-icon", :href => asset_path("favicons/apple_icon114x114.png"),  :type => "image/png"}

  %link(href='//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,700,600' rel='stylesheet' type='text/css')

%body
  %h2 Body background
  %p
    A plain gray area

  %h2 Base font
  %p
    Open Sans, 12px. line-height 1.5em
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

  %h2 Links
  %p
    Links should be
    %a nice and blue

  %h2 Smaller elements
  %h3 Loading indicator
  %p
    .loading
  .endless-container
    .loading
  %h3 Buttons
  %h3 Separator

