include ./entity_link_mixins

.entity-link
  +entity-link-drag-handle

  .entity-link__content(ng-click="actions.edit()" role="{{actions.edit && 'button'}}")
    .entity-link__image(
      ng-if="config.showDetails"
      ng-class="{'entity-link__image--missing': !image}")
      cf-thumbnail(file="image" size="56" fit="thumb")

    +entity-link-status

    .entity-link__text
      +entity-link-title(class="entity-link__title")
      .entity-link__description(
        ng-if="config.showDetails"
        ng-class="{'entity-link__description--missing': !description || missing}")
        span(ng-if="!missing && description") {{ description | truncate:150 }}
        span(ng-if="missing || !description") No description available

  +entity-link-actions(item-class="entity-link__action")
