.modal-background
  .modal-dialog
    header.modal-dialog__header
      h1 Select content type of the new entry

    .modal-dialog__content
      .modal-dialog__richtext
        p(ng-repeat="ct in cts track by ct.sys.id")
          a(href ng-click="dialog.confirm(ct)") {{ ct.name }}
          em  ({{ (ct.description | truncate:100) || 'no description' }})

        p(ng-if="!cts || cts.length === 0")
          | Please create a content type first.

    .modal-dialog__controls
      button.cfnext-btn-secondary-action(ng-click="dialog.cancel()")
        | Cancel
