.modal-background
  .modal-dialog.link-editor__warning
    header.modal-dialog__header
      h1 This entry links to unpublished {{ linkedEntityTypes }}

    .modal-dialog__content
      .modal-dialog__richtext
        p
          | It appears that you’ve linked to {{ linkedEntityTypes }} that haven’t been published yet.
        ul
          li(ng-repeat="item in unpublishedRefs")
            | <strong>{{ item.fieldName }}</strong> — {{ item.count }} unpublished {{ item.type }}

    .modal-dialog__controls
      button.btn-primary-action(ng-click="dialog.confirm()")
        | Got it, publish anyway
      button.btn-secondary-action(ng-click="dialog.cancel()")
        | Cancel
