.usage__period-selector
  & > label
    margin-right: 1rem

$overage-color = #FCA013

.usage-page
  display: flex
  flex-direction: column
  margin: 0 auto 2rem
  width: 60%
  padding-left: 1rem

  & > h2
    margin-top: 3rem
    justify-self: start
  &__total-usage
    font-size: 2.2rem
    line-height: 3rem
    margin-top 1rem
  &__limit
    font-size: .9rem
  button
    margin-top 2rem
  &__included-limit
    color: #abbbc2
  &__overage
    color: $overage-color
  h3
    color #9AACC2
    margin-top 0
  &__api-usage-section
    h3
      margin-left: 1rem
    h3, h2
      font-size: 1.5rem
      display: inline
  &__api-table
    margin-top: 3rem
    font-size: 0.9rem
    td
      padding: 1rem 1.5rem
      padding-left: 0
    tr:not(:last-child)
      td
        border-bottom: solid 1px #E5EBED
  &__section
    display: flex
    flex-direction: row
    margin-bottom: 1rem
    padding-top: 1rem

    &--with-divider
      border-top: solid 1px $colors.element-mid;

  &__chart-info
    width: 30%

  &__chart
    align-self: flex-end
    width: 70%
  &__org-chart-tooltip
    height: 57px
    width: 138px
    border-radius: 2px
    background-color: #192532
    color: #FFFFFF
    font-family: "Avenir Next W01"
    font-weight: 600
    .date
      font-size: 12px
      line-height: 12px
    .value
      font-size: 21px
      line-height: 21px

  .pill
    border-radius: 2px
    background-color: #E5EBED
    font-size: 0.7rem
    font-weight: bold
    letter-spacing: 1px
    padding: 0.1rem 0.3rem
    margin-left: 0.6rem
  &__api-chart
    margin-top -2rem
  &__space-usage
    color: #8091A5
  &__no-spaces-placeholder
    grid-column-end: span 2
    font-weight: 600
    font-size: 2rem
    line-height: 1.2em
    width: 100%
    text-align: center
    position: absolute
    top: 40%

.echart
  margin-top: -1rem
  display: flex
  align-items: center
  justify-content: center
  outline: solid 1px transparent
  transition: outline 1s linear
  width: 700px
  height: 300px
  &__spinner, &__empty-placeholder
    outline-color #d0dade
  &--empty, &--loading
    display: none

.resource-list
  margin: 40px

  &__title
    margin: 40px 0 20px

  &__highlights
    display: flex
    flex-direction: row
    justify-content: space-between
    flex-wrap: wrap

  &__item
    border: 1px solid $colors.element-mid
    box-shadow: 0 1px 2px 0 hsla(black, 0.1)
    margin: 0 0 16px
    display: flex
    flex-direction: column
    height: 60px
    justify-content: space-between

    &__column
      display: flex
      flex-grow: 1
      align-items: center

    &__content
      display: flex
      align-items: center
      height: 60px;
      padding: 0 20px;

    &__title
      margin: 0

    &__description
      font-size: $base-font-size
      color: $colors.text-light
      margin-left: 10px
      font-weight: normal

    &__icon
      margin-right: 10px
      margin-bottom -3px

    &--highlight
      height: auto
      flex-grow: 1
      margin-right: 20px
      padding: 20px
      &:last-child
        margin-right: 0
      .resource-list__item
        &__usage
          font-size: 40px
          line-height: 1
          font-weight: bold

// the following showld be global/common
.btn-actions-nav
  font-size: .6em;
  letter-spacing: 0.18em

  &[disabled]
    color: $colors.light-gray
    cursor: default
