.apps-list-container
  max-width: 600px
  margin: 30px auto

.apps-list
  margin-bottom: 50px
  position: relative
  z-index: 1

.apps-list__overlay
  position: absolute
  z-index: 2
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: white
  opacity 0.8

.apps-list__intro
  margin-bottom: 20px

.apps-list-item
  display: flex
  flex-direction: row
  align-items: center
  padding: 10px 0
  border-bottom: 1px solid $colors.light-gray

  &__icon
    display: flex
  &__title
    flex-grow: 1
    padding: 0 20px
    display: block
  &__title-text
    font-size: 1.1rem
  &__actions
    display: block
    button
      margin-left: 20px

.app-page-skeleton
  margin-top: 30px
  width: 600px

#privacy-checkbox
  margin-top: $rhythm(1)
