.apps-list
  max-width: 700px
  margin: 50px auto

  &__header
    font-size: 20px
    padding-bottom: 20px
    border-bottom: 1px solid $colors.light-gray

.apps-list-item
  display: flex
  flex-direction: row
  align-items: center
  padding: 10px 0
  border-bottom: 1px solid $colors.light-gray

  &__icon
    display: flex
  &__title
    flex-grow: 1
    padding: 0 20px
    display: block
  &__actions
    display: block
    button
      margin-left: 20px
