.netlify-app__section
  margin-bottom: 40px

.netlify-app__site-config
  &-row
    display: flex
    margin: 30px 0
  &-item
    margin-right: 20px
  &-remove
    margin-top: 25px

.netlify-app__build-button
  button
    margin-bottom: $rhythm(0.25)
  &__info
    color: $colors.text-light
    margin: $rhythm(0.25) 0 $rhythm(0.75)

.netlify-app__early-access
  margin-bottom: $rhythm(2)

  button
    margin-right: $rhythm(0.5)

.netlify-app__build-button__alpha
  display: flex
  margin-bottom: $rhythm(0.2)

  &-label
    display: block
    margin-right: $rhythm(0.5)
    height: 15px
    background: $colors.blue-darkest
    color: $colors.white
    padding: 2px 3px
    font-size: 10px
    line-height: 10px
    border-radius: 3px
    text-transform: uppercase
