.modal-background
  .modal-dialog.space-template__dialog(ng-controller="SpaceTemplatesController" cf-center-on=".modal-background")
    .title {{dialog.title}}
    .dialog-content.space-template__dialog-content

      .loading(ng-show="isTemplateListLoading()")

      .space-template__list(ng-show="isTemplateListVisible()")
        .space-template__item(ng-click="newContentType()")
          .space-template__icon
            i.fa.fa-plus-circle
          p.space-template__label Blank
        .space-template__item(
            ng-repeat="template in spaceTemplates"
            ng-click="selectTemplate(template)"
            ng-class="{'space-template--item-selected': template === selectedTemplate}")
          .space-template__icon
            img(ng-src="{{template.icon.fields.file.url}}")
          p.space-template__label {{template.name}}

      .space-template__contact(ng-show="isTemplateListVisible()")
        p
          | Missing a template? 
          a(href="mailto:support@contentful.com" target="_blank") Let us know.

      .space-template__detail(ng-show="isTemplateListVisible()")
        .space-template__detail-content(ng-show="!selectedTemplate")
          p Please select template on the left see details.
          p Need help? Read more about it in the Knowledge Database.
        .space-template__detail-content(ng-show="selectedTemplate")
          h1 {{selectedTemplate.name}}
          div(ng-bind-html="selectedTemplate.description | markdown")
        button.btn.btn--primary(ng-show="selectedTemplate" ng-click="loadSelectedTemplate()") Use this template

      .space-template__queue(ng-show="isTemplateQueueVisible()")
        h1 Creating template entities
        .space-template__queue-container
          .space-template__queue-item(ng-repeat="(id, item) in completedItems" ng-class="queueItemClass(item.status)" cf-scroll-into-view)
            i.fa.fa-check(ng-if="item.status == 'success'")
            i.fa.fa-times(ng-if="item.status == 'error'")
            | {{entityStatusString(item)}}
            span.space-template__item-status(ng-show="item.status == 'error'")
              | Failed
          .loading(ng-show="!isTemplateFailed()")
        .space-template__queue-status(ng-if="isTemplateFailed()" cf-scroll-into-view)
          p
            | Some items could not be created properly right now, but don't worry, your space will work
            | normally, just with less pre created items, or you might need to publish some manually.
          button.btn.btn--primary(ng-click="dismissDialog()") Continue

