.space-template__post-dialog(ng-controller="SpaceTemplatesPostController" cf-numbered-tooltips)
  h2 Your {{newContentTemplateName}} has been created
  ol.space-template__tips-list
    li
      .numbered-tooltip__label 1
      p If you want to make any changes to your Content Model this is where you'll go
    li
      .numbered-tooltip__label 2
      p We set up your sidebar so you can filter content by status or type. You can also create your customized views! Learn more.
    li
      .numbered-tooltip__label 3
      p This is where you'll find your entries.
    li
      .numbered-tooltip__label 4
      p Here you can customize how the entries table looks like.
  p.centered
    button.btn.btn--primary(ng-click="dialog.confirm()") Got it!
  p.centered
    a(href="#" ng-click="dismissInfoDialogForever()") Don't show me this again

