.cf-link-editor-search
  position: relative

*[cf-link-editor],
.form-field *[cf-link-editor]
  display: block
  position: relative
  width: $form-controlwidth-inner

  .controls
    position: relative

  .search-with-results
    width: 80%
    float: left
    .results
      left: 13px

  .add-new
    float: right

  .endless-container
    max-height: 350px
    overflow-x: hidden

  .drag-handle
    position: absolute
    font-size: 10px
    color: $lightest-gray
    cursor: -webkit-grabbing
    cursor: -moz-grab
    cursor: -moz-grabbing
    &[disabled]
      cursor: auto
    padding-right: 10px

  .drag-file
    position: absolute
    top: 50%
    left: 20px
    font-size: 13px
    z-index: 10

  .asset-link
    border-top: none
    border-bottom: none
    li
      padding-right: 0px
      padding-left: 0px

  .unpublished
    position: absolute
    right: 0
    top: 0
    bottom: 0
    width: 6px
    background: lighten($red, 10%)

  .tooltip
    width: 200px

  .links li
    position: relative

  .results
    top: 35px

  table
    border: none // border provided by .results container

  .endless-container
    table
      border: none
      @extend %endless-result-list-body

  tr:hover
    background-color: $result-list-highlight
    cursor: pointer

  .result-list
    .thin-row
      td
        padding-top: 4px
        padding-bottom: 4px
        line-height: 12px

  .cell-content-type
    width: 140px
    padding-right: 15px
    padding-left: 5px

  .cell-preview
    width: 80px
    text-align: center
    padding-left: 0
    .icon
      font-size: 40px
    p
      margin: 0

  .cell-name
    width: 40%
    vertical-align: top
    p
      max-width: 200px
      overflow-x: hidden
      text-overflow: ellipsis
      margin: 5px 0

  .cell-type
    color: $dark-gray
    width: 100px
    vertical-align: top

  .lighter
    color: $medium-gray
    font-weight: normal

