.dropdown-editor
  position: relative
  overflow: hidden
  &:hover
    border-color: $light-gray
  .button-icon-right
    position: absolute
    left: auto
    float: none
    right: 7px
    top: 8px
  &.small-dropdown
    width: 28%
  &.medium-dropdown
    width: 60%
  &.large-dropdown
    width: 100%
  select
    text-indent: 0.01px
    text-overflow: ''
    margin: 0
    color: inherit
    font-size: inherit
    font-family: inherit
    border: none
    background: transparent
    line-height: 1
    +border-radius(0)
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none

