.cf-field-editor
  +user-select(none)
  .dropdown-editor
    padding: 0px

.dropdown-editor
  &:hover
    border-color: $light-gray
  .button-icon-right
    position: absolute
    left: auto
    float: none
    right: 7px
    top: 8px
    cursor: default
    pointer-events: none
  &.small-dropdown
    width: 28%
  &.medium-dropdown
    width: 60%
  &.large-dropdown
    width: 100%
  select
    width: 100%
    padding: 7.2px 12px
    margin: 0
    color: inherit
    font-size: inherit
    font-family: inherit
    border: none
    background: transparent
    text-indent: 0.01px
    text-overflow: ''
    +border-radius(0)
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none

