$markdown-editor-height = 125px
$markdown-guide-height = 25px

.cf-markdown-editor
  position: relative

.markdown-toolbar,
.markdown-modeswitch
  padding: 7px 4px 1px

.markdown-toolbar
  position: relative
  height: 35px
  $form-control-look()
  border-radius: 3px 3px 0 0
  border: 1px solid $dark-rule
  border-top: 1px solid transparent
  &:focus, &.opaque
    border-top-left-radius: 3px
    border-top-right-radius: 3px
    background-color: $gray-background
    border-color: $link-blue
    outline: none
  &.preview-mode
    background-color: white
    border: none
    box-shadow: none

.markdown-modeswitch
  position: absolute
  right: 0
  $stretch-y()
  border-left: 1px solid $dark-rule

.markdown-textarea,
.form-controls .markdown-textarea
  border-radius: 0 0 0 0
  box-shadow: none
  min-height: $markdown-editor-height
  border-bottom: none
  border-top: none


.markdown-preview
  position: relative
  overflow-y: auto
  padding: 9px 7px 4px
  min-height: $markdown-editor-height
  max-width: 700px
  max-height: $textarea-max-height + 20px
  border: 1px solid $light-rule
  word-wrap: break-word
  overflow-wrap: break-word
  p
    margin: 0
    margin-top: 0
  p,
  pre,
  .markdown-image-placeholder
    margin-bottom: 22px
  hr
    background-color: $medium-gray
  ul > li
    list-style-type: square
  ol > li
    list-style-type: decimal

.markdown-image-placeholder
  border: 1px solid $dark-rule
  +border-radius
  text-align: center
  padding: 5px
  background: $lightest-gray

.toolbar-button
  width: 36px
  height: 23px
  border: none
  background-color: transparent
  background-repeat: no-repeat
  background-position: center
  background-size: 50%
  display: inline-block
  border-radius: 3px
  cursor: pointer
  &:hover
    background-color: lighten($light-gray, 20%)

.preview-mode
  .toolbar-button:hover
    background-color: transparent
  .markdown-modeswitch
    border-left: none

.md-right-button
  display: block
  float: right

.md-bold-icon
  background-image: url('/app/markdown/bold.png')
.md-italic-icon
  background-image: url('/app/markdown/italic.png')
.md-h1-icon
  background-image: url('/app/markdown/h1.png')
.md-h2-icon
  background-image: url('/app/markdown/h2.png')
.md-h3-icon
  background-image: url('/app/markdown/h3.png')
.md-hr-icon
  background-image: url('/app/markdown/hr.png')
.md-quote-icon
  background-image: url('/app/markdown/quote.png')
.md-link-icon
  background-image: url('/app/markdown/link.png')
.md-ul-icon
  background-image: url('/app/markdown/ul.png')
.md-ol-icon
  background-image: url('/app/markdown/ol.png')
.md-code-icon
  background-image: url('/app/markdown/code.png')
.md-preview-icon
  background-image: url('/app/markdown/preview.png')
.md-edit-icon
  background-image: url('/app/markdown/edit.png')
.md-indent-icon
  background-image: url('/app/markdown/indent.png')
.md-asset-icon
  background-image: url('/app/markdown/asset.png')
.md-image-icon
  background-image: url('/app/markdown/image.png')

.markdown-guide-hint
  position: absolute
  top: 0
  left: 0
  right: 0
  height: $markdown-guide-height
  background-color: $lightest-gray
  border-bottom: 1px solid $light-gray
  padding: 3px 7px
  cursor: pointer
  color: $dark-gray
  border-top: 1px solid $light-gray
  &:hover
    background-color: darken($lightest-gray, 10%)
  .toggle-collapse
    float: right


.cf-markdown-guide
  position: relative
  height: $markdown-guide-height
  border: 1px solid $light-gray
  border-radius: 0 0 3px 3px
  border-top: none
  overflow: hidden
  margin-bottom: 10px
  &.open
    height: 300px

.markdown-guide-nav
  position: absolute
  top: $markdown-guide-height
  left: 0
  bottom: 0
  width: 20%
  $plain-list()
  font-weight: bold
  background-color: $lightest-gray
  overflow: hidden
  li
    cursor: pointer
    color: $dark-gray
    padding: 5px
    border-bottom: 1px solid $light-gray
  li:hover:not(.active)
    background-color: darken($lightest-gray, 10%)
  li.active
    color: white
    background-color: $blue

.markdown-guide-main
  position: absolute
  top: $markdown-guide-height
  right: 0
  bottom: 0
  width: 80%
  overflow-y: auto
  padding: 10px
  box-shadow: -1px 0px 4px rgba(0,0,0,0.3)


