.search-results-paginator(ng-hide="pageCount < 2")
  span.search-results-paginator__prev(ng-class="{'x--disabled': onFirstPage}" ng-click="setPage(page - 1)") Previous
  span.search-results-paginator__page(
    ng-repeat="label in labels track by $index"
    ng-click="setPage(label.value)"
    ng-class="{'x--active-page': label.value === page, 'x--dots': label.value === null}") {{label.text}}
  span.search-results-paginator__next(ng-class="{'x--disabled': onLastPage}" ng-click="setPage(page + 1)") Next
